<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.AcctItemGroupMemberMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.AcctItemGroupMemberDO">
    <id column="ACCT_ITEM_GROUP_MEM_ID" jdbcType="INTEGER" property="acctItemGroupMemId"/>
    <result column="ACCT_ITEM_TYPE_ID" jdbcType="INTEGER" property="acctItemTypeId"/>
    <result column="ACCT_ITEM_GROUP_ID" jdbcType="INTEGER" property="acctItemGroupId"/>
    <result column="ITEM_SOURCE_ID" jdbcType="INTEGER" property="itemSourceId"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
  </resultMap>

  <sql id="CommonColumns">
          ACCT_ITEM_GROUP_MEM_ID, 
          ACCT_ITEM_TYPE_ID, 
          ACCT_ITEM_GROUP_ID, 
          ITEM_SOURCE_ID, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          UPDATE_DATE, 
          STATUS_DATE
  </sql>

  <sql id="CommonColumnsKey">
          ACCT_ITEM_TYPE_ID, 
          ACCT_ITEM_GROUP_ID, 
          ITEM_SOURCE_ID, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          UPDATE_DATE, 
          STATUS_DATE
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="acctItemGroupMemId != null ">
        ACCT_ITEM_GROUP_MEM_ID = #{acctItemGroupMemId, jdbcType=INTEGER }
      </if>
      <if test="acctItemTypeId != null ">
        and ACCT_ITEM_TYPE_ID = #{acctItemTypeId, jdbcType=INTEGER }
      </if>
      <if test="acctItemGroupId != null ">
        and ACCT_ITEM_GROUP_ID = #{acctItemGroupId, jdbcType=INTEGER }
      </if>
      <if test="itemSourceId != null ">
        and ITEM_SOURCE_ID = #{itemSourceId, jdbcType=INTEGER }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.AcctItemGroupMemberDO" resultType="java.lang.Integer">
      select count(*) from ACCT_ITEM_GROUP_MEMBER
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from ACCT_ITEM_GROUP_MEMBER
        where 
           ACCT_ITEM_GROUP_MEM_ID = #{acctItemGroupMemId,jdbcType=INTEGER}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  ACCT_ITEM_GROUP_MEMBER 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="acctItemGroupMemId">
      insert into  ACCT_ITEM_GROUP_MEMBER ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{acctItemTypeId,jdbcType=INTEGER}, 
        #{acctItemGroupId,jdbcType=INTEGER}, 
        #{itemSourceId,jdbcType=INTEGER}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <insert id="insert">
      insert into  ACCT_ITEM_GROUP_MEMBER ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{acctItemGroupMemId,jdbcType=INTEGER}, 
        #{acctItemTypeId,jdbcType=INTEGER}, 
        #{acctItemGroupId,jdbcType=INTEGER}, 
        #{itemSourceId,jdbcType=INTEGER}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from ACCT_ITEM_GROUP_MEMBER  
        where
           ACCT_ITEM_GROUP_MEM_ID = #{acctItemGroupMemId,jdbcType=INTEGER}
  </delete>

  <delete id="delete">
      delete from ACCT_ITEM_GROUP_MEMBER
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  ACCT_ITEM_GROUP_MEMBER
    <trim prefix="set" suffixOverrides=",">
      <if test="acctItemTypeId != null">
         ACCT_ITEM_TYPE_ID = #{acctItemTypeId,jdbcType=INTEGER},
      </if>
      <if test="acctItemGroupId != null">
         ACCT_ITEM_GROUP_ID = #{acctItemGroupId,jdbcType=INTEGER},
      </if>
      <if test="itemSourceId != null">
         ITEM_SOURCE_ID = #{itemSourceId,jdbcType=INTEGER},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
        where 
           ACCT_ITEM_GROUP_MEM_ID = #{acctItemGroupMemId,jdbcType=INTEGER}
  </update>

  <update id="updateBySelective">
      update ACCT_ITEM_GROUP_MEMBER
    <trim prefix="set" suffixOverrides=",">
      <if test="record.acctItemGroupMemId != null">
        ACCT_ITEM_GROUP_MEM_ID = #{record.acctItemGroupMemId,jdbcType=INTEGER},
      </if>
      <if test="record.acctItemTypeId != null">
        ACCT_ITEM_TYPE_ID = #{record.acctItemTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.acctItemGroupId != null">
        ACCT_ITEM_GROUP_ID = #{record.acctItemGroupId,jdbcType=INTEGER},
      </if>
      <if test="record.itemSourceId != null">
        ITEM_SOURCE_ID = #{record.itemSourceId,jdbcType=INTEGER},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <where>
      <if test="condition.acctItemGroupMemId != null ">
        ACCT_ITEM_GROUP_MEM_ID = #{condition.acctItemGroupMemId, jdbcType=INTEGER }
      </if>
      <if test="condition.acctItemTypeId != null ">
        and ACCT_ITEM_TYPE_ID = #{condition.acctItemTypeId, jdbcType=INTEGER }
      </if>
      <if test="condition.acctItemGroupId != null ">
        and ACCT_ITEM_GROUP_ID = #{condition.acctItemGroupId, jdbcType=INTEGER }
      </if>
      <if test="condition.itemSourceId != null ">
        and ITEM_SOURCE_ID = #{condition.itemSourceId, jdbcType=INTEGER }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </update>
</mapper>