<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.AcctItemClassMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.AcctItemClassDO">
    <id column="ACCT_ITEM_CLASS_ID" jdbcType="INTEGER" property="acctItemClassId"/>
    <result column="ACCT_ITEM_CLASS_CODE" jdbcType="INTEGER" property="acctItemClassCode"/>
    <result column="COMMENTS" jdbcType="VARCHAR" property="comments"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
  </resultMap>

  <sql id="CommonColumns">
          ACCT_ITEM_CLASS_ID, 
          ACCT_ITEM_CLASS_CODE, 
          COMMENTS, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          UPDATE_DATE, 
          STATUS_DATE
  </sql>

  <sql id="CommonColumnsKey">
          ACCT_ITEM_CLASS_CODE, 
          COMMENTS, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          UPDATE_DATE, 
          STATUS_DATE
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="acctItemClassId != null ">
        ACCT_ITEM_CLASS_ID = #{acctItemClassId, jdbcType=INTEGER }
      </if>
      <if test="acctItemClassCode != null ">
        and ACCT_ITEM_CLASS_CODE = #{acctItemClassCode, jdbcType=INTEGER }
      </if>
      <if test="comments != null and comments != ''">
        and COMMENTS = #{comments, jdbcType=VARCHAR }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.AcctItemClassDO" resultType="java.lang.Integer">
      select count(*) from ACCT_ITEM_CLASS
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from ACCT_ITEM_CLASS
        where 
           ACCT_ITEM_CLASS_ID = #{acctItemClassId,jdbcType=INTEGER}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  ACCT_ITEM_CLASS 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="acctItemClassId">
      insert into  ACCT_ITEM_CLASS ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{acctItemClassCode,jdbcType=INTEGER}, 
        #{comments,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <insert id="insert">
      insert into  ACCT_ITEM_CLASS ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{acctItemClassId,jdbcType=INTEGER}, 
        #{acctItemClassCode,jdbcType=INTEGER}, 
        #{comments,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from ACCT_ITEM_CLASS  
        where
           ACCT_ITEM_CLASS_ID = #{acctItemClassId,jdbcType=INTEGER}
  </delete>

  <delete id="delete">
      delete from ACCT_ITEM_CLASS
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  ACCT_ITEM_CLASS
    <trim prefix="set" suffixOverrides=",">
      <if test="acctItemClassCode != null">
         ACCT_ITEM_CLASS_CODE = #{acctItemClassCode,jdbcType=INTEGER},
      </if>
      <if test="comments != null">
         COMMENTS = #{comments,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
        where 
           ACCT_ITEM_CLASS_ID = #{acctItemClassId,jdbcType=INTEGER}
  </update>

  <update id="updateBySelective">
      update ACCT_ITEM_CLASS
    <trim prefix="set" suffixOverrides=",">
      <if test="record.acctItemClassId != null">
        ACCT_ITEM_CLASS_ID = #{record.acctItemClassId,jdbcType=INTEGER},
      </if>
      <if test="record.acctItemClassCode != null">
        ACCT_ITEM_CLASS_CODE = #{record.acctItemClassCode,jdbcType=INTEGER},
      </if>
      <if test="record.comments != null">
        COMMENTS = #{record.comments,jdbcType=VARCHAR},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <where>
      <if test="condition.acctItemClassId != null ">
        ACCT_ITEM_CLASS_ID = #{condition.acctItemClassId, jdbcType=INTEGER }
      </if>
      <if test="condition.acctItemClassCode != null ">
        and ACCT_ITEM_CLASS_CODE = #{condition.acctItemClassCode, jdbcType=INTEGER }
      </if>
      <if test="condition.comments != null and condition.comments != ''">
        and COMMENTS = #{condition.comments, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </update>
</mapper>