<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.AccuObjectInstMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.AccuObjectInstDO">
    <id column="ACCU_OBJECT_INST_ID" jdbcType="BIGINT" property="accuObjectInstId"/>
    <result column="OBJ_TYPE" jdbcType="VARCHAR" property="objType"/>
    <result column="OBJ_ID" jdbcType="VARCHAR" property="objId"/>
    <result column="ACCU_TYPE_ID" jdbcType="INTEGER" property="accuTypeId"/>
    <result column="PRICING_PLAN_ID" jdbcType="INTEGER" property="pricingPlanId"/>
    <result column="EFF_DATE" jdbcType="TIMESTAMP" property="effDate"/>
    <result column="EXP_DATE" jdbcType="TIMESTAMP" property="expDate"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
  </resultMap>

  <sql id="CommonColumns">
          ACCU_OBJECT_INST_ID, 
          OBJ_TYPE, 
          OBJ_ID, 
          ACCU_TYPE_ID, 
          PRICING_PLAN_ID, 
          EFF_DATE, 
          EXP_DATE, 
          CREATE_DATE, 
          STATUS_CD, 
          STATUS_DATE
  </sql>

  <sql id="CommonColumnsKey">
          OBJ_TYPE, 
          OBJ_ID, 
          ACCU_TYPE_ID, 
          PRICING_PLAN_ID, 
          EFF_DATE, 
          EXP_DATE, 
          CREATE_DATE, 
          STATUS_CD, 
          STATUS_DATE
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="accuObjectInstId != null ">
        ACCU_OBJECT_INST_ID = #{accuObjectInstId, jdbcType=BIGINT }
      </if>
      <if test="objType != null and objType != ''">
        and OBJ_TYPE = #{objType, jdbcType=VARCHAR }
      </if>
      <if test="objId != null and objId != ''">
        and OBJ_ID = #{objId, jdbcType=VARCHAR }
      </if>
      <if test="accuTypeId != null ">
        and ACCU_TYPE_ID = #{accuTypeId, jdbcType=INTEGER }
      </if>
      <if test="pricingPlanId != null ">
        and PRICING_PLAN_ID = #{pricingPlanId, jdbcType=INTEGER }
      </if>
      <if test="effDate != null ">
        and EFF_DATE = #{effDate, jdbcType=TIMESTAMP }
      </if>
      <if test="expDate != null ">
        and EXP_DATE = #{expDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.AccuObjectInstDO" resultType="java.lang.Integer">
      select count(*) from ACCU_OBJECT_INST
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from ACCU_OBJECT_INST
        where 
           ACCU_OBJECT_INST_ID = #{accuObjectInstId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  ACCU_OBJECT_INST 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="accuObjectInstId">
      insert into  ACCU_OBJECT_INST ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{objType,jdbcType=VARCHAR}, 
        #{objId,jdbcType=VARCHAR}, 
        #{accuTypeId,jdbcType=INTEGER}, 
        #{pricingPlanId,jdbcType=INTEGER}, 
        #{effDate,jdbcType=TIMESTAMP}, 
        #{expDate,jdbcType=TIMESTAMP}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <insert id="insert">
      insert into  ACCU_OBJECT_INST ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{accuObjectInstId,jdbcType=BIGINT}, 
        #{objType,jdbcType=VARCHAR}, 
        #{objId,jdbcType=VARCHAR}, 
        #{accuTypeId,jdbcType=INTEGER}, 
        #{pricingPlanId,jdbcType=INTEGER}, 
        #{effDate,jdbcType=TIMESTAMP}, 
        #{expDate,jdbcType=TIMESTAMP}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from ACCU_OBJECT_INST  
        where
           ACCU_OBJECT_INST_ID = #{accuObjectInstId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from ACCU_OBJECT_INST
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  ACCU_OBJECT_INST
    <trim prefix="set" suffixOverrides=",">
      <if test="objType != null">
         OBJ_TYPE = #{objType,jdbcType=VARCHAR},
      </if>
      <if test="objId != null">
         OBJ_ID = #{objId,jdbcType=VARCHAR},
      </if>
      <if test="accuTypeId != null">
         ACCU_TYPE_ID = #{accuTypeId,jdbcType=INTEGER},
      </if>
      <if test="pricingPlanId != null">
         PRICING_PLAN_ID = #{pricingPlanId,jdbcType=INTEGER},
      </if>
      <if test="effDate != null">
         EFF_DATE = #{effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expDate != null">
         EXP_DATE = #{expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
        where 
           ACCU_OBJECT_INST_ID = #{accuObjectInstId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update ACCU_OBJECT_INST
    <trim prefix="set" suffixOverrides=",">
      <if test="record.accuObjectInstId != null">
        ACCU_OBJECT_INST_ID = #{record.accuObjectInstId,jdbcType=BIGINT},
      </if>
      <if test="record.objType != null">
        OBJ_TYPE = #{record.objType,jdbcType=VARCHAR},
      </if>
      <if test="record.objId != null">
        OBJ_ID = #{record.objId,jdbcType=VARCHAR},
      </if>
      <if test="record.accuTypeId != null">
        ACCU_TYPE_ID = #{record.accuTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.pricingPlanId != null">
        PRICING_PLAN_ID = #{record.pricingPlanId,jdbcType=INTEGER},
      </if>
      <if test="record.effDate != null">
        EFF_DATE = #{record.effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expDate != null">
        EXP_DATE = #{record.expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <where>
      <if test="condition.accuObjectInstId != null ">
        ACCU_OBJECT_INST_ID = #{condition.accuObjectInstId, jdbcType=BIGINT }
      </if>
      <if test="condition.objType != null and condition.objType != ''">
        and OBJ_TYPE = #{condition.objType, jdbcType=VARCHAR }
      </if>
      <if test="condition.objId != null and condition.objId != ''">
        and OBJ_ID = #{condition.objId, jdbcType=VARCHAR }
      </if>
      <if test="condition.accuTypeId != null ">
        and ACCU_TYPE_ID = #{condition.accuTypeId, jdbcType=INTEGER }
      </if>
      <if test="condition.pricingPlanId != null ">
        and PRICING_PLAN_ID = #{condition.pricingPlanId, jdbcType=INTEGER }
      </if>
      <if test="condition.effDate != null ">
        and EFF_DATE = #{condition.effDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.expDate != null ">
        and EXP_DATE = #{condition.expDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </update>
</mapper>