<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.BalanceSpecialPaymentMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.BalanceSpecialPaymentDO">
    <id column="SPE_PAYMENT_DET_ID" jdbcType="INTEGER" property="spePaymentDetId"/>
    <result column="SPE_PAYMENT_ID" jdbcType="INTEGER" property="spePaymentId"/>
    <result column="PARTNER_ID" jdbcType="INTEGER" property="partnerId"/>
    <result column="PROD_ID" jdbcType="INTEGER" property="prodId"/>
    <result column="ACCT_ITEM_GROUP_ID" jdbcType="INTEGER" property="acctItemGroupId"/>
    <result column="ACCT_ITEM_PAYMENT_TYPE" jdbcType="INTEGER" property="acctItemPaymentType"/>
    <result column="REGION_ID" jdbcType="INTEGER" property="regionId"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
  </resultMap>

  <sql id="CommonColumns">
          SPE_PAYMENT_DET_ID, 
          SPE_PAYMENT_ID, 
          PARTNER_ID, 
          PROD_ID, 
          ACCT_ITEM_GROUP_ID, 
          ACCT_ITEM_PAYMENT_TYPE, 
          REGION_ID, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE
  </sql>

  <sql id="CommonColumnsKey">
          SPE_PAYMENT_ID, 
          PARTNER_ID, 
          PROD_ID, 
          ACCT_ITEM_GROUP_ID, 
          ACCT_ITEM_PAYMENT_TYPE, 
          REGION_ID, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="spePaymentDetId != null ">
        SPE_PAYMENT_DET_ID = #{spePaymentDetId, jdbcType=INTEGER }
      </if>
      <if test="spePaymentId != null ">
        and SPE_PAYMENT_ID = #{spePaymentId, jdbcType=INTEGER }
      </if>
      <if test="partnerId != null ">
        and PARTNER_ID = #{partnerId, jdbcType=INTEGER }
      </if>
      <if test="prodId != null ">
        and PROD_ID = #{prodId, jdbcType=INTEGER }
      </if>
      <if test="acctItemGroupId != null ">
        and ACCT_ITEM_GROUP_ID = #{acctItemGroupId, jdbcType=INTEGER }
      </if>
      <if test="acctItemPaymentType != null ">
        and ACCT_ITEM_PAYMENT_TYPE = #{acctItemPaymentType, jdbcType=INTEGER }
      </if>
      <if test="regionId != null ">
        and REGION_ID = #{regionId, jdbcType=INTEGER }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.BalanceSpecialPaymentDO" resultType="java.lang.Integer">
      select count(*) from BALANCE_SPECIAL_PAYMENT
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from BALANCE_SPECIAL_PAYMENT
        where 
           SPE_PAYMENT_DET_ID = #{spePaymentDetId,jdbcType=INTEGER}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  BALANCE_SPECIAL_PAYMENT 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="spePaymentDetId">
      insert into  BALANCE_SPECIAL_PAYMENT ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{spePaymentId,jdbcType=INTEGER}, 
        #{partnerId,jdbcType=INTEGER}, 
        #{prodId,jdbcType=INTEGER}, 
        #{acctItemGroupId,jdbcType=INTEGER}, 
        #{acctItemPaymentType,jdbcType=INTEGER}, 
        #{regionId,jdbcType=INTEGER}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <insert id="insert">
      insert into  BALANCE_SPECIAL_PAYMENT ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{spePaymentDetId,jdbcType=INTEGER}, 
        #{spePaymentId,jdbcType=INTEGER}, 
        #{partnerId,jdbcType=INTEGER}, 
        #{prodId,jdbcType=INTEGER}, 
        #{acctItemGroupId,jdbcType=INTEGER}, 
        #{acctItemPaymentType,jdbcType=INTEGER}, 
        #{regionId,jdbcType=INTEGER}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from BALANCE_SPECIAL_PAYMENT  
        where
           SPE_PAYMENT_DET_ID = #{spePaymentDetId,jdbcType=INTEGER}
  </delete>

  <delete id="delete">
      delete from BALANCE_SPECIAL_PAYMENT
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  BALANCE_SPECIAL_PAYMENT
    <trim prefix="set" suffixOverrides=",">
      <if test="spePaymentId != null">
         SPE_PAYMENT_ID = #{spePaymentId,jdbcType=INTEGER},
      </if>
      <if test="partnerId != null">
         PARTNER_ID = #{partnerId,jdbcType=INTEGER},
      </if>
      <if test="prodId != null">
         PROD_ID = #{prodId,jdbcType=INTEGER},
      </if>
      <if test="acctItemGroupId != null">
         ACCT_ITEM_GROUP_ID = #{acctItemGroupId,jdbcType=INTEGER},
      </if>
      <if test="acctItemPaymentType != null">
         ACCT_ITEM_PAYMENT_TYPE = #{acctItemPaymentType,jdbcType=INTEGER},
      </if>
      <if test="regionId != null">
         REGION_ID = #{regionId,jdbcType=INTEGER},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
        where 
           SPE_PAYMENT_DET_ID = #{spePaymentDetId,jdbcType=INTEGER}
  </update>

  <update id="updateBySelective">
      update BALANCE_SPECIAL_PAYMENT
    <trim prefix="set" suffixOverrides=",">
      <if test="record.spePaymentDetId != null">
        SPE_PAYMENT_DET_ID = #{record.spePaymentDetId,jdbcType=INTEGER},
      </if>
      <if test="record.spePaymentId != null">
        SPE_PAYMENT_ID = #{record.spePaymentId,jdbcType=INTEGER},
      </if>
      <if test="record.partnerId != null">
        PARTNER_ID = #{record.partnerId,jdbcType=INTEGER},
      </if>
      <if test="record.prodId != null">
        PROD_ID = #{record.prodId,jdbcType=INTEGER},
      </if>
      <if test="record.acctItemGroupId != null">
        ACCT_ITEM_GROUP_ID = #{record.acctItemGroupId,jdbcType=INTEGER},
      </if>
      <if test="record.acctItemPaymentType != null">
        ACCT_ITEM_PAYMENT_TYPE = #{record.acctItemPaymentType,jdbcType=INTEGER},
      </if>
      <if test="record.regionId != null">
        REGION_ID = #{record.regionId,jdbcType=INTEGER},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <where>
      <if test="condition.spePaymentDetId != null ">
        SPE_PAYMENT_DET_ID = #{condition.spePaymentDetId, jdbcType=INTEGER }
      </if>
      <if test="condition.spePaymentId != null ">
        and SPE_PAYMENT_ID = #{condition.spePaymentId, jdbcType=INTEGER }
      </if>
      <if test="condition.partnerId != null ">
        and PARTNER_ID = #{condition.partnerId, jdbcType=INTEGER }
      </if>
      <if test="condition.prodId != null ">
        and PROD_ID = #{condition.prodId, jdbcType=INTEGER }
      </if>
      <if test="condition.acctItemGroupId != null ">
        and ACCT_ITEM_GROUP_ID = #{condition.acctItemGroupId, jdbcType=INTEGER }
      </if>
      <if test="condition.acctItemPaymentType != null ">
        and ACCT_ITEM_PAYMENT_TYPE = #{condition.acctItemPaymentType, jdbcType=INTEGER }
      </if>
      <if test="condition.regionId != null ">
        and REGION_ID = #{condition.regionId, jdbcType=INTEGER }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </update>
</mapper>