<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.BalanceTypeParamMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.BalanceTypeParamDO">
    <id column="BALANCE_TYPE_PARAM_ID" jdbcType="BIGINT" property="balanceTypeParamId"/>
    <result column="BALANCE_TYPE_ID" jdbcType="INTEGER" property="balanceTypeId"/>
    <result column="PARAM_ATTR_ID" jdbcType="INTEGER" property="paramAttrId"/>
    <result column="PARAM_NAME" jdbcType="VARCHAR" property="paramName"/>
    <result column="PARAM_DEFAULT_VALUE" jdbcType="VARCHAR" property="paramDefaultValue"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
  </resultMap>

  <sql id="CommonColumns">
          BALANCE_TYPE_PARAM_ID, 
          BALANCE_TYPE_ID, 
          PARAM_ATTR_ID, 
          PARAM_NAME, 
          PARAM_DEFAULT_VALUE, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE
  </sql>

  <sql id="CommonColumnsKey">
          BALANCE_TYPE_ID, 
          PARAM_ATTR_ID, 
          PARAM_NAME, 
          PARAM_DEFAULT_VALUE, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="balanceTypeParamId != null ">
        BALANCE_TYPE_PARAM_ID = #{balanceTypeParamId, jdbcType=BIGINT }
      </if>
      <if test="balanceTypeId != null ">
        and BALANCE_TYPE_ID = #{balanceTypeId, jdbcType=INTEGER }
      </if>
      <if test="paramAttrId != null ">
        and PARAM_ATTR_ID = #{paramAttrId, jdbcType=INTEGER }
      </if>
      <if test="paramName != null and paramName != ''">
        and PARAM_NAME = #{paramName, jdbcType=VARCHAR }
      </if>
      <if test="paramDefaultValue != null and paramDefaultValue != ''">
        and PARAM_DEFAULT_VALUE = #{paramDefaultValue, jdbcType=VARCHAR }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.BalanceTypeParamDO" resultType="java.lang.Integer">
      select count(*) from BALANCE_TYPE_PARAM
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from BALANCE_TYPE_PARAM
        where 
           BALANCE_TYPE_PARAM_ID = #{balanceTypeParamId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  BALANCE_TYPE_PARAM 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="balanceTypeParamId">
      insert into  BALANCE_TYPE_PARAM ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{balanceTypeId,jdbcType=INTEGER}, 
        #{paramAttrId,jdbcType=INTEGER}, 
        #{paramName,jdbcType=VARCHAR}, 
        #{paramDefaultValue,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <insert id="insert">
      insert into  BALANCE_TYPE_PARAM ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{balanceTypeParamId,jdbcType=BIGINT}, 
        #{balanceTypeId,jdbcType=INTEGER}, 
        #{paramAttrId,jdbcType=INTEGER}, 
        #{paramName,jdbcType=VARCHAR}, 
        #{paramDefaultValue,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from BALANCE_TYPE_PARAM  
        where
           BALANCE_TYPE_PARAM_ID = #{balanceTypeParamId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from BALANCE_TYPE_PARAM
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  BALANCE_TYPE_PARAM
    <trim prefix="set" suffixOverrides=",">
      <if test="balanceTypeId != null">
         BALANCE_TYPE_ID = #{balanceTypeId,jdbcType=INTEGER},
      </if>
      <if test="paramAttrId != null">
         PARAM_ATTR_ID = #{paramAttrId,jdbcType=INTEGER},
      </if>
      <if test="paramName != null">
         PARAM_NAME = #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="paramDefaultValue != null">
         PARAM_DEFAULT_VALUE = #{paramDefaultValue,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
        where 
           BALANCE_TYPE_PARAM_ID = #{balanceTypeParamId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update BALANCE_TYPE_PARAM
    <trim prefix="set" suffixOverrides=",">
      <if test="record.balanceTypeParamId != null">
        BALANCE_TYPE_PARAM_ID = #{record.balanceTypeParamId,jdbcType=BIGINT},
      </if>
      <if test="record.balanceTypeId != null">
        BALANCE_TYPE_ID = #{record.balanceTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.paramAttrId != null">
        PARAM_ATTR_ID = #{record.paramAttrId,jdbcType=INTEGER},
      </if>
      <if test="record.paramName != null">
        PARAM_NAME = #{record.paramName,jdbcType=VARCHAR},
      </if>
      <if test="record.paramDefaultValue != null">
        PARAM_DEFAULT_VALUE = #{record.paramDefaultValue,jdbcType=VARCHAR},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <where>
      <if test="condition.balanceTypeParamId != null ">
        BALANCE_TYPE_PARAM_ID = #{condition.balanceTypeParamId, jdbcType=BIGINT }
      </if>
      <if test="condition.balanceTypeId != null ">
        and BALANCE_TYPE_ID = #{condition.balanceTypeId, jdbcType=INTEGER }
      </if>
      <if test="condition.paramAttrId != null ">
        and PARAM_ATTR_ID = #{condition.paramAttrId, jdbcType=INTEGER }
      </if>
      <if test="condition.paramName != null and condition.paramName != ''">
        and PARAM_NAME = #{condition.paramName, jdbcType=VARCHAR }
      </if>
      <if test="condition.paramDefaultValue != null and condition.paramDefaultValue != ''">
        and PARAM_DEFAULT_VALUE = #{condition.paramDefaultValue, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </update>
</mapper>