<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.BatchParamMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.BatchParamDO">
    <id column="BATCH_PARAM_ID" jdbcType="BIGINT" property="batchParamId"/>
    <result column="PARAM_CODE" jdbcType="VARCHAR" property="paramCode"/>
    <result column="PARAM_NAME" jdbcType="VARCHAR" property="paramName"/>
    <result column="PARAM_DESC" jdbcType="VARCHAR" property="paramDesc"/>
    <result column="VALUE_TYPE" jdbcType="VARCHAR" property="valueType"/>
    <result column="VALID_RULE" jdbcType="VARCHAR" property="validRule"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          BATCH_PARAM_ID, 
          PARAM_CODE, 
          PARAM_NAME, 
          PARAM_DESC, 
          VALUE_TYPE, 
          VALID_RULE, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          PARAM_CODE, 
          PARAM_NAME, 
          PARAM_DESC, 
          VALUE_TYPE, 
          VALID_RULE, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="batchParamId != null ">
        BATCH_PARAM_ID = #{batchParamId, jdbcType=BIGINT }
      </if>
      <if test="paramCode != null and paramCode != ''">
        and PARAM_CODE = #{paramCode, jdbcType=VARCHAR }
      </if>
      <if test="paramName != null and paramName != ''">
        and PARAM_NAME = #{paramName, jdbcType=VARCHAR }
      </if>
      <if test="paramDesc != null and paramDesc != ''">
        and PARAM_DESC = #{paramDesc, jdbcType=VARCHAR }
      </if>
      <if test="valueType != null and valueType != ''">
        and VALUE_TYPE = #{valueType, jdbcType=VARCHAR }
      </if>
      <if test="validRule != null and validRule != ''">
        and VALID_RULE = #{validRule, jdbcType=VARCHAR }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.BatchParamDO" resultType="java.lang.Integer">
      select count(*) from BATCH_PARAM
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from BATCH_PARAM
        where 
           BATCH_PARAM_ID = #{batchParamId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  BATCH_PARAM 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="batchParamId">
      insert into  BATCH_PARAM ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{paramCode,jdbcType=VARCHAR}, 
        #{paramName,jdbcType=VARCHAR}, 
        #{paramDesc,jdbcType=VARCHAR}, 
        #{valueType,jdbcType=VARCHAR}, 
        #{validRule,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  BATCH_PARAM ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{batchParamId,jdbcType=BIGINT}, 
        #{paramCode,jdbcType=VARCHAR}, 
        #{paramName,jdbcType=VARCHAR}, 
        #{paramDesc,jdbcType=VARCHAR}, 
        #{valueType,jdbcType=VARCHAR}, 
        #{validRule,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from BATCH_PARAM  
        where
           BATCH_PARAM_ID = #{batchParamId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from BATCH_PARAM
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  BATCH_PARAM
    <trim prefix="set" suffixOverrides=",">
      <if test="paramCode != null">
         PARAM_CODE = #{paramCode,jdbcType=VARCHAR},
      </if>
      <if test="paramName != null">
         PARAM_NAME = #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="paramDesc != null">
         PARAM_DESC = #{paramDesc,jdbcType=VARCHAR},
      </if>
      <if test="valueType != null">
         VALUE_TYPE = #{valueType,jdbcType=VARCHAR},
      </if>
      <if test="validRule != null">
         VALID_RULE = #{validRule,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           BATCH_PARAM_ID = #{batchParamId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update BATCH_PARAM
    <trim prefix="set" suffixOverrides=",">
      <if test="record.batchParamId != null">
        BATCH_PARAM_ID = #{record.batchParamId,jdbcType=BIGINT},
      </if>
      <if test="record.paramCode != null">
        PARAM_CODE = #{record.paramCode,jdbcType=VARCHAR},
      </if>
      <if test="record.paramName != null">
        PARAM_NAME = #{record.paramName,jdbcType=VARCHAR},
      </if>
      <if test="record.paramDesc != null">
        PARAM_DESC = #{record.paramDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.valueType != null">
        VALUE_TYPE = #{record.valueType,jdbcType=VARCHAR},
      </if>
      <if test="record.validRule != null">
        VALID_RULE = #{record.validRule,jdbcType=VARCHAR},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.batchParamId != null ">
        BATCH_PARAM_ID = #{condition.batchParamId, jdbcType=BIGINT }
      </if>
      <if test="condition.paramCode != null and condition.paramCode != ''">
        and PARAM_CODE = #{condition.paramCode, jdbcType=VARCHAR }
      </if>
      <if test="condition.paramName != null and condition.paramName != ''">
        and PARAM_NAME = #{condition.paramName, jdbcType=VARCHAR }
      </if>
      <if test="condition.paramDesc != null and condition.paramDesc != ''">
        and PARAM_DESC = #{condition.paramDesc, jdbcType=VARCHAR }
      </if>
      <if test="condition.valueType != null and condition.valueType != ''">
        and VALUE_TYPE = #{condition.valueType, jdbcType=VARCHAR }
      </if>
      <if test="condition.validRule != null and condition.validRule != ''">
        and VALID_RULE = #{condition.validRule, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>