<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.BatchScheduleRuleMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.BatchScheduleRuleDO">
    <id column="BATCH_SCHEDULE_RULE_ID" jdbcType="BIGINT" property="batchScheduleRuleId"/>
    <result column="BATCH_TEMPLATE_ID" jdbcType="BIGINT" property="batchTemplateId"/>
    <result column="PRIORITY" jdbcType="INTEGER" property="priority"/>
    <result column="THREAD_NUM" jdbcType="INTEGER" property="threadNum"/>
    <result column="PLAN_TIME" jdbcType="TIMESTAMP" property="planTime"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          BATCH_SCHEDULE_RULE_ID, 
          BATCH_TEMPLATE_ID, 
          PRIORITY, 
          THREAD_NUM, 
          PLAN_TIME, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          BATCH_TEMPLATE_ID, 
          PRIORITY, 
          THREAD_NUM, 
          PLAN_TIME, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="batchScheduleRuleId != null ">
        BATCH_SCHEDULE_RULE_ID = #{batchScheduleRuleId, jdbcType=BIGINT }
      </if>
      <if test="batchTemplateId != null ">
        and BATCH_TEMPLATE_ID = #{batchTemplateId, jdbcType=BIGINT }
      </if>
      <if test="priority != null ">
        and PRIORITY = #{priority, jdbcType=INTEGER }
      </if>
      <if test="threadNum != null ">
        and THREAD_NUM = #{threadNum, jdbcType=INTEGER }
      </if>
      <if test="planTime != null ">
        and PLAN_TIME = #{planTime, jdbcType=TIMESTAMP }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.BatchScheduleRuleDO" resultType="java.lang.Integer">
      select count(*) from BATCH_SCHEDULE_RULE
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from BATCH_SCHEDULE_RULE
        where 
           BATCH_SCHEDULE_RULE_ID = #{batchScheduleRuleId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  BATCH_SCHEDULE_RULE 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="batchScheduleRuleId">
      insert into  BATCH_SCHEDULE_RULE ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{batchTemplateId,jdbcType=BIGINT}, 
        #{priority,jdbcType=INTEGER}, 
        #{threadNum,jdbcType=INTEGER}, 
        #{planTime,jdbcType=TIMESTAMP}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  BATCH_SCHEDULE_RULE ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{batchScheduleRuleId,jdbcType=BIGINT}, 
        #{batchTemplateId,jdbcType=BIGINT}, 
        #{priority,jdbcType=INTEGER}, 
        #{threadNum,jdbcType=INTEGER}, 
        #{planTime,jdbcType=TIMESTAMP}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from BATCH_SCHEDULE_RULE  
        where
           BATCH_SCHEDULE_RULE_ID = #{batchScheduleRuleId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from BATCH_SCHEDULE_RULE
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  BATCH_SCHEDULE_RULE
    <trim prefix="set" suffixOverrides=",">
      <if test="batchTemplateId != null">
         BATCH_TEMPLATE_ID = #{batchTemplateId,jdbcType=BIGINT},
      </if>
      <if test="priority != null">
         PRIORITY = #{priority,jdbcType=INTEGER},
      </if>
      <if test="threadNum != null">
         THREAD_NUM = #{threadNum,jdbcType=INTEGER},
      </if>
      <if test="planTime != null">
         PLAN_TIME = #{planTime,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           BATCH_SCHEDULE_RULE_ID = #{batchScheduleRuleId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update BATCH_SCHEDULE_RULE
    <trim prefix="set" suffixOverrides=",">
      <if test="record.batchScheduleRuleId != null">
        BATCH_SCHEDULE_RULE_ID = #{record.batchScheduleRuleId,jdbcType=BIGINT},
      </if>
      <if test="record.batchTemplateId != null">
        BATCH_TEMPLATE_ID = #{record.batchTemplateId,jdbcType=BIGINT},
      </if>
      <if test="record.priority != null">
        PRIORITY = #{record.priority,jdbcType=INTEGER},
      </if>
      <if test="record.threadNum != null">
        THREAD_NUM = #{record.threadNum,jdbcType=INTEGER},
      </if>
      <if test="record.planTime != null">
        PLAN_TIME = #{record.planTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.batchScheduleRuleId != null ">
        BATCH_SCHEDULE_RULE_ID = #{condition.batchScheduleRuleId, jdbcType=BIGINT }
      </if>
      <if test="condition.batchTemplateId != null ">
        and BATCH_TEMPLATE_ID = #{condition.batchTemplateId, jdbcType=BIGINT }
      </if>
      <if test="condition.priority != null ">
        and PRIORITY = #{condition.priority, jdbcType=INTEGER }
      </if>
      <if test="condition.threadNum != null ">
        and THREAD_NUM = #{condition.threadNum, jdbcType=INTEGER }
      </if>
      <if test="condition.planTime != null ">
        and PLAN_TIME = #{condition.planTime, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>