<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.BulletinRcvObjRelMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.BulletinRcvObjRelDO">
    <id column="BULLETIN_RCV_OBJ_REL_ID" jdbcType="BIGINT" property="bulletinRcvObjRelId"/>
    <result column="BULLETIN_ID" jdbcType="BIGINT" property="bulletinId"/>
    <result column="RCV_TYPE" jdbcType="VARCHAR" property="rcvType"/>
    <result column="RCV_ID" jdbcType="BIGINT" property="rcvId"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          BULLETIN_RCV_OBJ_REL_ID, 
          BULLETIN_ID, 
          RCV_TYPE, 
          RCV_ID, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          BULLETIN_ID, 
          RCV_TYPE, 
          RCV_ID, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="bulletinRcvObjRelId != null ">
        BULLETIN_RCV_OBJ_REL_ID = #{bulletinRcvObjRelId, jdbcType=BIGINT }
      </if>
      <if test="bulletinId != null ">
        and BULLETIN_ID = #{bulletinId, jdbcType=BIGINT }
      </if>
      <if test="rcvType != null and rcvType != ''">
        and RCV_TYPE = #{rcvType, jdbcType=VARCHAR }
      </if>
      <if test="rcvId != null ">
        and RCV_ID = #{rcvId, jdbcType=BIGINT }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.BulletinRcvObjRelDO" resultType="java.lang.Integer">
      select count(*) from BULLETIN_RCV_OBJ_REL
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from BULLETIN_RCV_OBJ_REL
        where 
           BULLETIN_RCV_OBJ_REL_ID = #{bulletinRcvObjRelId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  BULLETIN_RCV_OBJ_REL 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="bulletinRcvObjRelId">
      insert into  BULLETIN_RCV_OBJ_REL ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{bulletinId,jdbcType=BIGINT}, 
        #{rcvType,jdbcType=VARCHAR}, 
        #{rcvId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  BULLETIN_RCV_OBJ_REL ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{bulletinRcvObjRelId,jdbcType=BIGINT}, 
        #{bulletinId,jdbcType=BIGINT}, 
        #{rcvType,jdbcType=VARCHAR}, 
        #{rcvId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from BULLETIN_RCV_OBJ_REL  
        where
           BULLETIN_RCV_OBJ_REL_ID = #{bulletinRcvObjRelId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from BULLETIN_RCV_OBJ_REL
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  BULLETIN_RCV_OBJ_REL
    <trim prefix="set" suffixOverrides=",">
      <if test="bulletinId != null">
         BULLETIN_ID = #{bulletinId,jdbcType=BIGINT},
      </if>
      <if test="rcvType != null">
         RCV_TYPE = #{rcvType,jdbcType=VARCHAR},
      </if>
      <if test="rcvId != null">
         RCV_ID = #{rcvId,jdbcType=BIGINT},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           BULLETIN_RCV_OBJ_REL_ID = #{bulletinRcvObjRelId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update BULLETIN_RCV_OBJ_REL
    <trim prefix="set" suffixOverrides=",">
      <if test="record.bulletinRcvObjRelId != null">
        BULLETIN_RCV_OBJ_REL_ID = #{record.bulletinRcvObjRelId,jdbcType=BIGINT},
      </if>
      <if test="record.bulletinId != null">
        BULLETIN_ID = #{record.bulletinId,jdbcType=BIGINT},
      </if>
      <if test="record.rcvType != null">
        RCV_TYPE = #{record.rcvType,jdbcType=VARCHAR},
      </if>
      <if test="record.rcvId != null">
        RCV_ID = #{record.rcvId,jdbcType=BIGINT},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.bulletinRcvObjRelId != null ">
        BULLETIN_RCV_OBJ_REL_ID = #{condition.bulletinRcvObjRelId, jdbcType=BIGINT }
      </if>
      <if test="condition.bulletinId != null ">
        and BULLETIN_ID = #{condition.bulletinId, jdbcType=BIGINT }
      </if>
      <if test="condition.rcvType != null and condition.rcvType != ''">
        and RCV_TYPE = #{condition.rcvType, jdbcType=VARCHAR }
      </if>
      <if test="condition.rcvId != null ">
        and RCV_ID = #{condition.rcvId, jdbcType=BIGINT }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>