<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.BusiStoreBizZoneRelMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.BusiStoreBizZoneRelDO">
    <id column="BUSI_STORE_BIZ_ZONE_REL_ID" jdbcType="BIGINT" property="busiStoreBizZoneRelId"/>
    <result column="BIZ_ZONE_ID" jdbcType="BIGINT" property="bizZoneId"/>
    <result column="BUSI_STORE_ID" jdbcType="BIGINT" property="busiStoreId"/>
    <result column="REL_TYPE" jdbcType="VARCHAR" property="relType"/>
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
    <result column="EFF_DATE" jdbcType="TIMESTAMP" property="effDate"/>
    <result column="EXP_DATE" jdbcType="TIMESTAMP" property="expDate"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
  </resultMap>

  <sql id="CommonColumns">
          BUSI_STORE_BIZ_ZONE_REL_ID, 
          BIZ_ZONE_ID, 
          BUSI_STORE_ID, 
          REL_TYPE, 
          DESCRIPTION, 
          EFF_DATE, 
          EXP_DATE, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_DATE, 
          CREATE_STAFF, 
          UPDATE_DATE, 
          UPDATE_STAFF
  </sql>

  <sql id="CommonColumnsKey">
          BIZ_ZONE_ID, 
          BUSI_STORE_ID, 
          REL_TYPE, 
          DESCRIPTION, 
          EFF_DATE, 
          EXP_DATE, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_DATE, 
          CREATE_STAFF, 
          UPDATE_DATE, 
          UPDATE_STAFF
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="busiStoreBizZoneRelId != null ">
        BUSI_STORE_BIZ_ZONE_REL_ID = #{busiStoreBizZoneRelId, jdbcType=BIGINT }
      </if>
      <if test="bizZoneId != null ">
        and BIZ_ZONE_ID = #{bizZoneId, jdbcType=BIGINT }
      </if>
      <if test="busiStoreId != null ">
        and BUSI_STORE_ID = #{busiStoreId, jdbcType=BIGINT }
      </if>
      <if test="relType != null and relType != ''">
        and REL_TYPE = #{relType, jdbcType=VARCHAR }
      </if>
      <if test="description != null and description != ''">
        and DESCRIPTION = #{description, jdbcType=VARCHAR }
      </if>
      <if test="effDate != null ">
        and EFF_DATE = #{effDate, jdbcType=TIMESTAMP }
      </if>
      <if test="expDate != null ">
        and EXP_DATE = #{expDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.BusiStoreBizZoneRelDO" resultType="java.lang.Integer">
      select count(*) from BUSI_STORE_BIZ_ZONE_REL
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from BUSI_STORE_BIZ_ZONE_REL
        where 
           BUSI_STORE_BIZ_ZONE_REL_ID = #{busiStoreBizZoneRelId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  BUSI_STORE_BIZ_ZONE_REL 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="busiStoreBizZoneRelId">
      insert into  BUSI_STORE_BIZ_ZONE_REL ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{bizZoneId,jdbcType=BIGINT}, 
        #{busiStoreId,jdbcType=BIGINT}, 
        #{relType,jdbcType=VARCHAR}, 
        #{description,jdbcType=VARCHAR}, 
        #{effDate,jdbcType=TIMESTAMP}, 
        #{expDate,jdbcType=TIMESTAMP}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}
         )
  </insert>

  <insert id="insert">
      insert into  BUSI_STORE_BIZ_ZONE_REL ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{busiStoreBizZoneRelId,jdbcType=BIGINT}, 
        #{bizZoneId,jdbcType=BIGINT}, 
        #{busiStoreId,jdbcType=BIGINT}, 
        #{relType,jdbcType=VARCHAR}, 
        #{description,jdbcType=VARCHAR}, 
        #{effDate,jdbcType=TIMESTAMP}, 
        #{expDate,jdbcType=TIMESTAMP}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from BUSI_STORE_BIZ_ZONE_REL  
        where
           BUSI_STORE_BIZ_ZONE_REL_ID = #{busiStoreBizZoneRelId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from BUSI_STORE_BIZ_ZONE_REL
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  BUSI_STORE_BIZ_ZONE_REL
    <trim prefix="set" suffixOverrides=",">
      <if test="bizZoneId != null">
         BIZ_ZONE_ID = #{bizZoneId,jdbcType=BIGINT},
      </if>
      <if test="busiStoreId != null">
         BUSI_STORE_ID = #{busiStoreId,jdbcType=BIGINT},
      </if>
      <if test="relType != null">
         REL_TYPE = #{relType,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
         DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="effDate != null">
         EFF_DATE = #{effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expDate != null">
         EXP_DATE = #{expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
    </trim>
        where 
           BUSI_STORE_BIZ_ZONE_REL_ID = #{busiStoreBizZoneRelId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update BUSI_STORE_BIZ_ZONE_REL
    <trim prefix="set" suffixOverrides=",">
      <if test="record.busiStoreBizZoneRelId != null">
        BUSI_STORE_BIZ_ZONE_REL_ID = #{record.busiStoreBizZoneRelId,jdbcType=BIGINT},
      </if>
      <if test="record.bizZoneId != null">
        BIZ_ZONE_ID = #{record.bizZoneId,jdbcType=BIGINT},
      </if>
      <if test="record.busiStoreId != null">
        BUSI_STORE_ID = #{record.busiStoreId,jdbcType=BIGINT},
      </if>
      <if test="record.relType != null">
        REL_TYPE = #{record.relType,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.effDate != null">
        EFF_DATE = #{record.effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expDate != null">
        EXP_DATE = #{record.expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
    </trim>
    <where>
      <if test="condition.busiStoreBizZoneRelId != null ">
        BUSI_STORE_BIZ_ZONE_REL_ID = #{condition.busiStoreBizZoneRelId, jdbcType=BIGINT }
      </if>
      <if test="condition.bizZoneId != null ">
        and BIZ_ZONE_ID = #{condition.bizZoneId, jdbcType=BIGINT }
      </if>
      <if test="condition.busiStoreId != null ">
        and BUSI_STORE_ID = #{condition.busiStoreId, jdbcType=BIGINT }
      </if>
      <if test="condition.relType != null and condition.relType != ''">
        and REL_TYPE = #{condition.relType, jdbcType=VARCHAR }
      </if>
      <if test="condition.description != null and condition.description != ''">
        and DESCRIPTION = #{condition.description, jdbcType=VARCHAR }
      </if>
      <if test="condition.effDate != null ">
        and EFF_DATE = #{condition.effDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.expDate != null ">
        and EXP_DATE = #{condition.expDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
    </where>
  </update>
</mapper>