<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.BusiStoreMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.BusiStoreDO">
    <id column="BUSI_STORE_ID" jdbcType="BIGINT" property="busiStoreId"/>
    <result column="BUSI_STORE_NBR" jdbcType="VARCHAR" property="busiStoreNbr"/>
    <result column="BUSI_STORE_NAME" jdbcType="VARCHAR" property="busiStoreName"/>
    <result column="BUSI_STORE_HOUSE_TYPE" jdbcType="VARCHAR" property="busiStoreHouseType"/>
    <result column="ADDRESS" jdbcType="VARCHAR" property="address"/>
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
    <result column="REGION_ID" jdbcType="BIGINT" property="regionId"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
  </resultMap>

  <sql id="CommonColumns">
          BUSI_STORE_ID, 
          BUSI_STORE_NBR, 
          BUSI_STORE_NAME, 
          BUSI_STORE_HOUSE_TYPE, 
          ADDRESS, 
          DESCRIPTION, 
          REGION_ID, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_DATE, 
          CREATE_STAFF, 
          UPDATE_DATE, 
          UPDATE_STAFF
  </sql>

  <sql id="CommonColumnsKey">
          BUSI_STORE_NBR, 
          BUSI_STORE_NAME, 
          BUSI_STORE_HOUSE_TYPE, 
          ADDRESS, 
          DESCRIPTION, 
          REGION_ID, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_DATE, 
          CREATE_STAFF, 
          UPDATE_DATE, 
          UPDATE_STAFF
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="busiStoreId != null ">
        BUSI_STORE_ID = #{busiStoreId, jdbcType=BIGINT }
      </if>
      <if test="busiStoreNbr != null and busiStoreNbr != ''">
        and BUSI_STORE_NBR = #{busiStoreNbr, jdbcType=VARCHAR }
      </if>
      <if test="busiStoreName != null and busiStoreName != ''">
        and BUSI_STORE_NAME = #{busiStoreName, jdbcType=VARCHAR }
      </if>
      <if test="busiStoreHouseType != null and busiStoreHouseType != ''">
        and BUSI_STORE_HOUSE_TYPE = #{busiStoreHouseType, jdbcType=VARCHAR }
      </if>
      <if test="address != null and address != ''">
        and ADDRESS = #{address, jdbcType=VARCHAR }
      </if>
      <if test="description != null and description != ''">
        and DESCRIPTION = #{description, jdbcType=VARCHAR }
      </if>
      <if test="regionId != null ">
        and REGION_ID = #{regionId, jdbcType=BIGINT }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.BusiStoreDO" resultType="java.lang.Integer">
      select count(*) from BUSI_STORE
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from BUSI_STORE
        where 
           BUSI_STORE_ID = #{busiStoreId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  BUSI_STORE 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="busiStoreId">
      insert into  BUSI_STORE ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{busiStoreNbr,jdbcType=VARCHAR}, 
        #{busiStoreName,jdbcType=VARCHAR}, 
        #{busiStoreHouseType,jdbcType=VARCHAR}, 
        #{address,jdbcType=VARCHAR}, 
        #{description,jdbcType=VARCHAR}, 
        #{regionId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}
         )
  </insert>

  <insert id="insert">
      insert into  BUSI_STORE ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{busiStoreId,jdbcType=BIGINT}, 
        #{busiStoreNbr,jdbcType=VARCHAR}, 
        #{busiStoreName,jdbcType=VARCHAR}, 
        #{busiStoreHouseType,jdbcType=VARCHAR}, 
        #{address,jdbcType=VARCHAR}, 
        #{description,jdbcType=VARCHAR}, 
        #{regionId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from BUSI_STORE  
        where
           BUSI_STORE_ID = #{busiStoreId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from BUSI_STORE
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  BUSI_STORE
    <trim prefix="set" suffixOverrides=",">
      <if test="busiStoreNbr != null">
         BUSI_STORE_NBR = #{busiStoreNbr,jdbcType=VARCHAR},
      </if>
      <if test="busiStoreName != null">
         BUSI_STORE_NAME = #{busiStoreName,jdbcType=VARCHAR},
      </if>
      <if test="busiStoreHouseType != null">
         BUSI_STORE_HOUSE_TYPE = #{busiStoreHouseType,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
         ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
         DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="regionId != null">
         REGION_ID = #{regionId,jdbcType=BIGINT},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
    </trim>
        where 
           BUSI_STORE_ID = #{busiStoreId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update BUSI_STORE
    <trim prefix="set" suffixOverrides=",">
      <if test="record.busiStoreId != null">
        BUSI_STORE_ID = #{record.busiStoreId,jdbcType=BIGINT},
      </if>
      <if test="record.busiStoreNbr != null">
        BUSI_STORE_NBR = #{record.busiStoreNbr,jdbcType=VARCHAR},
      </if>
      <if test="record.busiStoreName != null">
        BUSI_STORE_NAME = #{record.busiStoreName,jdbcType=VARCHAR},
      </if>
      <if test="record.busiStoreHouseType != null">
        BUSI_STORE_HOUSE_TYPE = #{record.busiStoreHouseType,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.regionId != null">
        REGION_ID = #{record.regionId,jdbcType=BIGINT},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
    </trim>
    <where>
      <if test="condition.busiStoreId != null ">
        BUSI_STORE_ID = #{condition.busiStoreId, jdbcType=BIGINT }
      </if>
      <if test="condition.busiStoreNbr != null and condition.busiStoreNbr != ''">
        and BUSI_STORE_NBR = #{condition.busiStoreNbr, jdbcType=VARCHAR }
      </if>
      <if test="condition.busiStoreName != null and condition.busiStoreName != ''">
        and BUSI_STORE_NAME = #{condition.busiStoreName, jdbcType=VARCHAR }
      </if>
      <if test="condition.busiStoreHouseType != null and condition.busiStoreHouseType != ''">
        and BUSI_STORE_HOUSE_TYPE = #{condition.busiStoreHouseType, jdbcType=VARCHAR }
      </if>
      <if test="condition.address != null and condition.address != ''">
        and ADDRESS = #{condition.address, jdbcType=VARCHAR }
      </if>
      <if test="condition.description != null and condition.description != ''">
        and DESCRIPTION = #{condition.description, jdbcType=VARCHAR }
      </if>
      <if test="condition.regionId != null ">
        and REGION_ID = #{condition.regionId, jdbcType=BIGINT }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
    </where>
  </update>
</mapper>