<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.CamItemInjectionLabelMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.CamItemInjectionLabelDO">
    <id column="ITEM_LABEL_ID" jdbcType="BIGINT" property="itemLabelId"/>
    <result column="ITEM_TYPE" jdbcType="VARCHAR" property="itemType"/>
    <result column="ITEM_ID" jdbcType="BIGINT" property="itemId"/>
    <result column="INJECTION_LABEL_ID" jdbcType="BIGINT" property="injectionLabelId"/>
    <result column="LABEL_VALUE_ID" jdbcType="BIGINT" property="labelValueId"/>
    <result column="LABEL_VALUE" jdbcType="VARCHAR" property="labelValue"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          ITEM_LABEL_ID, 
          ITEM_TYPE, 
          ITEM_ID, 
          INJECTION_LABEL_ID, 
          LABEL_VALUE_ID, 
          LABEL_VALUE, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          ITEM_TYPE, 
          ITEM_ID, 
          INJECTION_LABEL_ID, 
          LABEL_VALUE_ID, 
          LABEL_VALUE, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="itemLabelId != null ">
        ITEM_LABEL_ID = #{itemLabelId, jdbcType=BIGINT }
      </if>
      <if test="itemType != null and itemType != ''">
        and ITEM_TYPE = #{itemType, jdbcType=VARCHAR }
      </if>
      <if test="itemId != null ">
        and ITEM_ID = #{itemId, jdbcType=BIGINT }
      </if>
      <if test="injectionLabelId != null ">
        and INJECTION_LABEL_ID = #{injectionLabelId, jdbcType=BIGINT }
      </if>
      <if test="labelValueId != null ">
        and LABEL_VALUE_ID = #{labelValueId, jdbcType=BIGINT }
      </if>
      <if test="labelValue != null and labelValue != ''">
        and LABEL_VALUE = #{labelValue, jdbcType=VARCHAR }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.CamItemInjectionLabelDO" resultType="java.lang.Integer">
      select count(*) from CAM_ITEM_INJECTION_LABEL
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from CAM_ITEM_INJECTION_LABEL
        where 
           ITEM_LABEL_ID = #{itemLabelId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  CAM_ITEM_INJECTION_LABEL 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="itemLabelId">
      insert into  CAM_ITEM_INJECTION_LABEL ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{itemType,jdbcType=VARCHAR}, 
        #{itemId,jdbcType=BIGINT}, 
        #{injectionLabelId,jdbcType=BIGINT}, 
        #{labelValueId,jdbcType=BIGINT}, 
        #{labelValue,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  CAM_ITEM_INJECTION_LABEL ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{itemLabelId,jdbcType=BIGINT}, 
        #{itemType,jdbcType=VARCHAR}, 
        #{itemId,jdbcType=BIGINT}, 
        #{injectionLabelId,jdbcType=BIGINT}, 
        #{labelValueId,jdbcType=BIGINT}, 
        #{labelValue,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from CAM_ITEM_INJECTION_LABEL  
        where
           ITEM_LABEL_ID = #{itemLabelId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from CAM_ITEM_INJECTION_LABEL
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  CAM_ITEM_INJECTION_LABEL
    <trim prefix="set" suffixOverrides=",">
      <if test="itemType != null">
         ITEM_TYPE = #{itemType,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null">
         ITEM_ID = #{itemId,jdbcType=BIGINT},
      </if>
      <if test="injectionLabelId != null">
         INJECTION_LABEL_ID = #{injectionLabelId,jdbcType=BIGINT},
      </if>
      <if test="labelValueId != null">
         LABEL_VALUE_ID = #{labelValueId,jdbcType=BIGINT},
      </if>
      <if test="labelValue != null">
         LABEL_VALUE = #{labelValue,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           ITEM_LABEL_ID = #{itemLabelId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update CAM_ITEM_INJECTION_LABEL
    <trim prefix="set" suffixOverrides=",">
      <if test="record.itemLabelId != null">
        ITEM_LABEL_ID = #{record.itemLabelId,jdbcType=BIGINT},
      </if>
      <if test="record.itemType != null">
        ITEM_TYPE = #{record.itemType,jdbcType=VARCHAR},
      </if>
      <if test="record.itemId != null">
        ITEM_ID = #{record.itemId,jdbcType=BIGINT},
      </if>
      <if test="record.injectionLabelId != null">
        INJECTION_LABEL_ID = #{record.injectionLabelId,jdbcType=BIGINT},
      </if>
      <if test="record.labelValueId != null">
        LABEL_VALUE_ID = #{record.labelValueId,jdbcType=BIGINT},
      </if>
      <if test="record.labelValue != null">
        LABEL_VALUE = #{record.labelValue,jdbcType=VARCHAR},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.itemLabelId != null ">
        ITEM_LABEL_ID = #{condition.itemLabelId, jdbcType=BIGINT }
      </if>
      <if test="condition.itemType != null and condition.itemType != ''">
        and ITEM_TYPE = #{condition.itemType, jdbcType=VARCHAR }
      </if>
      <if test="condition.itemId != null ">
        and ITEM_ID = #{condition.itemId, jdbcType=BIGINT }
      </if>
      <if test="condition.injectionLabelId != null ">
        and INJECTION_LABEL_ID = #{condition.injectionLabelId, jdbcType=BIGINT }
      </if>
      <if test="condition.labelValueId != null ">
        and LABEL_VALUE_ID = #{condition.labelValueId, jdbcType=BIGINT }
      </if>
      <if test="condition.labelValue != null and condition.labelValue != ''">
        and LABEL_VALUE = #{condition.labelValue, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>