<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.CatalogItemMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.CatalogItemDO">
    <id column="CATALOG_ITEM_ID" jdbcType="BIGINT" property="catalogItemId"/>
    <result column="CATALOG_ID" jdbcType="BIGINT" property="catalogId"/>
    <result column="PAR_CATALOG_ITEM_ID" jdbcType="BIGINT" property="parCatalogItemId"/>
    <result column="CATALOG_ITEM_NAME" jdbcType="VARCHAR" property="catalogItemName"/>
    <result column="CATALOG_ITEM_DESC" jdbcType="VARCHAR" property="catalogItemDesc"/>
    <result column="CATALOG_ITEM_TYPE" jdbcType="VARCHAR" property="catalogItemType"/>
    <result column="CATALOG_ITEM_NBR" jdbcType="VARCHAR" property="catalogItemNbr"/>
    <result column="CATALOG_ITEM_SORT" jdbcType="INTEGER" property="catalogItemSort"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          CATALOG_ITEM_ID, 
          CATALOG_ID, 
          PAR_CATALOG_ITEM_ID, 
          CATALOG_ITEM_NAME, 
          CATALOG_ITEM_DESC, 
          CATALOG_ITEM_TYPE, 
          CATALOG_ITEM_NBR, 
          CATALOG_ITEM_SORT, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          CATALOG_ID, 
          PAR_CATALOG_ITEM_ID, 
          CATALOG_ITEM_NAME, 
          CATALOG_ITEM_DESC, 
          CATALOG_ITEM_TYPE, 
          CATALOG_ITEM_NBR, 
          CATALOG_ITEM_SORT, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="catalogItemId != null ">
        CATALOG_ITEM_ID = #{catalogItemId, jdbcType=BIGINT }
      </if>
      <if test="catalogId != null ">
        and CATALOG_ID = #{catalogId, jdbcType=BIGINT }
      </if>
      <if test="parCatalogItemId != null ">
        and PAR_CATALOG_ITEM_ID = #{parCatalogItemId, jdbcType=BIGINT }
      </if>
      <if test="catalogItemName != null and catalogItemName != ''">
        and CATALOG_ITEM_NAME = #{catalogItemName, jdbcType=VARCHAR }
      </if>
      <if test="catalogItemDesc != null and catalogItemDesc != ''">
        and CATALOG_ITEM_DESC = #{catalogItemDesc, jdbcType=VARCHAR }
      </if>
      <if test="catalogItemType != null and catalogItemType != ''">
        and CATALOG_ITEM_TYPE = #{catalogItemType, jdbcType=VARCHAR }
      </if>
      <if test="catalogItemNbr != null and catalogItemNbr != ''">
        and CATALOG_ITEM_NBR = #{catalogItemNbr, jdbcType=VARCHAR }
      </if>
      <if test="catalogItemSort != null ">
        and CATALOG_ITEM_SORT = #{catalogItemSort, jdbcType=INTEGER }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.CatalogItemDO" resultType="java.lang.Integer">
      select count(*) from CATALOG_ITEM
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from CATALOG_ITEM
        where 
           CATALOG_ITEM_ID = #{catalogItemId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  CATALOG_ITEM 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="catalogItemId">
      insert into  CATALOG_ITEM ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{catalogId,jdbcType=BIGINT}, 
        #{parCatalogItemId,jdbcType=BIGINT}, 
        #{catalogItemName,jdbcType=VARCHAR}, 
        #{catalogItemDesc,jdbcType=VARCHAR}, 
        #{catalogItemType,jdbcType=VARCHAR}, 
        #{catalogItemNbr,jdbcType=VARCHAR}, 
        #{catalogItemSort,jdbcType=INTEGER}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  CATALOG_ITEM ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{catalogItemId,jdbcType=BIGINT}, 
        #{catalogId,jdbcType=BIGINT}, 
        #{parCatalogItemId,jdbcType=BIGINT}, 
        #{catalogItemName,jdbcType=VARCHAR}, 
        #{catalogItemDesc,jdbcType=VARCHAR}, 
        #{catalogItemType,jdbcType=VARCHAR}, 
        #{catalogItemNbr,jdbcType=VARCHAR}, 
        #{catalogItemSort,jdbcType=INTEGER}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from CATALOG_ITEM  
        where
           CATALOG_ITEM_ID = #{catalogItemId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from CATALOG_ITEM
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  CATALOG_ITEM
    <trim prefix="set" suffixOverrides=",">
      <if test="catalogId != null">
         CATALOG_ID = #{catalogId,jdbcType=BIGINT},
      </if>
      <if test="parCatalogItemId != null">
         PAR_CATALOG_ITEM_ID = #{parCatalogItemId,jdbcType=BIGINT},
      </if>
      <if test="catalogItemName != null">
         CATALOG_ITEM_NAME = #{catalogItemName,jdbcType=VARCHAR},
      </if>
      <if test="catalogItemDesc != null">
         CATALOG_ITEM_DESC = #{catalogItemDesc,jdbcType=VARCHAR},
      </if>
      <if test="catalogItemType != null">
         CATALOG_ITEM_TYPE = #{catalogItemType,jdbcType=VARCHAR},
      </if>
      <if test="catalogItemNbr != null">
         CATALOG_ITEM_NBR = #{catalogItemNbr,jdbcType=VARCHAR},
      </if>
      <if test="catalogItemSort != null">
         CATALOG_ITEM_SORT = #{catalogItemSort,jdbcType=INTEGER},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           CATALOG_ITEM_ID = #{catalogItemId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update CATALOG_ITEM
    <trim prefix="set" suffixOverrides=",">
      <if test="record.catalogItemId != null">
        CATALOG_ITEM_ID = #{record.catalogItemId,jdbcType=BIGINT},
      </if>
      <if test="record.catalogId != null">
        CATALOG_ID = #{record.catalogId,jdbcType=BIGINT},
      </if>
      <if test="record.parCatalogItemId != null">
        PAR_CATALOG_ITEM_ID = #{record.parCatalogItemId,jdbcType=BIGINT},
      </if>
      <if test="record.catalogItemName != null">
        CATALOG_ITEM_NAME = #{record.catalogItemName,jdbcType=VARCHAR},
      </if>
      <if test="record.catalogItemDesc != null">
        CATALOG_ITEM_DESC = #{record.catalogItemDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.catalogItemType != null">
        CATALOG_ITEM_TYPE = #{record.catalogItemType,jdbcType=VARCHAR},
      </if>
      <if test="record.catalogItemNbr != null">
        CATALOG_ITEM_NBR = #{record.catalogItemNbr,jdbcType=VARCHAR},
      </if>
      <if test="record.catalogItemSort != null">
        CATALOG_ITEM_SORT = #{record.catalogItemSort,jdbcType=INTEGER},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.catalogItemId != null ">
        CATALOG_ITEM_ID = #{condition.catalogItemId, jdbcType=BIGINT }
      </if>
      <if test="condition.catalogId != null ">
        and CATALOG_ID = #{condition.catalogId, jdbcType=BIGINT }
      </if>
      <if test="condition.parCatalogItemId != null ">
        and PAR_CATALOG_ITEM_ID = #{condition.parCatalogItemId, jdbcType=BIGINT }
      </if>
      <if test="condition.catalogItemName != null and condition.catalogItemName != ''">
        and CATALOG_ITEM_NAME = #{condition.catalogItemName, jdbcType=VARCHAR }
      </if>
      <if test="condition.catalogItemDesc != null and condition.catalogItemDesc != ''">
        and CATALOG_ITEM_DESC = #{condition.catalogItemDesc, jdbcType=VARCHAR }
      </if>
      <if test="condition.catalogItemType != null and condition.catalogItemType != ''">
        and CATALOG_ITEM_TYPE = #{condition.catalogItemType, jdbcType=VARCHAR }
      </if>
      <if test="condition.catalogItemNbr != null and condition.catalogItemNbr != ''">
        and CATALOG_ITEM_NBR = #{condition.catalogItemNbr, jdbcType=VARCHAR }
      </if>
      <if test="condition.catalogItemSort != null ">
        and CATALOG_ITEM_SORT = #{condition.catalogItemSort, jdbcType=INTEGER }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>