<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.CatalogMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.CatalogDO">
    <id column="CATALOG_ID" jdbcType="BIGINT" property="catalogId"/>
    <result column="CATALOG_NAME" jdbcType="VARCHAR" property="catalogName"/>
    <result column="CATALOG_TYPE" jdbcType="VARCHAR" property="catalogType"/>
    <result column="CATALOG_DESC" jdbcType="VARCHAR" property="catalogDesc"/>
    <result column="CATALOG_NBR" jdbcType="VARCHAR" property="catalogNbr"/>
    <result column="CATALOG_USAGE" jdbcType="VARCHAR" property="catalogUsage"/>
    <result column="APPLY_REGION_ID" jdbcType="BIGINT" property="applyRegionId"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          CATALOG_ID, 
          CATALOG_NAME, 
          CATALOG_TYPE, 
          CATALOG_DESC, 
          CATALOG_NBR, 
          CATALOG_USAGE, 
          APPLY_REGION_ID, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          UPDATE_DATE, 
          STATUS_DATE, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          CATALOG_NAME, 
          CATALOG_TYPE, 
          CATALOG_DESC, 
          CATALOG_NBR, 
          CATALOG_USAGE, 
          APPLY_REGION_ID, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          UPDATE_DATE, 
          STATUS_DATE, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="catalogId != null ">
        CATALOG_ID = #{catalogId, jdbcType=BIGINT }
      </if>
      <if test="catalogName != null and catalogName != ''">
        and CATALOG_NAME = #{catalogName, jdbcType=VARCHAR }
      </if>
      <if test="catalogType != null and catalogType != ''">
        and CATALOG_TYPE = #{catalogType, jdbcType=VARCHAR }
      </if>
      <if test="catalogDesc != null and catalogDesc != ''">
        and CATALOG_DESC = #{catalogDesc, jdbcType=VARCHAR }
      </if>
      <if test="catalogNbr != null and catalogNbr != ''">
        and CATALOG_NBR = #{catalogNbr, jdbcType=VARCHAR }
      </if>
      <if test="catalogUsage != null and catalogUsage != ''">
        and CATALOG_USAGE = #{catalogUsage, jdbcType=VARCHAR }
      </if>
      <if test="applyRegionId != null ">
        and APPLY_REGION_ID = #{applyRegionId, jdbcType=BIGINT }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.CatalogDO" resultType="java.lang.Integer">
      select count(*) from CATALOG
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from CATALOG
        where 
           CATALOG_ID = #{catalogId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  CATALOG 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="catalogId">
      insert into  CATALOG ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{catalogName,jdbcType=VARCHAR}, 
        #{catalogType,jdbcType=VARCHAR}, 
        #{catalogDesc,jdbcType=VARCHAR}, 
        #{catalogNbr,jdbcType=VARCHAR}, 
        #{catalogUsage,jdbcType=VARCHAR}, 
        #{applyRegionId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  CATALOG ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{catalogId,jdbcType=BIGINT}, 
        #{catalogName,jdbcType=VARCHAR}, 
        #{catalogType,jdbcType=VARCHAR}, 
        #{catalogDesc,jdbcType=VARCHAR}, 
        #{catalogNbr,jdbcType=VARCHAR}, 
        #{catalogUsage,jdbcType=VARCHAR}, 
        #{applyRegionId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from CATALOG  
        where
           CATALOG_ID = #{catalogId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from CATALOG
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  CATALOG
    <trim prefix="set" suffixOverrides=",">
      <if test="catalogName != null">
         CATALOG_NAME = #{catalogName,jdbcType=VARCHAR},
      </if>
      <if test="catalogType != null">
         CATALOG_TYPE = #{catalogType,jdbcType=VARCHAR},
      </if>
      <if test="catalogDesc != null">
         CATALOG_DESC = #{catalogDesc,jdbcType=VARCHAR},
      </if>
      <if test="catalogNbr != null">
         CATALOG_NBR = #{catalogNbr,jdbcType=VARCHAR},
      </if>
      <if test="catalogUsage != null">
         CATALOG_USAGE = #{catalogUsage,jdbcType=VARCHAR},
      </if>
      <if test="applyRegionId != null">
         APPLY_REGION_ID = #{applyRegionId,jdbcType=BIGINT},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           CATALOG_ID = #{catalogId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update CATALOG
    <trim prefix="set" suffixOverrides=",">
      <if test="record.catalogId != null">
        CATALOG_ID = #{record.catalogId,jdbcType=BIGINT},
      </if>
      <if test="record.catalogName != null">
        CATALOG_NAME = #{record.catalogName,jdbcType=VARCHAR},
      </if>
      <if test="record.catalogType != null">
        CATALOG_TYPE = #{record.catalogType,jdbcType=VARCHAR},
      </if>
      <if test="record.catalogDesc != null">
        CATALOG_DESC = #{record.catalogDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.catalogNbr != null">
        CATALOG_NBR = #{record.catalogNbr,jdbcType=VARCHAR},
      </if>
      <if test="record.catalogUsage != null">
        CATALOG_USAGE = #{record.catalogUsage,jdbcType=VARCHAR},
      </if>
      <if test="record.applyRegionId != null">
        APPLY_REGION_ID = #{record.applyRegionId,jdbcType=BIGINT},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.catalogId != null ">
        CATALOG_ID = #{condition.catalogId, jdbcType=BIGINT }
      </if>
      <if test="condition.catalogName != null and condition.catalogName != ''">
        and CATALOG_NAME = #{condition.catalogName, jdbcType=VARCHAR }
      </if>
      <if test="condition.catalogType != null and condition.catalogType != ''">
        and CATALOG_TYPE = #{condition.catalogType, jdbcType=VARCHAR }
      </if>
      <if test="condition.catalogDesc != null and condition.catalogDesc != ''">
        and CATALOG_DESC = #{condition.catalogDesc, jdbcType=VARCHAR }
      </if>
      <if test="condition.catalogNbr != null and condition.catalogNbr != ''">
        and CATALOG_NBR = #{condition.catalogNbr, jdbcType=VARCHAR }
      </if>
      <if test="condition.catalogUsage != null and condition.catalogUsage != ''">
        and CATALOG_USAGE = #{condition.catalogUsage, jdbcType=VARCHAR }
      </if>
      <if test="condition.applyRegionId != null ">
        and APPLY_REGION_ID = #{condition.applyRegionId, jdbcType=BIGINT }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>