<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.ClubMbrLevServiceRelMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.ClubMbrLevServiceRelDO">
    <id column="LEV_SERVICE_REL_ID" jdbcType="BIGINT" property="levServiceRelId"/>
    <result column="CLUB_ID" jdbcType="INTEGER" property="clubId"/>
    <result column="MEMBERSHIP_LEVEL" jdbcType="VARCHAR" property="membershipLevel"/>
    <result column="MEMBER_SERVICE_ID" jdbcType="BIGINT" property="memberServiceId"/>
    <result column="TOTAL_NUM" jdbcType="INTEGER" property="totalNum"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          LEV_SERVICE_REL_ID, 
          CLUB_ID, 
          MEMBERSHIP_LEVEL, 
          MEMBER_SERVICE_ID, 
          TOTAL_NUM, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          CLUB_ID, 
          MEMBERSHIP_LEVEL, 
          MEMBER_SERVICE_ID, 
          TOTAL_NUM, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="levServiceRelId != null ">
        LEV_SERVICE_REL_ID = #{levServiceRelId, jdbcType=BIGINT }
      </if>
      <if test="clubId != null ">
        and CLUB_ID = #{clubId, jdbcType=INTEGER }
      </if>
      <if test="membershipLevel != null and membershipLevel != ''">
        and MEMBERSHIP_LEVEL = #{membershipLevel, jdbcType=VARCHAR }
      </if>
      <if test="memberServiceId != null ">
        and MEMBER_SERVICE_ID = #{memberServiceId, jdbcType=BIGINT }
      </if>
      <if test="totalNum != null ">
        and TOTAL_NUM = #{totalNum, jdbcType=INTEGER }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.ClubMbrLevServiceRelDO" resultType="java.lang.Integer">
      select count(*) from CLUB_MBR_LEV_SERVICE_REL
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from CLUB_MBR_LEV_SERVICE_REL
        where 
           LEV_SERVICE_REL_ID = #{levServiceRelId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  CLUB_MBR_LEV_SERVICE_REL 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="levServiceRelId">
      insert into  CLUB_MBR_LEV_SERVICE_REL ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{clubId,jdbcType=INTEGER}, 
        #{membershipLevel,jdbcType=VARCHAR}, 
        #{memberServiceId,jdbcType=BIGINT}, 
        #{totalNum,jdbcType=INTEGER}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  CLUB_MBR_LEV_SERVICE_REL ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{levServiceRelId,jdbcType=BIGINT}, 
        #{clubId,jdbcType=INTEGER}, 
        #{membershipLevel,jdbcType=VARCHAR}, 
        #{memberServiceId,jdbcType=BIGINT}, 
        #{totalNum,jdbcType=INTEGER}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from CLUB_MBR_LEV_SERVICE_REL  
        where
           LEV_SERVICE_REL_ID = #{levServiceRelId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from CLUB_MBR_LEV_SERVICE_REL
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  CLUB_MBR_LEV_SERVICE_REL
    <trim prefix="set" suffixOverrides=",">
      <if test="clubId != null">
         CLUB_ID = #{clubId,jdbcType=INTEGER},
      </if>
      <if test="membershipLevel != null">
         MEMBERSHIP_LEVEL = #{membershipLevel,jdbcType=VARCHAR},
      </if>
      <if test="memberServiceId != null">
         MEMBER_SERVICE_ID = #{memberServiceId,jdbcType=BIGINT},
      </if>
      <if test="totalNum != null">
         TOTAL_NUM = #{totalNum,jdbcType=INTEGER},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           LEV_SERVICE_REL_ID = #{levServiceRelId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update CLUB_MBR_LEV_SERVICE_REL
    <trim prefix="set" suffixOverrides=",">
      <if test="record.levServiceRelId != null">
        LEV_SERVICE_REL_ID = #{record.levServiceRelId,jdbcType=BIGINT},
      </if>
      <if test="record.clubId != null">
        CLUB_ID = #{record.clubId,jdbcType=INTEGER},
      </if>
      <if test="record.membershipLevel != null">
        MEMBERSHIP_LEVEL = #{record.membershipLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.memberServiceId != null">
        MEMBER_SERVICE_ID = #{record.memberServiceId,jdbcType=BIGINT},
      </if>
      <if test="record.totalNum != null">
        TOTAL_NUM = #{record.totalNum,jdbcType=INTEGER},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.levServiceRelId != null ">
        LEV_SERVICE_REL_ID = #{condition.levServiceRelId, jdbcType=BIGINT }
      </if>
      <if test="condition.clubId != null ">
        and CLUB_ID = #{condition.clubId, jdbcType=INTEGER }
      </if>
      <if test="condition.membershipLevel != null and condition.membershipLevel != ''">
        and MEMBERSHIP_LEVEL = #{condition.membershipLevel, jdbcType=VARCHAR }
      </if>
      <if test="condition.memberServiceId != null ">
        and MEMBER_SERVICE_ID = #{condition.memberServiceId, jdbcType=BIGINT }
      </if>
      <if test="condition.totalNum != null ">
        and TOTAL_NUM = #{condition.totalNum, jdbcType=INTEGER }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>