<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.CommonRegionMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.CommonRegionDO">
    <id column="COMMON_REGION_ID" jdbcType="BIGINT" property="commonRegionId"/>
    <result column="PAR_REGION_ID" jdbcType="BIGINT" property="parRegionId"/>
    <result column="REGION_NAME" jdbcType="VARCHAR" property="regionName"/>
    <result column="REGION_PY_NAME" jdbcType="VARCHAR" property="regionPyName"/>
    <result column="REGION_NBR" jdbcType="VARCHAR" property="regionNbr"/>
    <result column="REGION_TYPE" jdbcType="VARCHAR" property="regionType"/>
    <result column="REGION_DESC" jdbcType="VARCHAR" property="regionDesc"/>
    <result column="REGION_LEVEL" jdbcType="INTEGER" property="regionLevel"/>
    <result column="REGION_SORT" jdbcType="INTEGER" property="regionSort"/>
    <result column="PROVINCE_NBR" jdbcType="VARCHAR" property="provinceNbr"/>
    <result column="CITY_FLAG" jdbcType="VARCHAR" property="cityFlag"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          COMMON_REGION_ID, 
          PAR_REGION_ID, 
          REGION_NAME, 
          REGION_PY_NAME, 
          REGION_NBR, 
          REGION_TYPE, 
          REGION_DESC, 
          REGION_LEVEL, 
          REGION_SORT, 
          PROVINCE_NBR, 
          CITY_FLAG, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          PAR_REGION_ID, 
          REGION_NAME, 
          REGION_PY_NAME, 
          REGION_NBR, 
          REGION_TYPE, 
          REGION_DESC, 
          REGION_LEVEL, 
          REGION_SORT, 
          PROVINCE_NBR, 
          CITY_FLAG, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="commonRegionId != null ">
        COMMON_REGION_ID = #{commonRegionId, jdbcType=BIGINT }
      </if>
      <if test="parRegionId != null ">
        and PAR_REGION_ID = #{parRegionId, jdbcType=BIGINT }
      </if>
      <if test="regionName != null and regionName != ''">
        and REGION_NAME = #{regionName, jdbcType=VARCHAR }
      </if>
      <if test="regionPyName != null and regionPyName != ''">
        and REGION_PY_NAME = #{regionPyName, jdbcType=VARCHAR }
      </if>
      <if test="regionNbr != null and regionNbr != ''">
        and REGION_NBR = #{regionNbr, jdbcType=VARCHAR }
      </if>
      <if test="regionType != null and regionType != ''">
        and REGION_TYPE = #{regionType, jdbcType=VARCHAR }
      </if>
      <if test="regionDesc != null and regionDesc != ''">
        and REGION_DESC = #{regionDesc, jdbcType=VARCHAR }
      </if>
      <if test="regionLevel != null ">
        and REGION_LEVEL = #{regionLevel, jdbcType=INTEGER }
      </if>
      <if test="regionSort != null ">
        and REGION_SORT = #{regionSort, jdbcType=INTEGER }
      </if>
      <if test="provinceNbr != null and provinceNbr != ''">
        and PROVINCE_NBR = #{provinceNbr, jdbcType=VARCHAR }
      </if>
      <if test="cityFlag != null and cityFlag != ''">
        and CITY_FLAG = #{cityFlag, jdbcType=VARCHAR }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.CommonRegionDO" resultType="java.lang.Integer">
      select count(*) from COMMON_REGION
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from COMMON_REGION
        where 
           COMMON_REGION_ID = #{commonRegionId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  COMMON_REGION 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="commonRegionId">
      insert into  COMMON_REGION ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{parRegionId,jdbcType=BIGINT}, 
        #{regionName,jdbcType=VARCHAR}, 
        #{regionPyName,jdbcType=VARCHAR}, 
        #{regionNbr,jdbcType=VARCHAR}, 
        #{regionType,jdbcType=VARCHAR}, 
        #{regionDesc,jdbcType=VARCHAR}, 
        #{regionLevel,jdbcType=INTEGER}, 
        #{regionSort,jdbcType=INTEGER}, 
        #{provinceNbr,jdbcType=VARCHAR}, 
        #{cityFlag,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  COMMON_REGION ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{commonRegionId,jdbcType=BIGINT}, 
        #{parRegionId,jdbcType=BIGINT}, 
        #{regionName,jdbcType=VARCHAR}, 
        #{regionPyName,jdbcType=VARCHAR}, 
        #{regionNbr,jdbcType=VARCHAR}, 
        #{regionType,jdbcType=VARCHAR}, 
        #{regionDesc,jdbcType=VARCHAR}, 
        #{regionLevel,jdbcType=INTEGER}, 
        #{regionSort,jdbcType=INTEGER}, 
        #{provinceNbr,jdbcType=VARCHAR}, 
        #{cityFlag,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from COMMON_REGION  
        where
           COMMON_REGION_ID = #{commonRegionId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from COMMON_REGION
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  COMMON_REGION
    <trim prefix="set" suffixOverrides=",">
      <if test="parRegionId != null">
         PAR_REGION_ID = #{parRegionId,jdbcType=BIGINT},
      </if>
      <if test="regionName != null">
         REGION_NAME = #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="regionPyName != null">
         REGION_PY_NAME = #{regionPyName,jdbcType=VARCHAR},
      </if>
      <if test="regionNbr != null">
         REGION_NBR = #{regionNbr,jdbcType=VARCHAR},
      </if>
      <if test="regionType != null">
         REGION_TYPE = #{regionType,jdbcType=VARCHAR},
      </if>
      <if test="regionDesc != null">
         REGION_DESC = #{regionDesc,jdbcType=VARCHAR},
      </if>
      <if test="regionLevel != null">
         REGION_LEVEL = #{regionLevel,jdbcType=INTEGER},
      </if>
      <if test="regionSort != null">
         REGION_SORT = #{regionSort,jdbcType=INTEGER},
      </if>
      <if test="provinceNbr != null">
         PROVINCE_NBR = #{provinceNbr,jdbcType=VARCHAR},
      </if>
      <if test="cityFlag != null">
         CITY_FLAG = #{cityFlag,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           COMMON_REGION_ID = #{commonRegionId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update COMMON_REGION
    <trim prefix="set" suffixOverrides=",">
      <if test="record.commonRegionId != null">
        COMMON_REGION_ID = #{record.commonRegionId,jdbcType=BIGINT},
      </if>
      <if test="record.parRegionId != null">
        PAR_REGION_ID = #{record.parRegionId,jdbcType=BIGINT},
      </if>
      <if test="record.regionName != null">
        REGION_NAME = #{record.regionName,jdbcType=VARCHAR},
      </if>
      <if test="record.regionPyName != null">
        REGION_PY_NAME = #{record.regionPyName,jdbcType=VARCHAR},
      </if>
      <if test="record.regionNbr != null">
        REGION_NBR = #{record.regionNbr,jdbcType=VARCHAR},
      </if>
      <if test="record.regionType != null">
        REGION_TYPE = #{record.regionType,jdbcType=VARCHAR},
      </if>
      <if test="record.regionDesc != null">
        REGION_DESC = #{record.regionDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.regionLevel != null">
        REGION_LEVEL = #{record.regionLevel,jdbcType=INTEGER},
      </if>
      <if test="record.regionSort != null">
        REGION_SORT = #{record.regionSort,jdbcType=INTEGER},
      </if>
      <if test="record.provinceNbr != null">
        PROVINCE_NBR = #{record.provinceNbr,jdbcType=VARCHAR},
      </if>
      <if test="record.cityFlag != null">
        CITY_FLAG = #{record.cityFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.commonRegionId != null ">
        COMMON_REGION_ID = #{condition.commonRegionId, jdbcType=BIGINT }
      </if>
      <if test="condition.parRegionId != null ">
        and PAR_REGION_ID = #{condition.parRegionId, jdbcType=BIGINT }
      </if>
      <if test="condition.regionName != null and condition.regionName != ''">
        and REGION_NAME = #{condition.regionName, jdbcType=VARCHAR }
      </if>
      <if test="condition.regionPyName != null and condition.regionPyName != ''">
        and REGION_PY_NAME = #{condition.regionPyName, jdbcType=VARCHAR }
      </if>
      <if test="condition.regionNbr != null and condition.regionNbr != ''">
        and REGION_NBR = #{condition.regionNbr, jdbcType=VARCHAR }
      </if>
      <if test="condition.regionType != null and condition.regionType != ''">
        and REGION_TYPE = #{condition.regionType, jdbcType=VARCHAR }
      </if>
      <if test="condition.regionDesc != null and condition.regionDesc != ''">
        and REGION_DESC = #{condition.regionDesc, jdbcType=VARCHAR }
      </if>
      <if test="condition.regionLevel != null ">
        and REGION_LEVEL = #{condition.regionLevel, jdbcType=INTEGER }
      </if>
      <if test="condition.regionSort != null ">
        and REGION_SORT = #{condition.regionSort, jdbcType=INTEGER }
      </if>
      <if test="condition.provinceNbr != null and condition.provinceNbr != ''">
        and PROVINCE_NBR = #{condition.provinceNbr, jdbcType=VARCHAR }
      </if>
      <if test="condition.cityFlag != null and condition.cityFlag != ''">
        and CITY_FLAG = #{condition.cityFlag, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>