<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.ContactTaskMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.ContactTaskDO">
    <id column="CONTACT_TASK_ID" jdbcType="BIGINT" property="contactTaskId"/>
    <result column="CONTACT_TASK_TITLE" jdbcType="VARCHAR" property="contactTaskTitle"/>
    <result column="MKT_CAMPAIGN_ID" jdbcType="BIGINT" property="mktCampaignId"/>
    <result column="EVT_INST_ID" jdbcType="BIGINT" property="evtInstId"/>
    <result column="TARGET_OBJ_TYPE" jdbcType="VARCHAR" property="targetObjType"/>
    <result column="TARGET_OBJ_NBR" jdbcType="VARCHAR" property="targetObjNbr"/>
    <result column="STRATEGY_ID" jdbcType="BIGINT" property="strategyId"/>
    <result column="MKTING_RESULT" jdbcType="VARCHAR" property="mktingResult"/>
    <result column="DRAINAGE_ORDER_ID" jdbcType="BIGINT" property="drainageOrderId"/>
    <result column="LAST_ORDER_ITEM_ID" jdbcType="BIGINT" property="lastOrderItemId"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          CONTACT_TASK_ID, 
          CONTACT_TASK_TITLE, 
          MKT_CAMPAIGN_ID, 
          EVT_INST_ID, 
          TARGET_OBJ_TYPE, 
          TARGET_OBJ_NBR, 
          STRATEGY_ID, 
          MKTING_RESULT, 
          DRAINAGE_ORDER_ID, 
          LAST_ORDER_ITEM_ID, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          UPDATE_DATE, 
          STATUS_DATE, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          CONTACT_TASK_TITLE, 
          MKT_CAMPAIGN_ID, 
          EVT_INST_ID, 
          TARGET_OBJ_TYPE, 
          TARGET_OBJ_NBR, 
          STRATEGY_ID, 
          MKTING_RESULT, 
          DRAINAGE_ORDER_ID, 
          LAST_ORDER_ITEM_ID, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          UPDATE_DATE, 
          STATUS_DATE, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="contactTaskId != null ">
        CONTACT_TASK_ID = #{contactTaskId, jdbcType=BIGINT }
      </if>
      <if test="contactTaskTitle != null and contactTaskTitle != ''">
        and CONTACT_TASK_TITLE = #{contactTaskTitle, jdbcType=VARCHAR }
      </if>
      <if test="mktCampaignId != null ">
        and MKT_CAMPAIGN_ID = #{mktCampaignId, jdbcType=BIGINT }
      </if>
      <if test="evtInstId != null ">
        and EVT_INST_ID = #{evtInstId, jdbcType=BIGINT }
      </if>
      <if test="targetObjType != null and targetObjType != ''">
        and TARGET_OBJ_TYPE = #{targetObjType, jdbcType=VARCHAR }
      </if>
      <if test="targetObjNbr != null and targetObjNbr != ''">
        and TARGET_OBJ_NBR = #{targetObjNbr, jdbcType=VARCHAR }
      </if>
      <if test="strategyId != null ">
        and STRATEGY_ID = #{strategyId, jdbcType=BIGINT }
      </if>
      <if test="mktingResult != null and mktingResult != ''">
        and MKTING_RESULT = #{mktingResult, jdbcType=VARCHAR }
      </if>
      <if test="drainageOrderId != null ">
        and DRAINAGE_ORDER_ID = #{drainageOrderId, jdbcType=BIGINT }
      </if>
      <if test="lastOrderItemId != null ">
        and LAST_ORDER_ITEM_ID = #{lastOrderItemId, jdbcType=BIGINT }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.ContactTaskDO" resultType="java.lang.Integer">
      select count(*) from CONTACT_TASK
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from CONTACT_TASK
        where 
           CONTACT_TASK_ID = #{contactTaskId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  CONTACT_TASK 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="contactTaskId">
      insert into  CONTACT_TASK ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{contactTaskTitle,jdbcType=VARCHAR}, 
        #{mktCampaignId,jdbcType=BIGINT}, 
        #{evtInstId,jdbcType=BIGINT}, 
        #{targetObjType,jdbcType=VARCHAR}, 
        #{targetObjNbr,jdbcType=VARCHAR}, 
        #{strategyId,jdbcType=BIGINT}, 
        #{mktingResult,jdbcType=VARCHAR}, 
        #{drainageOrderId,jdbcType=BIGINT}, 
        #{lastOrderItemId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  CONTACT_TASK ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{contactTaskId,jdbcType=BIGINT}, 
        #{contactTaskTitle,jdbcType=VARCHAR}, 
        #{mktCampaignId,jdbcType=BIGINT}, 
        #{evtInstId,jdbcType=BIGINT}, 
        #{targetObjType,jdbcType=VARCHAR}, 
        #{targetObjNbr,jdbcType=VARCHAR}, 
        #{strategyId,jdbcType=BIGINT}, 
        #{mktingResult,jdbcType=VARCHAR}, 
        #{drainageOrderId,jdbcType=BIGINT}, 
        #{lastOrderItemId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from CONTACT_TASK  
        where
           CONTACT_TASK_ID = #{contactTaskId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from CONTACT_TASK
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  CONTACT_TASK
    <trim prefix="set" suffixOverrides=",">
      <if test="contactTaskTitle != null">
         CONTACT_TASK_TITLE = #{contactTaskTitle,jdbcType=VARCHAR},
      </if>
      <if test="mktCampaignId != null">
         MKT_CAMPAIGN_ID = #{mktCampaignId,jdbcType=BIGINT},
      </if>
      <if test="evtInstId != null">
         EVT_INST_ID = #{evtInstId,jdbcType=BIGINT},
      </if>
      <if test="targetObjType != null">
         TARGET_OBJ_TYPE = #{targetObjType,jdbcType=VARCHAR},
      </if>
      <if test="targetObjNbr != null">
         TARGET_OBJ_NBR = #{targetObjNbr,jdbcType=VARCHAR},
      </if>
      <if test="strategyId != null">
         STRATEGY_ID = #{strategyId,jdbcType=BIGINT},
      </if>
      <if test="mktingResult != null">
         MKTING_RESULT = #{mktingResult,jdbcType=VARCHAR},
      </if>
      <if test="drainageOrderId != null">
         DRAINAGE_ORDER_ID = #{drainageOrderId,jdbcType=BIGINT},
      </if>
      <if test="lastOrderItemId != null">
         LAST_ORDER_ITEM_ID = #{lastOrderItemId,jdbcType=BIGINT},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           CONTACT_TASK_ID = #{contactTaskId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update CONTACT_TASK
    <trim prefix="set" suffixOverrides=",">
      <if test="record.contactTaskId != null">
        CONTACT_TASK_ID = #{record.contactTaskId,jdbcType=BIGINT},
      </if>
      <if test="record.contactTaskTitle != null">
        CONTACT_TASK_TITLE = #{record.contactTaskTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.mktCampaignId != null">
        MKT_CAMPAIGN_ID = #{record.mktCampaignId,jdbcType=BIGINT},
      </if>
      <if test="record.evtInstId != null">
        EVT_INST_ID = #{record.evtInstId,jdbcType=BIGINT},
      </if>
      <if test="record.targetObjType != null">
        TARGET_OBJ_TYPE = #{record.targetObjType,jdbcType=VARCHAR},
      </if>
      <if test="record.targetObjNbr != null">
        TARGET_OBJ_NBR = #{record.targetObjNbr,jdbcType=VARCHAR},
      </if>
      <if test="record.strategyId != null">
        STRATEGY_ID = #{record.strategyId,jdbcType=BIGINT},
      </if>
      <if test="record.mktingResult != null">
        MKTING_RESULT = #{record.mktingResult,jdbcType=VARCHAR},
      </if>
      <if test="record.drainageOrderId != null">
        DRAINAGE_ORDER_ID = #{record.drainageOrderId,jdbcType=BIGINT},
      </if>
      <if test="record.lastOrderItemId != null">
        LAST_ORDER_ITEM_ID = #{record.lastOrderItemId,jdbcType=BIGINT},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.contactTaskId != null ">
        CONTACT_TASK_ID = #{condition.contactTaskId, jdbcType=BIGINT }
      </if>
      <if test="condition.contactTaskTitle != null and condition.contactTaskTitle != ''">
        and CONTACT_TASK_TITLE = #{condition.contactTaskTitle, jdbcType=VARCHAR }
      </if>
      <if test="condition.mktCampaignId != null ">
        and MKT_CAMPAIGN_ID = #{condition.mktCampaignId, jdbcType=BIGINT }
      </if>
      <if test="condition.evtInstId != null ">
        and EVT_INST_ID = #{condition.evtInstId, jdbcType=BIGINT }
      </if>
      <if test="condition.targetObjType != null and condition.targetObjType != ''">
        and TARGET_OBJ_TYPE = #{condition.targetObjType, jdbcType=VARCHAR }
      </if>
      <if test="condition.targetObjNbr != null and condition.targetObjNbr != ''">
        and TARGET_OBJ_NBR = #{condition.targetObjNbr, jdbcType=VARCHAR }
      </if>
      <if test="condition.strategyId != null ">
        and STRATEGY_ID = #{condition.strategyId, jdbcType=BIGINT }
      </if>
      <if test="condition.mktingResult != null and condition.mktingResult != ''">
        and MKTING_RESULT = #{condition.mktingResult, jdbcType=VARCHAR }
      </if>
      <if test="condition.drainageOrderId != null ">
        and DRAINAGE_ORDER_ID = #{condition.drainageOrderId, jdbcType=BIGINT }
      </if>
      <if test="condition.lastOrderItemId != null ">
        and LAST_ORDER_ITEM_ID = #{condition.lastOrderItemId, jdbcType=BIGINT }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>