<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.ContactItemMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.ContactItemDO">
    <id column="CONTACT_ITEM_ID" jdbcType="BIGINT" property="contactItemId"/>
    <result column="CONTACT_TASK_ID" jdbcType="BIGINT" property="contactTaskId"/>
    <result column="CONTACT_TASK_CHL_ID" jdbcType="BIGINT" property="contactTaskChlId"/>
    <result column="ITEM_TYPE" jdbcType="VARCHAR" property="itemType"/>
    <result column="ITEM_ID" jdbcType="BIGINT" property="itemId"/>
    <result column="PRIORITY" jdbcType="INTEGER" property="priority"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          CONTACT_ITEM_ID, 
          CONTACT_TASK_ID, 
          CONTACT_TASK_CHL_ID, 
          ITEM_TYPE, 
          ITEM_ID, 
          PRIORITY, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          UPDATE_DATE, 
          STATUS_DATE, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          CONTACT_TASK_ID, 
          CONTACT_TASK_CHL_ID, 
          ITEM_TYPE, 
          ITEM_ID, 
          PRIORITY, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          UPDATE_DATE, 
          STATUS_DATE, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="contactItemId != null ">
        CONTACT_ITEM_ID = #{contactItemId, jdbcType=BIGINT }
      </if>
      <if test="contactTaskId != null ">
        and CONTACT_TASK_ID = #{contactTaskId, jdbcType=BIGINT }
      </if>
      <if test="contactTaskChlId != null ">
        and CONTACT_TASK_CHL_ID = #{contactTaskChlId, jdbcType=BIGINT }
      </if>
      <if test="itemType != null and itemType != ''">
        and ITEM_TYPE = #{itemType, jdbcType=VARCHAR }
      </if>
      <if test="itemId != null ">
        and ITEM_ID = #{itemId, jdbcType=BIGINT }
      </if>
      <if test="priority != null ">
        and PRIORITY = #{priority, jdbcType=INTEGER }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.ContactItemDO" resultType="java.lang.Integer">
      select count(*) from CONTACT_ITEM
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from CONTACT_ITEM
        where 
           CONTACT_ITEM_ID = #{contactItemId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  CONTACT_ITEM 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="contactItemId">
      insert into  CONTACT_ITEM ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{contactTaskId,jdbcType=BIGINT}, 
        #{contactTaskChlId,jdbcType=BIGINT}, 
        #{itemType,jdbcType=VARCHAR}, 
        #{itemId,jdbcType=BIGINT}, 
        #{priority,jdbcType=INTEGER}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  CONTACT_ITEM ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{contactItemId,jdbcType=BIGINT}, 
        #{contactTaskId,jdbcType=BIGINT}, 
        #{contactTaskChlId,jdbcType=BIGINT}, 
        #{itemType,jdbcType=VARCHAR}, 
        #{itemId,jdbcType=BIGINT}, 
        #{priority,jdbcType=INTEGER}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from CONTACT_ITEM  
        where
           CONTACT_ITEM_ID = #{contactItemId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from CONTACT_ITEM
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  CONTACT_ITEM
    <trim prefix="set" suffixOverrides=",">
      <if test="contactTaskId != null">
         CONTACT_TASK_ID = #{contactTaskId,jdbcType=BIGINT},
      </if>
      <if test="contactTaskChlId != null">
         CONTACT_TASK_CHL_ID = #{contactTaskChlId,jdbcType=BIGINT},
      </if>
      <if test="itemType != null">
         ITEM_TYPE = #{itemType,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null">
         ITEM_ID = #{itemId,jdbcType=BIGINT},
      </if>
      <if test="priority != null">
         PRIORITY = #{priority,jdbcType=INTEGER},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           CONTACT_ITEM_ID = #{contactItemId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update CONTACT_ITEM
    <trim prefix="set" suffixOverrides=",">
      <if test="record.contactItemId != null">
        CONTACT_ITEM_ID = #{record.contactItemId,jdbcType=BIGINT},
      </if>
      <if test="record.contactTaskId != null">
        CONTACT_TASK_ID = #{record.contactTaskId,jdbcType=BIGINT},
      </if>
      <if test="record.contactTaskChlId != null">
        CONTACT_TASK_CHL_ID = #{record.contactTaskChlId,jdbcType=BIGINT},
      </if>
      <if test="record.itemType != null">
        ITEM_TYPE = #{record.itemType,jdbcType=VARCHAR},
      </if>
      <if test="record.itemId != null">
        ITEM_ID = #{record.itemId,jdbcType=BIGINT},
      </if>
      <if test="record.priority != null">
        PRIORITY = #{record.priority,jdbcType=INTEGER},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.contactItemId != null ">
        CONTACT_ITEM_ID = #{condition.contactItemId, jdbcType=BIGINT }
      </if>
      <if test="condition.contactTaskId != null ">
        and CONTACT_TASK_ID = #{condition.contactTaskId, jdbcType=BIGINT }
      </if>
      <if test="condition.contactTaskChlId != null ">
        and CONTACT_TASK_CHL_ID = #{condition.contactTaskChlId, jdbcType=BIGINT }
      </if>
      <if test="condition.itemType != null and condition.itemType != ''">
        and ITEM_TYPE = #{condition.itemType, jdbcType=VARCHAR }
      </if>
      <if test="condition.itemId != null ">
        and ITEM_ID = #{condition.itemId, jdbcType=BIGINT }
      </if>
      <if test="condition.priority != null ">
        and PRIORITY = #{condition.priority, jdbcType=INTEGER }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>