<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.DecisionChainRoleRelaMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.DecisionChainRoleRelaDO">
    <id column="DECISION_CHAIN_ROLE_RELA_ID" jdbcType="BIGINT" property="decisionChainRoleRelaId"/>
    <result column="A_CHAIN_ROLE_ID" jdbcType="BIGINT" property="aChainRoleId"/>
    <result column="Z_CHAIN_ROLE_ID" jdbcType="BIGINT" property="zChainRoleId"/>
    <result column="REL_TYPE" jdbcType="VARCHAR" property="relType"/>
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          DECISION_CHAIN_ROLE_RELA_ID, 
          A_CHAIN_ROLE_ID, 
          Z_CHAIN_ROLE_ID, 
          REL_TYPE, 
          DESCRIPTION, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          A_CHAIN_ROLE_ID, 
          Z_CHAIN_ROLE_ID, 
          REL_TYPE, 
          DESCRIPTION, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="decisionChainRoleRelaId != null ">
        DECISION_CHAIN_ROLE_RELA_ID = #{decisionChainRoleRelaId, jdbcType=BIGINT }
      </if>
      <if test="aChainRoleId != null ">
        and A_CHAIN_ROLE_ID = #{aChainRoleId, jdbcType=BIGINT }
      </if>
      <if test="zChainRoleId != null ">
        and Z_CHAIN_ROLE_ID = #{zChainRoleId, jdbcType=BIGINT }
      </if>
      <if test="relType != null and relType != ''">
        and REL_TYPE = #{relType, jdbcType=VARCHAR }
      </if>
      <if test="description != null and description != ''">
        and DESCRIPTION = #{description, jdbcType=VARCHAR }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.DecisionChainRoleRelaDO" resultType="java.lang.Integer">
      select count(*) from DECISION_CHAIN_ROLE_RELA
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from DECISION_CHAIN_ROLE_RELA
        where 
           DECISION_CHAIN_ROLE_RELA_ID = #{decisionChainRoleRelaId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  DECISION_CHAIN_ROLE_RELA 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="decisionChainRoleRelaId">
      insert into  DECISION_CHAIN_ROLE_RELA ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{aChainRoleId,jdbcType=BIGINT}, 
        #{zChainRoleId,jdbcType=BIGINT}, 
        #{relType,jdbcType=VARCHAR}, 
        #{description,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  DECISION_CHAIN_ROLE_RELA ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{decisionChainRoleRelaId,jdbcType=BIGINT}, 
        #{aChainRoleId,jdbcType=BIGINT}, 
        #{zChainRoleId,jdbcType=BIGINT}, 
        #{relType,jdbcType=VARCHAR}, 
        #{description,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from DECISION_CHAIN_ROLE_RELA  
        where
           DECISION_CHAIN_ROLE_RELA_ID = #{decisionChainRoleRelaId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from DECISION_CHAIN_ROLE_RELA
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  DECISION_CHAIN_ROLE_RELA
    <trim prefix="set" suffixOverrides=",">
      <if test="aChainRoleId != null">
         A_CHAIN_ROLE_ID = #{aChainRoleId,jdbcType=BIGINT},
      </if>
      <if test="zChainRoleId != null">
         Z_CHAIN_ROLE_ID = #{zChainRoleId,jdbcType=BIGINT},
      </if>
      <if test="relType != null">
         REL_TYPE = #{relType,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
         DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           DECISION_CHAIN_ROLE_RELA_ID = #{decisionChainRoleRelaId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update DECISION_CHAIN_ROLE_RELA
    <trim prefix="set" suffixOverrides=",">
      <if test="record.decisionChainRoleRelaId != null">
        DECISION_CHAIN_ROLE_RELA_ID = #{record.decisionChainRoleRelaId,jdbcType=BIGINT},
      </if>
      <if test="record.aChainRoleId != null">
        A_CHAIN_ROLE_ID = #{record.aChainRoleId,jdbcType=BIGINT},
      </if>
      <if test="record.zChainRoleId != null">
        Z_CHAIN_ROLE_ID = #{record.zChainRoleId,jdbcType=BIGINT},
      </if>
      <if test="record.relType != null">
        REL_TYPE = #{record.relType,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.decisionChainRoleRelaId != null ">
        DECISION_CHAIN_ROLE_RELA_ID = #{condition.decisionChainRoleRelaId, jdbcType=BIGINT }
      </if>
      <if test="condition.aChainRoleId != null ">
        and A_CHAIN_ROLE_ID = #{condition.aChainRoleId, jdbcType=BIGINT }
      </if>
      <if test="condition.zChainRoleId != null ">
        and Z_CHAIN_ROLE_ID = #{condition.zChainRoleId, jdbcType=BIGINT }
      </if>
      <if test="condition.relType != null and condition.relType != ''">
        and REL_TYPE = #{condition.relType, jdbcType=VARCHAR }
      </if>
      <if test="condition.description != null and condition.description != ''">
        and DESCRIPTION = #{condition.description, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>