<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.DecisionChainRoleMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.DecisionChainRoleDO">
    <id column="CHAIN_ROLE_ID" jdbcType="BIGINT" property="chainRoleId"/>
    <result column="DECISION_CHAIN_ID" jdbcType="BIGINT" property="decisionChainId"/>
    <result column="ROLE_TYPE" jdbcType="VARCHAR" property="roleType"/>
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName"/>
    <result column="KEY_PERSON_ID" jdbcType="BIGINT" property="keyPersonId"/>
    <result column="ROLE_DESC" jdbcType="VARCHAR" property="roleDesc"/>
    <result column="DECISION_SEQ" jdbcType="INTEGER" property="decisionSeq"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          CHAIN_ROLE_ID, 
          DECISION_CHAIN_ID, 
          ROLE_TYPE, 
          ROLE_NAME, 
          KEY_PERSON_ID, 
          ROLE_DESC, 
          DECISION_SEQ, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          DECISION_CHAIN_ID, 
          ROLE_TYPE, 
          ROLE_NAME, 
          KEY_PERSON_ID, 
          ROLE_DESC, 
          DECISION_SEQ, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="chainRoleId != null ">
        CHAIN_ROLE_ID = #{chainRoleId, jdbcType=BIGINT }
      </if>
      <if test="decisionChainId != null ">
        and DECISION_CHAIN_ID = #{decisionChainId, jdbcType=BIGINT }
      </if>
      <if test="roleType != null and roleType != ''">
        and ROLE_TYPE = #{roleType, jdbcType=VARCHAR }
      </if>
      <if test="roleName != null and roleName != ''">
        and ROLE_NAME = #{roleName, jdbcType=VARCHAR }
      </if>
      <if test="keyPersonId != null ">
        and KEY_PERSON_ID = #{keyPersonId, jdbcType=BIGINT }
      </if>
      <if test="roleDesc != null and roleDesc != ''">
        and ROLE_DESC = #{roleDesc, jdbcType=VARCHAR }
      </if>
      <if test="decisionSeq != null ">
        and DECISION_SEQ = #{decisionSeq, jdbcType=INTEGER }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.DecisionChainRoleDO" resultType="java.lang.Integer">
      select count(*) from DECISION_CHAIN_ROLE
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from DECISION_CHAIN_ROLE
        where 
           CHAIN_ROLE_ID = #{chainRoleId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  DECISION_CHAIN_ROLE 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="chainRoleId">
      insert into  DECISION_CHAIN_ROLE ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{decisionChainId,jdbcType=BIGINT}, 
        #{roleType,jdbcType=VARCHAR}, 
        #{roleName,jdbcType=VARCHAR}, 
        #{keyPersonId,jdbcType=BIGINT}, 
        #{roleDesc,jdbcType=VARCHAR}, 
        #{decisionSeq,jdbcType=INTEGER}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  DECISION_CHAIN_ROLE ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{chainRoleId,jdbcType=BIGINT}, 
        #{decisionChainId,jdbcType=BIGINT}, 
        #{roleType,jdbcType=VARCHAR}, 
        #{roleName,jdbcType=VARCHAR}, 
        #{keyPersonId,jdbcType=BIGINT}, 
        #{roleDesc,jdbcType=VARCHAR}, 
        #{decisionSeq,jdbcType=INTEGER}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from DECISION_CHAIN_ROLE  
        where
           CHAIN_ROLE_ID = #{chainRoleId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from DECISION_CHAIN_ROLE
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  DECISION_CHAIN_ROLE
    <trim prefix="set" suffixOverrides=",">
      <if test="decisionChainId != null">
         DECISION_CHAIN_ID = #{decisionChainId,jdbcType=BIGINT},
      </if>
      <if test="roleType != null">
         ROLE_TYPE = #{roleType,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
         ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="keyPersonId != null">
         KEY_PERSON_ID = #{keyPersonId,jdbcType=BIGINT},
      </if>
      <if test="roleDesc != null">
         ROLE_DESC = #{roleDesc,jdbcType=VARCHAR},
      </if>
      <if test="decisionSeq != null">
         DECISION_SEQ = #{decisionSeq,jdbcType=INTEGER},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           CHAIN_ROLE_ID = #{chainRoleId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update DECISION_CHAIN_ROLE
    <trim prefix="set" suffixOverrides=",">
      <if test="record.chainRoleId != null">
        CHAIN_ROLE_ID = #{record.chainRoleId,jdbcType=BIGINT},
      </if>
      <if test="record.decisionChainId != null">
        DECISION_CHAIN_ID = #{record.decisionChainId,jdbcType=BIGINT},
      </if>
      <if test="record.roleType != null">
        ROLE_TYPE = #{record.roleType,jdbcType=VARCHAR},
      </if>
      <if test="record.roleName != null">
        ROLE_NAME = #{record.roleName,jdbcType=VARCHAR},
      </if>
      <if test="record.keyPersonId != null">
        KEY_PERSON_ID = #{record.keyPersonId,jdbcType=BIGINT},
      </if>
      <if test="record.roleDesc != null">
        ROLE_DESC = #{record.roleDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.decisionSeq != null">
        DECISION_SEQ = #{record.decisionSeq,jdbcType=INTEGER},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.chainRoleId != null ">
        CHAIN_ROLE_ID = #{condition.chainRoleId, jdbcType=BIGINT }
      </if>
      <if test="condition.decisionChainId != null ">
        and DECISION_CHAIN_ID = #{condition.decisionChainId, jdbcType=BIGINT }
      </if>
      <if test="condition.roleType != null and condition.roleType != ''">
        and ROLE_TYPE = #{condition.roleType, jdbcType=VARCHAR }
      </if>
      <if test="condition.roleName != null and condition.roleName != ''">
        and ROLE_NAME = #{condition.roleName, jdbcType=VARCHAR }
      </if>
      <if test="condition.keyPersonId != null ">
        and KEY_PERSON_ID = #{condition.keyPersonId, jdbcType=BIGINT }
      </if>
      <if test="condition.roleDesc != null and condition.roleDesc != ''">
        and ROLE_DESC = #{condition.roleDesc, jdbcType=VARCHAR }
      </if>
      <if test="condition.decisionSeq != null ">
        and DECISION_SEQ = #{condition.decisionSeq, jdbcType=INTEGER }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>