<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.DepositTradeDetailAttrMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.DepositTradeDetailAttrDO">
    <id column="DEPOSIT_SO_DTL_ATTR_ID" jdbcType="BIGINT" property="depositSoDtlAttrId"/>
    <result column="DEPOSIT_SO_DETAIL_ID" jdbcType="BIGINT" property="depositSoDetailId"/>
    <result column="ATTR_TYPE" jdbcType="INTEGER" property="attrType"/>
    <result column="ATTR_VALUE" jdbcType="VARCHAR" property="attrValue"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
  </resultMap>

  <sql id="CommonColumns">
          DEPOSIT_SO_DTL_ATTR_ID, 
          DEPOSIT_SO_DETAIL_ID, 
          ATTR_TYPE, 
          ATTR_VALUE, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE
  </sql>

  <sql id="CommonColumnsKey">
          DEPOSIT_SO_DETAIL_ID, 
          ATTR_TYPE, 
          ATTR_VALUE, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="depositSoDtlAttrId != null ">
        DEPOSIT_SO_DTL_ATTR_ID = #{depositSoDtlAttrId, jdbcType=BIGINT }
      </if>
      <if test="depositSoDetailId != null ">
        and DEPOSIT_SO_DETAIL_ID = #{depositSoDetailId, jdbcType=BIGINT }
      </if>
      <if test="attrType != null ">
        and ATTR_TYPE = #{attrType, jdbcType=INTEGER }
      </if>
      <if test="attrValue != null and attrValue != ''">
        and ATTR_VALUE = #{attrValue, jdbcType=VARCHAR }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.DepositTradeDetailAttrDO" resultType="java.lang.Integer">
      select count(*) from DEPOSIT_TRADE_DETAIL_ATTR
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from DEPOSIT_TRADE_DETAIL_ATTR
        where 
           DEPOSIT_SO_DTL_ATTR_ID = #{depositSoDtlAttrId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  DEPOSIT_TRADE_DETAIL_ATTR 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="depositSoDtlAttrId">
      insert into  DEPOSIT_TRADE_DETAIL_ATTR ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{depositSoDetailId,jdbcType=BIGINT}, 
        #{attrType,jdbcType=INTEGER}, 
        #{attrValue,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <insert id="insert">
      insert into  DEPOSIT_TRADE_DETAIL_ATTR ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{depositSoDtlAttrId,jdbcType=BIGINT}, 
        #{depositSoDetailId,jdbcType=BIGINT}, 
        #{attrType,jdbcType=INTEGER}, 
        #{attrValue,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from DEPOSIT_TRADE_DETAIL_ATTR  
        where
           DEPOSIT_SO_DTL_ATTR_ID = #{depositSoDtlAttrId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from DEPOSIT_TRADE_DETAIL_ATTR
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  DEPOSIT_TRADE_DETAIL_ATTR
    <trim prefix="set" suffixOverrides=",">
      <if test="depositSoDetailId != null">
         DEPOSIT_SO_DETAIL_ID = #{depositSoDetailId,jdbcType=BIGINT},
      </if>
      <if test="attrType != null">
         ATTR_TYPE = #{attrType,jdbcType=INTEGER},
      </if>
      <if test="attrValue != null">
         ATTR_VALUE = #{attrValue,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
        where 
           DEPOSIT_SO_DTL_ATTR_ID = #{depositSoDtlAttrId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update DEPOSIT_TRADE_DETAIL_ATTR
    <trim prefix="set" suffixOverrides=",">
      <if test="record.depositSoDtlAttrId != null">
        DEPOSIT_SO_DTL_ATTR_ID = #{record.depositSoDtlAttrId,jdbcType=BIGINT},
      </if>
      <if test="record.depositSoDetailId != null">
        DEPOSIT_SO_DETAIL_ID = #{record.depositSoDetailId,jdbcType=BIGINT},
      </if>
      <if test="record.attrType != null">
        ATTR_TYPE = #{record.attrType,jdbcType=INTEGER},
      </if>
      <if test="record.attrValue != null">
        ATTR_VALUE = #{record.attrValue,jdbcType=VARCHAR},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <where>
      <if test="condition.depositSoDtlAttrId != null ">
        DEPOSIT_SO_DTL_ATTR_ID = #{condition.depositSoDtlAttrId, jdbcType=BIGINT }
      </if>
      <if test="condition.depositSoDetailId != null ">
        and DEPOSIT_SO_DETAIL_ID = #{condition.depositSoDetailId, jdbcType=BIGINT }
      </if>
      <if test="condition.attrType != null ">
        and ATTR_TYPE = #{condition.attrType, jdbcType=INTEGER }
      </if>
      <if test="condition.attrValue != null and condition.attrValue != ''">
        and ATTR_VALUE = #{condition.attrValue, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </update>
</mapper>