<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.DiscountTimeLimitMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.DiscountTimeLimitDO">
    <id column="DISCOUNT_TIME_LIMIT_ID" jdbcType="INTEGER" property="discountTimeLimitId"/>
    <result column="DISCOUNT_TIME_NAME" jdbcType="VARCHAR" property="discountTimeName"/>
    <result column="DISCOUNT_EXPRESS_ID" jdbcType="INTEGER" property="discountExpressId"/>
    <result column="DISCOUNT_CYCLE_TYPE" jdbcType="INTEGER" property="discountCycleType"/>
    <result column="BEGIN_TIME_TYPE" jdbcType="INTEGER" property="beginTimeType"/>
    <result column="BEGIN_CALC_OBJECT" jdbcType="INTEGER" property="beginCalcObject"/>
    <result column="BEGIN_TIME_DURATION" jdbcType="DOUBLE" property="beginTimeDuration"/>
    <result column="END_TIME_TYPE" jdbcType="INTEGER" property="endTimeType"/>
    <result column="END_CALC_OBJECT" jdbcType="INTEGER" property="endCalcObject"/>
    <result column="END_TIME_DURATION" jdbcType="DOUBLE" property="endTimeDuration"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
  </resultMap>

  <sql id="CommonColumns">
          DISCOUNT_TIME_LIMIT_ID, 
          DISCOUNT_TIME_NAME, 
          DISCOUNT_EXPRESS_ID, 
          DISCOUNT_CYCLE_TYPE, 
          BEGIN_TIME_TYPE, 
          BEGIN_CALC_OBJECT, 
          BEGIN_TIME_DURATION, 
          END_TIME_TYPE, 
          END_CALC_OBJECT, 
          END_TIME_DURATION, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          UPDATE_DATE, 
          STATUS_DATE
  </sql>

  <sql id="CommonColumnsKey">
          DISCOUNT_TIME_NAME, 
          DISCOUNT_EXPRESS_ID, 
          DISCOUNT_CYCLE_TYPE, 
          BEGIN_TIME_TYPE, 
          BEGIN_CALC_OBJECT, 
          BEGIN_TIME_DURATION, 
          END_TIME_TYPE, 
          END_CALC_OBJECT, 
          END_TIME_DURATION, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          UPDATE_DATE, 
          STATUS_DATE
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="discountTimeLimitId != null ">
        DISCOUNT_TIME_LIMIT_ID = #{discountTimeLimitId, jdbcType=INTEGER }
      </if>
      <if test="discountTimeName != null and discountTimeName != ''">
        and DISCOUNT_TIME_NAME = #{discountTimeName, jdbcType=VARCHAR }
      </if>
      <if test="discountExpressId != null ">
        and DISCOUNT_EXPRESS_ID = #{discountExpressId, jdbcType=INTEGER }
      </if>
      <if test="discountCycleType != null ">
        and DISCOUNT_CYCLE_TYPE = #{discountCycleType, jdbcType=INTEGER }
      </if>
      <if test="beginTimeType != null ">
        and BEGIN_TIME_TYPE = #{beginTimeType, jdbcType=INTEGER }
      </if>
      <if test="beginCalcObject != null ">
        and BEGIN_CALC_OBJECT = #{beginCalcObject, jdbcType=INTEGER }
      </if>
      <if test="beginTimeDuration != null ">
        and BEGIN_TIME_DURATION = #{beginTimeDuration, jdbcType=DOUBLE }
      </if>
      <if test="endTimeType != null ">
        and END_TIME_TYPE = #{endTimeType, jdbcType=INTEGER }
      </if>
      <if test="endCalcObject != null ">
        and END_CALC_OBJECT = #{endCalcObject, jdbcType=INTEGER }
      </if>
      <if test="endTimeDuration != null ">
        and END_TIME_DURATION = #{endTimeDuration, jdbcType=DOUBLE }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.DiscountTimeLimitDO" resultType="java.lang.Integer">
      select count(*) from DISCOUNT_TIME_LIMIT
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from DISCOUNT_TIME_LIMIT
        where 
           DISCOUNT_TIME_LIMIT_ID = #{discountTimeLimitId,jdbcType=INTEGER}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  DISCOUNT_TIME_LIMIT 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="discountTimeLimitId">
      insert into  DISCOUNT_TIME_LIMIT ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{discountTimeName,jdbcType=VARCHAR}, 
        #{discountExpressId,jdbcType=INTEGER}, 
        #{discountCycleType,jdbcType=INTEGER}, 
        #{beginTimeType,jdbcType=INTEGER}, 
        #{beginCalcObject,jdbcType=INTEGER}, 
        #{beginTimeDuration,jdbcType=DOUBLE}, 
        #{endTimeType,jdbcType=INTEGER}, 
        #{endCalcObject,jdbcType=INTEGER}, 
        #{endTimeDuration,jdbcType=DOUBLE}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <insert id="insert">
      insert into  DISCOUNT_TIME_LIMIT ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{discountTimeLimitId,jdbcType=INTEGER}, 
        #{discountTimeName,jdbcType=VARCHAR}, 
        #{discountExpressId,jdbcType=INTEGER}, 
        #{discountCycleType,jdbcType=INTEGER}, 
        #{beginTimeType,jdbcType=INTEGER}, 
        #{beginCalcObject,jdbcType=INTEGER}, 
        #{beginTimeDuration,jdbcType=DOUBLE}, 
        #{endTimeType,jdbcType=INTEGER}, 
        #{endCalcObject,jdbcType=INTEGER}, 
        #{endTimeDuration,jdbcType=DOUBLE}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from DISCOUNT_TIME_LIMIT  
        where
           DISCOUNT_TIME_LIMIT_ID = #{discountTimeLimitId,jdbcType=INTEGER}
  </delete>

  <delete id="delete">
      delete from DISCOUNT_TIME_LIMIT
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  DISCOUNT_TIME_LIMIT
    <trim prefix="set" suffixOverrides=",">
      <if test="discountTimeName != null">
         DISCOUNT_TIME_NAME = #{discountTimeName,jdbcType=VARCHAR},
      </if>
      <if test="discountExpressId != null">
         DISCOUNT_EXPRESS_ID = #{discountExpressId,jdbcType=INTEGER},
      </if>
      <if test="discountCycleType != null">
         DISCOUNT_CYCLE_TYPE = #{discountCycleType,jdbcType=INTEGER},
      </if>
      <if test="beginTimeType != null">
         BEGIN_TIME_TYPE = #{beginTimeType,jdbcType=INTEGER},
      </if>
      <if test="beginCalcObject != null">
         BEGIN_CALC_OBJECT = #{beginCalcObject,jdbcType=INTEGER},
      </if>
      <if test="beginTimeDuration != null">
         BEGIN_TIME_DURATION = #{beginTimeDuration,jdbcType=DOUBLE},
      </if>
      <if test="endTimeType != null">
         END_TIME_TYPE = #{endTimeType,jdbcType=INTEGER},
      </if>
      <if test="endCalcObject != null">
         END_CALC_OBJECT = #{endCalcObject,jdbcType=INTEGER},
      </if>
      <if test="endTimeDuration != null">
         END_TIME_DURATION = #{endTimeDuration,jdbcType=DOUBLE},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
        where 
           DISCOUNT_TIME_LIMIT_ID = #{discountTimeLimitId,jdbcType=INTEGER}
  </update>

  <update id="updateBySelective">
      update DISCOUNT_TIME_LIMIT
    <trim prefix="set" suffixOverrides=",">
      <if test="record.discountTimeLimitId != null">
        DISCOUNT_TIME_LIMIT_ID = #{record.discountTimeLimitId,jdbcType=INTEGER},
      </if>
      <if test="record.discountTimeName != null">
        DISCOUNT_TIME_NAME = #{record.discountTimeName,jdbcType=VARCHAR},
      </if>
      <if test="record.discountExpressId != null">
        DISCOUNT_EXPRESS_ID = #{record.discountExpressId,jdbcType=INTEGER},
      </if>
      <if test="record.discountCycleType != null">
        DISCOUNT_CYCLE_TYPE = #{record.discountCycleType,jdbcType=INTEGER},
      </if>
      <if test="record.beginTimeType != null">
        BEGIN_TIME_TYPE = #{record.beginTimeType,jdbcType=INTEGER},
      </if>
      <if test="record.beginCalcObject != null">
        BEGIN_CALC_OBJECT = #{record.beginCalcObject,jdbcType=INTEGER},
      </if>
      <if test="record.beginTimeDuration != null">
        BEGIN_TIME_DURATION = #{record.beginTimeDuration,jdbcType=DOUBLE},
      </if>
      <if test="record.endTimeType != null">
        END_TIME_TYPE = #{record.endTimeType,jdbcType=INTEGER},
      </if>
      <if test="record.endCalcObject != null">
        END_CALC_OBJECT = #{record.endCalcObject,jdbcType=INTEGER},
      </if>
      <if test="record.endTimeDuration != null">
        END_TIME_DURATION = #{record.endTimeDuration,jdbcType=DOUBLE},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <where>
      <if test="condition.discountTimeLimitId != null ">
        DISCOUNT_TIME_LIMIT_ID = #{condition.discountTimeLimitId, jdbcType=INTEGER }
      </if>
      <if test="condition.discountTimeName != null and condition.discountTimeName != ''">
        and DISCOUNT_TIME_NAME = #{condition.discountTimeName, jdbcType=VARCHAR }
      </if>
      <if test="condition.discountExpressId != null ">
        and DISCOUNT_EXPRESS_ID = #{condition.discountExpressId, jdbcType=INTEGER }
      </if>
      <if test="condition.discountCycleType != null ">
        and DISCOUNT_CYCLE_TYPE = #{condition.discountCycleType, jdbcType=INTEGER }
      </if>
      <if test="condition.beginTimeType != null ">
        and BEGIN_TIME_TYPE = #{condition.beginTimeType, jdbcType=INTEGER }
      </if>
      <if test="condition.beginCalcObject != null ">
        and BEGIN_CALC_OBJECT = #{condition.beginCalcObject, jdbcType=INTEGER }
      </if>
      <if test="condition.beginTimeDuration != null ">
        and BEGIN_TIME_DURATION = #{condition.beginTimeDuration, jdbcType=DOUBLE }
      </if>
      <if test="condition.endTimeType != null ">
        and END_TIME_TYPE = #{condition.endTimeType, jdbcType=INTEGER }
      </if>
      <if test="condition.endCalcObject != null ">
        and END_CALC_OBJECT = #{condition.endCalcObject, jdbcType=INTEGER }
      </if>
      <if test="condition.endTimeDuration != null ">
        and END_TIME_DURATION = #{condition.endTimeDuration, jdbcType=DOUBLE }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </update>
</mapper>