<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.EventTypeAttrRelaMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.EventTypeAttrRelaDO">
    <id column="EVENT_ATTR_RELA_ID" jdbcType="BIGINT" property="eventAttrRelaId"/>
    <result column="SETT_OWNER_ID" jdbcType="INTEGER" property="settOwnerId"/>
    <result column="SETT_OWNER_ATTR_ID" jdbcType="INTEGER" property="settOwnerAttrId"/>
    <result column="EVENT_TYPE_ID" jdbcType="INTEGER" property="eventTypeId"/>
    <result column="REQUIRED_FLAG" jdbcType="INTEGER" property="requiredFlag"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
  </resultMap>

  <sql id="CommonColumns">
          EVENT_ATTR_RELA_ID, 
          SETT_OWNER_ID, 
          SETT_OWNER_ATTR_ID, 
          EVENT_TYPE_ID, 
          REQUIRED_FLAG, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          UPDATE_DATE, 
          STATUS_DATE
  </sql>

  <sql id="CommonColumnsKey">
          SETT_OWNER_ID, 
          SETT_OWNER_ATTR_ID, 
          EVENT_TYPE_ID, 
          REQUIRED_FLAG, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          UPDATE_DATE, 
          STATUS_DATE
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="eventAttrRelaId != null ">
        EVENT_ATTR_RELA_ID = #{eventAttrRelaId, jdbcType=BIGINT }
      </if>
      <if test="settOwnerId != null ">
        and SETT_OWNER_ID = #{settOwnerId, jdbcType=INTEGER }
      </if>
      <if test="settOwnerAttrId != null ">
        and SETT_OWNER_ATTR_ID = #{settOwnerAttrId, jdbcType=INTEGER }
      </if>
      <if test="eventTypeId != null ">
        and EVENT_TYPE_ID = #{eventTypeId, jdbcType=INTEGER }
      </if>
      <if test="requiredFlag != null ">
        and REQUIRED_FLAG = #{requiredFlag, jdbcType=INTEGER }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.EventTypeAttrRelaDO" resultType="java.lang.Integer">
      select count(*) from EVENT_TYPE_ATTR_RELA
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from EVENT_TYPE_ATTR_RELA
        where 
           EVENT_ATTR_RELA_ID = #{eventAttrRelaId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  EVENT_TYPE_ATTR_RELA 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="eventAttrRelaId">
      insert into  EVENT_TYPE_ATTR_RELA ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{settOwnerId,jdbcType=INTEGER}, 
        #{settOwnerAttrId,jdbcType=INTEGER}, 
        #{eventTypeId,jdbcType=INTEGER}, 
        #{requiredFlag,jdbcType=INTEGER}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <insert id="insert">
      insert into  EVENT_TYPE_ATTR_RELA ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{eventAttrRelaId,jdbcType=BIGINT}, 
        #{settOwnerId,jdbcType=INTEGER}, 
        #{settOwnerAttrId,jdbcType=INTEGER}, 
        #{eventTypeId,jdbcType=INTEGER}, 
        #{requiredFlag,jdbcType=INTEGER}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from EVENT_TYPE_ATTR_RELA  
        where
           EVENT_ATTR_RELA_ID = #{eventAttrRelaId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from EVENT_TYPE_ATTR_RELA
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  EVENT_TYPE_ATTR_RELA
    <trim prefix="set" suffixOverrides=",">
      <if test="settOwnerId != null">
         SETT_OWNER_ID = #{settOwnerId,jdbcType=INTEGER},
      </if>
      <if test="settOwnerAttrId != null">
         SETT_OWNER_ATTR_ID = #{settOwnerAttrId,jdbcType=INTEGER},
      </if>
      <if test="eventTypeId != null">
         EVENT_TYPE_ID = #{eventTypeId,jdbcType=INTEGER},
      </if>
      <if test="requiredFlag != null">
         REQUIRED_FLAG = #{requiredFlag,jdbcType=INTEGER},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
        where 
           EVENT_ATTR_RELA_ID = #{eventAttrRelaId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update EVENT_TYPE_ATTR_RELA
    <trim prefix="set" suffixOverrides=",">
      <if test="record.eventAttrRelaId != null">
        EVENT_ATTR_RELA_ID = #{record.eventAttrRelaId,jdbcType=BIGINT},
      </if>
      <if test="record.settOwnerId != null">
        SETT_OWNER_ID = #{record.settOwnerId,jdbcType=INTEGER},
      </if>
      <if test="record.settOwnerAttrId != null">
        SETT_OWNER_ATTR_ID = #{record.settOwnerAttrId,jdbcType=INTEGER},
      </if>
      <if test="record.eventTypeId != null">
        EVENT_TYPE_ID = #{record.eventTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.requiredFlag != null">
        REQUIRED_FLAG = #{record.requiredFlag,jdbcType=INTEGER},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <where>
      <if test="condition.eventAttrRelaId != null ">
        EVENT_ATTR_RELA_ID = #{condition.eventAttrRelaId, jdbcType=BIGINT }
      </if>
      <if test="condition.settOwnerId != null ">
        and SETT_OWNER_ID = #{condition.settOwnerId, jdbcType=INTEGER }
      </if>
      <if test="condition.settOwnerAttrId != null ">
        and SETT_OWNER_ATTR_ID = #{condition.settOwnerAttrId, jdbcType=INTEGER }
      </if>
      <if test="condition.eventTypeId != null ">
        and EVENT_TYPE_ID = #{condition.eventTypeId, jdbcType=INTEGER }
      </if>
      <if test="condition.requiredFlag != null ">
        and REQUIRED_FLAG = #{condition.requiredFlag, jdbcType=INTEGER }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </update>
</mapper>