<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.EventTypeMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.EventTypeDO">
    <id column="EVT_TYPE_ID" jdbcType="BIGINT" property="evtTypeId"/>
    <result column="EVT_TYPE_NBR" jdbcType="VARCHAR" property="evtTypeNbr"/>
    <result column="EVT_TYPE_NAME" jdbcType="VARCHAR" property="evtTypeName"/>
    <result column="PAR_EVT_TYPE_ID" jdbcType="BIGINT" property="parEvtTypeId"/>
    <result column="EVT_TYPE_DESC" jdbcType="VARCHAR" property="evtTypeDesc"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          EVT_TYPE_ID, 
          EVT_TYPE_NBR, 
          EVT_TYPE_NAME, 
          PAR_EVT_TYPE_ID, 
          EVT_TYPE_DESC, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          EVT_TYPE_NBR, 
          EVT_TYPE_NAME, 
          PAR_EVT_TYPE_ID, 
          EVT_TYPE_DESC, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="evtTypeId != null ">
        EVT_TYPE_ID = #{evtTypeId, jdbcType=BIGINT }
      </if>
      <if test="evtTypeNbr != null and evtTypeNbr != ''">
        and EVT_TYPE_NBR = #{evtTypeNbr, jdbcType=VARCHAR }
      </if>
      <if test="evtTypeName != null and evtTypeName != ''">
        and EVT_TYPE_NAME = #{evtTypeName, jdbcType=VARCHAR }
      </if>
      <if test="parEvtTypeId != null ">
        and PAR_EVT_TYPE_ID = #{parEvtTypeId, jdbcType=BIGINT }
      </if>
      <if test="evtTypeDesc != null and evtTypeDesc != ''">
        and EVT_TYPE_DESC = #{evtTypeDesc, jdbcType=VARCHAR }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.EventTypeDO" resultType="java.lang.Integer">
      select count(*) from EVENT_TYPE
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from EVENT_TYPE
        where 
           EVT_TYPE_ID = #{evtTypeId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  EVENT_TYPE 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="evtTypeId">
      insert into  EVENT_TYPE ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{evtTypeNbr,jdbcType=VARCHAR}, 
        #{evtTypeName,jdbcType=VARCHAR}, 
        #{parEvtTypeId,jdbcType=BIGINT}, 
        #{evtTypeDesc,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  EVENT_TYPE ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{evtTypeId,jdbcType=BIGINT}, 
        #{evtTypeNbr,jdbcType=VARCHAR}, 
        #{evtTypeName,jdbcType=VARCHAR}, 
        #{parEvtTypeId,jdbcType=BIGINT}, 
        #{evtTypeDesc,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from EVENT_TYPE  
        where
           EVT_TYPE_ID = #{evtTypeId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from EVENT_TYPE
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  EVENT_TYPE
    <trim prefix="set" suffixOverrides=",">
      <if test="evtTypeNbr != null">
         EVT_TYPE_NBR = #{evtTypeNbr,jdbcType=VARCHAR},
      </if>
      <if test="evtTypeName != null">
         EVT_TYPE_NAME = #{evtTypeName,jdbcType=VARCHAR},
      </if>
      <if test="parEvtTypeId != null">
         PAR_EVT_TYPE_ID = #{parEvtTypeId,jdbcType=BIGINT},
      </if>
      <if test="evtTypeDesc != null">
         EVT_TYPE_DESC = #{evtTypeDesc,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           EVT_TYPE_ID = #{evtTypeId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update EVENT_TYPE
    <trim prefix="set" suffixOverrides=",">
      <if test="record.evtTypeId != null">
        EVT_TYPE_ID = #{record.evtTypeId,jdbcType=BIGINT},
      </if>
      <if test="record.evtTypeNbr != null">
        EVT_TYPE_NBR = #{record.evtTypeNbr,jdbcType=VARCHAR},
      </if>
      <if test="record.evtTypeName != null">
        EVT_TYPE_NAME = #{record.evtTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.parEvtTypeId != null">
        PAR_EVT_TYPE_ID = #{record.parEvtTypeId,jdbcType=BIGINT},
      </if>
      <if test="record.evtTypeDesc != null">
        EVT_TYPE_DESC = #{record.evtTypeDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.evtTypeId != null ">
        EVT_TYPE_ID = #{condition.evtTypeId, jdbcType=BIGINT }
      </if>
      <if test="condition.evtTypeNbr != null and condition.evtTypeNbr != ''">
        and EVT_TYPE_NBR = #{condition.evtTypeNbr, jdbcType=VARCHAR }
      </if>
      <if test="condition.evtTypeName != null and condition.evtTypeName != ''">
        and EVT_TYPE_NAME = #{condition.evtTypeName, jdbcType=VARCHAR }
      </if>
      <if test="condition.parEvtTypeId != null ">
        and PAR_EVT_TYPE_ID = #{condition.parEvtTypeId, jdbcType=BIGINT }
      </if>
      <if test="condition.evtTypeDesc != null and condition.evtTypeDesc != ''">
        and EVT_TYPE_DESC = #{condition.evtTypeDesc, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>