<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.EventSorceMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.EventSorceDO">
    <id column="EVT_SRC_ID" jdbcType="INTEGER" property="evtSrcId"/>
    <result column="EVT_SRC_CODE" jdbcType="VARCHAR" property="evtSrcCode"/>
    <result column="EVT_SRC_NAME" jdbcType="VARCHAR" property="evtSrcName"/>
    <result column="EVT_SRC_DESC" jdbcType="VARCHAR" property="evtSrcDesc"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="REGION_ID" jdbcType="BIGINT" property="regionId"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          EVT_SRC_ID, 
          EVT_SRC_CODE, 
          EVT_SRC_NAME, 
          EVT_SRC_DESC, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          UPDATE_DATE, 
          REGION_ID, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          EVT_SRC_CODE, 
          EVT_SRC_NAME, 
          EVT_SRC_DESC, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          UPDATE_DATE, 
          REGION_ID, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="evtSrcId != null ">
        EVT_SRC_ID = #{evtSrcId, jdbcType=INTEGER }
      </if>
      <if test="evtSrcCode != null and evtSrcCode != ''">
        and EVT_SRC_CODE = #{evtSrcCode, jdbcType=VARCHAR }
      </if>
      <if test="evtSrcName != null and evtSrcName != ''">
        and EVT_SRC_NAME = #{evtSrcName, jdbcType=VARCHAR }
      </if>
      <if test="evtSrcDesc != null and evtSrcDesc != ''">
        and EVT_SRC_DESC = #{evtSrcDesc, jdbcType=VARCHAR }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="regionId != null ">
        and REGION_ID = #{regionId, jdbcType=BIGINT }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.EventSorceDO" resultType="java.lang.Integer">
      select count(*) from EVENT_SORCE
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from EVENT_SORCE
        where 
           EVT_SRC_ID = #{evtSrcId,jdbcType=INTEGER}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  EVENT_SORCE 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="evtSrcId">
      insert into  EVENT_SORCE ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{evtSrcCode,jdbcType=VARCHAR}, 
        #{evtSrcName,jdbcType=VARCHAR}, 
        #{evtSrcDesc,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{regionId,jdbcType=BIGINT}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  EVENT_SORCE ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{evtSrcId,jdbcType=INTEGER}, 
        #{evtSrcCode,jdbcType=VARCHAR}, 
        #{evtSrcName,jdbcType=VARCHAR}, 
        #{evtSrcDesc,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{regionId,jdbcType=BIGINT}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from EVENT_SORCE  
        where
           EVT_SRC_ID = #{evtSrcId,jdbcType=INTEGER}
  </delete>

  <delete id="delete">
      delete from EVENT_SORCE
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  EVENT_SORCE
    <trim prefix="set" suffixOverrides=",">
      <if test="evtSrcCode != null">
         EVT_SRC_CODE = #{evtSrcCode,jdbcType=VARCHAR},
      </if>
      <if test="evtSrcName != null">
         EVT_SRC_NAME = #{evtSrcName,jdbcType=VARCHAR},
      </if>
      <if test="evtSrcDesc != null">
         EVT_SRC_DESC = #{evtSrcDesc,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="regionId != null">
         REGION_ID = #{regionId,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           EVT_SRC_ID = #{evtSrcId,jdbcType=INTEGER}
  </update>

  <update id="updateBySelective">
      update EVENT_SORCE
    <trim prefix="set" suffixOverrides=",">
      <if test="record.evtSrcId != null">
        EVT_SRC_ID = #{record.evtSrcId,jdbcType=INTEGER},
      </if>
      <if test="record.evtSrcCode != null">
        EVT_SRC_CODE = #{record.evtSrcCode,jdbcType=VARCHAR},
      </if>
      <if test="record.evtSrcName != null">
        EVT_SRC_NAME = #{record.evtSrcName,jdbcType=VARCHAR},
      </if>
      <if test="record.evtSrcDesc != null">
        EVT_SRC_DESC = #{record.evtSrcDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.regionId != null">
        REGION_ID = #{record.regionId,jdbcType=BIGINT},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.evtSrcId != null ">
        EVT_SRC_ID = #{condition.evtSrcId, jdbcType=INTEGER }
      </if>
      <if test="condition.evtSrcCode != null and condition.evtSrcCode != ''">
        and EVT_SRC_CODE = #{condition.evtSrcCode, jdbcType=VARCHAR }
      </if>
      <if test="condition.evtSrcName != null and condition.evtSrcName != ''">
        and EVT_SRC_NAME = #{condition.evtSrcName, jdbcType=VARCHAR }
      </if>
      <if test="condition.evtSrcDesc != null and condition.evtSrcDesc != ''">
        and EVT_SRC_DESC = #{condition.evtSrcDesc, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.regionId != null ">
        and REGION_ID = #{condition.regionId, jdbcType=BIGINT }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>