<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.EventMatchRulMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.EventMatchRulDO">
    <id column="EVT_MATCH_RUL_ID" jdbcType="BIGINT" property="evtMatchRulId"/>
    <result column="EVENT_ID" jdbcType="BIGINT" property="eventId"/>
    <result column="EVT_RUL_NAME" jdbcType="VARCHAR" property="evtRulName"/>
    <result column="EVT_RUL_DESC" jdbcType="VARCHAR" property="evtRulDesc"/>
    <result column="EVT_RUL_HANDLE_CLASS" jdbcType="VARCHAR" property="evtRulHandleClass"/>
    <result column="EVT_RUL_EXPRESSION" jdbcType="VARCHAR" property="evtRulExpression"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          EVT_MATCH_RUL_ID, 
          EVENT_ID, 
          EVT_RUL_NAME, 
          EVT_RUL_DESC, 
          EVT_RUL_HANDLE_CLASS, 
          EVT_RUL_EXPRESSION, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          EVENT_ID, 
          EVT_RUL_NAME, 
          EVT_RUL_DESC, 
          EVT_RUL_HANDLE_CLASS, 
          EVT_RUL_EXPRESSION, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="evtMatchRulId != null ">
        EVT_MATCH_RUL_ID = #{evtMatchRulId, jdbcType=BIGINT }
      </if>
      <if test="eventId != null ">
        and EVENT_ID = #{eventId, jdbcType=BIGINT }
      </if>
      <if test="evtRulName != null and evtRulName != ''">
        and EVT_RUL_NAME = #{evtRulName, jdbcType=VARCHAR }
      </if>
      <if test="evtRulDesc != null and evtRulDesc != ''">
        and EVT_RUL_DESC = #{evtRulDesc, jdbcType=VARCHAR }
      </if>
      <if test="evtRulHandleClass != null and evtRulHandleClass != ''">
        and EVT_RUL_HANDLE_CLASS = #{evtRulHandleClass, jdbcType=VARCHAR }
      </if>
      <if test="evtRulExpression != null and evtRulExpression != ''">
        and EVT_RUL_EXPRESSION = #{evtRulExpression, jdbcType=VARCHAR }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.EventMatchRulDO" resultType="java.lang.Integer">
      select count(*) from EVENT_MATCH_RUL
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from EVENT_MATCH_RUL
        where 
           EVT_MATCH_RUL_ID = #{evtMatchRulId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  EVENT_MATCH_RUL 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="evtMatchRulId">
      insert into  EVENT_MATCH_RUL ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{eventId,jdbcType=BIGINT}, 
        #{evtRulName,jdbcType=VARCHAR}, 
        #{evtRulDesc,jdbcType=VARCHAR}, 
        #{evtRulHandleClass,jdbcType=VARCHAR}, 
        #{evtRulExpression,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  EVENT_MATCH_RUL ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{evtMatchRulId,jdbcType=BIGINT}, 
        #{eventId,jdbcType=BIGINT}, 
        #{evtRulName,jdbcType=VARCHAR}, 
        #{evtRulDesc,jdbcType=VARCHAR}, 
        #{evtRulHandleClass,jdbcType=VARCHAR}, 
        #{evtRulExpression,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from EVENT_MATCH_RUL  
        where
           EVT_MATCH_RUL_ID = #{evtMatchRulId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from EVENT_MATCH_RUL
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  EVENT_MATCH_RUL
    <trim prefix="set" suffixOverrides=",">
      <if test="eventId != null">
         EVENT_ID = #{eventId,jdbcType=BIGINT},
      </if>
      <if test="evtRulName != null">
         EVT_RUL_NAME = #{evtRulName,jdbcType=VARCHAR},
      </if>
      <if test="evtRulDesc != null">
         EVT_RUL_DESC = #{evtRulDesc,jdbcType=VARCHAR},
      </if>
      <if test="evtRulHandleClass != null">
         EVT_RUL_HANDLE_CLASS = #{evtRulHandleClass,jdbcType=VARCHAR},
      </if>
      <if test="evtRulExpression != null">
         EVT_RUL_EXPRESSION = #{evtRulExpression,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           EVT_MATCH_RUL_ID = #{evtMatchRulId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update EVENT_MATCH_RUL
    <trim prefix="set" suffixOverrides=",">
      <if test="record.evtMatchRulId != null">
        EVT_MATCH_RUL_ID = #{record.evtMatchRulId,jdbcType=BIGINT},
      </if>
      <if test="record.eventId != null">
        EVENT_ID = #{record.eventId,jdbcType=BIGINT},
      </if>
      <if test="record.evtRulName != null">
        EVT_RUL_NAME = #{record.evtRulName,jdbcType=VARCHAR},
      </if>
      <if test="record.evtRulDesc != null">
        EVT_RUL_DESC = #{record.evtRulDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.evtRulHandleClass != null">
        EVT_RUL_HANDLE_CLASS = #{record.evtRulHandleClass,jdbcType=VARCHAR},
      </if>
      <if test="record.evtRulExpression != null">
        EVT_RUL_EXPRESSION = #{record.evtRulExpression,jdbcType=VARCHAR},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.evtMatchRulId != null ">
        EVT_MATCH_RUL_ID = #{condition.evtMatchRulId, jdbcType=BIGINT }
      </if>
      <if test="condition.eventId != null ">
        and EVENT_ID = #{condition.eventId, jdbcType=BIGINT }
      </if>
      <if test="condition.evtRulName != null and condition.evtRulName != ''">
        and EVT_RUL_NAME = #{condition.evtRulName, jdbcType=VARCHAR }
      </if>
      <if test="condition.evtRulDesc != null and condition.evtRulDesc != ''">
        and EVT_RUL_DESC = #{condition.evtRulDesc, jdbcType=VARCHAR }
      </if>
      <if test="condition.evtRulHandleClass != null and condition.evtRulHandleClass != ''">
        and EVT_RUL_HANDLE_CLASS = #{condition.evtRulHandleClass, jdbcType=VARCHAR }
      </if>
      <if test="condition.evtRulExpression != null and condition.evtRulExpression != ''">
        and EVT_RUL_EXPRESSION = #{condition.evtRulExpression, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>