<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.ExchItemDiscountLogMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.ExchItemDiscountLogDO">
    <id column="EXCH_ITEM_DISCOUNT_ID" jdbcType="BIGINT" property="exchItemDiscountId"/>
    <result column="EXCH_ACCT_ITEM_ID" jdbcType="BIGINT" property="exchAcctItemId"/>
    <result column="ACCT_ID" jdbcType="BIGINT" property="acctId"/>
    <result column="PROD_INST_ID" jdbcType="BIGINT" property="prodInstId"/>
    <result column="DISCOUNT" jdbcType="BIGINT" property="discount"/>
    <result column="AGREE_STAFF_ID" jdbcType="BIGINT" property="agreeStaffId"/>
    <result column="AGREE_SERIAL_ID" jdbcType="BIGINT" property="agreeSerialId"/>
    <result column="AGREE_ORG_ID" jdbcType="BIGINT" property="agreeOrgId"/>
    <result column="ADJUST_REASON" jdbcType="VARCHAR" property="adjustReason"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
  </resultMap>

  <sql id="CommonColumns">
          EXCH_ITEM_DISCOUNT_ID, 
          EXCH_ACCT_ITEM_ID, 
          ACCT_ID, 
          PROD_INST_ID, 
          DISCOUNT, 
          AGREE_STAFF_ID, 
          AGREE_SERIAL_ID, 
          AGREE_ORG_ID, 
          ADJUST_REASON, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          UPDATE_DATE, 
          STATUS_CD, 
          STATUS_DATE
  </sql>

  <sql id="CommonColumnsKey">
          EXCH_ACCT_ITEM_ID, 
          ACCT_ID, 
          PROD_INST_ID, 
          DISCOUNT, 
          AGREE_STAFF_ID, 
          AGREE_SERIAL_ID, 
          AGREE_ORG_ID, 
          ADJUST_REASON, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          UPDATE_DATE, 
          STATUS_CD, 
          STATUS_DATE
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="exchItemDiscountId != null ">
        EXCH_ITEM_DISCOUNT_ID = #{exchItemDiscountId, jdbcType=BIGINT }
      </if>
      <if test="exchAcctItemId != null ">
        and EXCH_ACCT_ITEM_ID = #{exchAcctItemId, jdbcType=BIGINT }
      </if>
      <if test="acctId != null ">
        and ACCT_ID = #{acctId, jdbcType=BIGINT }
      </if>
      <if test="prodInstId != null ">
        and PROD_INST_ID = #{prodInstId, jdbcType=BIGINT }
      </if>
      <if test="discount != null ">
        and DISCOUNT = #{discount, jdbcType=BIGINT }
      </if>
      <if test="agreeStaffId != null ">
        and AGREE_STAFF_ID = #{agreeStaffId, jdbcType=BIGINT }
      </if>
      <if test="agreeSerialId != null ">
        and AGREE_SERIAL_ID = #{agreeSerialId, jdbcType=BIGINT }
      </if>
      <if test="agreeOrgId != null ">
        and AGREE_ORG_ID = #{agreeOrgId, jdbcType=BIGINT }
      </if>
      <if test="adjustReason != null and adjustReason != ''">
        and ADJUST_REASON = #{adjustReason, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.ExchItemDiscountLogDO" resultType="java.lang.Integer">
      select count(*) from EXCH_ITEM_DISCOUNT_LOG
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from EXCH_ITEM_DISCOUNT_LOG
        where 
           EXCH_ITEM_DISCOUNT_ID = #{exchItemDiscountId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  EXCH_ITEM_DISCOUNT_LOG 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="exchItemDiscountId">
      insert into  EXCH_ITEM_DISCOUNT_LOG ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{exchAcctItemId,jdbcType=BIGINT}, 
        #{acctId,jdbcType=BIGINT}, 
        #{prodInstId,jdbcType=BIGINT}, 
        #{discount,jdbcType=BIGINT}, 
        #{agreeStaffId,jdbcType=BIGINT}, 
        #{agreeSerialId,jdbcType=BIGINT}, 
        #{agreeOrgId,jdbcType=BIGINT}, 
        #{adjustReason,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <insert id="insert">
      insert into  EXCH_ITEM_DISCOUNT_LOG ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{exchItemDiscountId,jdbcType=BIGINT}, 
        #{exchAcctItemId,jdbcType=BIGINT}, 
        #{acctId,jdbcType=BIGINT}, 
        #{prodInstId,jdbcType=BIGINT}, 
        #{discount,jdbcType=BIGINT}, 
        #{agreeStaffId,jdbcType=BIGINT}, 
        #{agreeSerialId,jdbcType=BIGINT}, 
        #{agreeOrgId,jdbcType=BIGINT}, 
        #{adjustReason,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from EXCH_ITEM_DISCOUNT_LOG  
        where
           EXCH_ITEM_DISCOUNT_ID = #{exchItemDiscountId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from EXCH_ITEM_DISCOUNT_LOG
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  EXCH_ITEM_DISCOUNT_LOG
    <trim prefix="set" suffixOverrides=",">
      <if test="exchAcctItemId != null">
         EXCH_ACCT_ITEM_ID = #{exchAcctItemId,jdbcType=BIGINT},
      </if>
      <if test="acctId != null">
         ACCT_ID = #{acctId,jdbcType=BIGINT},
      </if>
      <if test="prodInstId != null">
         PROD_INST_ID = #{prodInstId,jdbcType=BIGINT},
      </if>
      <if test="discount != null">
         DISCOUNT = #{discount,jdbcType=BIGINT},
      </if>
      <if test="agreeStaffId != null">
         AGREE_STAFF_ID = #{agreeStaffId,jdbcType=BIGINT},
      </if>
      <if test="agreeSerialId != null">
         AGREE_SERIAL_ID = #{agreeSerialId,jdbcType=BIGINT},
      </if>
      <if test="agreeOrgId != null">
         AGREE_ORG_ID = #{agreeOrgId,jdbcType=BIGINT},
      </if>
      <if test="adjustReason != null">
         ADJUST_REASON = #{adjustReason,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
        where 
           EXCH_ITEM_DISCOUNT_ID = #{exchItemDiscountId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update EXCH_ITEM_DISCOUNT_LOG
    <trim prefix="set" suffixOverrides=",">
      <if test="record.exchItemDiscountId != null">
        EXCH_ITEM_DISCOUNT_ID = #{record.exchItemDiscountId,jdbcType=BIGINT},
      </if>
      <if test="record.exchAcctItemId != null">
        EXCH_ACCT_ITEM_ID = #{record.exchAcctItemId,jdbcType=BIGINT},
      </if>
      <if test="record.acctId != null">
        ACCT_ID = #{record.acctId,jdbcType=BIGINT},
      </if>
      <if test="record.prodInstId != null">
        PROD_INST_ID = #{record.prodInstId,jdbcType=BIGINT},
      </if>
      <if test="record.discount != null">
        DISCOUNT = #{record.discount,jdbcType=BIGINT},
      </if>
      <if test="record.agreeStaffId != null">
        AGREE_STAFF_ID = #{record.agreeStaffId,jdbcType=BIGINT},
      </if>
      <if test="record.agreeSerialId != null">
        AGREE_SERIAL_ID = #{record.agreeSerialId,jdbcType=BIGINT},
      </if>
      <if test="record.agreeOrgId != null">
        AGREE_ORG_ID = #{record.agreeOrgId,jdbcType=BIGINT},
      </if>
      <if test="record.adjustReason != null">
        ADJUST_REASON = #{record.adjustReason,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <where>
      <if test="condition.exchItemDiscountId != null ">
        EXCH_ITEM_DISCOUNT_ID = #{condition.exchItemDiscountId, jdbcType=BIGINT }
      </if>
      <if test="condition.exchAcctItemId != null ">
        and EXCH_ACCT_ITEM_ID = #{condition.exchAcctItemId, jdbcType=BIGINT }
      </if>
      <if test="condition.acctId != null ">
        and ACCT_ID = #{condition.acctId, jdbcType=BIGINT }
      </if>
      <if test="condition.prodInstId != null ">
        and PROD_INST_ID = #{condition.prodInstId, jdbcType=BIGINT }
      </if>
      <if test="condition.discount != null ">
        and DISCOUNT = #{condition.discount, jdbcType=BIGINT }
      </if>
      <if test="condition.agreeStaffId != null ">
        and AGREE_STAFF_ID = #{condition.agreeStaffId, jdbcType=BIGINT }
      </if>
      <if test="condition.agreeSerialId != null ">
        and AGREE_SERIAL_ID = #{condition.agreeSerialId, jdbcType=BIGINT }
      </if>
      <if test="condition.agreeOrgId != null ">
        and AGREE_ORG_ID = #{condition.agreeOrgId, jdbcType=BIGINT }
      </if>
      <if test="condition.adjustReason != null and condition.adjustReason != ''">
        and ADJUST_REASON = #{condition.adjustReason, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </update>
</mapper>