<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.FairProdApportionRateMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.FairProdApportionRateDO">
    <id column="PROD_APPORTION_RATE_ID" jdbcType="INTEGER" property="prodApportionRateId"/>
    <result column="PRODUCT_APPORTION_ID" jdbcType="INTEGER" property="productApportionId"/>
    <result column="APPORTION_OBJECT_ID" jdbcType="INTEGER" property="apportionObjectId"/>
    <result column="APPORTION_RATE" jdbcType="DOUBLE" property="apportionRate"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
  </resultMap>

  <sql id="CommonColumns">
          PROD_APPORTION_RATE_ID, 
          PRODUCT_APPORTION_ID, 
          APPORTION_OBJECT_ID, 
          APPORTION_RATE, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          UPDATE_DATE, 
          STATUS_DATE
  </sql>

  <sql id="CommonColumnsKey">
          PRODUCT_APPORTION_ID, 
          APPORTION_OBJECT_ID, 
          APPORTION_RATE, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          UPDATE_DATE, 
          STATUS_DATE
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="prodApportionRateId != null ">
        PROD_APPORTION_RATE_ID = #{prodApportionRateId, jdbcType=INTEGER }
      </if>
      <if test="productApportionId != null ">
        and PRODUCT_APPORTION_ID = #{productApportionId, jdbcType=INTEGER }
      </if>
      <if test="apportionObjectId != null ">
        and APPORTION_OBJECT_ID = #{apportionObjectId, jdbcType=INTEGER }
      </if>
      <if test="apportionRate != null ">
        and APPORTION_RATE = #{apportionRate, jdbcType=DOUBLE }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.FairProdApportionRateDO" resultType="java.lang.Integer">
      select count(*) from FAIR_PROD_APPORTION_RATE
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from FAIR_PROD_APPORTION_RATE
        where 
           PROD_APPORTION_RATE_ID = #{prodApportionRateId,jdbcType=INTEGER}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  FAIR_PROD_APPORTION_RATE 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="prodApportionRateId">
      insert into  FAIR_PROD_APPORTION_RATE ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{productApportionId,jdbcType=INTEGER}, 
        #{apportionObjectId,jdbcType=INTEGER}, 
        #{apportionRate,jdbcType=DOUBLE}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <insert id="insert">
      insert into  FAIR_PROD_APPORTION_RATE ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{prodApportionRateId,jdbcType=INTEGER}, 
        #{productApportionId,jdbcType=INTEGER}, 
        #{apportionObjectId,jdbcType=INTEGER}, 
        #{apportionRate,jdbcType=DOUBLE}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from FAIR_PROD_APPORTION_RATE  
        where
           PROD_APPORTION_RATE_ID = #{prodApportionRateId,jdbcType=INTEGER}
  </delete>

  <delete id="delete">
      delete from FAIR_PROD_APPORTION_RATE
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  FAIR_PROD_APPORTION_RATE
    <trim prefix="set" suffixOverrides=",">
      <if test="productApportionId != null">
         PRODUCT_APPORTION_ID = #{productApportionId,jdbcType=INTEGER},
      </if>
      <if test="apportionObjectId != null">
         APPORTION_OBJECT_ID = #{apportionObjectId,jdbcType=INTEGER},
      </if>
      <if test="apportionRate != null">
         APPORTION_RATE = #{apportionRate,jdbcType=DOUBLE},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
        where 
           PROD_APPORTION_RATE_ID = #{prodApportionRateId,jdbcType=INTEGER}
  </update>

  <update id="updateBySelective">
      update FAIR_PROD_APPORTION_RATE
    <trim prefix="set" suffixOverrides=",">
      <if test="record.prodApportionRateId != null">
        PROD_APPORTION_RATE_ID = #{record.prodApportionRateId,jdbcType=INTEGER},
      </if>
      <if test="record.productApportionId != null">
        PRODUCT_APPORTION_ID = #{record.productApportionId,jdbcType=INTEGER},
      </if>
      <if test="record.apportionObjectId != null">
        APPORTION_OBJECT_ID = #{record.apportionObjectId,jdbcType=INTEGER},
      </if>
      <if test="record.apportionRate != null">
        APPORTION_RATE = #{record.apportionRate,jdbcType=DOUBLE},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <where>
      <if test="condition.prodApportionRateId != null ">
        PROD_APPORTION_RATE_ID = #{condition.prodApportionRateId, jdbcType=INTEGER }
      </if>
      <if test="condition.productApportionId != null ">
        and PRODUCT_APPORTION_ID = #{condition.productApportionId, jdbcType=INTEGER }
      </if>
      <if test="condition.apportionObjectId != null ">
        and APPORTION_OBJECT_ID = #{condition.apportionObjectId, jdbcType=INTEGER }
      </if>
      <if test="condition.apportionRate != null ">
        and APPORTION_RATE = #{condition.apportionRate, jdbcType=DOUBLE }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </update>
</mapper>