<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.GridClaimRelMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.GridClaimRelDO">
    <id column="GRID_CLAIM_REL_ID" jdbcType="BIGINT" property="gridClaimRelId"/>
    <result column="GRID_ID" jdbcType="BIGINT" property="gridId"/>
    <result column="GRID_CLAIM_RULE_ID" jdbcType="BIGINT" property="gridClaimRuleId"/>
    <result column="CLAIM_OBJ_TYPE" jdbcType="VARCHAR" property="claimObjType"/>
    <result column="CLAIM_OBJ_ID" jdbcType="BIGINT" property="claimObjId"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          GRID_CLAIM_REL_ID, 
          GRID_ID, 
          GRID_CLAIM_RULE_ID, 
          CLAIM_OBJ_TYPE, 
          CLAIM_OBJ_ID, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          GRID_ID, 
          GRID_CLAIM_RULE_ID, 
          CLAIM_OBJ_TYPE, 
          CLAIM_OBJ_ID, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="gridClaimRelId != null ">
        GRID_CLAIM_REL_ID = #{gridClaimRelId, jdbcType=BIGINT }
      </if>
      <if test="gridId != null ">
        and GRID_ID = #{gridId, jdbcType=BIGINT }
      </if>
      <if test="gridClaimRuleId != null ">
        and GRID_CLAIM_RULE_ID = #{gridClaimRuleId, jdbcType=BIGINT }
      </if>
      <if test="claimObjType != null and claimObjType != ''">
        and CLAIM_OBJ_TYPE = #{claimObjType, jdbcType=VARCHAR }
      </if>
      <if test="claimObjId != null ">
        and CLAIM_OBJ_ID = #{claimObjId, jdbcType=BIGINT }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.GridClaimRelDO" resultType="java.lang.Integer">
      select count(*) from GRID_CLAIM_REL
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from GRID_CLAIM_REL
        where 
           GRID_CLAIM_REL_ID = #{gridClaimRelId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  GRID_CLAIM_REL 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="gridClaimRelId">
      insert into  GRID_CLAIM_REL ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{gridId,jdbcType=BIGINT}, 
        #{gridClaimRuleId,jdbcType=BIGINT}, 
        #{claimObjType,jdbcType=VARCHAR}, 
        #{claimObjId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  GRID_CLAIM_REL ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{gridClaimRelId,jdbcType=BIGINT}, 
        #{gridId,jdbcType=BIGINT}, 
        #{gridClaimRuleId,jdbcType=BIGINT}, 
        #{claimObjType,jdbcType=VARCHAR}, 
        #{claimObjId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from GRID_CLAIM_REL  
        where
           GRID_CLAIM_REL_ID = #{gridClaimRelId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from GRID_CLAIM_REL
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  GRID_CLAIM_REL
    <trim prefix="set" suffixOverrides=",">
      <if test="gridId != null">
         GRID_ID = #{gridId,jdbcType=BIGINT},
      </if>
      <if test="gridClaimRuleId != null">
         GRID_CLAIM_RULE_ID = #{gridClaimRuleId,jdbcType=BIGINT},
      </if>
      <if test="claimObjType != null">
         CLAIM_OBJ_TYPE = #{claimObjType,jdbcType=VARCHAR},
      </if>
      <if test="claimObjId != null">
         CLAIM_OBJ_ID = #{claimObjId,jdbcType=BIGINT},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           GRID_CLAIM_REL_ID = #{gridClaimRelId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update GRID_CLAIM_REL
    <trim prefix="set" suffixOverrides=",">
      <if test="record.gridClaimRelId != null">
        GRID_CLAIM_REL_ID = #{record.gridClaimRelId,jdbcType=BIGINT},
      </if>
      <if test="record.gridId != null">
        GRID_ID = #{record.gridId,jdbcType=BIGINT},
      </if>
      <if test="record.gridClaimRuleId != null">
        GRID_CLAIM_RULE_ID = #{record.gridClaimRuleId,jdbcType=BIGINT},
      </if>
      <if test="record.claimObjType != null">
        CLAIM_OBJ_TYPE = #{record.claimObjType,jdbcType=VARCHAR},
      </if>
      <if test="record.claimObjId != null">
        CLAIM_OBJ_ID = #{record.claimObjId,jdbcType=BIGINT},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.gridClaimRelId != null ">
        GRID_CLAIM_REL_ID = #{condition.gridClaimRelId, jdbcType=BIGINT }
      </if>
      <if test="condition.gridId != null ">
        and GRID_ID = #{condition.gridId, jdbcType=BIGINT }
      </if>
      <if test="condition.gridClaimRuleId != null ">
        and GRID_CLAIM_RULE_ID = #{condition.gridClaimRuleId, jdbcType=BIGINT }
      </if>
      <if test="condition.claimObjType != null and condition.claimObjType != ''">
        and CLAIM_OBJ_TYPE = #{condition.claimObjType, jdbcType=VARCHAR }
      </if>
      <if test="condition.claimObjId != null ">
        and CLAIM_OBJ_ID = #{condition.claimObjId, jdbcType=BIGINT }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>