<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.GridMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.GridDO">
    <id column="GRID_ID" jdbcType="BIGINT" property="gridId"/>
    <result column="GRID_NBR" jdbcType="VARCHAR" property="gridNbr"/>
    <result column="GRID_NAME" jdbcType="VARCHAR" property="gridName"/>
    <result column="GRID_TYPE" jdbcType="VARCHAR" property="gridType"/>
    <result column="COMMON_REGION_ID" jdbcType="BIGINT" property="commonRegionId"/>
    <result column="LAN_ID" jdbcType="BIGINT" property="lanId"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          GRID_ID, 
          GRID_NBR, 
          GRID_NAME, 
          GRID_TYPE, 
          COMMON_REGION_ID, 
          LAN_ID, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          GRID_NBR, 
          GRID_NAME, 
          GRID_TYPE, 
          COMMON_REGION_ID, 
          LAN_ID, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="gridId != null ">
        GRID_ID = #{gridId, jdbcType=BIGINT }
      </if>
      <if test="gridNbr != null and gridNbr != ''">
        and GRID_NBR = #{gridNbr, jdbcType=VARCHAR }
      </if>
      <if test="gridName != null and gridName != ''">
        and GRID_NAME = #{gridName, jdbcType=VARCHAR }
      </if>
      <if test="gridType != null and gridType != ''">
        and GRID_TYPE = #{gridType, jdbcType=VARCHAR }
      </if>
      <if test="commonRegionId != null ">
        and COMMON_REGION_ID = #{commonRegionId, jdbcType=BIGINT }
      </if>
      <if test="lanId != null ">
        and LAN_ID = #{lanId, jdbcType=BIGINT }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.GridDO" resultType="java.lang.Integer">
      select count(*) from GRID
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from GRID
        where 
           GRID_ID = #{gridId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  GRID 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="gridId">
      insert into  GRID ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{gridNbr,jdbcType=VARCHAR}, 
        #{gridName,jdbcType=VARCHAR}, 
        #{gridType,jdbcType=VARCHAR}, 
        #{commonRegionId,jdbcType=BIGINT}, 
        #{lanId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  GRID ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{gridId,jdbcType=BIGINT}, 
        #{gridNbr,jdbcType=VARCHAR}, 
        #{gridName,jdbcType=VARCHAR}, 
        #{gridType,jdbcType=VARCHAR}, 
        #{commonRegionId,jdbcType=BIGINT}, 
        #{lanId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from GRID  
        where
           GRID_ID = #{gridId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from GRID
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  GRID
    <trim prefix="set" suffixOverrides=",">
      <if test="gridNbr != null">
         GRID_NBR = #{gridNbr,jdbcType=VARCHAR},
      </if>
      <if test="gridName != null">
         GRID_NAME = #{gridName,jdbcType=VARCHAR},
      </if>
      <if test="gridType != null">
         GRID_TYPE = #{gridType,jdbcType=VARCHAR},
      </if>
      <if test="commonRegionId != null">
         COMMON_REGION_ID = #{commonRegionId,jdbcType=BIGINT},
      </if>
      <if test="lanId != null">
         LAN_ID = #{lanId,jdbcType=BIGINT},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           GRID_ID = #{gridId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update GRID
    <trim prefix="set" suffixOverrides=",">
      <if test="record.gridId != null">
        GRID_ID = #{record.gridId,jdbcType=BIGINT},
      </if>
      <if test="record.gridNbr != null">
        GRID_NBR = #{record.gridNbr,jdbcType=VARCHAR},
      </if>
      <if test="record.gridName != null">
        GRID_NAME = #{record.gridName,jdbcType=VARCHAR},
      </if>
      <if test="record.gridType != null">
        GRID_TYPE = #{record.gridType,jdbcType=VARCHAR},
      </if>
      <if test="record.commonRegionId != null">
        COMMON_REGION_ID = #{record.commonRegionId,jdbcType=BIGINT},
      </if>
      <if test="record.lanId != null">
        LAN_ID = #{record.lanId,jdbcType=BIGINT},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.gridId != null ">
        GRID_ID = #{condition.gridId, jdbcType=BIGINT }
      </if>
      <if test="condition.gridNbr != null and condition.gridNbr != ''">
        and GRID_NBR = #{condition.gridNbr, jdbcType=VARCHAR }
      </if>
      <if test="condition.gridName != null and condition.gridName != ''">
        and GRID_NAME = #{condition.gridName, jdbcType=VARCHAR }
      </if>
      <if test="condition.gridType != null and condition.gridType != ''">
        and GRID_TYPE = #{condition.gridType, jdbcType=VARCHAR }
      </if>
      <if test="condition.commonRegionId != null ">
        and COMMON_REGION_ID = #{condition.commonRegionId, jdbcType=BIGINT }
      </if>
      <if test="condition.lanId != null ">
        and LAN_ID = #{condition.lanId, jdbcType=BIGINT }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>