<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.IndustryTypeMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.IndustryTypeDO">
    <id column="INDUSTRY_TYPE_ID" jdbcType="BIGINT" property="industryTypeId"/>
    <result column="INDUSTRY_TYPE_CODE" jdbcType="VARCHAR" property="industryTypeCode"/>
    <result column="INDUSTRY_TYPE_NAME" jdbcType="VARCHAR" property="industryTypeName"/>
    <result column="INDUSTRY_TYPE_GRADE" jdbcType="VARCHAR" property="industryTypeGrade"/>
    <result column="PAR_INDUSTRY_TYPE_ID" jdbcType="BIGINT" property="parIndustryTypeId"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          INDUSTRY_TYPE_ID, 
          INDUSTRY_TYPE_CODE, 
          INDUSTRY_TYPE_NAME, 
          INDUSTRY_TYPE_GRADE, 
          PAR_INDUSTRY_TYPE_ID, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          INDUSTRY_TYPE_CODE, 
          INDUSTRY_TYPE_NAME, 
          INDUSTRY_TYPE_GRADE, 
          PAR_INDUSTRY_TYPE_ID, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="industryTypeId != null ">
        INDUSTRY_TYPE_ID = #{industryTypeId, jdbcType=BIGINT }
      </if>
      <if test="industryTypeCode != null and industryTypeCode != ''">
        and INDUSTRY_TYPE_CODE = #{industryTypeCode, jdbcType=VARCHAR }
      </if>
      <if test="industryTypeName != null and industryTypeName != ''">
        and INDUSTRY_TYPE_NAME = #{industryTypeName, jdbcType=VARCHAR }
      </if>
      <if test="industryTypeGrade != null and industryTypeGrade != ''">
        and INDUSTRY_TYPE_GRADE = #{industryTypeGrade, jdbcType=VARCHAR }
      </if>
      <if test="parIndustryTypeId != null ">
        and PAR_INDUSTRY_TYPE_ID = #{parIndustryTypeId, jdbcType=BIGINT }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.IndustryTypeDO" resultType="java.lang.Integer">
      select count(*) from INDUSTRY_TYPE
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from INDUSTRY_TYPE
        where 
           INDUSTRY_TYPE_ID = #{industryTypeId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  INDUSTRY_TYPE 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="industryTypeId">
      insert into  INDUSTRY_TYPE ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{industryTypeCode,jdbcType=VARCHAR}, 
        #{industryTypeName,jdbcType=VARCHAR}, 
        #{industryTypeGrade,jdbcType=VARCHAR}, 
        #{parIndustryTypeId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  INDUSTRY_TYPE ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{industryTypeId,jdbcType=BIGINT}, 
        #{industryTypeCode,jdbcType=VARCHAR}, 
        #{industryTypeName,jdbcType=VARCHAR}, 
        #{industryTypeGrade,jdbcType=VARCHAR}, 
        #{parIndustryTypeId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from INDUSTRY_TYPE  
        where
           INDUSTRY_TYPE_ID = #{industryTypeId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from INDUSTRY_TYPE
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  INDUSTRY_TYPE
    <trim prefix="set" suffixOverrides=",">
      <if test="industryTypeCode != null">
         INDUSTRY_TYPE_CODE = #{industryTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="industryTypeName != null">
         INDUSTRY_TYPE_NAME = #{industryTypeName,jdbcType=VARCHAR},
      </if>
      <if test="industryTypeGrade != null">
         INDUSTRY_TYPE_GRADE = #{industryTypeGrade,jdbcType=VARCHAR},
      </if>
      <if test="parIndustryTypeId != null">
         PAR_INDUSTRY_TYPE_ID = #{parIndustryTypeId,jdbcType=BIGINT},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           INDUSTRY_TYPE_ID = #{industryTypeId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update INDUSTRY_TYPE
    <trim prefix="set" suffixOverrides=",">
      <if test="record.industryTypeId != null">
        INDUSTRY_TYPE_ID = #{record.industryTypeId,jdbcType=BIGINT},
      </if>
      <if test="record.industryTypeCode != null">
        INDUSTRY_TYPE_CODE = #{record.industryTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.industryTypeName != null">
        INDUSTRY_TYPE_NAME = #{record.industryTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.industryTypeGrade != null">
        INDUSTRY_TYPE_GRADE = #{record.industryTypeGrade,jdbcType=VARCHAR},
      </if>
      <if test="record.parIndustryTypeId != null">
        PAR_INDUSTRY_TYPE_ID = #{record.parIndustryTypeId,jdbcType=BIGINT},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.industryTypeId != null ">
        INDUSTRY_TYPE_ID = #{condition.industryTypeId, jdbcType=BIGINT }
      </if>
      <if test="condition.industryTypeCode != null and condition.industryTypeCode != ''">
        and INDUSTRY_TYPE_CODE = #{condition.industryTypeCode, jdbcType=VARCHAR }
      </if>
      <if test="condition.industryTypeName != null and condition.industryTypeName != ''">
        and INDUSTRY_TYPE_NAME = #{condition.industryTypeName, jdbcType=VARCHAR }
      </if>
      <if test="condition.industryTypeGrade != null and condition.industryTypeGrade != ''">
        and INDUSTRY_TYPE_GRADE = #{condition.industryTypeGrade, jdbcType=VARCHAR }
      </if>
      <if test="condition.parIndustryTypeId != null ">
        and PAR_INDUSTRY_TYPE_ID = #{condition.parIndustryTypeId, jdbcType=BIGINT }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>