<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.InjectionLabelValueMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.InjectionLabelValueDO">
    <id column="LABEL_VALUE_ID" jdbcType="BIGINT" property="labelValueId"/>
    <result column="INJECTION_LABEL_ID" jdbcType="BIGINT" property="injectionLabelId"/>
    <result column="LABEL_VALUE" jdbcType="VARCHAR" property="labelValue"/>
    <result column="VALUE_NAME" jdbcType="VARCHAR" property="valueName"/>
    <result column="VALUE_DESC" jdbcType="VARCHAR" property="valueDesc"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          LABEL_VALUE_ID, 
          INJECTION_LABEL_ID, 
          LABEL_VALUE, 
          VALUE_NAME, 
          VALUE_DESC, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          INJECTION_LABEL_ID, 
          LABEL_VALUE, 
          VALUE_NAME, 
          VALUE_DESC, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="labelValueId != null ">
        LABEL_VALUE_ID = #{labelValueId, jdbcType=BIGINT }
      </if>
      <if test="injectionLabelId != null ">
        and INJECTION_LABEL_ID = #{injectionLabelId, jdbcType=BIGINT }
      </if>
      <if test="labelValue != null and labelValue != ''">
        and LABEL_VALUE = #{labelValue, jdbcType=VARCHAR }
      </if>
      <if test="valueName != null and valueName != ''">
        and VALUE_NAME = #{valueName, jdbcType=VARCHAR }
      </if>
      <if test="valueDesc != null and valueDesc != ''">
        and VALUE_DESC = #{valueDesc, jdbcType=VARCHAR }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.InjectionLabelValueDO" resultType="java.lang.Integer">
      select count(*) from INJECTION_LABEL_VALUE
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from INJECTION_LABEL_VALUE
        where 
           LABEL_VALUE_ID = #{labelValueId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  INJECTION_LABEL_VALUE 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="labelValueId">
      insert into  INJECTION_LABEL_VALUE ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{injectionLabelId,jdbcType=BIGINT}, 
        #{labelValue,jdbcType=VARCHAR}, 
        #{valueName,jdbcType=VARCHAR}, 
        #{valueDesc,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  INJECTION_LABEL_VALUE ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{labelValueId,jdbcType=BIGINT}, 
        #{injectionLabelId,jdbcType=BIGINT}, 
        #{labelValue,jdbcType=VARCHAR}, 
        #{valueName,jdbcType=VARCHAR}, 
        #{valueDesc,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from INJECTION_LABEL_VALUE  
        where
           LABEL_VALUE_ID = #{labelValueId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from INJECTION_LABEL_VALUE
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  INJECTION_LABEL_VALUE
    <trim prefix="set" suffixOverrides=",">
      <if test="injectionLabelId != null">
         INJECTION_LABEL_ID = #{injectionLabelId,jdbcType=BIGINT},
      </if>
      <if test="labelValue != null">
         LABEL_VALUE = #{labelValue,jdbcType=VARCHAR},
      </if>
      <if test="valueName != null">
         VALUE_NAME = #{valueName,jdbcType=VARCHAR},
      </if>
      <if test="valueDesc != null">
         VALUE_DESC = #{valueDesc,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           LABEL_VALUE_ID = #{labelValueId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update INJECTION_LABEL_VALUE
    <trim prefix="set" suffixOverrides=",">
      <if test="record.labelValueId != null">
        LABEL_VALUE_ID = #{record.labelValueId,jdbcType=BIGINT},
      </if>
      <if test="record.injectionLabelId != null">
        INJECTION_LABEL_ID = #{record.injectionLabelId,jdbcType=BIGINT},
      </if>
      <if test="record.labelValue != null">
        LABEL_VALUE = #{record.labelValue,jdbcType=VARCHAR},
      </if>
      <if test="record.valueName != null">
        VALUE_NAME = #{record.valueName,jdbcType=VARCHAR},
      </if>
      <if test="record.valueDesc != null">
        VALUE_DESC = #{record.valueDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.labelValueId != null ">
        LABEL_VALUE_ID = #{condition.labelValueId, jdbcType=BIGINT }
      </if>
      <if test="condition.injectionLabelId != null ">
        and INJECTION_LABEL_ID = #{condition.injectionLabelId, jdbcType=BIGINT }
      </if>
      <if test="condition.labelValue != null and condition.labelValue != ''">
        and LABEL_VALUE = #{condition.labelValue, jdbcType=VARCHAR }
      </if>
      <if test="condition.valueName != null and condition.valueName != ''">
        and VALUE_NAME = #{condition.valueName, jdbcType=VARCHAR }
      </if>
      <if test="condition.valueDesc != null and condition.valueDesc != ''">
        and VALUE_DESC = #{condition.valueDesc, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>