<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.InterfaceCfgMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.InterfaceCfgDO">
    <id column="INTERFACE_CFG_ID" jdbcType="BIGINT" property="interfaceCfgId"/>
    <result column="EVT_SRC_ID" jdbcType="INTEGER" property="evtSrcId"/>
    <result column="INTERFACE_NAME" jdbcType="VARCHAR" property="interfaceName"/>
    <result column="INTERFACE_DESC" jdbcType="VARCHAR" property="interfaceDesc"/>
    <result column="INTERFACE_NBR" jdbcType="VARCHAR" property="interfaceNbr"/>
    <result column="INTERFACE_TYPE" jdbcType="VARCHAR" property="interfaceType"/>
    <result column="PROVIDER" jdbcType="VARCHAR" property="provider"/>
    <result column="CALLER" jdbcType="VARCHAR" property="caller"/>
    <result column="PROTOCOL_TYPE" jdbcType="VARCHAR" property="protocolType"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          INTERFACE_CFG_ID, 
          EVT_SRC_ID, 
          INTERFACE_NAME, 
          INTERFACE_DESC, 
          INTERFACE_NBR, 
          INTERFACE_TYPE, 
          PROVIDER, 
          CALLER, 
          PROTOCOL_TYPE, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          EVT_SRC_ID, 
          INTERFACE_NAME, 
          INTERFACE_DESC, 
          INTERFACE_NBR, 
          INTERFACE_TYPE, 
          PROVIDER, 
          CALLER, 
          PROTOCOL_TYPE, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="interfaceCfgId != null ">
        INTERFACE_CFG_ID = #{interfaceCfgId, jdbcType=BIGINT }
      </if>
      <if test="evtSrcId != null ">
        and EVT_SRC_ID = #{evtSrcId, jdbcType=INTEGER }
      </if>
      <if test="interfaceName != null and interfaceName != ''">
        and INTERFACE_NAME = #{interfaceName, jdbcType=VARCHAR }
      </if>
      <if test="interfaceDesc != null and interfaceDesc != ''">
        and INTERFACE_DESC = #{interfaceDesc, jdbcType=VARCHAR }
      </if>
      <if test="interfaceNbr != null and interfaceNbr != ''">
        and INTERFACE_NBR = #{interfaceNbr, jdbcType=VARCHAR }
      </if>
      <if test="interfaceType != null and interfaceType != ''">
        and INTERFACE_TYPE = #{interfaceType, jdbcType=VARCHAR }
      </if>
      <if test="provider != null and provider != ''">
        and PROVIDER = #{provider, jdbcType=VARCHAR }
      </if>
      <if test="caller != null and caller != ''">
        and CALLER = #{caller, jdbcType=VARCHAR }
      </if>
      <if test="protocolType != null and protocolType != ''">
        and PROTOCOL_TYPE = #{protocolType, jdbcType=VARCHAR }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.InterfaceCfgDO" resultType="java.lang.Integer">
      select count(*) from INTERFACE_CFG
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from INTERFACE_CFG
        where 
           INTERFACE_CFG_ID = #{interfaceCfgId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  INTERFACE_CFG 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="interfaceCfgId">
      insert into  INTERFACE_CFG ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{evtSrcId,jdbcType=INTEGER}, 
        #{interfaceName,jdbcType=VARCHAR}, 
        #{interfaceDesc,jdbcType=VARCHAR}, 
        #{interfaceNbr,jdbcType=VARCHAR}, 
        #{interfaceType,jdbcType=VARCHAR}, 
        #{provider,jdbcType=VARCHAR}, 
        #{caller,jdbcType=VARCHAR}, 
        #{protocolType,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  INTERFACE_CFG ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{interfaceCfgId,jdbcType=BIGINT}, 
        #{evtSrcId,jdbcType=INTEGER}, 
        #{interfaceName,jdbcType=VARCHAR}, 
        #{interfaceDesc,jdbcType=VARCHAR}, 
        #{interfaceNbr,jdbcType=VARCHAR}, 
        #{interfaceType,jdbcType=VARCHAR}, 
        #{provider,jdbcType=VARCHAR}, 
        #{caller,jdbcType=VARCHAR}, 
        #{protocolType,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from INTERFACE_CFG  
        where
           INTERFACE_CFG_ID = #{interfaceCfgId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from INTERFACE_CFG
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  INTERFACE_CFG
    <trim prefix="set" suffixOverrides=",">
      <if test="evtSrcId != null">
         EVT_SRC_ID = #{evtSrcId,jdbcType=INTEGER},
      </if>
      <if test="interfaceName != null">
         INTERFACE_NAME = #{interfaceName,jdbcType=VARCHAR},
      </if>
      <if test="interfaceDesc != null">
         INTERFACE_DESC = #{interfaceDesc,jdbcType=VARCHAR},
      </if>
      <if test="interfaceNbr != null">
         INTERFACE_NBR = #{interfaceNbr,jdbcType=VARCHAR},
      </if>
      <if test="interfaceType != null">
         INTERFACE_TYPE = #{interfaceType,jdbcType=VARCHAR},
      </if>
      <if test="provider != null">
         PROVIDER = #{provider,jdbcType=VARCHAR},
      </if>
      <if test="caller != null">
         CALLER = #{caller,jdbcType=VARCHAR},
      </if>
      <if test="protocolType != null">
         PROTOCOL_TYPE = #{protocolType,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           INTERFACE_CFG_ID = #{interfaceCfgId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update INTERFACE_CFG
    <trim prefix="set" suffixOverrides=",">
      <if test="record.interfaceCfgId != null">
        INTERFACE_CFG_ID = #{record.interfaceCfgId,jdbcType=BIGINT},
      </if>
      <if test="record.evtSrcId != null">
        EVT_SRC_ID = #{record.evtSrcId,jdbcType=INTEGER},
      </if>
      <if test="record.interfaceName != null">
        INTERFACE_NAME = #{record.interfaceName,jdbcType=VARCHAR},
      </if>
      <if test="record.interfaceDesc != null">
        INTERFACE_DESC = #{record.interfaceDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.interfaceNbr != null">
        INTERFACE_NBR = #{record.interfaceNbr,jdbcType=VARCHAR},
      </if>
      <if test="record.interfaceType != null">
        INTERFACE_TYPE = #{record.interfaceType,jdbcType=VARCHAR},
      </if>
      <if test="record.provider != null">
        PROVIDER = #{record.provider,jdbcType=VARCHAR},
      </if>
      <if test="record.caller != null">
        CALLER = #{record.caller,jdbcType=VARCHAR},
      </if>
      <if test="record.protocolType != null">
        PROTOCOL_TYPE = #{record.protocolType,jdbcType=VARCHAR},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.interfaceCfgId != null ">
        INTERFACE_CFG_ID = #{condition.interfaceCfgId, jdbcType=BIGINT }
      </if>
      <if test="condition.evtSrcId != null ">
        and EVT_SRC_ID = #{condition.evtSrcId, jdbcType=INTEGER }
      </if>
      <if test="condition.interfaceName != null and condition.interfaceName != ''">
        and INTERFACE_NAME = #{condition.interfaceName, jdbcType=VARCHAR }
      </if>
      <if test="condition.interfaceDesc != null and condition.interfaceDesc != ''">
        and INTERFACE_DESC = #{condition.interfaceDesc, jdbcType=VARCHAR }
      </if>
      <if test="condition.interfaceNbr != null and condition.interfaceNbr != ''">
        and INTERFACE_NBR = #{condition.interfaceNbr, jdbcType=VARCHAR }
      </if>
      <if test="condition.interfaceType != null and condition.interfaceType != ''">
        and INTERFACE_TYPE = #{condition.interfaceType, jdbcType=VARCHAR }
      </if>
      <if test="condition.provider != null and condition.provider != ''">
        and PROVIDER = #{condition.provider, jdbcType=VARCHAR }
      </if>
      <if test="condition.caller != null and condition.caller != ''">
        and CALLER = #{condition.caller, jdbcType=VARCHAR }
      </if>
      <if test="condition.protocolType != null and condition.protocolType != ''">
        and PROTOCOL_TYPE = #{condition.protocolType, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>