<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.MemberServiceRecordMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.MemberServiceRecordDO">
    <id column="RECORD_ID" jdbcType="BIGINT" property="recordId"/>
    <result column="CLUB_MEMBER_ID" jdbcType="BIGINT" property="clubMemberId"/>
    <result column="ORDER_ITEM_ID" jdbcType="BIGINT" property="orderItemId"/>
    <result column="MEMBER_SERVICE_ID" jdbcType="BIGINT" property="memberServiceId"/>
    <result column="SERVICE_CONTENT" jdbcType="VARCHAR" property="serviceContent"/>
    <result column="SERVICE_TYPE" jdbcType="VARCHAR" property="serviceType"/>
    <result column="SERVICE_PLACE" jdbcType="VARCHAR" property="servicePlace"/>
    <result column="ROAM_FLAG" jdbcType="INTEGER" property="roamFlag"/>
    <result column="PROV_CODE" jdbcType="VARCHAR" property="provCode"/>
    <result column="SERVICE_DATE" jdbcType="TIMESTAMP" property="serviceDate"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          RECORD_ID, 
          CLUB_MEMBER_ID, 
          ORDER_ITEM_ID, 
          MEMBER_SERVICE_ID, 
          SERVICE_CONTENT, 
          SERVICE_TYPE, 
          SERVICE_PLACE, 
          ROAM_FLAG, 
          PROV_CODE, 
          SERVICE_DATE, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          CLUB_MEMBER_ID, 
          ORDER_ITEM_ID, 
          MEMBER_SERVICE_ID, 
          SERVICE_CONTENT, 
          SERVICE_TYPE, 
          SERVICE_PLACE, 
          ROAM_FLAG, 
          PROV_CODE, 
          SERVICE_DATE, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="recordId != null ">
        RECORD_ID = #{recordId, jdbcType=BIGINT }
      </if>
      <if test="clubMemberId != null ">
        and CLUB_MEMBER_ID = #{clubMemberId, jdbcType=BIGINT }
      </if>
      <if test="orderItemId != null ">
        and ORDER_ITEM_ID = #{orderItemId, jdbcType=BIGINT }
      </if>
      <if test="memberServiceId != null ">
        and MEMBER_SERVICE_ID = #{memberServiceId, jdbcType=BIGINT }
      </if>
      <if test="serviceContent != null and serviceContent != ''">
        and SERVICE_CONTENT = #{serviceContent, jdbcType=VARCHAR }
      </if>
      <if test="serviceType != null and serviceType != ''">
        and SERVICE_TYPE = #{serviceType, jdbcType=VARCHAR }
      </if>
      <if test="servicePlace != null and servicePlace != ''">
        and SERVICE_PLACE = #{servicePlace, jdbcType=VARCHAR }
      </if>
      <if test="roamFlag != null ">
        and ROAM_FLAG = #{roamFlag, jdbcType=INTEGER }
      </if>
      <if test="provCode != null and provCode != ''">
        and PROV_CODE = #{provCode, jdbcType=VARCHAR }
      </if>
      <if test="serviceDate != null ">
        and SERVICE_DATE = #{serviceDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.MemberServiceRecordDO" resultType="java.lang.Integer">
      select count(*) from MEMBER_SERVICE_RECORD
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from MEMBER_SERVICE_RECORD
        where 
           RECORD_ID = #{recordId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  MEMBER_SERVICE_RECORD 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="recordId">
      insert into  MEMBER_SERVICE_RECORD ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{clubMemberId,jdbcType=BIGINT}, 
        #{orderItemId,jdbcType=BIGINT}, 
        #{memberServiceId,jdbcType=BIGINT}, 
        #{serviceContent,jdbcType=VARCHAR}, 
        #{serviceType,jdbcType=VARCHAR}, 
        #{servicePlace,jdbcType=VARCHAR}, 
        #{roamFlag,jdbcType=INTEGER}, 
        #{provCode,jdbcType=VARCHAR}, 
        #{serviceDate,jdbcType=TIMESTAMP}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  MEMBER_SERVICE_RECORD ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{recordId,jdbcType=BIGINT}, 
        #{clubMemberId,jdbcType=BIGINT}, 
        #{orderItemId,jdbcType=BIGINT}, 
        #{memberServiceId,jdbcType=BIGINT}, 
        #{serviceContent,jdbcType=VARCHAR}, 
        #{serviceType,jdbcType=VARCHAR}, 
        #{servicePlace,jdbcType=VARCHAR}, 
        #{roamFlag,jdbcType=INTEGER}, 
        #{provCode,jdbcType=VARCHAR}, 
        #{serviceDate,jdbcType=TIMESTAMP}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from MEMBER_SERVICE_RECORD  
        where
           RECORD_ID = #{recordId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from MEMBER_SERVICE_RECORD
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  MEMBER_SERVICE_RECORD
    <trim prefix="set" suffixOverrides=",">
      <if test="clubMemberId != null">
         CLUB_MEMBER_ID = #{clubMemberId,jdbcType=BIGINT},
      </if>
      <if test="orderItemId != null">
         ORDER_ITEM_ID = #{orderItemId,jdbcType=BIGINT},
      </if>
      <if test="memberServiceId != null">
         MEMBER_SERVICE_ID = #{memberServiceId,jdbcType=BIGINT},
      </if>
      <if test="serviceContent != null">
         SERVICE_CONTENT = #{serviceContent,jdbcType=VARCHAR},
      </if>
      <if test="serviceType != null">
         SERVICE_TYPE = #{serviceType,jdbcType=VARCHAR},
      </if>
      <if test="servicePlace != null">
         SERVICE_PLACE = #{servicePlace,jdbcType=VARCHAR},
      </if>
      <if test="roamFlag != null">
         ROAM_FLAG = #{roamFlag,jdbcType=INTEGER},
      </if>
      <if test="provCode != null">
         PROV_CODE = #{provCode,jdbcType=VARCHAR},
      </if>
      <if test="serviceDate != null">
         SERVICE_DATE = #{serviceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           RECORD_ID = #{recordId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update MEMBER_SERVICE_RECORD
    <trim prefix="set" suffixOverrides=",">
      <if test="record.recordId != null">
        RECORD_ID = #{record.recordId,jdbcType=BIGINT},
      </if>
      <if test="record.clubMemberId != null">
        CLUB_MEMBER_ID = #{record.clubMemberId,jdbcType=BIGINT},
      </if>
      <if test="record.orderItemId != null">
        ORDER_ITEM_ID = #{record.orderItemId,jdbcType=BIGINT},
      </if>
      <if test="record.memberServiceId != null">
        MEMBER_SERVICE_ID = #{record.memberServiceId,jdbcType=BIGINT},
      </if>
      <if test="record.serviceContent != null">
        SERVICE_CONTENT = #{record.serviceContent,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceType != null">
        SERVICE_TYPE = #{record.serviceType,jdbcType=VARCHAR},
      </if>
      <if test="record.servicePlace != null">
        SERVICE_PLACE = #{record.servicePlace,jdbcType=VARCHAR},
      </if>
      <if test="record.roamFlag != null">
        ROAM_FLAG = #{record.roamFlag,jdbcType=INTEGER},
      </if>
      <if test="record.provCode != null">
        PROV_CODE = #{record.provCode,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceDate != null">
        SERVICE_DATE = #{record.serviceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.recordId != null ">
        RECORD_ID = #{condition.recordId, jdbcType=BIGINT }
      </if>
      <if test="condition.clubMemberId != null ">
        and CLUB_MEMBER_ID = #{condition.clubMemberId, jdbcType=BIGINT }
      </if>
      <if test="condition.orderItemId != null ">
        and ORDER_ITEM_ID = #{condition.orderItemId, jdbcType=BIGINT }
      </if>
      <if test="condition.memberServiceId != null ">
        and MEMBER_SERVICE_ID = #{condition.memberServiceId, jdbcType=BIGINT }
      </if>
      <if test="condition.serviceContent != null and condition.serviceContent != ''">
        and SERVICE_CONTENT = #{condition.serviceContent, jdbcType=VARCHAR }
      </if>
      <if test="condition.serviceType != null and condition.serviceType != ''">
        and SERVICE_TYPE = #{condition.serviceType, jdbcType=VARCHAR }
      </if>
      <if test="condition.servicePlace != null and condition.servicePlace != ''">
        and SERVICE_PLACE = #{condition.servicePlace, jdbcType=VARCHAR }
      </if>
      <if test="condition.roamFlag != null ">
        and ROAM_FLAG = #{condition.roamFlag, jdbcType=INTEGER }
      </if>
      <if test="condition.provCode != null and condition.provCode != ''">
        and PROV_CODE = #{condition.provCode, jdbcType=VARCHAR }
      </if>
      <if test="condition.serviceDate != null ">
        and SERVICE_DATE = #{condition.serviceDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>