<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.MemServAcctMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.MemServAcctDO">
    <id column="MEM_SERV_ACCT_ID" jdbcType="BIGINT" property="memServAcctId"/>
    <result column="CLUB_MEMBER_ID" jdbcType="BIGINT" property="clubMemberId"/>
    <result column="MEMBER_SERVICE_ID" jdbcType="BIGINT" property="memberServiceId"/>
    <result column="TOTAL_COUNT" jdbcType="INTEGER" property="totalCount"/>
    <result column="USEABLE_COUNT" jdbcType="INTEGER" property="useableCount"/>
    <result column="EFF_DATE" jdbcType="TIMESTAMP" property="effDate"/>
    <result column="EXP_DATE" jdbcType="TIMESTAMP" property="expDate"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          MEM_SERV_ACCT_ID, 
          CLUB_MEMBER_ID, 
          MEMBER_SERVICE_ID, 
          TOTAL_COUNT, 
          USEABLE_COUNT, 
          EFF_DATE, 
          EXP_DATE, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          CLUB_MEMBER_ID, 
          MEMBER_SERVICE_ID, 
          TOTAL_COUNT, 
          USEABLE_COUNT, 
          EFF_DATE, 
          EXP_DATE, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="memServAcctId != null ">
        MEM_SERV_ACCT_ID = #{memServAcctId, jdbcType=BIGINT }
      </if>
      <if test="clubMemberId != null ">
        and CLUB_MEMBER_ID = #{clubMemberId, jdbcType=BIGINT }
      </if>
      <if test="memberServiceId != null ">
        and MEMBER_SERVICE_ID = #{memberServiceId, jdbcType=BIGINT }
      </if>
      <if test="totalCount != null ">
        and TOTAL_COUNT = #{totalCount, jdbcType=INTEGER }
      </if>
      <if test="useableCount != null ">
        and USEABLE_COUNT = #{useableCount, jdbcType=INTEGER }
      </if>
      <if test="effDate != null ">
        and EFF_DATE = #{effDate, jdbcType=TIMESTAMP }
      </if>
      <if test="expDate != null ">
        and EXP_DATE = #{expDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.MemServAcctDO" resultType="java.lang.Integer">
      select count(*) from MEM_SERV_ACCT
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from MEM_SERV_ACCT
        where 
           MEM_SERV_ACCT_ID = #{memServAcctId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  MEM_SERV_ACCT 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="memServAcctId">
      insert into  MEM_SERV_ACCT ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{clubMemberId,jdbcType=BIGINT}, 
        #{memberServiceId,jdbcType=BIGINT}, 
        #{totalCount,jdbcType=INTEGER}, 
        #{useableCount,jdbcType=INTEGER}, 
        #{effDate,jdbcType=TIMESTAMP}, 
        #{expDate,jdbcType=TIMESTAMP}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  MEM_SERV_ACCT ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{memServAcctId,jdbcType=BIGINT}, 
        #{clubMemberId,jdbcType=BIGINT}, 
        #{memberServiceId,jdbcType=BIGINT}, 
        #{totalCount,jdbcType=INTEGER}, 
        #{useableCount,jdbcType=INTEGER}, 
        #{effDate,jdbcType=TIMESTAMP}, 
        #{expDate,jdbcType=TIMESTAMP}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from MEM_SERV_ACCT  
        where
           MEM_SERV_ACCT_ID = #{memServAcctId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from MEM_SERV_ACCT
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  MEM_SERV_ACCT
    <trim prefix="set" suffixOverrides=",">
      <if test="clubMemberId != null">
         CLUB_MEMBER_ID = #{clubMemberId,jdbcType=BIGINT},
      </if>
      <if test="memberServiceId != null">
         MEMBER_SERVICE_ID = #{memberServiceId,jdbcType=BIGINT},
      </if>
      <if test="totalCount != null">
         TOTAL_COUNT = #{totalCount,jdbcType=INTEGER},
      </if>
      <if test="useableCount != null">
         USEABLE_COUNT = #{useableCount,jdbcType=INTEGER},
      </if>
      <if test="effDate != null">
         EFF_DATE = #{effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expDate != null">
         EXP_DATE = #{expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           MEM_SERV_ACCT_ID = #{memServAcctId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update MEM_SERV_ACCT
    <trim prefix="set" suffixOverrides=",">
      <if test="record.memServAcctId != null">
        MEM_SERV_ACCT_ID = #{record.memServAcctId,jdbcType=BIGINT},
      </if>
      <if test="record.clubMemberId != null">
        CLUB_MEMBER_ID = #{record.clubMemberId,jdbcType=BIGINT},
      </if>
      <if test="record.memberServiceId != null">
        MEMBER_SERVICE_ID = #{record.memberServiceId,jdbcType=BIGINT},
      </if>
      <if test="record.totalCount != null">
        TOTAL_COUNT = #{record.totalCount,jdbcType=INTEGER},
      </if>
      <if test="record.useableCount != null">
        USEABLE_COUNT = #{record.useableCount,jdbcType=INTEGER},
      </if>
      <if test="record.effDate != null">
        EFF_DATE = #{record.effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expDate != null">
        EXP_DATE = #{record.expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.memServAcctId != null ">
        MEM_SERV_ACCT_ID = #{condition.memServAcctId, jdbcType=BIGINT }
      </if>
      <if test="condition.clubMemberId != null ">
        and CLUB_MEMBER_ID = #{condition.clubMemberId, jdbcType=BIGINT }
      </if>
      <if test="condition.memberServiceId != null ">
        and MEMBER_SERVICE_ID = #{condition.memberServiceId, jdbcType=BIGINT }
      </if>
      <if test="condition.totalCount != null ">
        and TOTAL_COUNT = #{condition.totalCount, jdbcType=INTEGER }
      </if>
      <if test="condition.useableCount != null ">
        and USEABLE_COUNT = #{condition.useableCount, jdbcType=INTEGER }
      </if>
      <if test="condition.effDate != null ">
        and EFF_DATE = #{condition.effDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.expDate != null ">
        and EXP_DATE = #{condition.expDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>