<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.MktCamChlConfMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.MktCamChlConfDO">
    <id column="EVT_CONTACT_CONF_ID" jdbcType="BIGINT" property="evtContactConfId"/>
    <result column="EVT_CONTACT_CONF_NAME" jdbcType="VARCHAR" property="evtContactConfName"/>
    <result column="MKT_CAMPAIGN_ID" jdbcType="BIGINT" property="mktCampaignId"/>
    <result column="CONTACT_CHL_ID" jdbcType="BIGINT" property="contactChlId"/>
    <result column="PUSH_TYPE" jdbcType="VARCHAR" property="pushType"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          EVT_CONTACT_CONF_ID, 
          EVT_CONTACT_CONF_NAME, 
          MKT_CAMPAIGN_ID, 
          CONTACT_CHL_ID, 
          PUSH_TYPE, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          UPDATE_DATE, 
          STATUS_DATE, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          EVT_CONTACT_CONF_NAME, 
          MKT_CAMPAIGN_ID, 
          CONTACT_CHL_ID, 
          PUSH_TYPE, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          UPDATE_DATE, 
          STATUS_DATE, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="evtContactConfId != null ">
        EVT_CONTACT_CONF_ID = #{evtContactConfId, jdbcType=BIGINT }
      </if>
      <if test="evtContactConfName != null and evtContactConfName != ''">
        and EVT_CONTACT_CONF_NAME = #{evtContactConfName, jdbcType=VARCHAR }
      </if>
      <if test="mktCampaignId != null ">
        and MKT_CAMPAIGN_ID = #{mktCampaignId, jdbcType=BIGINT }
      </if>
      <if test="contactChlId != null ">
        and CONTACT_CHL_ID = #{contactChlId, jdbcType=BIGINT }
      </if>
      <if test="pushType != null and pushType != ''">
        and PUSH_TYPE = #{pushType, jdbcType=VARCHAR }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.MktCamChlConfDO" resultType="java.lang.Integer">
      select count(*) from MKT_CAM_CHL_CONF
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from MKT_CAM_CHL_CONF
        where 
           EVT_CONTACT_CONF_ID = #{evtContactConfId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  MKT_CAM_CHL_CONF 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="evtContactConfId">
      insert into  MKT_CAM_CHL_CONF ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{evtContactConfName,jdbcType=VARCHAR}, 
        #{mktCampaignId,jdbcType=BIGINT}, 
        #{contactChlId,jdbcType=BIGINT}, 
        #{pushType,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  MKT_CAM_CHL_CONF ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{evtContactConfId,jdbcType=BIGINT}, 
        #{evtContactConfName,jdbcType=VARCHAR}, 
        #{mktCampaignId,jdbcType=BIGINT}, 
        #{contactChlId,jdbcType=BIGINT}, 
        #{pushType,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from MKT_CAM_CHL_CONF  
        where
           EVT_CONTACT_CONF_ID = #{evtContactConfId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from MKT_CAM_CHL_CONF
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  MKT_CAM_CHL_CONF
    <trim prefix="set" suffixOverrides=",">
      <if test="evtContactConfName != null">
         EVT_CONTACT_CONF_NAME = #{evtContactConfName,jdbcType=VARCHAR},
      </if>
      <if test="mktCampaignId != null">
         MKT_CAMPAIGN_ID = #{mktCampaignId,jdbcType=BIGINT},
      </if>
      <if test="contactChlId != null">
         CONTACT_CHL_ID = #{contactChlId,jdbcType=BIGINT},
      </if>
      <if test="pushType != null">
         PUSH_TYPE = #{pushType,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           EVT_CONTACT_CONF_ID = #{evtContactConfId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update MKT_CAM_CHL_CONF
    <trim prefix="set" suffixOverrides=",">
      <if test="record.evtContactConfId != null">
        EVT_CONTACT_CONF_ID = #{record.evtContactConfId,jdbcType=BIGINT},
      </if>
      <if test="record.evtContactConfName != null">
        EVT_CONTACT_CONF_NAME = #{record.evtContactConfName,jdbcType=VARCHAR},
      </if>
      <if test="record.mktCampaignId != null">
        MKT_CAMPAIGN_ID = #{record.mktCampaignId,jdbcType=BIGINT},
      </if>
      <if test="record.contactChlId != null">
        CONTACT_CHL_ID = #{record.contactChlId,jdbcType=BIGINT},
      </if>
      <if test="record.pushType != null">
        PUSH_TYPE = #{record.pushType,jdbcType=VARCHAR},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.evtContactConfId != null ">
        EVT_CONTACT_CONF_ID = #{condition.evtContactConfId, jdbcType=BIGINT }
      </if>
      <if test="condition.evtContactConfName != null and condition.evtContactConfName != ''">
        and EVT_CONTACT_CONF_NAME = #{condition.evtContactConfName, jdbcType=VARCHAR }
      </if>
      <if test="condition.mktCampaignId != null ">
        and MKT_CAMPAIGN_ID = #{condition.mktCampaignId, jdbcType=BIGINT }
      </if>
      <if test="condition.contactChlId != null ">
        and CONTACT_CHL_ID = #{condition.contactChlId, jdbcType=BIGINT }
      </if>
      <if test="condition.pushType != null and condition.pushType != ''">
        and PUSH_TYPE = #{condition.pushType, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>