<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.MktCamCustMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.MktCamCustDO">
    <id column="MKT_CAM_CUST_ID" jdbcType="BIGINT" property="mktCamCustId"/>
    <result column="MKT_CAMPAIGN_ID" jdbcType="BIGINT" property="mktCampaignId"/>
    <result column="TARGET_OBJ_TYPE" jdbcType="VARCHAR" property="targetObjType"/>
    <result column="TARGET_OBJ_NBR" jdbcType="VARCHAR" property="targetObjNbr"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
    <result column="LAN_ID" jdbcType="BIGINT" property="lanId"/>
  </resultMap>

  <sql id="CommonColumns">
          MKT_CAM_CUST_ID, 
          MKT_CAMPAIGN_ID, 
          TARGET_OBJ_TYPE, 
          TARGET_OBJ_NBR, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          UPDATE_DATE, 
          REMARK, 
          LAN_ID
  </sql>

  <sql id="CommonColumnsKey">
          MKT_CAMPAIGN_ID, 
          TARGET_OBJ_TYPE, 
          TARGET_OBJ_NBR, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          UPDATE_DATE, 
          REMARK, 
          LAN_ID
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="mktCamCustId != null ">
        MKT_CAM_CUST_ID = #{mktCamCustId, jdbcType=BIGINT }
      </if>
      <if test="mktCampaignId != null ">
        and MKT_CAMPAIGN_ID = #{mktCampaignId, jdbcType=BIGINT }
      </if>
      <if test="targetObjType != null and targetObjType != ''">
        and TARGET_OBJ_TYPE = #{targetObjType, jdbcType=VARCHAR }
      </if>
      <if test="targetObjNbr != null and targetObjNbr != ''">
        and TARGET_OBJ_NBR = #{targetObjNbr, jdbcType=VARCHAR }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
      <if test="lanId != null ">
        and LAN_ID = #{lanId, jdbcType=BIGINT }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.MktCamCustDO" resultType="java.lang.Integer">
      select count(*) from MKT_CAM_CUST
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from MKT_CAM_CUST
        where 
           MKT_CAM_CUST_ID = #{mktCamCustId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  MKT_CAM_CUST 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="mktCamCustId">
      insert into  MKT_CAM_CUST ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{mktCampaignId,jdbcType=BIGINT}, 
        #{targetObjType,jdbcType=VARCHAR}, 
        #{targetObjNbr,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}, 
        #{lanId,jdbcType=BIGINT}
         )
  </insert>

  <insert id="insert">
      insert into  MKT_CAM_CUST ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{mktCamCustId,jdbcType=BIGINT}, 
        #{mktCampaignId,jdbcType=BIGINT}, 
        #{targetObjType,jdbcType=VARCHAR}, 
        #{targetObjNbr,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}, 
        #{lanId,jdbcType=BIGINT}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from MKT_CAM_CUST  
        where
           MKT_CAM_CUST_ID = #{mktCamCustId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from MKT_CAM_CUST
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  MKT_CAM_CUST
    <trim prefix="set" suffixOverrides=",">
      <if test="mktCampaignId != null">
         MKT_CAMPAIGN_ID = #{mktCampaignId,jdbcType=BIGINT},
      </if>
      <if test="targetObjType != null">
         TARGET_OBJ_TYPE = #{targetObjType,jdbcType=VARCHAR},
      </if>
      <if test="targetObjNbr != null">
         TARGET_OBJ_NBR = #{targetObjNbr,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="lanId != null">
         LAN_ID = #{lanId,jdbcType=BIGINT},
      </if>
    </trim>
        where 
           MKT_CAM_CUST_ID = #{mktCamCustId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update MKT_CAM_CUST
    <trim prefix="set" suffixOverrides=",">
      <if test="record.mktCamCustId != null">
        MKT_CAM_CUST_ID = #{record.mktCamCustId,jdbcType=BIGINT},
      </if>
      <if test="record.mktCampaignId != null">
        MKT_CAMPAIGN_ID = #{record.mktCampaignId,jdbcType=BIGINT},
      </if>
      <if test="record.targetObjType != null">
        TARGET_OBJ_TYPE = #{record.targetObjType,jdbcType=VARCHAR},
      </if>
      <if test="record.targetObjNbr != null">
        TARGET_OBJ_NBR = #{record.targetObjNbr,jdbcType=VARCHAR},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.lanId != null">
        LAN_ID = #{record.lanId,jdbcType=BIGINT},
      </if>
    </trim>
    <where>
      <if test="condition.mktCamCustId != null ">
        MKT_CAM_CUST_ID = #{condition.mktCamCustId, jdbcType=BIGINT }
      </if>
      <if test="condition.mktCampaignId != null ">
        and MKT_CAMPAIGN_ID = #{condition.mktCampaignId, jdbcType=BIGINT }
      </if>
      <if test="condition.targetObjType != null and condition.targetObjType != ''">
        and TARGET_OBJ_TYPE = #{condition.targetObjType, jdbcType=VARCHAR }
      </if>
      <if test="condition.targetObjNbr != null and condition.targetObjNbr != ''">
        and TARGET_OBJ_NBR = #{condition.targetObjNbr, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
      <if test="condition.lanId != null ">
        and LAN_ID = #{condition.lanId, jdbcType=BIGINT }
      </if>
    </where>
  </update>
</mapper>