<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.MktResInvUseRecMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.MktResInvUseRecDO">
    <id column="MKT_RES_USE_REC_ID" jdbcType="BIGINT" property="mktResUseRecId"/>
    <result column="MKT_RES_INV_INST_ID" jdbcType="BIGINT" property="mktResInvInstId"/>
    <result column="USE_SYSTEM" jdbcType="VARCHAR" property="useSystem"/>
    <result column="PRINT_NBR" jdbcType="VARCHAR" property="printNbr"/>
    <result column="USED_CD" jdbcType="VARCHAR" property="usedCd"/>
    <result column="INV_STA_NUM" jdbcType="BIGINT" property="invStaNum"/>
    <result column="INV_END_NUM" jdbcType="BIGINT" property="invEndNum"/>
    <result column="USING_TIME" jdbcType="TIMESTAMP" property="usingTime"/>
    <result column="USED_QUANTITY" jdbcType="BIGINT" property="usedQuantity"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
    <result column="MKT_RES_EVENT_ID" jdbcType="BIGINT" property="mktResEventId"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="CREATE_POST" jdbcType="BIGINT" property="createPost"/>
    <result column="CREATE_ORG_ID" jdbcType="BIGINT" property="createOrgId"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="LAN_ID" jdbcType="BIGINT" property="lanId"/>
    <result column="REGION_ID" jdbcType="BIGINT" property="regionId"/>
  </resultMap>

  <sql id="CommonColumns">
          MKT_RES_USE_REC_ID, 
          MKT_RES_INV_INST_ID, 
          USE_SYSTEM, 
          PRINT_NBR, 
          USED_CD, 
          INV_STA_NUM, 
          INV_END_NUM, 
          USING_TIME, 
          USED_QUANTITY, 
          REMARK, 
          MKT_RES_EVENT_ID, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_POST, 
          CREATE_ORG_ID, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          UPDATE_DATE, 
          LAN_ID, 
          REGION_ID
  </sql>

  <sql id="CommonColumnsKey">
          MKT_RES_INV_INST_ID, 
          USE_SYSTEM, 
          PRINT_NBR, 
          USED_CD, 
          INV_STA_NUM, 
          INV_END_NUM, 
          USING_TIME, 
          USED_QUANTITY, 
          REMARK, 
          MKT_RES_EVENT_ID, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_POST, 
          CREATE_ORG_ID, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          UPDATE_DATE, 
          LAN_ID, 
          REGION_ID
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="mktResUseRecId != null ">
        MKT_RES_USE_REC_ID = #{mktResUseRecId, jdbcType=BIGINT }
      </if>
      <if test="mktResInvInstId != null ">
        and MKT_RES_INV_INST_ID = #{mktResInvInstId, jdbcType=BIGINT }
      </if>
      <if test="useSystem != null and useSystem != ''">
        and USE_SYSTEM = #{useSystem, jdbcType=VARCHAR }
      </if>
      <if test="printNbr != null and printNbr != ''">
        and PRINT_NBR = #{printNbr, jdbcType=VARCHAR }
      </if>
      <if test="usedCd != null and usedCd != ''">
        and USED_CD = #{usedCd, jdbcType=VARCHAR }
      </if>
      <if test="invStaNum != null ">
        and INV_STA_NUM = #{invStaNum, jdbcType=BIGINT }
      </if>
      <if test="invEndNum != null ">
        and INV_END_NUM = #{invEndNum, jdbcType=BIGINT }
      </if>
      <if test="usingTime != null ">
        and USING_TIME = #{usingTime, jdbcType=TIMESTAMP }
      </if>
      <if test="usedQuantity != null ">
        and USED_QUANTITY = #{usedQuantity, jdbcType=BIGINT }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
      <if test="mktResEventId != null ">
        and MKT_RES_EVENT_ID = #{mktResEventId, jdbcType=BIGINT }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createPost != null ">
        and CREATE_POST = #{createPost, jdbcType=BIGINT }
      </if>
      <if test="createOrgId != null ">
        and CREATE_ORG_ID = #{createOrgId, jdbcType=BIGINT }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="lanId != null ">
        and LAN_ID = #{lanId, jdbcType=BIGINT }
      </if>
      <if test="regionId != null ">
        and REGION_ID = #{regionId, jdbcType=BIGINT }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.MktResInvUseRecDO" resultType="java.lang.Integer">
      select count(*) from MKT_RES_INV_USE_REC
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from MKT_RES_INV_USE_REC
        where 
           MKT_RES_USE_REC_ID = #{mktResUseRecId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  MKT_RES_INV_USE_REC 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="mktResUseRecId">
      insert into  MKT_RES_INV_USE_REC ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{mktResInvInstId,jdbcType=BIGINT}, 
        #{useSystem,jdbcType=VARCHAR}, 
        #{printNbr,jdbcType=VARCHAR}, 
        #{usedCd,jdbcType=VARCHAR}, 
        #{invStaNum,jdbcType=BIGINT}, 
        #{invEndNum,jdbcType=BIGINT}, 
        #{usingTime,jdbcType=TIMESTAMP}, 
        #{usedQuantity,jdbcType=BIGINT}, 
        #{remark,jdbcType=VARCHAR}, 
        #{mktResEventId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createPost,jdbcType=BIGINT}, 
        #{createOrgId,jdbcType=BIGINT}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{lanId,jdbcType=BIGINT}, 
        #{regionId,jdbcType=BIGINT}
         )
  </insert>

  <insert id="insert">
      insert into  MKT_RES_INV_USE_REC ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{mktResUseRecId,jdbcType=BIGINT}, 
        #{mktResInvInstId,jdbcType=BIGINT}, 
        #{useSystem,jdbcType=VARCHAR}, 
        #{printNbr,jdbcType=VARCHAR}, 
        #{usedCd,jdbcType=VARCHAR}, 
        #{invStaNum,jdbcType=BIGINT}, 
        #{invEndNum,jdbcType=BIGINT}, 
        #{usingTime,jdbcType=TIMESTAMP}, 
        #{usedQuantity,jdbcType=BIGINT}, 
        #{remark,jdbcType=VARCHAR}, 
        #{mktResEventId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createPost,jdbcType=BIGINT}, 
        #{createOrgId,jdbcType=BIGINT}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{lanId,jdbcType=BIGINT}, 
        #{regionId,jdbcType=BIGINT}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from MKT_RES_INV_USE_REC  
        where
           MKT_RES_USE_REC_ID = #{mktResUseRecId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from MKT_RES_INV_USE_REC
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  MKT_RES_INV_USE_REC
    <trim prefix="set" suffixOverrides=",">
      <if test="mktResInvInstId != null">
         MKT_RES_INV_INST_ID = #{mktResInvInstId,jdbcType=BIGINT},
      </if>
      <if test="useSystem != null">
         USE_SYSTEM = #{useSystem,jdbcType=VARCHAR},
      </if>
      <if test="printNbr != null">
         PRINT_NBR = #{printNbr,jdbcType=VARCHAR},
      </if>
      <if test="usedCd != null">
         USED_CD = #{usedCd,jdbcType=VARCHAR},
      </if>
      <if test="invStaNum != null">
         INV_STA_NUM = #{invStaNum,jdbcType=BIGINT},
      </if>
      <if test="invEndNum != null">
         INV_END_NUM = #{invEndNum,jdbcType=BIGINT},
      </if>
      <if test="usingTime != null">
         USING_TIME = #{usingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="usedQuantity != null">
         USED_QUANTITY = #{usedQuantity,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="mktResEventId != null">
         MKT_RES_EVENT_ID = #{mktResEventId,jdbcType=BIGINT},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createPost != null">
         CREATE_POST = #{createPost,jdbcType=BIGINT},
      </if>
      <if test="createOrgId != null">
         CREATE_ORG_ID = #{createOrgId,jdbcType=BIGINT},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lanId != null">
         LAN_ID = #{lanId,jdbcType=BIGINT},
      </if>
      <if test="regionId != null">
         REGION_ID = #{regionId,jdbcType=BIGINT},
      </if>
    </trim>
        where 
           MKT_RES_USE_REC_ID = #{mktResUseRecId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update MKT_RES_INV_USE_REC
    <trim prefix="set" suffixOverrides=",">
      <if test="record.mktResUseRecId != null">
        MKT_RES_USE_REC_ID = #{record.mktResUseRecId,jdbcType=BIGINT},
      </if>
      <if test="record.mktResInvInstId != null">
        MKT_RES_INV_INST_ID = #{record.mktResInvInstId,jdbcType=BIGINT},
      </if>
      <if test="record.useSystem != null">
        USE_SYSTEM = #{record.useSystem,jdbcType=VARCHAR},
      </if>
      <if test="record.printNbr != null">
        PRINT_NBR = #{record.printNbr,jdbcType=VARCHAR},
      </if>
      <if test="record.usedCd != null">
        USED_CD = #{record.usedCd,jdbcType=VARCHAR},
      </if>
      <if test="record.invStaNum != null">
        INV_STA_NUM = #{record.invStaNum,jdbcType=BIGINT},
      </if>
      <if test="record.invEndNum != null">
        INV_END_NUM = #{record.invEndNum,jdbcType=BIGINT},
      </if>
      <if test="record.usingTime != null">
        USING_TIME = #{record.usingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.usedQuantity != null">
        USED_QUANTITY = #{record.usedQuantity,jdbcType=BIGINT},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.mktResEventId != null">
        MKT_RES_EVENT_ID = #{record.mktResEventId,jdbcType=BIGINT},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createPost != null">
        CREATE_POST = #{record.createPost,jdbcType=BIGINT},
      </if>
      <if test="record.createOrgId != null">
        CREATE_ORG_ID = #{record.createOrgId,jdbcType=BIGINT},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lanId != null">
        LAN_ID = #{record.lanId,jdbcType=BIGINT},
      </if>
      <if test="record.regionId != null">
        REGION_ID = #{record.regionId,jdbcType=BIGINT},
      </if>
    </trim>
    <where>
      <if test="condition.mktResUseRecId != null ">
        MKT_RES_USE_REC_ID = #{condition.mktResUseRecId, jdbcType=BIGINT }
      </if>
      <if test="condition.mktResInvInstId != null ">
        and MKT_RES_INV_INST_ID = #{condition.mktResInvInstId, jdbcType=BIGINT }
      </if>
      <if test="condition.useSystem != null and condition.useSystem != ''">
        and USE_SYSTEM = #{condition.useSystem, jdbcType=VARCHAR }
      </if>
      <if test="condition.printNbr != null and condition.printNbr != ''">
        and PRINT_NBR = #{condition.printNbr, jdbcType=VARCHAR }
      </if>
      <if test="condition.usedCd != null and condition.usedCd != ''">
        and USED_CD = #{condition.usedCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.invStaNum != null ">
        and INV_STA_NUM = #{condition.invStaNum, jdbcType=BIGINT }
      </if>
      <if test="condition.invEndNum != null ">
        and INV_END_NUM = #{condition.invEndNum, jdbcType=BIGINT }
      </if>
      <if test="condition.usingTime != null ">
        and USING_TIME = #{condition.usingTime, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.usedQuantity != null ">
        and USED_QUANTITY = #{condition.usedQuantity, jdbcType=BIGINT }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
      <if test="condition.mktResEventId != null ">
        and MKT_RES_EVENT_ID = #{condition.mktResEventId, jdbcType=BIGINT }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createPost != null ">
        and CREATE_POST = #{condition.createPost, jdbcType=BIGINT }
      </if>
      <if test="condition.createOrgId != null ">
        and CREATE_ORG_ID = #{condition.createOrgId, jdbcType=BIGINT }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.lanId != null ">
        and LAN_ID = #{condition.lanId, jdbcType=BIGINT }
      </if>
      <if test="condition.regionId != null ">
        and REGION_ID = #{condition.regionId, jdbcType=BIGINT }
      </if>
    </where>
  </update>
</mapper>