<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.MktResStoreMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.MktResStoreDO">
    <id column="MKT_RES_STORE_ID" jdbcType="INTEGER" property="mktResStoreId"/>
    <result column="MKT_RES_STORE_NBR" jdbcType="VARCHAR" property="mktResStoreNbr"/>
    <result column="MKT_RES_STORE_NAME" jdbcType="VARCHAR" property="mktResStoreName"/>
    <result column="CHECK_DATE" jdbcType="TIMESTAMP" property="checkDate"/>
    <result column="PAR_STORE_ID" jdbcType="INTEGER" property="parStoreId"/>
    <result column="REC_STORE_ID" jdbcType="INTEGER" property="recStoreId"/>
    <result column="REC_TYPE" jdbcType="VARCHAR" property="recType"/>
    <result column="REC_DAY" jdbcType="INTEGER" property="recDay"/>
    <result column="STORE_TYPE" jdbcType="VARCHAR" property="storeType"/>
    <result column="STORE_SUB_TYPE" jdbcType="VARCHAR" property="storeSubType"/>
    <result column="STORE_GRADE" jdbcType="VARCHAR" property="storeGrade"/>
    <result column="EFF_DATE" jdbcType="TIMESTAMP" property="effDate"/>
    <result column="EXP_DATE" jdbcType="TIMESTAMP" property="expDate"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="LAN_ID" jdbcType="BIGINT" property="lanId"/>
    <result column="REGION_ID" jdbcType="BIGINT" property="regionId"/>
  </resultMap>

  <sql id="CommonColumns">
          MKT_RES_STORE_ID, 
          MKT_RES_STORE_NBR, 
          MKT_RES_STORE_NAME, 
          CHECK_DATE, 
          PAR_STORE_ID, 
          REC_STORE_ID, 
          REC_TYPE, 
          REC_DAY, 
          STORE_TYPE, 
          STORE_SUB_TYPE, 
          STORE_GRADE, 
          EFF_DATE, 
          EXP_DATE, 
          STATUS_CD, 
          STATUS_DATE, 
          REMARK, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          UPDATE_DATE, 
          LAN_ID, 
          REGION_ID
  </sql>

  <sql id="CommonColumnsKey">
          MKT_RES_STORE_NBR, 
          MKT_RES_STORE_NAME, 
          CHECK_DATE, 
          PAR_STORE_ID, 
          REC_STORE_ID, 
          REC_TYPE, 
          REC_DAY, 
          STORE_TYPE, 
          STORE_SUB_TYPE, 
          STORE_GRADE, 
          EFF_DATE, 
          EXP_DATE, 
          STATUS_CD, 
          STATUS_DATE, 
          REMARK, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          UPDATE_DATE, 
          LAN_ID, 
          REGION_ID
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="mktResStoreId != null ">
        MKT_RES_STORE_ID = #{mktResStoreId, jdbcType=INTEGER }
      </if>
      <if test="mktResStoreNbr != null and mktResStoreNbr != ''">
        and MKT_RES_STORE_NBR = #{mktResStoreNbr, jdbcType=VARCHAR }
      </if>
      <if test="mktResStoreName != null and mktResStoreName != ''">
        and MKT_RES_STORE_NAME = #{mktResStoreName, jdbcType=VARCHAR }
      </if>
      <if test="checkDate != null ">
        and CHECK_DATE = #{checkDate, jdbcType=TIMESTAMP }
      </if>
      <if test="parStoreId != null ">
        and PAR_STORE_ID = #{parStoreId, jdbcType=INTEGER }
      </if>
      <if test="recStoreId != null ">
        and REC_STORE_ID = #{recStoreId, jdbcType=INTEGER }
      </if>
      <if test="recType != null and recType != ''">
        and REC_TYPE = #{recType, jdbcType=VARCHAR }
      </if>
      <if test="recDay != null ">
        and REC_DAY = #{recDay, jdbcType=INTEGER }
      </if>
      <if test="storeType != null and storeType != ''">
        and STORE_TYPE = #{storeType, jdbcType=VARCHAR }
      </if>
      <if test="storeSubType != null and storeSubType != ''">
        and STORE_SUB_TYPE = #{storeSubType, jdbcType=VARCHAR }
      </if>
      <if test="storeGrade != null and storeGrade != ''">
        and STORE_GRADE = #{storeGrade, jdbcType=VARCHAR }
      </if>
      <if test="effDate != null ">
        and EFF_DATE = #{effDate, jdbcType=TIMESTAMP }
      </if>
      <if test="expDate != null ">
        and EXP_DATE = #{expDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="lanId != null ">
        and LAN_ID = #{lanId, jdbcType=BIGINT }
      </if>
      <if test="regionId != null ">
        and REGION_ID = #{regionId, jdbcType=BIGINT }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.MktResStoreDO" resultType="java.lang.Integer">
      select count(*) from MKT_RES_STORE
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from MKT_RES_STORE
        where 
           MKT_RES_STORE_ID = #{mktResStoreId,jdbcType=INTEGER}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  MKT_RES_STORE 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="mktResStoreId">
      insert into  MKT_RES_STORE ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{mktResStoreNbr,jdbcType=VARCHAR}, 
        #{mktResStoreName,jdbcType=VARCHAR}, 
        #{checkDate,jdbcType=TIMESTAMP}, 
        #{parStoreId,jdbcType=INTEGER}, 
        #{recStoreId,jdbcType=INTEGER}, 
        #{recType,jdbcType=VARCHAR}, 
        #{recDay,jdbcType=INTEGER}, 
        #{storeType,jdbcType=VARCHAR}, 
        #{storeSubType,jdbcType=VARCHAR}, 
        #{storeGrade,jdbcType=VARCHAR}, 
        #{effDate,jdbcType=TIMESTAMP}, 
        #{expDate,jdbcType=TIMESTAMP}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{lanId,jdbcType=BIGINT}, 
        #{regionId,jdbcType=BIGINT}
         )
  </insert>

  <insert id="insert">
      insert into  MKT_RES_STORE ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{mktResStoreId,jdbcType=INTEGER}, 
        #{mktResStoreNbr,jdbcType=VARCHAR}, 
        #{mktResStoreName,jdbcType=VARCHAR}, 
        #{checkDate,jdbcType=TIMESTAMP}, 
        #{parStoreId,jdbcType=INTEGER}, 
        #{recStoreId,jdbcType=INTEGER}, 
        #{recType,jdbcType=VARCHAR}, 
        #{recDay,jdbcType=INTEGER}, 
        #{storeType,jdbcType=VARCHAR}, 
        #{storeSubType,jdbcType=VARCHAR}, 
        #{storeGrade,jdbcType=VARCHAR}, 
        #{effDate,jdbcType=TIMESTAMP}, 
        #{expDate,jdbcType=TIMESTAMP}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{lanId,jdbcType=BIGINT}, 
        #{regionId,jdbcType=BIGINT}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from MKT_RES_STORE  
        where
           MKT_RES_STORE_ID = #{mktResStoreId,jdbcType=INTEGER}
  </delete>

  <delete id="delete">
      delete from MKT_RES_STORE
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  MKT_RES_STORE
    <trim prefix="set" suffixOverrides=",">
      <if test="mktResStoreNbr != null">
         MKT_RES_STORE_NBR = #{mktResStoreNbr,jdbcType=VARCHAR},
      </if>
      <if test="mktResStoreName != null">
         MKT_RES_STORE_NAME = #{mktResStoreName,jdbcType=VARCHAR},
      </if>
      <if test="checkDate != null">
         CHECK_DATE = #{checkDate,jdbcType=TIMESTAMP},
      </if>
      <if test="parStoreId != null">
         PAR_STORE_ID = #{parStoreId,jdbcType=INTEGER},
      </if>
      <if test="recStoreId != null">
         REC_STORE_ID = #{recStoreId,jdbcType=INTEGER},
      </if>
      <if test="recType != null">
         REC_TYPE = #{recType,jdbcType=VARCHAR},
      </if>
      <if test="recDay != null">
         REC_DAY = #{recDay,jdbcType=INTEGER},
      </if>
      <if test="storeType != null">
         STORE_TYPE = #{storeType,jdbcType=VARCHAR},
      </if>
      <if test="storeSubType != null">
         STORE_SUB_TYPE = #{storeSubType,jdbcType=VARCHAR},
      </if>
      <if test="storeGrade != null">
         STORE_GRADE = #{storeGrade,jdbcType=VARCHAR},
      </if>
      <if test="effDate != null">
         EFF_DATE = #{effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expDate != null">
         EXP_DATE = #{expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lanId != null">
         LAN_ID = #{lanId,jdbcType=BIGINT},
      </if>
      <if test="regionId != null">
         REGION_ID = #{regionId,jdbcType=BIGINT},
      </if>
    </trim>
        where 
           MKT_RES_STORE_ID = #{mktResStoreId,jdbcType=INTEGER}
  </update>

  <update id="updateBySelective">
      update MKT_RES_STORE
    <trim prefix="set" suffixOverrides=",">
      <if test="record.mktResStoreId != null">
        MKT_RES_STORE_ID = #{record.mktResStoreId,jdbcType=INTEGER},
      </if>
      <if test="record.mktResStoreNbr != null">
        MKT_RES_STORE_NBR = #{record.mktResStoreNbr,jdbcType=VARCHAR},
      </if>
      <if test="record.mktResStoreName != null">
        MKT_RES_STORE_NAME = #{record.mktResStoreName,jdbcType=VARCHAR},
      </if>
      <if test="record.checkDate != null">
        CHECK_DATE = #{record.checkDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.parStoreId != null">
        PAR_STORE_ID = #{record.parStoreId,jdbcType=INTEGER},
      </if>
      <if test="record.recStoreId != null">
        REC_STORE_ID = #{record.recStoreId,jdbcType=INTEGER},
      </if>
      <if test="record.recType != null">
        REC_TYPE = #{record.recType,jdbcType=VARCHAR},
      </if>
      <if test="record.recDay != null">
        REC_DAY = #{record.recDay,jdbcType=INTEGER},
      </if>
      <if test="record.storeType != null">
        STORE_TYPE = #{record.storeType,jdbcType=VARCHAR},
      </if>
      <if test="record.storeSubType != null">
        STORE_SUB_TYPE = #{record.storeSubType,jdbcType=VARCHAR},
      </if>
      <if test="record.storeGrade != null">
        STORE_GRADE = #{record.storeGrade,jdbcType=VARCHAR},
      </if>
      <if test="record.effDate != null">
        EFF_DATE = #{record.effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expDate != null">
        EXP_DATE = #{record.expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lanId != null">
        LAN_ID = #{record.lanId,jdbcType=BIGINT},
      </if>
      <if test="record.regionId != null">
        REGION_ID = #{record.regionId,jdbcType=BIGINT},
      </if>
    </trim>
    <where>
      <if test="condition.mktResStoreId != null ">
        MKT_RES_STORE_ID = #{condition.mktResStoreId, jdbcType=INTEGER }
      </if>
      <if test="condition.mktResStoreNbr != null and condition.mktResStoreNbr != ''">
        and MKT_RES_STORE_NBR = #{condition.mktResStoreNbr, jdbcType=VARCHAR }
      </if>
      <if test="condition.mktResStoreName != null and condition.mktResStoreName != ''">
        and MKT_RES_STORE_NAME = #{condition.mktResStoreName, jdbcType=VARCHAR }
      </if>
      <if test="condition.checkDate != null ">
        and CHECK_DATE = #{condition.checkDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.parStoreId != null ">
        and PAR_STORE_ID = #{condition.parStoreId, jdbcType=INTEGER }
      </if>
      <if test="condition.recStoreId != null ">
        and REC_STORE_ID = #{condition.recStoreId, jdbcType=INTEGER }
      </if>
      <if test="condition.recType != null and condition.recType != ''">
        and REC_TYPE = #{condition.recType, jdbcType=VARCHAR }
      </if>
      <if test="condition.recDay != null ">
        and REC_DAY = #{condition.recDay, jdbcType=INTEGER }
      </if>
      <if test="condition.storeType != null and condition.storeType != ''">
        and STORE_TYPE = #{condition.storeType, jdbcType=VARCHAR }
      </if>
      <if test="condition.storeSubType != null and condition.storeSubType != ''">
        and STORE_SUB_TYPE = #{condition.storeSubType, jdbcType=VARCHAR }
      </if>
      <if test="condition.storeGrade != null and condition.storeGrade != ''">
        and STORE_GRADE = #{condition.storeGrade, jdbcType=VARCHAR }
      </if>
      <if test="condition.effDate != null ">
        and EFF_DATE = #{condition.effDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.expDate != null ">
        and EXP_DATE = #{condition.expDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.lanId != null ">
        and LAN_ID = #{condition.lanId, jdbcType=BIGINT }
      </if>
      <if test="condition.regionId != null ">
        and REGION_ID = #{condition.regionId, jdbcType=BIGINT }
      </if>
    </where>
  </update>
</mapper>