<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.ObjAttrRstrRulMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.ObjAttrRstrRulDO">
    <id column="OBJ_ATTR_RSTR_RUL_ID" jdbcType="BIGINT" property="objAttrRstrRulId"/>
    <result column="ATTR_RSTR_TEMP_ID" jdbcType="BIGINT" property="attrRstrTempId"/>
    <result column="REL_OBJ_ID" jdbcType="VARCHAR" property="relObjId"/>
    <result column="A_OBJ_ID" jdbcType="VARCHAR" property="aObjId"/>
    <result column="A_ATTR_ID" jdbcType="BIGINT" property="aAttrId"/>
    <result column="A_SERVER_OFFER" jdbcType="BIGINT" property="aServerOffer"/>
    <result column="Z_OBJ_ID" jdbcType="VARCHAR" property="zObjId"/>
    <result column="Z_ATTR_ID" jdbcType="BIGINT" property="zAttrId"/>
    <result column="Z_SERVER_OFFER" jdbcType="BIGINT" property="zServerOffer"/>
    <result column="DIRECTION" jdbcType="VARCHAR" property="direction"/>
    <result column="RULE_PROMPT" jdbcType="VARCHAR" property="rulePrompt"/>
    <result column="APPLY_REGION_ID" jdbcType="BIGINT" property="applyRegionId"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          OBJ_ATTR_RSTR_RUL_ID, 
          ATTR_RSTR_TEMP_ID, 
          REL_OBJ_ID, 
          A_OBJ_ID, 
          A_ATTR_ID, 
          A_SERVER_OFFER, 
          Z_OBJ_ID, 
          Z_ATTR_ID, 
          Z_SERVER_OFFER, 
          DIRECTION, 
          RULE_PROMPT, 
          APPLY_REGION_ID, 
          STATUS_CD, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          ATTR_RSTR_TEMP_ID, 
          REL_OBJ_ID, 
          A_OBJ_ID, 
          A_ATTR_ID, 
          A_SERVER_OFFER, 
          Z_OBJ_ID, 
          Z_ATTR_ID, 
          Z_SERVER_OFFER, 
          DIRECTION, 
          RULE_PROMPT, 
          APPLY_REGION_ID, 
          STATUS_CD, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="objAttrRstrRulId != null ">
        OBJ_ATTR_RSTR_RUL_ID = #{objAttrRstrRulId, jdbcType=BIGINT }
      </if>
      <if test="attrRstrTempId != null ">
        and ATTR_RSTR_TEMP_ID = #{attrRstrTempId, jdbcType=BIGINT }
      </if>
      <if test="relObjId != null and relObjId != ''">
        and REL_OBJ_ID = #{relObjId, jdbcType=VARCHAR }
      </if>
      <if test="aObjId != null and aObjId != ''">
        and A_OBJ_ID = #{aObjId, jdbcType=VARCHAR }
      </if>
      <if test="aAttrId != null ">
        and A_ATTR_ID = #{aAttrId, jdbcType=BIGINT }
      </if>
      <if test="aServerOffer != null ">
        and A_SERVER_OFFER = #{aServerOffer, jdbcType=BIGINT }
      </if>
      <if test="zObjId != null and zObjId != ''">
        and Z_OBJ_ID = #{zObjId, jdbcType=VARCHAR }
      </if>
      <if test="zAttrId != null ">
        and Z_ATTR_ID = #{zAttrId, jdbcType=BIGINT }
      </if>
      <if test="zServerOffer != null ">
        and Z_SERVER_OFFER = #{zServerOffer, jdbcType=BIGINT }
      </if>
      <if test="direction != null and direction != ''">
        and DIRECTION = #{direction, jdbcType=VARCHAR }
      </if>
      <if test="rulePrompt != null and rulePrompt != ''">
        and RULE_PROMPT = #{rulePrompt, jdbcType=VARCHAR }
      </if>
      <if test="applyRegionId != null ">
        and APPLY_REGION_ID = #{applyRegionId, jdbcType=BIGINT }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.ObjAttrRstrRulDO" resultType="java.lang.Integer">
      select count(*) from OBJ_ATTR_RSTR_RUL
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from OBJ_ATTR_RSTR_RUL
        where 
           OBJ_ATTR_RSTR_RUL_ID = #{objAttrRstrRulId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  OBJ_ATTR_RSTR_RUL 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="objAttrRstrRulId">
      insert into  OBJ_ATTR_RSTR_RUL ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{attrRstrTempId,jdbcType=BIGINT}, 
        #{relObjId,jdbcType=VARCHAR}, 
        #{aObjId,jdbcType=VARCHAR}, 
        #{aAttrId,jdbcType=BIGINT}, 
        #{aServerOffer,jdbcType=BIGINT}, 
        #{zObjId,jdbcType=VARCHAR}, 
        #{zAttrId,jdbcType=BIGINT}, 
        #{zServerOffer,jdbcType=BIGINT}, 
        #{direction,jdbcType=VARCHAR}, 
        #{rulePrompt,jdbcType=VARCHAR}, 
        #{applyRegionId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  OBJ_ATTR_RSTR_RUL ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{objAttrRstrRulId,jdbcType=BIGINT}, 
        #{attrRstrTempId,jdbcType=BIGINT}, 
        #{relObjId,jdbcType=VARCHAR}, 
        #{aObjId,jdbcType=VARCHAR}, 
        #{aAttrId,jdbcType=BIGINT}, 
        #{aServerOffer,jdbcType=BIGINT}, 
        #{zObjId,jdbcType=VARCHAR}, 
        #{zAttrId,jdbcType=BIGINT}, 
        #{zServerOffer,jdbcType=BIGINT}, 
        #{direction,jdbcType=VARCHAR}, 
        #{rulePrompt,jdbcType=VARCHAR}, 
        #{applyRegionId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from OBJ_ATTR_RSTR_RUL  
        where
           OBJ_ATTR_RSTR_RUL_ID = #{objAttrRstrRulId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from OBJ_ATTR_RSTR_RUL
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  OBJ_ATTR_RSTR_RUL
    <trim prefix="set" suffixOverrides=",">
      <if test="attrRstrTempId != null">
         ATTR_RSTR_TEMP_ID = #{attrRstrTempId,jdbcType=BIGINT},
      </if>
      <if test="relObjId != null">
         REL_OBJ_ID = #{relObjId,jdbcType=VARCHAR},
      </if>
      <if test="aObjId != null">
         A_OBJ_ID = #{aObjId,jdbcType=VARCHAR},
      </if>
      <if test="aAttrId != null">
         A_ATTR_ID = #{aAttrId,jdbcType=BIGINT},
      </if>
      <if test="aServerOffer != null">
         A_SERVER_OFFER = #{aServerOffer,jdbcType=BIGINT},
      </if>
      <if test="zObjId != null">
         Z_OBJ_ID = #{zObjId,jdbcType=VARCHAR},
      </if>
      <if test="zAttrId != null">
         Z_ATTR_ID = #{zAttrId,jdbcType=BIGINT},
      </if>
      <if test="zServerOffer != null">
         Z_SERVER_OFFER = #{zServerOffer,jdbcType=BIGINT},
      </if>
      <if test="direction != null">
         DIRECTION = #{direction,jdbcType=VARCHAR},
      </if>
      <if test="rulePrompt != null">
         RULE_PROMPT = #{rulePrompt,jdbcType=VARCHAR},
      </if>
      <if test="applyRegionId != null">
         APPLY_REGION_ID = #{applyRegionId,jdbcType=BIGINT},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           OBJ_ATTR_RSTR_RUL_ID = #{objAttrRstrRulId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update OBJ_ATTR_RSTR_RUL
    <trim prefix="set" suffixOverrides=",">
      <if test="record.objAttrRstrRulId != null">
        OBJ_ATTR_RSTR_RUL_ID = #{record.objAttrRstrRulId,jdbcType=BIGINT},
      </if>
      <if test="record.attrRstrTempId != null">
        ATTR_RSTR_TEMP_ID = #{record.attrRstrTempId,jdbcType=BIGINT},
      </if>
      <if test="record.relObjId != null">
        REL_OBJ_ID = #{record.relObjId,jdbcType=VARCHAR},
      </if>
      <if test="record.aObjId != null">
        A_OBJ_ID = #{record.aObjId,jdbcType=VARCHAR},
      </if>
      <if test="record.aAttrId != null">
        A_ATTR_ID = #{record.aAttrId,jdbcType=BIGINT},
      </if>
      <if test="record.aServerOffer != null">
        A_SERVER_OFFER = #{record.aServerOffer,jdbcType=BIGINT},
      </if>
      <if test="record.zObjId != null">
        Z_OBJ_ID = #{record.zObjId,jdbcType=VARCHAR},
      </if>
      <if test="record.zAttrId != null">
        Z_ATTR_ID = #{record.zAttrId,jdbcType=BIGINT},
      </if>
      <if test="record.zServerOffer != null">
        Z_SERVER_OFFER = #{record.zServerOffer,jdbcType=BIGINT},
      </if>
      <if test="record.direction != null">
        DIRECTION = #{record.direction,jdbcType=VARCHAR},
      </if>
      <if test="record.rulePrompt != null">
        RULE_PROMPT = #{record.rulePrompt,jdbcType=VARCHAR},
      </if>
      <if test="record.applyRegionId != null">
        APPLY_REGION_ID = #{record.applyRegionId,jdbcType=BIGINT},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.objAttrRstrRulId != null ">
        OBJ_ATTR_RSTR_RUL_ID = #{condition.objAttrRstrRulId, jdbcType=BIGINT }
      </if>
      <if test="condition.attrRstrTempId != null ">
        and ATTR_RSTR_TEMP_ID = #{condition.attrRstrTempId, jdbcType=BIGINT }
      </if>
      <if test="condition.relObjId != null and condition.relObjId != ''">
        and REL_OBJ_ID = #{condition.relObjId, jdbcType=VARCHAR }
      </if>
      <if test="condition.aObjId != null and condition.aObjId != ''">
        and A_OBJ_ID = #{condition.aObjId, jdbcType=VARCHAR }
      </if>
      <if test="condition.aAttrId != null ">
        and A_ATTR_ID = #{condition.aAttrId, jdbcType=BIGINT }
      </if>
      <if test="condition.aServerOffer != null ">
        and A_SERVER_OFFER = #{condition.aServerOffer, jdbcType=BIGINT }
      </if>
      <if test="condition.zObjId != null and condition.zObjId != ''">
        and Z_OBJ_ID = #{condition.zObjId, jdbcType=VARCHAR }
      </if>
      <if test="condition.zAttrId != null ">
        and Z_ATTR_ID = #{condition.zAttrId, jdbcType=BIGINT }
      </if>
      <if test="condition.zServerOffer != null ">
        and Z_SERVER_OFFER = #{condition.zServerOffer, jdbcType=BIGINT }
      </if>
      <if test="condition.direction != null and condition.direction != ''">
        and DIRECTION = #{condition.direction, jdbcType=VARCHAR }
      </if>
      <if test="condition.rulePrompt != null and condition.rulePrompt != ''">
        and RULE_PROMPT = #{condition.rulePrompt, jdbcType=VARCHAR }
      </if>
      <if test="condition.applyRegionId != null ">
        and APPLY_REGION_ID = #{condition.applyRegionId, jdbcType=BIGINT }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>