<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.OfferAgreeMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.OfferAgreeDO">
    <id column="OFFER_AGREE_ID" jdbcType="BIGINT" property="offerAgreeId"/>
    <result column="AGREE_ID" jdbcType="BIGINT" property="agreeId"/>
    <result column="AGREEMENT_TMP_ID" jdbcType="BIGINT" property="agreementTmpId"/>
    <result column="OFFER_ID" jdbcType="INTEGER" property="offerId"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
  </resultMap>

  <sql id="CommonColumns">
          OFFER_AGREE_ID, 
          AGREE_ID, 
          AGREEMENT_TMP_ID, 
          OFFER_ID, 
          STATUS_DATE, 
          STATUS_CD, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          UPDATE_DATE
  </sql>

  <sql id="CommonColumnsKey">
          AGREE_ID, 
          AGREEMENT_TMP_ID, 
          OFFER_ID, 
          STATUS_DATE, 
          STATUS_CD, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          UPDATE_DATE
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="offerAgreeId != null ">
        OFFER_AGREE_ID = #{offerAgreeId, jdbcType=BIGINT }
      </if>
      <if test="agreeId != null ">
        and AGREE_ID = #{agreeId, jdbcType=BIGINT }
      </if>
      <if test="agreementTmpId != null ">
        and AGREEMENT_TMP_ID = #{agreementTmpId, jdbcType=BIGINT }
      </if>
      <if test="offerId != null ">
        and OFFER_ID = #{offerId, jdbcType=INTEGER }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.OfferAgreeDO" resultType="java.lang.Integer">
      select count(*) from OFFER_AGREE
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from OFFER_AGREE
        where 
           OFFER_AGREE_ID = #{offerAgreeId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  OFFER_AGREE 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="offerAgreeId">
      insert into  OFFER_AGREE ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{agreeId,jdbcType=BIGINT}, 
        #{agreementTmpId,jdbcType=BIGINT}, 
        #{offerId,jdbcType=INTEGER}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <insert id="insert">
      insert into  OFFER_AGREE ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{offerAgreeId,jdbcType=BIGINT}, 
        #{agreeId,jdbcType=BIGINT}, 
        #{agreementTmpId,jdbcType=BIGINT}, 
        #{offerId,jdbcType=INTEGER}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from OFFER_AGREE  
        where
           OFFER_AGREE_ID = #{offerAgreeId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from OFFER_AGREE
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  OFFER_AGREE
    <trim prefix="set" suffixOverrides=",">
      <if test="agreeId != null">
         AGREE_ID = #{agreeId,jdbcType=BIGINT},
      </if>
      <if test="agreementTmpId != null">
         AGREEMENT_TMP_ID = #{agreementTmpId,jdbcType=BIGINT},
      </if>
      <if test="offerId != null">
         OFFER_ID = #{offerId,jdbcType=INTEGER},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
        where 
           OFFER_AGREE_ID = #{offerAgreeId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update OFFER_AGREE
    <trim prefix="set" suffixOverrides=",">
      <if test="record.offerAgreeId != null">
        OFFER_AGREE_ID = #{record.offerAgreeId,jdbcType=BIGINT},
      </if>
      <if test="record.agreeId != null">
        AGREE_ID = #{record.agreeId,jdbcType=BIGINT},
      </if>
      <if test="record.agreementTmpId != null">
        AGREEMENT_TMP_ID = #{record.agreementTmpId,jdbcType=BIGINT},
      </if>
      <if test="record.offerId != null">
        OFFER_ID = #{record.offerId,jdbcType=INTEGER},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <where>
      <if test="condition.offerAgreeId != null ">
        OFFER_AGREE_ID = #{condition.offerAgreeId, jdbcType=BIGINT }
      </if>
      <if test="condition.agreeId != null ">
        and AGREE_ID = #{condition.agreeId, jdbcType=BIGINT }
      </if>
      <if test="condition.agreementTmpId != null ">
        and AGREEMENT_TMP_ID = #{condition.agreementTmpId, jdbcType=BIGINT }
      </if>
      <if test="condition.offerId != null ">
        and OFFER_ID = #{condition.offerId, jdbcType=INTEGER }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </update>
</mapper>