<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.OfferAssureDemandMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.OfferAssureDemandDO">
    <id column="OFFER_ASSURE_DMD_ID" jdbcType="BIGINT" property="offerAssureDmdId"/>
    <result column="OFFER_ID" jdbcType="INTEGER" property="offerId"/>
    <result column="ASSURE_DESC" jdbcType="VARCHAR" property="assureDesc"/>
    <result column="ASSURE_VALUE" jdbcType="INTEGER" property="assureValue"/>
    <result column="ASSURE_TYPE" jdbcType="VARCHAR" property="assureType"/>
    <result column="ASSURE_DUR" jdbcType="BIGINT" property="assureDur"/>
    <result column="MERGE_TYPE" jdbcType="VARCHAR" property="mergeType"/>
    <result column="ASSURE_NUM" jdbcType="BIGINT" property="assureNum"/>
    <result column="REGION_ID" jdbcType="BIGINT" property="regionId"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          OFFER_ASSURE_DMD_ID, 
          OFFER_ID, 
          ASSURE_DESC, 
          ASSURE_VALUE, 
          ASSURE_TYPE, 
          ASSURE_DUR, 
          MERGE_TYPE, 
          ASSURE_NUM, 
          REGION_ID, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          UPDATE_DATE, 
          STATUS_DATE, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          OFFER_ID, 
          ASSURE_DESC, 
          ASSURE_VALUE, 
          ASSURE_TYPE, 
          ASSURE_DUR, 
          MERGE_TYPE, 
          ASSURE_NUM, 
          REGION_ID, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          UPDATE_DATE, 
          STATUS_DATE, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="offerAssureDmdId != null ">
        OFFER_ASSURE_DMD_ID = #{offerAssureDmdId, jdbcType=BIGINT }
      </if>
      <if test="offerId != null ">
        and OFFER_ID = #{offerId, jdbcType=INTEGER }
      </if>
      <if test="assureDesc != null and assureDesc != ''">
        and ASSURE_DESC = #{assureDesc, jdbcType=VARCHAR }
      </if>
      <if test="assureValue != null ">
        and ASSURE_VALUE = #{assureValue, jdbcType=INTEGER }
      </if>
      <if test="assureType != null and assureType != ''">
        and ASSURE_TYPE = #{assureType, jdbcType=VARCHAR }
      </if>
      <if test="assureDur != null ">
        and ASSURE_DUR = #{assureDur, jdbcType=BIGINT }
      </if>
      <if test="mergeType != null and mergeType != ''">
        and MERGE_TYPE = #{mergeType, jdbcType=VARCHAR }
      </if>
      <if test="assureNum != null ">
        and ASSURE_NUM = #{assureNum, jdbcType=BIGINT }
      </if>
      <if test="regionId != null ">
        and REGION_ID = #{regionId, jdbcType=BIGINT }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.OfferAssureDemandDO" resultType="java.lang.Integer">
      select count(*) from OFFER_ASSURE_DEMAND
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from OFFER_ASSURE_DEMAND
        where 
           OFFER_ASSURE_DMD_ID = #{offerAssureDmdId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  OFFER_ASSURE_DEMAND 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="offerAssureDmdId">
      insert into  OFFER_ASSURE_DEMAND ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{offerId,jdbcType=INTEGER}, 
        #{assureDesc,jdbcType=VARCHAR}, 
        #{assureValue,jdbcType=INTEGER}, 
        #{assureType,jdbcType=VARCHAR}, 
        #{assureDur,jdbcType=BIGINT}, 
        #{mergeType,jdbcType=VARCHAR}, 
        #{assureNum,jdbcType=BIGINT}, 
        #{regionId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  OFFER_ASSURE_DEMAND ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{offerAssureDmdId,jdbcType=BIGINT}, 
        #{offerId,jdbcType=INTEGER}, 
        #{assureDesc,jdbcType=VARCHAR}, 
        #{assureValue,jdbcType=INTEGER}, 
        #{assureType,jdbcType=VARCHAR}, 
        #{assureDur,jdbcType=BIGINT}, 
        #{mergeType,jdbcType=VARCHAR}, 
        #{assureNum,jdbcType=BIGINT}, 
        #{regionId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from OFFER_ASSURE_DEMAND  
        where
           OFFER_ASSURE_DMD_ID = #{offerAssureDmdId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from OFFER_ASSURE_DEMAND
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  OFFER_ASSURE_DEMAND
    <trim prefix="set" suffixOverrides=",">
      <if test="offerId != null">
         OFFER_ID = #{offerId,jdbcType=INTEGER},
      </if>
      <if test="assureDesc != null">
         ASSURE_DESC = #{assureDesc,jdbcType=VARCHAR},
      </if>
      <if test="assureValue != null">
         ASSURE_VALUE = #{assureValue,jdbcType=INTEGER},
      </if>
      <if test="assureType != null">
         ASSURE_TYPE = #{assureType,jdbcType=VARCHAR},
      </if>
      <if test="assureDur != null">
         ASSURE_DUR = #{assureDur,jdbcType=BIGINT},
      </if>
      <if test="mergeType != null">
         MERGE_TYPE = #{mergeType,jdbcType=VARCHAR},
      </if>
      <if test="assureNum != null">
         ASSURE_NUM = #{assureNum,jdbcType=BIGINT},
      </if>
      <if test="regionId != null">
         REGION_ID = #{regionId,jdbcType=BIGINT},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           OFFER_ASSURE_DMD_ID = #{offerAssureDmdId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update OFFER_ASSURE_DEMAND
    <trim prefix="set" suffixOverrides=",">
      <if test="record.offerAssureDmdId != null">
        OFFER_ASSURE_DMD_ID = #{record.offerAssureDmdId,jdbcType=BIGINT},
      </if>
      <if test="record.offerId != null">
        OFFER_ID = #{record.offerId,jdbcType=INTEGER},
      </if>
      <if test="record.assureDesc != null">
        ASSURE_DESC = #{record.assureDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.assureValue != null">
        ASSURE_VALUE = #{record.assureValue,jdbcType=INTEGER},
      </if>
      <if test="record.assureType != null">
        ASSURE_TYPE = #{record.assureType,jdbcType=VARCHAR},
      </if>
      <if test="record.assureDur != null">
        ASSURE_DUR = #{record.assureDur,jdbcType=BIGINT},
      </if>
      <if test="record.mergeType != null">
        MERGE_TYPE = #{record.mergeType,jdbcType=VARCHAR},
      </if>
      <if test="record.assureNum != null">
        ASSURE_NUM = #{record.assureNum,jdbcType=BIGINT},
      </if>
      <if test="record.regionId != null">
        REGION_ID = #{record.regionId,jdbcType=BIGINT},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.offerAssureDmdId != null ">
        OFFER_ASSURE_DMD_ID = #{condition.offerAssureDmdId, jdbcType=BIGINT }
      </if>
      <if test="condition.offerId != null ">
        and OFFER_ID = #{condition.offerId, jdbcType=INTEGER }
      </if>
      <if test="condition.assureDesc != null and condition.assureDesc != ''">
        and ASSURE_DESC = #{condition.assureDesc, jdbcType=VARCHAR }
      </if>
      <if test="condition.assureValue != null ">
        and ASSURE_VALUE = #{condition.assureValue, jdbcType=INTEGER }
      </if>
      <if test="condition.assureType != null and condition.assureType != ''">
        and ASSURE_TYPE = #{condition.assureType, jdbcType=VARCHAR }
      </if>
      <if test="condition.assureDur != null ">
        and ASSURE_DUR = #{condition.assureDur, jdbcType=BIGINT }
      </if>
      <if test="condition.mergeType != null and condition.mergeType != ''">
        and MERGE_TYPE = #{condition.mergeType, jdbcType=VARCHAR }
      </if>
      <if test="condition.assureNum != null ">
        and ASSURE_NUM = #{condition.assureNum, jdbcType=BIGINT }
      </if>
      <if test="condition.regionId != null ">
        and REGION_ID = #{condition.regionId, jdbcType=BIGINT }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>