<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.OfferInstMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.OfferInstDO">
    <id column="OFFER_INST_ID" jdbcType="BIGINT" property="offerInstId"/>
    <result column="OFFER_ID" jdbcType="INTEGER" property="offerId"/>
    <result column="OFFER_TYPE" jdbcType="VARCHAR" property="offerType"/>
    <result column="OWNER_CUST_ID" jdbcType="BIGINT" property="ownerCustId"/>
    <result column="EFF_DATE" jdbcType="TIMESTAMP" property="effDate"/>
    <result column="EXP_DATE" jdbcType="TIMESTAMP" property="expDate"/>
    <result column="OFFER_AGREE_ID" jdbcType="BIGINT" property="offerAgreeId"/>
    <result column="CREATE_ORG_ID" jdbcType="BIGINT" property="createOrgId"/>
    <result column="EXP_PROC_METHOD" jdbcType="VARCHAR" property="expProcMethod"/>
    <result column="LAN_ID" jdbcType="BIGINT" property="lanId"/>
    <result column="REGION_ID" jdbcType="BIGINT" property="regionId"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="BUSI_MOD_DATE" jdbcType="TIMESTAMP" property="busiModDate"/>
    <result column="LAST_ORDER_ITEM_ID" jdbcType="BIGINT" property="lastOrderItemId"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
    <result column="EXT_OFFER_INST_ID" jdbcType="VARCHAR" property="extOfferInstId"/>
  </resultMap>

  <sql id="CommonColumns">
          OFFER_INST_ID, 
          OFFER_ID, 
          OFFER_TYPE, 
          OWNER_CUST_ID, 
          EFF_DATE, 
          EXP_DATE, 
          OFFER_AGREE_ID, 
          CREATE_ORG_ID, 
          EXP_PROC_METHOD, 
          LAN_ID, 
          REGION_ID, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          BUSI_MOD_DATE, 
          LAST_ORDER_ITEM_ID, 
          REMARK, 
          EXT_OFFER_INST_ID
  </sql>

  <sql id="CommonColumnsKey">
          OFFER_ID, 
          OFFER_TYPE, 
          OWNER_CUST_ID, 
          EFF_DATE, 
          EXP_DATE, 
          OFFER_AGREE_ID, 
          CREATE_ORG_ID, 
          EXP_PROC_METHOD, 
          LAN_ID, 
          REGION_ID, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          BUSI_MOD_DATE, 
          LAST_ORDER_ITEM_ID, 
          REMARK, 
          EXT_OFFER_INST_ID
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="offerInstId != null ">
        OFFER_INST_ID = #{offerInstId, jdbcType=BIGINT }
      </if>
      <if test="offerId != null ">
        and OFFER_ID = #{offerId, jdbcType=INTEGER }
      </if>
      <if test="offerType != null and offerType != ''">
        and OFFER_TYPE = #{offerType, jdbcType=VARCHAR }
      </if>
      <if test="ownerCustId != null ">
        and OWNER_CUST_ID = #{ownerCustId, jdbcType=BIGINT }
      </if>
      <if test="effDate != null ">
        and EFF_DATE = #{effDate, jdbcType=TIMESTAMP }
      </if>
      <if test="expDate != null ">
        and EXP_DATE = #{expDate, jdbcType=TIMESTAMP }
      </if>
      <if test="offerAgreeId != null ">
        and OFFER_AGREE_ID = #{offerAgreeId, jdbcType=BIGINT }
      </if>
      <if test="createOrgId != null ">
        and CREATE_ORG_ID = #{createOrgId, jdbcType=BIGINT }
      </if>
      <if test="expProcMethod != null and expProcMethod != ''">
        and EXP_PROC_METHOD = #{expProcMethod, jdbcType=VARCHAR }
      </if>
      <if test="lanId != null ">
        and LAN_ID = #{lanId, jdbcType=BIGINT }
      </if>
      <if test="regionId != null ">
        and REGION_ID = #{regionId, jdbcType=BIGINT }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="busiModDate != null ">
        and BUSI_MOD_DATE = #{busiModDate, jdbcType=TIMESTAMP }
      </if>
      <if test="lastOrderItemId != null ">
        and LAST_ORDER_ITEM_ID = #{lastOrderItemId, jdbcType=BIGINT }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
      <if test="extOfferInstId != null and extOfferInstId != ''">
        and EXT_OFFER_INST_ID = #{extOfferInstId, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.OfferInstDO" resultType="java.lang.Integer">
      select count(*) from OFFER_INST
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from OFFER_INST
        where 
           OFFER_INST_ID = #{offerInstId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  OFFER_INST 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="offerInstId">
      insert into  OFFER_INST ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{offerId,jdbcType=INTEGER}, 
        #{offerType,jdbcType=VARCHAR}, 
        #{ownerCustId,jdbcType=BIGINT}, 
        #{effDate,jdbcType=TIMESTAMP}, 
        #{expDate,jdbcType=TIMESTAMP}, 
        #{offerAgreeId,jdbcType=BIGINT}, 
        #{createOrgId,jdbcType=BIGINT}, 
        #{expProcMethod,jdbcType=VARCHAR}, 
        #{lanId,jdbcType=BIGINT}, 
        #{regionId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{busiModDate,jdbcType=TIMESTAMP}, 
        #{lastOrderItemId,jdbcType=BIGINT}, 
        #{remark,jdbcType=VARCHAR}, 
        #{extOfferInstId,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  OFFER_INST ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{offerInstId,jdbcType=BIGINT}, 
        #{offerId,jdbcType=INTEGER}, 
        #{offerType,jdbcType=VARCHAR}, 
        #{ownerCustId,jdbcType=BIGINT}, 
        #{effDate,jdbcType=TIMESTAMP}, 
        #{expDate,jdbcType=TIMESTAMP}, 
        #{offerAgreeId,jdbcType=BIGINT}, 
        #{createOrgId,jdbcType=BIGINT}, 
        #{expProcMethod,jdbcType=VARCHAR}, 
        #{lanId,jdbcType=BIGINT}, 
        #{regionId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{busiModDate,jdbcType=TIMESTAMP}, 
        #{lastOrderItemId,jdbcType=BIGINT}, 
        #{remark,jdbcType=VARCHAR}, 
        #{extOfferInstId,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from OFFER_INST  
        where
           OFFER_INST_ID = #{offerInstId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from OFFER_INST
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  OFFER_INST
    <trim prefix="set" suffixOverrides=",">
      <if test="offerId != null">
         OFFER_ID = #{offerId,jdbcType=INTEGER},
      </if>
      <if test="offerType != null">
         OFFER_TYPE = #{offerType,jdbcType=VARCHAR},
      </if>
      <if test="ownerCustId != null">
         OWNER_CUST_ID = #{ownerCustId,jdbcType=BIGINT},
      </if>
      <if test="effDate != null">
         EFF_DATE = #{effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expDate != null">
         EXP_DATE = #{expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="offerAgreeId != null">
         OFFER_AGREE_ID = #{offerAgreeId,jdbcType=BIGINT},
      </if>
      <if test="createOrgId != null">
         CREATE_ORG_ID = #{createOrgId,jdbcType=BIGINT},
      </if>
      <if test="expProcMethod != null">
         EXP_PROC_METHOD = #{expProcMethod,jdbcType=VARCHAR},
      </if>
      <if test="lanId != null">
         LAN_ID = #{lanId,jdbcType=BIGINT},
      </if>
      <if test="regionId != null">
         REGION_ID = #{regionId,jdbcType=BIGINT},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="busiModDate != null">
         BUSI_MOD_DATE = #{busiModDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastOrderItemId != null">
         LAST_ORDER_ITEM_ID = #{lastOrderItemId,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="extOfferInstId != null">
         EXT_OFFER_INST_ID = #{extOfferInstId,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           OFFER_INST_ID = #{offerInstId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update OFFER_INST
    <trim prefix="set" suffixOverrides=",">
      <if test="record.offerInstId != null">
        OFFER_INST_ID = #{record.offerInstId,jdbcType=BIGINT},
      </if>
      <if test="record.offerId != null">
        OFFER_ID = #{record.offerId,jdbcType=INTEGER},
      </if>
      <if test="record.offerType != null">
        OFFER_TYPE = #{record.offerType,jdbcType=VARCHAR},
      </if>
      <if test="record.ownerCustId != null">
        OWNER_CUST_ID = #{record.ownerCustId,jdbcType=BIGINT},
      </if>
      <if test="record.effDate != null">
        EFF_DATE = #{record.effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expDate != null">
        EXP_DATE = #{record.expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.offerAgreeId != null">
        OFFER_AGREE_ID = #{record.offerAgreeId,jdbcType=BIGINT},
      </if>
      <if test="record.createOrgId != null">
        CREATE_ORG_ID = #{record.createOrgId,jdbcType=BIGINT},
      </if>
      <if test="record.expProcMethod != null">
        EXP_PROC_METHOD = #{record.expProcMethod,jdbcType=VARCHAR},
      </if>
      <if test="record.lanId != null">
        LAN_ID = #{record.lanId,jdbcType=BIGINT},
      </if>
      <if test="record.regionId != null">
        REGION_ID = #{record.regionId,jdbcType=BIGINT},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.busiModDate != null">
        BUSI_MOD_DATE = #{record.busiModDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastOrderItemId != null">
        LAST_ORDER_ITEM_ID = #{record.lastOrderItemId,jdbcType=BIGINT},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.extOfferInstId != null">
        EXT_OFFER_INST_ID = #{record.extOfferInstId,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.offerInstId != null ">
        OFFER_INST_ID = #{condition.offerInstId, jdbcType=BIGINT }
      </if>
      <if test="condition.offerId != null ">
        and OFFER_ID = #{condition.offerId, jdbcType=INTEGER }
      </if>
      <if test="condition.offerType != null and condition.offerType != ''">
        and OFFER_TYPE = #{condition.offerType, jdbcType=VARCHAR }
      </if>
      <if test="condition.ownerCustId != null ">
        and OWNER_CUST_ID = #{condition.ownerCustId, jdbcType=BIGINT }
      </if>
      <if test="condition.effDate != null ">
        and EFF_DATE = #{condition.effDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.expDate != null ">
        and EXP_DATE = #{condition.expDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.offerAgreeId != null ">
        and OFFER_AGREE_ID = #{condition.offerAgreeId, jdbcType=BIGINT }
      </if>
      <if test="condition.createOrgId != null ">
        and CREATE_ORG_ID = #{condition.createOrgId, jdbcType=BIGINT }
      </if>
      <if test="condition.expProcMethod != null and condition.expProcMethod != ''">
        and EXP_PROC_METHOD = #{condition.expProcMethod, jdbcType=VARCHAR }
      </if>
      <if test="condition.lanId != null ">
        and LAN_ID = #{condition.lanId, jdbcType=BIGINT }
      </if>
      <if test="condition.regionId != null ">
        and REGION_ID = #{condition.regionId, jdbcType=BIGINT }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.busiModDate != null ">
        and BUSI_MOD_DATE = #{condition.busiModDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.lastOrderItemId != null ">
        and LAST_ORDER_ITEM_ID = #{condition.lastOrderItemId, jdbcType=BIGINT }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
      <if test="condition.extOfferInstId != null and condition.extOfferInstId != ''">
        and EXT_OFFER_INST_ID = #{condition.extOfferInstId, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>