<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.OfferOrderTimesRuleMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.OfferOrderTimesRuleDO">
    <id column="ORDER_TIMES_RULE_ID" jdbcType="BIGINT" property="orderTimesRuleId"/>
    <result column="OFFER_ID" jdbcType="INTEGER" property="offerId"/>
    <result column="OBJ_TYPE" jdbcType="VARCHAR" property="objType"/>
    <result column="ORDER_TIMES" jdbcType="INTEGER" property="orderTimes"/>
    <result column="TIME_TYPE" jdbcType="VARCHAR" property="timeType"/>
    <result column="LIMIT_TIME" jdbcType="INTEGER" property="limitTime"/>
    <result column="TIME_UNIT" jdbcType="VARCHAR" property="timeUnit"/>
    <result column="EFF_DATE" jdbcType="TIMESTAMP" property="effDate"/>
    <result column="EXP_DATE" jdbcType="TIMESTAMP" property="expDate"/>
    <result column="ORDER_TYPE" jdbcType="VARCHAR" property="orderType"/>
    <result column="APPLY_REGION_ID" jdbcType="BIGINT" property="applyRegionId"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          ORDER_TIMES_RULE_ID, 
          OFFER_ID, 
          OBJ_TYPE, 
          ORDER_TIMES, 
          TIME_TYPE, 
          LIMIT_TIME, 
          TIME_UNIT, 
          EFF_DATE, 
          EXP_DATE, 
          ORDER_TYPE, 
          APPLY_REGION_ID, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          STATUS_DATE, 
          CREATE_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          OFFER_ID, 
          OBJ_TYPE, 
          ORDER_TIMES, 
          TIME_TYPE, 
          LIMIT_TIME, 
          TIME_UNIT, 
          EFF_DATE, 
          EXP_DATE, 
          ORDER_TYPE, 
          APPLY_REGION_ID, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          STATUS_DATE, 
          CREATE_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="orderTimesRuleId != null ">
        ORDER_TIMES_RULE_ID = #{orderTimesRuleId, jdbcType=BIGINT }
      </if>
      <if test="offerId != null ">
        and OFFER_ID = #{offerId, jdbcType=INTEGER }
      </if>
      <if test="objType != null and objType != ''">
        and OBJ_TYPE = #{objType, jdbcType=VARCHAR }
      </if>
      <if test="orderTimes != null ">
        and ORDER_TIMES = #{orderTimes, jdbcType=INTEGER }
      </if>
      <if test="timeType != null and timeType != ''">
        and TIME_TYPE = #{timeType, jdbcType=VARCHAR }
      </if>
      <if test="limitTime != null ">
        and LIMIT_TIME = #{limitTime, jdbcType=INTEGER }
      </if>
      <if test="timeUnit != null and timeUnit != ''">
        and TIME_UNIT = #{timeUnit, jdbcType=VARCHAR }
      </if>
      <if test="effDate != null ">
        and EFF_DATE = #{effDate, jdbcType=TIMESTAMP }
      </if>
      <if test="expDate != null ">
        and EXP_DATE = #{expDate, jdbcType=TIMESTAMP }
      </if>
      <if test="orderType != null and orderType != ''">
        and ORDER_TYPE = #{orderType, jdbcType=VARCHAR }
      </if>
      <if test="applyRegionId != null ">
        and APPLY_REGION_ID = #{applyRegionId, jdbcType=BIGINT }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.OfferOrderTimesRuleDO" resultType="java.lang.Integer">
      select count(*) from OFFER_ORDER_TIMES_RULE
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from OFFER_ORDER_TIMES_RULE
        where 
           ORDER_TIMES_RULE_ID = #{orderTimesRuleId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  OFFER_ORDER_TIMES_RULE 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="orderTimesRuleId">
      insert into  OFFER_ORDER_TIMES_RULE ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{offerId,jdbcType=INTEGER}, 
        #{objType,jdbcType=VARCHAR}, 
        #{orderTimes,jdbcType=INTEGER}, 
        #{timeType,jdbcType=VARCHAR}, 
        #{limitTime,jdbcType=INTEGER}, 
        #{timeUnit,jdbcType=VARCHAR}, 
        #{effDate,jdbcType=TIMESTAMP}, 
        #{expDate,jdbcType=TIMESTAMP}, 
        #{orderType,jdbcType=VARCHAR}, 
        #{applyRegionId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  OFFER_ORDER_TIMES_RULE ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{orderTimesRuleId,jdbcType=BIGINT}, 
        #{offerId,jdbcType=INTEGER}, 
        #{objType,jdbcType=VARCHAR}, 
        #{orderTimes,jdbcType=INTEGER}, 
        #{timeType,jdbcType=VARCHAR}, 
        #{limitTime,jdbcType=INTEGER}, 
        #{timeUnit,jdbcType=VARCHAR}, 
        #{effDate,jdbcType=TIMESTAMP}, 
        #{expDate,jdbcType=TIMESTAMP}, 
        #{orderType,jdbcType=VARCHAR}, 
        #{applyRegionId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from OFFER_ORDER_TIMES_RULE  
        where
           ORDER_TIMES_RULE_ID = #{orderTimesRuleId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from OFFER_ORDER_TIMES_RULE
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  OFFER_ORDER_TIMES_RULE
    <trim prefix="set" suffixOverrides=",">
      <if test="offerId != null">
         OFFER_ID = #{offerId,jdbcType=INTEGER},
      </if>
      <if test="objType != null">
         OBJ_TYPE = #{objType,jdbcType=VARCHAR},
      </if>
      <if test="orderTimes != null">
         ORDER_TIMES = #{orderTimes,jdbcType=INTEGER},
      </if>
      <if test="timeType != null">
         TIME_TYPE = #{timeType,jdbcType=VARCHAR},
      </if>
      <if test="limitTime != null">
         LIMIT_TIME = #{limitTime,jdbcType=INTEGER},
      </if>
      <if test="timeUnit != null">
         TIME_UNIT = #{timeUnit,jdbcType=VARCHAR},
      </if>
      <if test="effDate != null">
         EFF_DATE = #{effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expDate != null">
         EXP_DATE = #{expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderType != null">
         ORDER_TYPE = #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="applyRegionId != null">
         APPLY_REGION_ID = #{applyRegionId,jdbcType=BIGINT},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           ORDER_TIMES_RULE_ID = #{orderTimesRuleId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update OFFER_ORDER_TIMES_RULE
    <trim prefix="set" suffixOverrides=",">
      <if test="record.orderTimesRuleId != null">
        ORDER_TIMES_RULE_ID = #{record.orderTimesRuleId,jdbcType=BIGINT},
      </if>
      <if test="record.offerId != null">
        OFFER_ID = #{record.offerId,jdbcType=INTEGER},
      </if>
      <if test="record.objType != null">
        OBJ_TYPE = #{record.objType,jdbcType=VARCHAR},
      </if>
      <if test="record.orderTimes != null">
        ORDER_TIMES = #{record.orderTimes,jdbcType=INTEGER},
      </if>
      <if test="record.timeType != null">
        TIME_TYPE = #{record.timeType,jdbcType=VARCHAR},
      </if>
      <if test="record.limitTime != null">
        LIMIT_TIME = #{record.limitTime,jdbcType=INTEGER},
      </if>
      <if test="record.timeUnit != null">
        TIME_UNIT = #{record.timeUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.effDate != null">
        EFF_DATE = #{record.effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expDate != null">
        EXP_DATE = #{record.expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderType != null">
        ORDER_TYPE = #{record.orderType,jdbcType=VARCHAR},
      </if>
      <if test="record.applyRegionId != null">
        APPLY_REGION_ID = #{record.applyRegionId,jdbcType=BIGINT},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.orderTimesRuleId != null ">
        ORDER_TIMES_RULE_ID = #{condition.orderTimesRuleId, jdbcType=BIGINT }
      </if>
      <if test="condition.offerId != null ">
        and OFFER_ID = #{condition.offerId, jdbcType=INTEGER }
      </if>
      <if test="condition.objType != null and condition.objType != ''">
        and OBJ_TYPE = #{condition.objType, jdbcType=VARCHAR }
      </if>
      <if test="condition.orderTimes != null ">
        and ORDER_TIMES = #{condition.orderTimes, jdbcType=INTEGER }
      </if>
      <if test="condition.timeType != null and condition.timeType != ''">
        and TIME_TYPE = #{condition.timeType, jdbcType=VARCHAR }
      </if>
      <if test="condition.limitTime != null ">
        and LIMIT_TIME = #{condition.limitTime, jdbcType=INTEGER }
      </if>
      <if test="condition.timeUnit != null and condition.timeUnit != ''">
        and TIME_UNIT = #{condition.timeUnit, jdbcType=VARCHAR }
      </if>
      <if test="condition.effDate != null ">
        and EFF_DATE = #{condition.effDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.expDate != null ">
        and EXP_DATE = #{condition.expDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.orderType != null and condition.orderType != ''">
        and ORDER_TYPE = #{condition.orderType, jdbcType=VARCHAR }
      </if>
      <if test="condition.applyRegionId != null ">
        and APPLY_REGION_ID = #{condition.applyRegionId, jdbcType=BIGINT }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>