<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.OfferPackageMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.OfferPackageDO">
    <id column="OFFER_PACKAGE_ID" jdbcType="BIGINT" property="offerPackageId"/>
    <result column="OFFER_PACKAGE_NAME" jdbcType="VARCHAR" property="offerPackageName"/>
    <result column="OFFER_PKG_DESC" jdbcType="VARCHAR" property="offerPkgDesc"/>
    <result column="EFF_DATE" jdbcType="TIMESTAMP" property="effDate"/>
    <result column="EXP_DATE" jdbcType="TIMESTAMP" property="expDate"/>
    <result column="MANAGE_GRADE" jdbcType="VARCHAR" property="manageGrade"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
    <result column="REGION_ID" jdbcType="BIGINT" property="regionId"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
  </resultMap>

  <sql id="CommonColumns">
          OFFER_PACKAGE_ID, 
          OFFER_PACKAGE_NAME, 
          OFFER_PKG_DESC, 
          EFF_DATE, 
          EXP_DATE, 
          MANAGE_GRADE, 
          REMARK, 
          REGION_ID, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE
  </sql>

  <sql id="CommonColumnsKey">
          OFFER_PACKAGE_NAME, 
          OFFER_PKG_DESC, 
          EFF_DATE, 
          EXP_DATE, 
          MANAGE_GRADE, 
          REMARK, 
          REGION_ID, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="offerPackageId != null ">
        OFFER_PACKAGE_ID = #{offerPackageId, jdbcType=BIGINT }
      </if>
      <if test="offerPackageName != null and offerPackageName != ''">
        and OFFER_PACKAGE_NAME = #{offerPackageName, jdbcType=VARCHAR }
      </if>
      <if test="offerPkgDesc != null and offerPkgDesc != ''">
        and OFFER_PKG_DESC = #{offerPkgDesc, jdbcType=VARCHAR }
      </if>
      <if test="effDate != null ">
        and EFF_DATE = #{effDate, jdbcType=TIMESTAMP }
      </if>
      <if test="expDate != null ">
        and EXP_DATE = #{expDate, jdbcType=TIMESTAMP }
      </if>
      <if test="manageGrade != null and manageGrade != ''">
        and MANAGE_GRADE = #{manageGrade, jdbcType=VARCHAR }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
      <if test="regionId != null ">
        and REGION_ID = #{regionId, jdbcType=BIGINT }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.OfferPackageDO" resultType="java.lang.Integer">
      select count(*) from OFFER_PACKAGE
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from OFFER_PACKAGE
        where 
           OFFER_PACKAGE_ID = #{offerPackageId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  OFFER_PACKAGE 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="offerPackageId">
      insert into  OFFER_PACKAGE ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{offerPackageName,jdbcType=VARCHAR}, 
        #{offerPkgDesc,jdbcType=VARCHAR}, 
        #{effDate,jdbcType=TIMESTAMP}, 
        #{expDate,jdbcType=TIMESTAMP}, 
        #{manageGrade,jdbcType=VARCHAR}, 
        #{remark,jdbcType=VARCHAR}, 
        #{regionId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <insert id="insert">
      insert into  OFFER_PACKAGE ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{offerPackageId,jdbcType=BIGINT}, 
        #{offerPackageName,jdbcType=VARCHAR}, 
        #{offerPkgDesc,jdbcType=VARCHAR}, 
        #{effDate,jdbcType=TIMESTAMP}, 
        #{expDate,jdbcType=TIMESTAMP}, 
        #{manageGrade,jdbcType=VARCHAR}, 
        #{remark,jdbcType=VARCHAR}, 
        #{regionId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from OFFER_PACKAGE  
        where
           OFFER_PACKAGE_ID = #{offerPackageId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from OFFER_PACKAGE
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  OFFER_PACKAGE
    <trim prefix="set" suffixOverrides=",">
      <if test="offerPackageName != null">
         OFFER_PACKAGE_NAME = #{offerPackageName,jdbcType=VARCHAR},
      </if>
      <if test="offerPkgDesc != null">
         OFFER_PKG_DESC = #{offerPkgDesc,jdbcType=VARCHAR},
      </if>
      <if test="effDate != null">
         EFF_DATE = #{effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expDate != null">
         EXP_DATE = #{expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="manageGrade != null">
         MANAGE_GRADE = #{manageGrade,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="regionId != null">
         REGION_ID = #{regionId,jdbcType=BIGINT},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
        where 
           OFFER_PACKAGE_ID = #{offerPackageId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update OFFER_PACKAGE
    <trim prefix="set" suffixOverrides=",">
      <if test="record.offerPackageId != null">
        OFFER_PACKAGE_ID = #{record.offerPackageId,jdbcType=BIGINT},
      </if>
      <if test="record.offerPackageName != null">
        OFFER_PACKAGE_NAME = #{record.offerPackageName,jdbcType=VARCHAR},
      </if>
      <if test="record.offerPkgDesc != null">
        OFFER_PKG_DESC = #{record.offerPkgDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.effDate != null">
        EFF_DATE = #{record.effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expDate != null">
        EXP_DATE = #{record.expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.manageGrade != null">
        MANAGE_GRADE = #{record.manageGrade,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.regionId != null">
        REGION_ID = #{record.regionId,jdbcType=BIGINT},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <where>
      <if test="condition.offerPackageId != null ">
        OFFER_PACKAGE_ID = #{condition.offerPackageId, jdbcType=BIGINT }
      </if>
      <if test="condition.offerPackageName != null and condition.offerPackageName != ''">
        and OFFER_PACKAGE_NAME = #{condition.offerPackageName, jdbcType=VARCHAR }
      </if>
      <if test="condition.offerPkgDesc != null and condition.offerPkgDesc != ''">
        and OFFER_PKG_DESC = #{condition.offerPkgDesc, jdbcType=VARCHAR }
      </if>
      <if test="condition.effDate != null ">
        and EFF_DATE = #{condition.effDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.expDate != null ">
        and EXP_DATE = #{condition.expDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.manageGrade != null and condition.manageGrade != ''">
        and MANAGE_GRADE = #{condition.manageGrade, jdbcType=VARCHAR }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
      <if test="condition.regionId != null ">
        and REGION_ID = #{condition.regionId, jdbcType=BIGINT }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </update>
</mapper>