<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.OfferGrpMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.OfferGrpDO">
    <id column="OFFER_GRP_ID" jdbcType="BIGINT" property="offerGrpId"/>
    <result column="OFFER_GRP_NBR" jdbcType="VARCHAR" property="offerGrpNbr"/>
    <result column="OFFER_GRP_NAME" jdbcType="VARCHAR" property="offerGrpName"/>
    <result column="OFFER_GRP_DESC" jdbcType="VARCHAR" property="offerGrpDesc"/>
    <result column="GRP_REL_TYPE" jdbcType="VARCHAR" property="grpRelType"/>
    <result column="APPLY_REGION_ID" jdbcType="BIGINT" property="applyRegionId"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="GRP_TYPE" jdbcType="VARCHAR" property="grpType"/>
    <result column="CATALOG_ITEM_ID" jdbcType="BIGINT" property="catalogItemId"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          OFFER_GRP_ID, 
          OFFER_GRP_NBR, 
          OFFER_GRP_NAME, 
          OFFER_GRP_DESC, 
          GRP_REL_TYPE, 
          APPLY_REGION_ID, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          GRP_TYPE, 
          CATALOG_ITEM_ID, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          OFFER_GRP_NBR, 
          OFFER_GRP_NAME, 
          OFFER_GRP_DESC, 
          GRP_REL_TYPE, 
          APPLY_REGION_ID, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          GRP_TYPE, 
          CATALOG_ITEM_ID, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="offerGrpId != null ">
        OFFER_GRP_ID = #{offerGrpId, jdbcType=BIGINT }
      </if>
      <if test="offerGrpNbr != null and offerGrpNbr != ''">
        and OFFER_GRP_NBR = #{offerGrpNbr, jdbcType=VARCHAR }
      </if>
      <if test="offerGrpName != null and offerGrpName != ''">
        and OFFER_GRP_NAME = #{offerGrpName, jdbcType=VARCHAR }
      </if>
      <if test="offerGrpDesc != null and offerGrpDesc != ''">
        and OFFER_GRP_DESC = #{offerGrpDesc, jdbcType=VARCHAR }
      </if>
      <if test="grpRelType != null and grpRelType != ''">
        and GRP_REL_TYPE = #{grpRelType, jdbcType=VARCHAR }
      </if>
      <if test="applyRegionId != null ">
        and APPLY_REGION_ID = #{applyRegionId, jdbcType=BIGINT }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="grpType != null and grpType != ''">
        and GRP_TYPE = #{grpType, jdbcType=VARCHAR }
      </if>
      <if test="catalogItemId != null ">
        and CATALOG_ITEM_ID = #{catalogItemId, jdbcType=BIGINT }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.OfferGrpDO" resultType="java.lang.Integer">
      select count(*) from OFFER_GRP
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from OFFER_GRP
        where 
           OFFER_GRP_ID = #{offerGrpId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  OFFER_GRP 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="offerGrpId">
      insert into  OFFER_GRP ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{offerGrpNbr,jdbcType=VARCHAR}, 
        #{offerGrpName,jdbcType=VARCHAR}, 
        #{offerGrpDesc,jdbcType=VARCHAR}, 
        #{grpRelType,jdbcType=VARCHAR}, 
        #{applyRegionId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{grpType,jdbcType=VARCHAR}, 
        #{catalogItemId,jdbcType=BIGINT}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  OFFER_GRP ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{offerGrpId,jdbcType=BIGINT}, 
        #{offerGrpNbr,jdbcType=VARCHAR}, 
        #{offerGrpName,jdbcType=VARCHAR}, 
        #{offerGrpDesc,jdbcType=VARCHAR}, 
        #{grpRelType,jdbcType=VARCHAR}, 
        #{applyRegionId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{grpType,jdbcType=VARCHAR}, 
        #{catalogItemId,jdbcType=BIGINT}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from OFFER_GRP  
        where
           OFFER_GRP_ID = #{offerGrpId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from OFFER_GRP
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  OFFER_GRP
    <trim prefix="set" suffixOverrides=",">
      <if test="offerGrpNbr != null">
         OFFER_GRP_NBR = #{offerGrpNbr,jdbcType=VARCHAR},
      </if>
      <if test="offerGrpName != null">
         OFFER_GRP_NAME = #{offerGrpName,jdbcType=VARCHAR},
      </if>
      <if test="offerGrpDesc != null">
         OFFER_GRP_DESC = #{offerGrpDesc,jdbcType=VARCHAR},
      </if>
      <if test="grpRelType != null">
         GRP_REL_TYPE = #{grpRelType,jdbcType=VARCHAR},
      </if>
      <if test="applyRegionId != null">
         APPLY_REGION_ID = #{applyRegionId,jdbcType=BIGINT},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="grpType != null">
         GRP_TYPE = #{grpType,jdbcType=VARCHAR},
      </if>
      <if test="catalogItemId != null">
         CATALOG_ITEM_ID = #{catalogItemId,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           OFFER_GRP_ID = #{offerGrpId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update OFFER_GRP
    <trim prefix="set" suffixOverrides=",">
      <if test="record.offerGrpId != null">
        OFFER_GRP_ID = #{record.offerGrpId,jdbcType=BIGINT},
      </if>
      <if test="record.offerGrpNbr != null">
        OFFER_GRP_NBR = #{record.offerGrpNbr,jdbcType=VARCHAR},
      </if>
      <if test="record.offerGrpName != null">
        OFFER_GRP_NAME = #{record.offerGrpName,jdbcType=VARCHAR},
      </if>
      <if test="record.offerGrpDesc != null">
        OFFER_GRP_DESC = #{record.offerGrpDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.grpRelType != null">
        GRP_REL_TYPE = #{record.grpRelType,jdbcType=VARCHAR},
      </if>
      <if test="record.applyRegionId != null">
        APPLY_REGION_ID = #{record.applyRegionId,jdbcType=BIGINT},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.grpType != null">
        GRP_TYPE = #{record.grpType,jdbcType=VARCHAR},
      </if>
      <if test="record.catalogItemId != null">
        CATALOG_ITEM_ID = #{record.catalogItemId,jdbcType=BIGINT},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.offerGrpId != null ">
        OFFER_GRP_ID = #{condition.offerGrpId, jdbcType=BIGINT }
      </if>
      <if test="condition.offerGrpNbr != null and condition.offerGrpNbr != ''">
        and OFFER_GRP_NBR = #{condition.offerGrpNbr, jdbcType=VARCHAR }
      </if>
      <if test="condition.offerGrpName != null and condition.offerGrpName != ''">
        and OFFER_GRP_NAME = #{condition.offerGrpName, jdbcType=VARCHAR }
      </if>
      <if test="condition.offerGrpDesc != null and condition.offerGrpDesc != ''">
        and OFFER_GRP_DESC = #{condition.offerGrpDesc, jdbcType=VARCHAR }
      </if>
      <if test="condition.grpRelType != null and condition.grpRelType != ''">
        and GRP_REL_TYPE = #{condition.grpRelType, jdbcType=VARCHAR }
      </if>
      <if test="condition.applyRegionId != null ">
        and APPLY_REGION_ID = #{condition.applyRegionId, jdbcType=BIGINT }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.grpType != null and condition.grpType != ''">
        and GRP_TYPE = #{condition.grpType, jdbcType=VARCHAR }
      </if>
      <if test="condition.catalogItemId != null ">
        and CATALOG_ITEM_ID = #{condition.catalogItemId, jdbcType=BIGINT }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>