<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.OfferPackageRestrictMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.OfferPackageRestrictDO">
    <id column="OFFER_PACKAGE_RESTRICT_ID" jdbcType="BIGINT" property="offerPackageRestrictId"/>
    <result column="OFFER_PACKAGE_ID" jdbcType="BIGINT" property="offerPackageId"/>
    <result column="RSTR_OBJ_TYPE" jdbcType="VARCHAR" property="rstrObjType"/>
    <result column="RSTR_OBJ_ID" jdbcType="BIGINT" property="rstrObjId"/>
    <result column="APPLY_REGION_ID" jdbcType="BIGINT" property="applyRegionId"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          OFFER_PACKAGE_RESTRICT_ID, 
          OFFER_PACKAGE_ID, 
          RSTR_OBJ_TYPE, 
          RSTR_OBJ_ID, 
          APPLY_REGION_ID, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          STATUS_DATE, 
          CREATE_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          OFFER_PACKAGE_ID, 
          RSTR_OBJ_TYPE, 
          RSTR_OBJ_ID, 
          APPLY_REGION_ID, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          STATUS_DATE, 
          CREATE_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="offerPackageRestrictId != null ">
        OFFER_PACKAGE_RESTRICT_ID = #{offerPackageRestrictId, jdbcType=BIGINT }
      </if>
      <if test="offerPackageId != null ">
        and OFFER_PACKAGE_ID = #{offerPackageId, jdbcType=BIGINT }
      </if>
      <if test="rstrObjType != null and rstrObjType != ''">
        and RSTR_OBJ_TYPE = #{rstrObjType, jdbcType=VARCHAR }
      </if>
      <if test="rstrObjId != null ">
        and RSTR_OBJ_ID = #{rstrObjId, jdbcType=BIGINT }
      </if>
      <if test="applyRegionId != null ">
        and APPLY_REGION_ID = #{applyRegionId, jdbcType=BIGINT }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.OfferPackageRestrictDO" resultType="java.lang.Integer">
      select count(*) from OFFER_PACKAGE_RESTRICT
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from OFFER_PACKAGE_RESTRICT
        where 
           OFFER_PACKAGE_RESTRICT_ID = #{offerPackageRestrictId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  OFFER_PACKAGE_RESTRICT 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="offerPackageRestrictId">
      insert into  OFFER_PACKAGE_RESTRICT ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{offerPackageId,jdbcType=BIGINT}, 
        #{rstrObjType,jdbcType=VARCHAR}, 
        #{rstrObjId,jdbcType=BIGINT}, 
        #{applyRegionId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  OFFER_PACKAGE_RESTRICT ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{offerPackageRestrictId,jdbcType=BIGINT}, 
        #{offerPackageId,jdbcType=BIGINT}, 
        #{rstrObjType,jdbcType=VARCHAR}, 
        #{rstrObjId,jdbcType=BIGINT}, 
        #{applyRegionId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from OFFER_PACKAGE_RESTRICT  
        where
           OFFER_PACKAGE_RESTRICT_ID = #{offerPackageRestrictId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from OFFER_PACKAGE_RESTRICT
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  OFFER_PACKAGE_RESTRICT
    <trim prefix="set" suffixOverrides=",">
      <if test="offerPackageId != null">
         OFFER_PACKAGE_ID = #{offerPackageId,jdbcType=BIGINT},
      </if>
      <if test="rstrObjType != null">
         RSTR_OBJ_TYPE = #{rstrObjType,jdbcType=VARCHAR},
      </if>
      <if test="rstrObjId != null">
         RSTR_OBJ_ID = #{rstrObjId,jdbcType=BIGINT},
      </if>
      <if test="applyRegionId != null">
         APPLY_REGION_ID = #{applyRegionId,jdbcType=BIGINT},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           OFFER_PACKAGE_RESTRICT_ID = #{offerPackageRestrictId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update OFFER_PACKAGE_RESTRICT
    <trim prefix="set" suffixOverrides=",">
      <if test="record.offerPackageRestrictId != null">
        OFFER_PACKAGE_RESTRICT_ID = #{record.offerPackageRestrictId,jdbcType=BIGINT},
      </if>
      <if test="record.offerPackageId != null">
        OFFER_PACKAGE_ID = #{record.offerPackageId,jdbcType=BIGINT},
      </if>
      <if test="record.rstrObjType != null">
        RSTR_OBJ_TYPE = #{record.rstrObjType,jdbcType=VARCHAR},
      </if>
      <if test="record.rstrObjId != null">
        RSTR_OBJ_ID = #{record.rstrObjId,jdbcType=BIGINT},
      </if>
      <if test="record.applyRegionId != null">
        APPLY_REGION_ID = #{record.applyRegionId,jdbcType=BIGINT},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.offerPackageRestrictId != null ">
        OFFER_PACKAGE_RESTRICT_ID = #{condition.offerPackageRestrictId, jdbcType=BIGINT }
      </if>
      <if test="condition.offerPackageId != null ">
        and OFFER_PACKAGE_ID = #{condition.offerPackageId, jdbcType=BIGINT }
      </if>
      <if test="condition.rstrObjType != null and condition.rstrObjType != ''">
        and RSTR_OBJ_TYPE = #{condition.rstrObjType, jdbcType=VARCHAR }
      </if>
      <if test="condition.rstrObjId != null ">
        and RSTR_OBJ_ID = #{condition.rstrObjId, jdbcType=BIGINT }
      </if>
      <if test="condition.applyRegionId != null ">
        and APPLY_REGION_ID = #{condition.applyRegionId, jdbcType=BIGINT }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>