<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.OneItemCalcMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.OneItemCalcDO">
    <id column="ONE_ACCT_ITEM_ID" jdbcType="BIGINT" property="oneAcctItemId"/>
    <result column="CUST_ORDER_ID" jdbcType="BIGINT" property="custOrderId"/>
    <result column="ORDER_ITEM_ID" jdbcType="BIGINT" property="orderItemId"/>
    <result column="SOURCE_TYPE" jdbcType="INTEGER" property="sourceType"/>
    <result column="ACCT_ITEM_TYPE_ID" jdbcType="INTEGER" property="acctItemTypeId"/>
    <result column="BALANCE_TYPE_ID" jdbcType="INTEGER" property="balanceTypeId"/>
    <result column="BILLING_CYCLE_ID" jdbcType="INTEGER" property="billingCycleId"/>
    <result column="ACCT_ID" jdbcType="BIGINT" property="acctId"/>
    <result column="PROD_INST_ID" jdbcType="BIGINT" property="prodInstId"/>
    <result column="SHOULD_AMOUNT" jdbcType="BIGINT" property="shouldAmount"/>
    <result column="RESULT_ITEM_TYPE" jdbcType="INTEGER" property="resultItemType"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="CHARGE_METHOD" jdbcType="INTEGER" property="chargeMethod"/>
    <result column="LAN_ID" jdbcType="BIGINT" property="lanId"/>
    <result column="STAFF_ID" jdbcType="BIGINT" property="staffId"/>
    <result column="ORG_ID" jdbcType="BIGINT" property="orgId"/>
    <result column="STATUS_CD" jdbcType="INTEGER" property="statusCd"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
  </resultMap>

  <sql id="CommonColumns">
          ONE_ACCT_ITEM_ID, 
          CUST_ORDER_ID, 
          ORDER_ITEM_ID, 
          SOURCE_TYPE, 
          ACCT_ITEM_TYPE_ID, 
          BALANCE_TYPE_ID, 
          BILLING_CYCLE_ID, 
          ACCT_ID, 
          PROD_INST_ID, 
          SHOULD_AMOUNT, 
          RESULT_ITEM_TYPE, 
          CREATE_DATE, 
          CHARGE_METHOD, 
          LAN_ID, 
          STAFF_ID, 
          ORG_ID, 
          STATUS_CD, 
          STATUS_DATE
  </sql>

  <sql id="CommonColumnsKey">
          CUST_ORDER_ID, 
          ORDER_ITEM_ID, 
          SOURCE_TYPE, 
          ACCT_ITEM_TYPE_ID, 
          BALANCE_TYPE_ID, 
          BILLING_CYCLE_ID, 
          ACCT_ID, 
          PROD_INST_ID, 
          SHOULD_AMOUNT, 
          RESULT_ITEM_TYPE, 
          CREATE_DATE, 
          CHARGE_METHOD, 
          LAN_ID, 
          STAFF_ID, 
          ORG_ID, 
          STATUS_CD, 
          STATUS_DATE
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="oneAcctItemId != null ">
        ONE_ACCT_ITEM_ID = #{oneAcctItemId, jdbcType=BIGINT }
      </if>
      <if test="custOrderId != null ">
        and CUST_ORDER_ID = #{custOrderId, jdbcType=BIGINT }
      </if>
      <if test="orderItemId != null ">
        and ORDER_ITEM_ID = #{orderItemId, jdbcType=BIGINT }
      </if>
      <if test="sourceType != null ">
        and SOURCE_TYPE = #{sourceType, jdbcType=INTEGER }
      </if>
      <if test="acctItemTypeId != null ">
        and ACCT_ITEM_TYPE_ID = #{acctItemTypeId, jdbcType=INTEGER }
      </if>
      <if test="balanceTypeId != null ">
        and BALANCE_TYPE_ID = #{balanceTypeId, jdbcType=INTEGER }
      </if>
      <if test="billingCycleId != null ">
        and BILLING_CYCLE_ID = #{billingCycleId, jdbcType=INTEGER }
      </if>
      <if test="acctId != null ">
        and ACCT_ID = #{acctId, jdbcType=BIGINT }
      </if>
      <if test="prodInstId != null ">
        and PROD_INST_ID = #{prodInstId, jdbcType=BIGINT }
      </if>
      <if test="shouldAmount != null ">
        and SHOULD_AMOUNT = #{shouldAmount, jdbcType=BIGINT }
      </if>
      <if test="resultItemType != null ">
        and RESULT_ITEM_TYPE = #{resultItemType, jdbcType=INTEGER }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="chargeMethod != null ">
        and CHARGE_METHOD = #{chargeMethod, jdbcType=INTEGER }
      </if>
      <if test="lanId != null ">
        and LAN_ID = #{lanId, jdbcType=BIGINT }
      </if>
      <if test="staffId != null ">
        and STAFF_ID = #{staffId, jdbcType=BIGINT }
      </if>
      <if test="orgId != null ">
        and ORG_ID = #{orgId, jdbcType=BIGINT }
      </if>
      <if test="statusCd != null ">
        and STATUS_CD = #{statusCd, jdbcType=INTEGER }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.OneItemCalcDO" resultType="java.lang.Integer">
      select count(*) from ONE_ITEM_CALC
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from ONE_ITEM_CALC
        where 
           ONE_ACCT_ITEM_ID = #{oneAcctItemId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  ONE_ITEM_CALC 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="oneAcctItemId">
      insert into  ONE_ITEM_CALC ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{custOrderId,jdbcType=BIGINT}, 
        #{orderItemId,jdbcType=BIGINT}, 
        #{sourceType,jdbcType=INTEGER}, 
        #{acctItemTypeId,jdbcType=INTEGER}, 
        #{balanceTypeId,jdbcType=INTEGER}, 
        #{billingCycleId,jdbcType=INTEGER}, 
        #{acctId,jdbcType=BIGINT}, 
        #{prodInstId,jdbcType=BIGINT}, 
        #{shouldAmount,jdbcType=BIGINT}, 
        #{resultItemType,jdbcType=INTEGER}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{chargeMethod,jdbcType=INTEGER}, 
        #{lanId,jdbcType=BIGINT}, 
        #{staffId,jdbcType=BIGINT}, 
        #{orgId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=INTEGER}, 
        #{statusDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <insert id="insert">
      insert into  ONE_ITEM_CALC ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{oneAcctItemId,jdbcType=BIGINT}, 
        #{custOrderId,jdbcType=BIGINT}, 
        #{orderItemId,jdbcType=BIGINT}, 
        #{sourceType,jdbcType=INTEGER}, 
        #{acctItemTypeId,jdbcType=INTEGER}, 
        #{balanceTypeId,jdbcType=INTEGER}, 
        #{billingCycleId,jdbcType=INTEGER}, 
        #{acctId,jdbcType=BIGINT}, 
        #{prodInstId,jdbcType=BIGINT}, 
        #{shouldAmount,jdbcType=BIGINT}, 
        #{resultItemType,jdbcType=INTEGER}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{chargeMethod,jdbcType=INTEGER}, 
        #{lanId,jdbcType=BIGINT}, 
        #{staffId,jdbcType=BIGINT}, 
        #{orgId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=INTEGER}, 
        #{statusDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from ONE_ITEM_CALC  
        where
           ONE_ACCT_ITEM_ID = #{oneAcctItemId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from ONE_ITEM_CALC
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  ONE_ITEM_CALC
    <trim prefix="set" suffixOverrides=",">
      <if test="custOrderId != null">
         CUST_ORDER_ID = #{custOrderId,jdbcType=BIGINT},
      </if>
      <if test="orderItemId != null">
         ORDER_ITEM_ID = #{orderItemId,jdbcType=BIGINT},
      </if>
      <if test="sourceType != null">
         SOURCE_TYPE = #{sourceType,jdbcType=INTEGER},
      </if>
      <if test="acctItemTypeId != null">
         ACCT_ITEM_TYPE_ID = #{acctItemTypeId,jdbcType=INTEGER},
      </if>
      <if test="balanceTypeId != null">
         BALANCE_TYPE_ID = #{balanceTypeId,jdbcType=INTEGER},
      </if>
      <if test="billingCycleId != null">
         BILLING_CYCLE_ID = #{billingCycleId,jdbcType=INTEGER},
      </if>
      <if test="acctId != null">
         ACCT_ID = #{acctId,jdbcType=BIGINT},
      </if>
      <if test="prodInstId != null">
         PROD_INST_ID = #{prodInstId,jdbcType=BIGINT},
      </if>
      <if test="shouldAmount != null">
         SHOULD_AMOUNT = #{shouldAmount,jdbcType=BIGINT},
      </if>
      <if test="resultItemType != null">
         RESULT_ITEM_TYPE = #{resultItemType,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="chargeMethod != null">
         CHARGE_METHOD = #{chargeMethod,jdbcType=INTEGER},
      </if>
      <if test="lanId != null">
         LAN_ID = #{lanId,jdbcType=BIGINT},
      </if>
      <if test="staffId != null">
         STAFF_ID = #{staffId,jdbcType=BIGINT},
      </if>
      <if test="orgId != null">
         ORG_ID = #{orgId,jdbcType=BIGINT},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=INTEGER},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
        where 
           ONE_ACCT_ITEM_ID = #{oneAcctItemId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update ONE_ITEM_CALC
    <trim prefix="set" suffixOverrides=",">
      <if test="record.oneAcctItemId != null">
        ONE_ACCT_ITEM_ID = #{record.oneAcctItemId,jdbcType=BIGINT},
      </if>
      <if test="record.custOrderId != null">
        CUST_ORDER_ID = #{record.custOrderId,jdbcType=BIGINT},
      </if>
      <if test="record.orderItemId != null">
        ORDER_ITEM_ID = #{record.orderItemId,jdbcType=BIGINT},
      </if>
      <if test="record.sourceType != null">
        SOURCE_TYPE = #{record.sourceType,jdbcType=INTEGER},
      </if>
      <if test="record.acctItemTypeId != null">
        ACCT_ITEM_TYPE_ID = #{record.acctItemTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.balanceTypeId != null">
        BALANCE_TYPE_ID = #{record.balanceTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.billingCycleId != null">
        BILLING_CYCLE_ID = #{record.billingCycleId,jdbcType=INTEGER},
      </if>
      <if test="record.acctId != null">
        ACCT_ID = #{record.acctId,jdbcType=BIGINT},
      </if>
      <if test="record.prodInstId != null">
        PROD_INST_ID = #{record.prodInstId,jdbcType=BIGINT},
      </if>
      <if test="record.shouldAmount != null">
        SHOULD_AMOUNT = #{record.shouldAmount,jdbcType=BIGINT},
      </if>
      <if test="record.resultItemType != null">
        RESULT_ITEM_TYPE = #{record.resultItemType,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.chargeMethod != null">
        CHARGE_METHOD = #{record.chargeMethod,jdbcType=INTEGER},
      </if>
      <if test="record.lanId != null">
        LAN_ID = #{record.lanId,jdbcType=BIGINT},
      </if>
      <if test="record.staffId != null">
        STAFF_ID = #{record.staffId,jdbcType=BIGINT},
      </if>
      <if test="record.orgId != null">
        ORG_ID = #{record.orgId,jdbcType=BIGINT},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=INTEGER},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <where>
      <if test="condition.oneAcctItemId != null ">
        ONE_ACCT_ITEM_ID = #{condition.oneAcctItemId, jdbcType=BIGINT }
      </if>
      <if test="condition.custOrderId != null ">
        and CUST_ORDER_ID = #{condition.custOrderId, jdbcType=BIGINT }
      </if>
      <if test="condition.orderItemId != null ">
        and ORDER_ITEM_ID = #{condition.orderItemId, jdbcType=BIGINT }
      </if>
      <if test="condition.sourceType != null ">
        and SOURCE_TYPE = #{condition.sourceType, jdbcType=INTEGER }
      </if>
      <if test="condition.acctItemTypeId != null ">
        and ACCT_ITEM_TYPE_ID = #{condition.acctItemTypeId, jdbcType=INTEGER }
      </if>
      <if test="condition.balanceTypeId != null ">
        and BALANCE_TYPE_ID = #{condition.balanceTypeId, jdbcType=INTEGER }
      </if>
      <if test="condition.billingCycleId != null ">
        and BILLING_CYCLE_ID = #{condition.billingCycleId, jdbcType=INTEGER }
      </if>
      <if test="condition.acctId != null ">
        and ACCT_ID = #{condition.acctId, jdbcType=BIGINT }
      </if>
      <if test="condition.prodInstId != null ">
        and PROD_INST_ID = #{condition.prodInstId, jdbcType=BIGINT }
      </if>
      <if test="condition.shouldAmount != null ">
        and SHOULD_AMOUNT = #{condition.shouldAmount, jdbcType=BIGINT }
      </if>
      <if test="condition.resultItemType != null ">
        and RESULT_ITEM_TYPE = #{condition.resultItemType, jdbcType=INTEGER }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.chargeMethod != null ">
        and CHARGE_METHOD = #{condition.chargeMethod, jdbcType=INTEGER }
      </if>
      <if test="condition.lanId != null ">
        and LAN_ID = #{condition.lanId, jdbcType=BIGINT }
      </if>
      <if test="condition.staffId != null ">
        and STAFF_ID = #{condition.staffId, jdbcType=BIGINT }
      </if>
      <if test="condition.orgId != null ">
        and ORG_ID = #{condition.orgId, jdbcType=BIGINT }
      </if>
      <if test="condition.statusCd != null ">
        and STATUS_CD = #{condition.statusCd, jdbcType=INTEGER }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </update>
</mapper>