<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.OrderBalanceMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.OrderBalanceDO">
    <id column="ORDER_BALANCE_ID" jdbcType="BIGINT" property="orderBalanceId"/>
    <result column="ORDER_ITEM_ID" jdbcType="BIGINT" property="orderItemId"/>
    <result column="OBJ_TYPE" jdbcType="VARCHAR" property="objType"/>
    <result column="OBJ_ID" jdbcType="BIGINT" property="objId"/>
    <result column="DEPOSIT_AMOUNT" jdbcType="BIGINT" property="depositAmount"/>
    <result column="INV_PRT_FLAG" jdbcType="VARCHAR" property="invPrtFlag"/>
    <result column="OPER_STATUS" jdbcType="VARCHAR" property="operStatus"/>
    <result column="OPER_TYPE" jdbcType="VARCHAR" property="operType"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
    <result column="VER_NUM" jdbcType="INTEGER" property="verNum"/>
  </resultMap>

  <sql id="CommonColumns">
          ORDER_BALANCE_ID, 
          ORDER_ITEM_ID, 
          OBJ_TYPE, 
          OBJ_ID, 
          DEPOSIT_AMOUNT, 
          INV_PRT_FLAG, 
          OPER_STATUS, 
          OPER_TYPE, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          UPDATE_DATE, 
          REMARK, 
          VER_NUM
  </sql>

  <sql id="CommonColumnsKey">
          ORDER_ITEM_ID, 
          OBJ_TYPE, 
          OBJ_ID, 
          DEPOSIT_AMOUNT, 
          INV_PRT_FLAG, 
          OPER_STATUS, 
          OPER_TYPE, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          UPDATE_DATE, 
          REMARK, 
          VER_NUM
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="orderBalanceId != null ">
        ORDER_BALANCE_ID = #{orderBalanceId, jdbcType=BIGINT }
      </if>
      <if test="orderItemId != null ">
        and ORDER_ITEM_ID = #{orderItemId, jdbcType=BIGINT }
      </if>
      <if test="objType != null and objType != ''">
        and OBJ_TYPE = #{objType, jdbcType=VARCHAR }
      </if>
      <if test="objId != null ">
        and OBJ_ID = #{objId, jdbcType=BIGINT }
      </if>
      <if test="depositAmount != null ">
        and DEPOSIT_AMOUNT = #{depositAmount, jdbcType=BIGINT }
      </if>
      <if test="invPrtFlag != null and invPrtFlag != ''">
        and INV_PRT_FLAG = #{invPrtFlag, jdbcType=VARCHAR }
      </if>
      <if test="operStatus != null and operStatus != ''">
        and OPER_STATUS = #{operStatus, jdbcType=VARCHAR }
      </if>
      <if test="operType != null and operType != ''">
        and OPER_TYPE = #{operType, jdbcType=VARCHAR }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
      <if test="verNum != null ">
        and VER_NUM = #{verNum, jdbcType=INTEGER }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.OrderBalanceDO" resultType="java.lang.Integer">
      select count(*) from ORDER_BALANCE
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from ORDER_BALANCE
        where 
           ORDER_BALANCE_ID = #{orderBalanceId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  ORDER_BALANCE 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="orderBalanceId">
      insert into  ORDER_BALANCE ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{orderItemId,jdbcType=BIGINT}, 
        #{objType,jdbcType=VARCHAR}, 
        #{objId,jdbcType=BIGINT}, 
        #{depositAmount,jdbcType=BIGINT}, 
        #{invPrtFlag,jdbcType=VARCHAR}, 
        #{operStatus,jdbcType=VARCHAR}, 
        #{operType,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}, 
        #{verNum,jdbcType=INTEGER}
         )
  </insert>

  <insert id="insert">
      insert into  ORDER_BALANCE ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{orderBalanceId,jdbcType=BIGINT}, 
        #{orderItemId,jdbcType=BIGINT}, 
        #{objType,jdbcType=VARCHAR}, 
        #{objId,jdbcType=BIGINT}, 
        #{depositAmount,jdbcType=BIGINT}, 
        #{invPrtFlag,jdbcType=VARCHAR}, 
        #{operStatus,jdbcType=VARCHAR}, 
        #{operType,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}, 
        #{verNum,jdbcType=INTEGER}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from ORDER_BALANCE  
        where
           ORDER_BALANCE_ID = #{orderBalanceId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from ORDER_BALANCE
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  ORDER_BALANCE
    <trim prefix="set" suffixOverrides=",">
      <if test="orderItemId != null">
         ORDER_ITEM_ID = #{orderItemId,jdbcType=BIGINT},
      </if>
      <if test="objType != null">
         OBJ_TYPE = #{objType,jdbcType=VARCHAR},
      </if>
      <if test="objId != null">
         OBJ_ID = #{objId,jdbcType=BIGINT},
      </if>
      <if test="depositAmount != null">
         DEPOSIT_AMOUNT = #{depositAmount,jdbcType=BIGINT},
      </if>
      <if test="invPrtFlag != null">
         INV_PRT_FLAG = #{invPrtFlag,jdbcType=VARCHAR},
      </if>
      <if test="operStatus != null">
         OPER_STATUS = #{operStatus,jdbcType=VARCHAR},
      </if>
      <if test="operType != null">
         OPER_TYPE = #{operType,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="verNum != null">
         VER_NUM = #{verNum,jdbcType=INTEGER},
      </if>
    </trim>
        where 
           ORDER_BALANCE_ID = #{orderBalanceId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update ORDER_BALANCE
    <trim prefix="set" suffixOverrides=",">
      <if test="record.orderBalanceId != null">
        ORDER_BALANCE_ID = #{record.orderBalanceId,jdbcType=BIGINT},
      </if>
      <if test="record.orderItemId != null">
        ORDER_ITEM_ID = #{record.orderItemId,jdbcType=BIGINT},
      </if>
      <if test="record.objType != null">
        OBJ_TYPE = #{record.objType,jdbcType=VARCHAR},
      </if>
      <if test="record.objId != null">
        OBJ_ID = #{record.objId,jdbcType=BIGINT},
      </if>
      <if test="record.depositAmount != null">
        DEPOSIT_AMOUNT = #{record.depositAmount,jdbcType=BIGINT},
      </if>
      <if test="record.invPrtFlag != null">
        INV_PRT_FLAG = #{record.invPrtFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.operStatus != null">
        OPER_STATUS = #{record.operStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.operType != null">
        OPER_TYPE = #{record.operType,jdbcType=VARCHAR},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.verNum != null">
        VER_NUM = #{record.verNum,jdbcType=INTEGER},
      </if>
    </trim>
    <where>
      <if test="condition.orderBalanceId != null ">
        ORDER_BALANCE_ID = #{condition.orderBalanceId, jdbcType=BIGINT }
      </if>
      <if test="condition.orderItemId != null ">
        and ORDER_ITEM_ID = #{condition.orderItemId, jdbcType=BIGINT }
      </if>
      <if test="condition.objType != null and condition.objType != ''">
        and OBJ_TYPE = #{condition.objType, jdbcType=VARCHAR }
      </if>
      <if test="condition.objId != null ">
        and OBJ_ID = #{condition.objId, jdbcType=BIGINT }
      </if>
      <if test="condition.depositAmount != null ">
        and DEPOSIT_AMOUNT = #{condition.depositAmount, jdbcType=BIGINT }
      </if>
      <if test="condition.invPrtFlag != null and condition.invPrtFlag != ''">
        and INV_PRT_FLAG = #{condition.invPrtFlag, jdbcType=VARCHAR }
      </if>
      <if test="condition.operStatus != null and condition.operStatus != ''">
        and OPER_STATUS = #{condition.operStatus, jdbcType=VARCHAR }
      </if>
      <if test="condition.operType != null and condition.operType != ''">
        and OPER_TYPE = #{condition.operType, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
      <if test="condition.verNum != null ">
        and VER_NUM = #{condition.verNum, jdbcType=INTEGER }
      </if>
    </where>
  </update>
</mapper>