<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.OrdMktResInstStoreMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.OrdMktResInstStoreDO">
    <id column="ROW_ID" jdbcType="BIGINT" property="rowId"/>
    <result column="ORDER_ITEM_ID" jdbcType="BIGINT" property="orderItemId"/>
    <result column="OLD_ROW_ID" jdbcType="BIGINT" property="oldRowId"/>
    <result column="OPER_TYPE" jdbcType="VARCHAR" property="operType"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
    <result column="MKT_RES_INST_STORE_ID" jdbcType="BIGINT" property="mktResInstStoreId"/>
    <result column="MKT_RES_ID" jdbcType="INTEGER" property="mktResId"/>
    <result column="MKT_RES_STORE_ID" jdbcType="INTEGER" property="mktResStoreId"/>
    <result column="QUANTITY" jdbcType="BIGINT" property="quantity"/>
    <result column="UNIT" jdbcType="VARCHAR" property="unit"/>
    <result column="REST_QUANTITY" jdbcType="BIGINT" property="restQuantity"/>
    <result column="ONWAY_QUANTITY" jdbcType="BIGINT" property="onwayQuantity"/>
    <result column="RUIN_QUANTITY" jdbcType="INTEGER" property="ruinQuantity"/>
    <result column="PARTNER_ID" jdbcType="BIGINT" property="partnerId"/>
    <result column="LAN_ID" jdbcType="BIGINT" property="lanId"/>
    <result column="REGION_ID" jdbcType="INTEGER" property="regionId"/>
    <result column="VER_NUM" jdbcType="INTEGER" property="verNum"/>
  </resultMap>

  <sql id="CommonColumns">
          ROW_ID, 
          ORDER_ITEM_ID, 
          OLD_ROW_ID, 
          OPER_TYPE, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          UPDATE_DATE, 
          REMARK, 
          MKT_RES_INST_STORE_ID, 
          MKT_RES_ID, 
          MKT_RES_STORE_ID, 
          QUANTITY, 
          UNIT, 
          REST_QUANTITY, 
          ONWAY_QUANTITY, 
          RUIN_QUANTITY, 
          PARTNER_ID, 
          LAN_ID, 
          REGION_ID, 
          VER_NUM
  </sql>

  <sql id="CommonColumnsKey">
          ORDER_ITEM_ID, 
          OLD_ROW_ID, 
          OPER_TYPE, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          UPDATE_DATE, 
          REMARK, 
          MKT_RES_INST_STORE_ID, 
          MKT_RES_ID, 
          MKT_RES_STORE_ID, 
          QUANTITY, 
          UNIT, 
          REST_QUANTITY, 
          ONWAY_QUANTITY, 
          RUIN_QUANTITY, 
          PARTNER_ID, 
          LAN_ID, 
          REGION_ID, 
          VER_NUM
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="rowId != null ">
        ROW_ID = #{rowId, jdbcType=BIGINT }
      </if>
      <if test="orderItemId != null ">
        and ORDER_ITEM_ID = #{orderItemId, jdbcType=BIGINT }
      </if>
      <if test="oldRowId != null ">
        and OLD_ROW_ID = #{oldRowId, jdbcType=BIGINT }
      </if>
      <if test="operType != null and operType != ''">
        and OPER_TYPE = #{operType, jdbcType=VARCHAR }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
      <if test="mktResInstStoreId != null ">
        and MKT_RES_INST_STORE_ID = #{mktResInstStoreId, jdbcType=BIGINT }
      </if>
      <if test="mktResId != null ">
        and MKT_RES_ID = #{mktResId, jdbcType=INTEGER }
      </if>
      <if test="mktResStoreId != null ">
        and MKT_RES_STORE_ID = #{mktResStoreId, jdbcType=INTEGER }
      </if>
      <if test="quantity != null ">
        and QUANTITY = #{quantity, jdbcType=BIGINT }
      </if>
      <if test="unit != null and unit != ''">
        and UNIT = #{unit, jdbcType=VARCHAR }
      </if>
      <if test="restQuantity != null ">
        and REST_QUANTITY = #{restQuantity, jdbcType=BIGINT }
      </if>
      <if test="onwayQuantity != null ">
        and ONWAY_QUANTITY = #{onwayQuantity, jdbcType=BIGINT }
      </if>
      <if test="ruinQuantity != null ">
        and RUIN_QUANTITY = #{ruinQuantity, jdbcType=INTEGER }
      </if>
      <if test="partnerId != null ">
        and PARTNER_ID = #{partnerId, jdbcType=BIGINT }
      </if>
      <if test="lanId != null ">
        and LAN_ID = #{lanId, jdbcType=BIGINT }
      </if>
      <if test="regionId != null ">
        and REGION_ID = #{regionId, jdbcType=INTEGER }
      </if>
      <if test="verNum != null ">
        and VER_NUM = #{verNum, jdbcType=INTEGER }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.OrdMktResInstStoreDO" resultType="java.lang.Integer">
      select count(*) from ORD_MKT_RES_INST_STORE
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from ORD_MKT_RES_INST_STORE
        where 
           ROW_ID = #{rowId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  ORD_MKT_RES_INST_STORE 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="rowId">
      insert into  ORD_MKT_RES_INST_STORE ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{orderItemId,jdbcType=BIGINT}, 
        #{oldRowId,jdbcType=BIGINT}, 
        #{operType,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}, 
        #{mktResInstStoreId,jdbcType=BIGINT}, 
        #{mktResId,jdbcType=INTEGER}, 
        #{mktResStoreId,jdbcType=INTEGER}, 
        #{quantity,jdbcType=BIGINT}, 
        #{unit,jdbcType=VARCHAR}, 
        #{restQuantity,jdbcType=BIGINT}, 
        #{onwayQuantity,jdbcType=BIGINT}, 
        #{ruinQuantity,jdbcType=INTEGER}, 
        #{partnerId,jdbcType=BIGINT}, 
        #{lanId,jdbcType=BIGINT}, 
        #{regionId,jdbcType=INTEGER}, 
        #{verNum,jdbcType=INTEGER}
         )
  </insert>

  <insert id="insert">
      insert into  ORD_MKT_RES_INST_STORE ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{rowId,jdbcType=BIGINT}, 
        #{orderItemId,jdbcType=BIGINT}, 
        #{oldRowId,jdbcType=BIGINT}, 
        #{operType,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}, 
        #{mktResInstStoreId,jdbcType=BIGINT}, 
        #{mktResId,jdbcType=INTEGER}, 
        #{mktResStoreId,jdbcType=INTEGER}, 
        #{quantity,jdbcType=BIGINT}, 
        #{unit,jdbcType=VARCHAR}, 
        #{restQuantity,jdbcType=BIGINT}, 
        #{onwayQuantity,jdbcType=BIGINT}, 
        #{ruinQuantity,jdbcType=INTEGER}, 
        #{partnerId,jdbcType=BIGINT}, 
        #{lanId,jdbcType=BIGINT}, 
        #{regionId,jdbcType=INTEGER}, 
        #{verNum,jdbcType=INTEGER}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from ORD_MKT_RES_INST_STORE  
        where
           ROW_ID = #{rowId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from ORD_MKT_RES_INST_STORE
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  ORD_MKT_RES_INST_STORE
    <trim prefix="set" suffixOverrides=",">
      <if test="orderItemId != null">
         ORDER_ITEM_ID = #{orderItemId,jdbcType=BIGINT},
      </if>
      <if test="oldRowId != null">
         OLD_ROW_ID = #{oldRowId,jdbcType=BIGINT},
      </if>
      <if test="operType != null">
         OPER_TYPE = #{operType,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="mktResInstStoreId != null">
         MKT_RES_INST_STORE_ID = #{mktResInstStoreId,jdbcType=BIGINT},
      </if>
      <if test="mktResId != null">
         MKT_RES_ID = #{mktResId,jdbcType=INTEGER},
      </if>
      <if test="mktResStoreId != null">
         MKT_RES_STORE_ID = #{mktResStoreId,jdbcType=INTEGER},
      </if>
      <if test="quantity != null">
         QUANTITY = #{quantity,jdbcType=BIGINT},
      </if>
      <if test="unit != null">
         UNIT = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="restQuantity != null">
         REST_QUANTITY = #{restQuantity,jdbcType=BIGINT},
      </if>
      <if test="onwayQuantity != null">
         ONWAY_QUANTITY = #{onwayQuantity,jdbcType=BIGINT},
      </if>
      <if test="ruinQuantity != null">
         RUIN_QUANTITY = #{ruinQuantity,jdbcType=INTEGER},
      </if>
      <if test="partnerId != null">
         PARTNER_ID = #{partnerId,jdbcType=BIGINT},
      </if>
      <if test="lanId != null">
         LAN_ID = #{lanId,jdbcType=BIGINT},
      </if>
      <if test="regionId != null">
         REGION_ID = #{regionId,jdbcType=INTEGER},
      </if>
      <if test="verNum != null">
         VER_NUM = #{verNum,jdbcType=INTEGER},
      </if>
    </trim>
        where 
           ROW_ID = #{rowId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update ORD_MKT_RES_INST_STORE
    <trim prefix="set" suffixOverrides=",">
      <if test="record.rowId != null">
        ROW_ID = #{record.rowId,jdbcType=BIGINT},
      </if>
      <if test="record.orderItemId != null">
        ORDER_ITEM_ID = #{record.orderItemId,jdbcType=BIGINT},
      </if>
      <if test="record.oldRowId != null">
        OLD_ROW_ID = #{record.oldRowId,jdbcType=BIGINT},
      </if>
      <if test="record.operType != null">
        OPER_TYPE = #{record.operType,jdbcType=VARCHAR},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.mktResInstStoreId != null">
        MKT_RES_INST_STORE_ID = #{record.mktResInstStoreId,jdbcType=BIGINT},
      </if>
      <if test="record.mktResId != null">
        MKT_RES_ID = #{record.mktResId,jdbcType=INTEGER},
      </if>
      <if test="record.mktResStoreId != null">
        MKT_RES_STORE_ID = #{record.mktResStoreId,jdbcType=INTEGER},
      </if>
      <if test="record.quantity != null">
        QUANTITY = #{record.quantity,jdbcType=BIGINT},
      </if>
      <if test="record.unit != null">
        UNIT = #{record.unit,jdbcType=VARCHAR},
      </if>
      <if test="record.restQuantity != null">
        REST_QUANTITY = #{record.restQuantity,jdbcType=BIGINT},
      </if>
      <if test="record.onwayQuantity != null">
        ONWAY_QUANTITY = #{record.onwayQuantity,jdbcType=BIGINT},
      </if>
      <if test="record.ruinQuantity != null">
        RUIN_QUANTITY = #{record.ruinQuantity,jdbcType=INTEGER},
      </if>
      <if test="record.partnerId != null">
        PARTNER_ID = #{record.partnerId,jdbcType=BIGINT},
      </if>
      <if test="record.lanId != null">
        LAN_ID = #{record.lanId,jdbcType=BIGINT},
      </if>
      <if test="record.regionId != null">
        REGION_ID = #{record.regionId,jdbcType=INTEGER},
      </if>
      <if test="record.verNum != null">
        VER_NUM = #{record.verNum,jdbcType=INTEGER},
      </if>
    </trim>
    <where>
      <if test="condition.rowId != null ">
        ROW_ID = #{condition.rowId, jdbcType=BIGINT }
      </if>
      <if test="condition.orderItemId != null ">
        and ORDER_ITEM_ID = #{condition.orderItemId, jdbcType=BIGINT }
      </if>
      <if test="condition.oldRowId != null ">
        and OLD_ROW_ID = #{condition.oldRowId, jdbcType=BIGINT }
      </if>
      <if test="condition.operType != null and condition.operType != ''">
        and OPER_TYPE = #{condition.operType, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
      <if test="condition.mktResInstStoreId != null ">
        and MKT_RES_INST_STORE_ID = #{condition.mktResInstStoreId, jdbcType=BIGINT }
      </if>
      <if test="condition.mktResId != null ">
        and MKT_RES_ID = #{condition.mktResId, jdbcType=INTEGER }
      </if>
      <if test="condition.mktResStoreId != null ">
        and MKT_RES_STORE_ID = #{condition.mktResStoreId, jdbcType=INTEGER }
      </if>
      <if test="condition.quantity != null ">
        and QUANTITY = #{condition.quantity, jdbcType=BIGINT }
      </if>
      <if test="condition.unit != null and condition.unit != ''">
        and UNIT = #{condition.unit, jdbcType=VARCHAR }
      </if>
      <if test="condition.restQuantity != null ">
        and REST_QUANTITY = #{condition.restQuantity, jdbcType=BIGINT }
      </if>
      <if test="condition.onwayQuantity != null ">
        and ONWAY_QUANTITY = #{condition.onwayQuantity, jdbcType=BIGINT }
      </if>
      <if test="condition.ruinQuantity != null ">
        and RUIN_QUANTITY = #{condition.ruinQuantity, jdbcType=INTEGER }
      </if>
      <if test="condition.partnerId != null ">
        and PARTNER_ID = #{condition.partnerId, jdbcType=BIGINT }
      </if>
      <if test="condition.lanId != null ">
        and LAN_ID = #{condition.lanId, jdbcType=BIGINT }
      </if>
      <if test="condition.regionId != null ">
        and REGION_ID = #{condition.regionId, jdbcType=INTEGER }
      </if>
      <if test="condition.verNum != null ">
        and VER_NUM = #{condition.verNum, jdbcType=INTEGER }
      </if>
    </where>
  </update>
</mapper>