<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.OrdProdInstContactMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.OrdProdInstContactDO">
    <result column="PROD_INST_CONTACT_ID" jdbcType="BIGINT" property="prodInstContactId"/>
    <result column="PROD_INST_ID" jdbcType="BIGINT" property="prodInstId"/>
    <result column="CONTACT_NAME" jdbcType="VARCHAR" property="contactName"/>
    <result column="CONTACT_PHONE" jdbcType="VARCHAR" property="contactPhone"/>
    <result column="QQ_CODE" jdbcType="VARCHAR" property="qqCode"/>
    <result column="WX_CODE" jdbcType="VARCHAR" property="wxCode"/>
    <result column="YX_CODE" jdbcType="VARCHAR" property="yxCode"/>
    <result column="FIRST_CHANGE" jdbcType="VARCHAR" property="firstChange"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <id column="ROW_ID" jdbcType="BIGINT" property="rowId"/>
    <result column="ORDER_ITEM_ID" jdbcType="BIGINT" property="orderItemId"/>
    <result column="OLD_ROW_ID" jdbcType="BIGINT" property="oldRowId"/>
    <result column="OPER_TYPE" jdbcType="VARCHAR" property="operType"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
    <result column="VER_NUM" jdbcType="INTEGER" property="verNum"/>
  </resultMap>

  <sql id="CommonColumns">
          PROD_INST_CONTACT_ID, 
          PROD_INST_ID, 
          CONTACT_NAME, 
          CONTACT_PHONE, 
          QQ_CODE, 
          WX_CODE, 
          YX_CODE, 
          FIRST_CHANGE, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          UPDATE_DATE, 
          STATUS_DATE, 
          ROW_ID, 
          ORDER_ITEM_ID, 
          OLD_ROW_ID, 
          OPER_TYPE, 
          REMARK, 
          VER_NUM
  </sql>

  <sql id="CommonColumnsKey">
          PROD_INST_CONTACT_ID, 
          PROD_INST_ID, 
          CONTACT_NAME, 
          CONTACT_PHONE, 
          QQ_CODE, 
          WX_CODE, 
          YX_CODE, 
          FIRST_CHANGE, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          UPDATE_DATE, 
          STATUS_DATE, 
          ORDER_ITEM_ID, 
          OLD_ROW_ID, 
          OPER_TYPE, 
          REMARK, 
          VER_NUM
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="prodInstContactId != null ">
        PROD_INST_CONTACT_ID = #{prodInstContactId, jdbcType=BIGINT }
      </if>
      <if test="prodInstId != null ">
        and PROD_INST_ID = #{prodInstId, jdbcType=BIGINT }
      </if>
      <if test="contactName != null and contactName != ''">
        and CONTACT_NAME = #{contactName, jdbcType=VARCHAR }
      </if>
      <if test="contactPhone != null and contactPhone != ''">
        and CONTACT_PHONE = #{contactPhone, jdbcType=VARCHAR }
      </if>
      <if test="qqCode != null and qqCode != ''">
        and QQ_CODE = #{qqCode, jdbcType=VARCHAR }
      </if>
      <if test="wxCode != null and wxCode != ''">
        and WX_CODE = #{wxCode, jdbcType=VARCHAR }
      </if>
      <if test="yxCode != null and yxCode != ''">
        and YX_CODE = #{yxCode, jdbcType=VARCHAR }
      </if>
      <if test="firstChange != null and firstChange != ''">
        and FIRST_CHANGE = #{firstChange, jdbcType=VARCHAR }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="rowId != null ">
        and ROW_ID = #{rowId, jdbcType=BIGINT }
      </if>
      <if test="orderItemId != null ">
        and ORDER_ITEM_ID = #{orderItemId, jdbcType=BIGINT }
      </if>
      <if test="oldRowId != null ">
        and OLD_ROW_ID = #{oldRowId, jdbcType=BIGINT }
      </if>
      <if test="operType != null and operType != ''">
        and OPER_TYPE = #{operType, jdbcType=VARCHAR }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
      <if test="verNum != null ">
        and VER_NUM = #{verNum, jdbcType=INTEGER }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.OrdProdInstContactDO" resultType="java.lang.Integer">
      select count(*) from ORD_PROD_INST_CONTACT
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from ORD_PROD_INST_CONTACT
        where 
           ROW_ID = #{rowId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  ORD_PROD_INST_CONTACT 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="rowId">
      insert into  ORD_PROD_INST_CONTACT ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{prodInstContactId,jdbcType=BIGINT}, 
        #{prodInstId,jdbcType=BIGINT}, 
        #{contactName,jdbcType=VARCHAR}, 
        #{contactPhone,jdbcType=VARCHAR}, 
        #{qqCode,jdbcType=VARCHAR}, 
        #{wxCode,jdbcType=VARCHAR}, 
        #{yxCode,jdbcType=VARCHAR}, 
        #{firstChange,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{orderItemId,jdbcType=BIGINT}, 
        #{oldRowId,jdbcType=BIGINT}, 
        #{operType,jdbcType=VARCHAR}, 
        #{remark,jdbcType=VARCHAR}, 
        #{verNum,jdbcType=INTEGER}
         )
  </insert>

  <insert id="insert">
      insert into  ORD_PROD_INST_CONTACT ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{prodInstContactId,jdbcType=BIGINT}, 
        #{prodInstId,jdbcType=BIGINT}, 
        #{contactName,jdbcType=VARCHAR}, 
        #{contactPhone,jdbcType=VARCHAR}, 
        #{qqCode,jdbcType=VARCHAR}, 
        #{wxCode,jdbcType=VARCHAR}, 
        #{yxCode,jdbcType=VARCHAR}, 
        #{firstChange,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{rowId,jdbcType=BIGINT}, 
        #{orderItemId,jdbcType=BIGINT}, 
        #{oldRowId,jdbcType=BIGINT}, 
        #{operType,jdbcType=VARCHAR}, 
        #{remark,jdbcType=VARCHAR}, 
        #{verNum,jdbcType=INTEGER}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from ORD_PROD_INST_CONTACT  
        where
           ROW_ID = #{rowId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from ORD_PROD_INST_CONTACT
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  ORD_PROD_INST_CONTACT
    <trim prefix="set" suffixOverrides=",">
      <if test="prodInstContactId != null">
         PROD_INST_CONTACT_ID = #{prodInstContactId,jdbcType=BIGINT},
      </if>
      <if test="prodInstId != null">
         PROD_INST_ID = #{prodInstId,jdbcType=BIGINT},
      </if>
      <if test="contactName != null">
         CONTACT_NAME = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null">
         CONTACT_PHONE = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="qqCode != null">
         QQ_CODE = #{qqCode,jdbcType=VARCHAR},
      </if>
      <if test="wxCode != null">
         WX_CODE = #{wxCode,jdbcType=VARCHAR},
      </if>
      <if test="yxCode != null">
         YX_CODE = #{yxCode,jdbcType=VARCHAR},
      </if>
      <if test="firstChange != null">
         FIRST_CHANGE = #{firstChange,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderItemId != null">
         ORDER_ITEM_ID = #{orderItemId,jdbcType=BIGINT},
      </if>
      <if test="oldRowId != null">
         OLD_ROW_ID = #{oldRowId,jdbcType=BIGINT},
      </if>
      <if test="operType != null">
         OPER_TYPE = #{operType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="verNum != null">
         VER_NUM = #{verNum,jdbcType=INTEGER},
      </if>
    </trim>
        where 
           ROW_ID = #{rowId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update ORD_PROD_INST_CONTACT
    <trim prefix="set" suffixOverrides=",">
      <if test="record.prodInstContactId != null">
        PROD_INST_CONTACT_ID = #{record.prodInstContactId,jdbcType=BIGINT},
      </if>
      <if test="record.prodInstId != null">
        PROD_INST_ID = #{record.prodInstId,jdbcType=BIGINT},
      </if>
      <if test="record.contactName != null">
        CONTACT_NAME = #{record.contactName,jdbcType=VARCHAR},
      </if>
      <if test="record.contactPhone != null">
        CONTACT_PHONE = #{record.contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.qqCode != null">
        QQ_CODE = #{record.qqCode,jdbcType=VARCHAR},
      </if>
      <if test="record.wxCode != null">
        WX_CODE = #{record.wxCode,jdbcType=VARCHAR},
      </if>
      <if test="record.yxCode != null">
        YX_CODE = #{record.yxCode,jdbcType=VARCHAR},
      </if>
      <if test="record.firstChange != null">
        FIRST_CHANGE = #{record.firstChange,jdbcType=VARCHAR},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rowId != null">
        ROW_ID = #{record.rowId,jdbcType=BIGINT},
      </if>
      <if test="record.orderItemId != null">
        ORDER_ITEM_ID = #{record.orderItemId,jdbcType=BIGINT},
      </if>
      <if test="record.oldRowId != null">
        OLD_ROW_ID = #{record.oldRowId,jdbcType=BIGINT},
      </if>
      <if test="record.operType != null">
        OPER_TYPE = #{record.operType,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.verNum != null">
        VER_NUM = #{record.verNum,jdbcType=INTEGER},
      </if>
    </trim>
    <where>
      <if test="condition.prodInstContactId != null ">
        PROD_INST_CONTACT_ID = #{condition.prodInstContactId, jdbcType=BIGINT }
      </if>
      <if test="condition.prodInstId != null ">
        and PROD_INST_ID = #{condition.prodInstId, jdbcType=BIGINT }
      </if>
      <if test="condition.contactName != null and condition.contactName != ''">
        and CONTACT_NAME = #{condition.contactName, jdbcType=VARCHAR }
      </if>
      <if test="condition.contactPhone != null and condition.contactPhone != ''">
        and CONTACT_PHONE = #{condition.contactPhone, jdbcType=VARCHAR }
      </if>
      <if test="condition.qqCode != null and condition.qqCode != ''">
        and QQ_CODE = #{condition.qqCode, jdbcType=VARCHAR }
      </if>
      <if test="condition.wxCode != null and condition.wxCode != ''">
        and WX_CODE = #{condition.wxCode, jdbcType=VARCHAR }
      </if>
      <if test="condition.yxCode != null and condition.yxCode != ''">
        and YX_CODE = #{condition.yxCode, jdbcType=VARCHAR }
      </if>
      <if test="condition.firstChange != null and condition.firstChange != ''">
        and FIRST_CHANGE = #{condition.firstChange, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.rowId != null ">
        and ROW_ID = #{condition.rowId, jdbcType=BIGINT }
      </if>
      <if test="condition.orderItemId != null ">
        and ORDER_ITEM_ID = #{condition.orderItemId, jdbcType=BIGINT }
      </if>
      <if test="condition.oldRowId != null ">
        and OLD_ROW_ID = #{condition.oldRowId, jdbcType=BIGINT }
      </if>
      <if test="condition.operType != null and condition.operType != ''">
        and OPER_TYPE = #{condition.operType, jdbcType=VARCHAR }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
      <if test="condition.verNum != null ">
        and VER_NUM = #{condition.verNum, jdbcType=INTEGER }
      </if>
    </where>
  </update>
</mapper>