<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.OrdSpecialListMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.OrdSpecialListDO">
    <result column="SPECIAL_LIST_ID" jdbcType="BIGINT" property="specialListId"/>
    <result column="OBJ_TYPE" jdbcType="VARCHAR" property="objType"/>
    <result column="OBJ_ID" jdbcType="BIGINT" property="objId"/>
    <result column="SPECIAL_TYPE" jdbcType="VARCHAR" property="specialType"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="SUB_SPECIAL_TYPE" jdbcType="VARCHAR" property="subSpecialType"/>
    <result column="SPECIAL_LIST_REASON" jdbcType="VARCHAR" property="specialListReason"/>
    <result column="CREATE_CHANNEL" jdbcType="BIGINT" property="createChannel"/>
    <result column="FROM_DEPT" jdbcType="BIGINT" property="fromDept"/>
    <result column="CHECKER" jdbcType="BIGINT" property="checker"/>
    <result column="CHECK_FLAG" jdbcType="INTEGER" property="checkFlag"/>
    <result column="EVALUATE_TIME" jdbcType="TIMESTAMP" property="evaluateTime"/>
    <result column="EFF_DATE" jdbcType="TIMESTAMP" property="effDate"/>
    <result column="EXP_DATE" jdbcType="TIMESTAMP" property="expDate"/>
    <id column="ROW_ID" jdbcType="BIGINT" property="rowId"/>
    <result column="ORDER_ITEM_ID" jdbcType="BIGINT" property="orderItemId"/>
    <result column="OLD_ROW_ID" jdbcType="BIGINT" property="oldRowId"/>
    <result column="OPER_TYPE" jdbcType="VARCHAR" property="operType"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
    <result column="VER_NUM" jdbcType="INTEGER" property="verNum"/>
  </resultMap>

  <sql id="CommonColumns">
          SPECIAL_LIST_ID, 
          OBJ_TYPE, 
          OBJ_ID, 
          SPECIAL_TYPE, 
          UPDATE_DATE, 
          SUB_SPECIAL_TYPE, 
          SPECIAL_LIST_REASON, 
          CREATE_CHANNEL, 
          FROM_DEPT, 
          CHECKER, 
          CHECK_FLAG, 
          EVALUATE_TIME, 
          EFF_DATE, 
          EXP_DATE, 
          ROW_ID, 
          ORDER_ITEM_ID, 
          OLD_ROW_ID, 
          OPER_TYPE, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          REMARK, 
          VER_NUM
  </sql>

  <sql id="CommonColumnsKey">
          SPECIAL_LIST_ID, 
          OBJ_TYPE, 
          OBJ_ID, 
          SPECIAL_TYPE, 
          UPDATE_DATE, 
          SUB_SPECIAL_TYPE, 
          SPECIAL_LIST_REASON, 
          CREATE_CHANNEL, 
          FROM_DEPT, 
          CHECKER, 
          CHECK_FLAG, 
          EVALUATE_TIME, 
          EFF_DATE, 
          EXP_DATE, 
          ORDER_ITEM_ID, 
          OLD_ROW_ID, 
          OPER_TYPE, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          REMARK, 
          VER_NUM
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="specialListId != null ">
        SPECIAL_LIST_ID = #{specialListId, jdbcType=BIGINT }
      </if>
      <if test="objType != null and objType != ''">
        and OBJ_TYPE = #{objType, jdbcType=VARCHAR }
      </if>
      <if test="objId != null ">
        and OBJ_ID = #{objId, jdbcType=BIGINT }
      </if>
      <if test="specialType != null and specialType != ''">
        and SPECIAL_TYPE = #{specialType, jdbcType=VARCHAR }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="subSpecialType != null and subSpecialType != ''">
        and SUB_SPECIAL_TYPE = #{subSpecialType, jdbcType=VARCHAR }
      </if>
      <if test="specialListReason != null and specialListReason != ''">
        and SPECIAL_LIST_REASON = #{specialListReason, jdbcType=VARCHAR }
      </if>
      <if test="createChannel != null ">
        and CREATE_CHANNEL = #{createChannel, jdbcType=BIGINT }
      </if>
      <if test="fromDept != null ">
        and FROM_DEPT = #{fromDept, jdbcType=BIGINT }
      </if>
      <if test="checker != null ">
        and CHECKER = #{checker, jdbcType=BIGINT }
      </if>
      <if test="checkFlag != null ">
        and CHECK_FLAG = #{checkFlag, jdbcType=INTEGER }
      </if>
      <if test="evaluateTime != null ">
        and EVALUATE_TIME = #{evaluateTime, jdbcType=TIMESTAMP }
      </if>
      <if test="effDate != null ">
        and EFF_DATE = #{effDate, jdbcType=TIMESTAMP }
      </if>
      <if test="expDate != null ">
        and EXP_DATE = #{expDate, jdbcType=TIMESTAMP }
      </if>
      <if test="rowId != null ">
        and ROW_ID = #{rowId, jdbcType=BIGINT }
      </if>
      <if test="orderItemId != null ">
        and ORDER_ITEM_ID = #{orderItemId, jdbcType=BIGINT }
      </if>
      <if test="oldRowId != null ">
        and OLD_ROW_ID = #{oldRowId, jdbcType=BIGINT }
      </if>
      <if test="operType != null and operType != ''">
        and OPER_TYPE = #{operType, jdbcType=VARCHAR }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
      <if test="verNum != null ">
        and VER_NUM = #{verNum, jdbcType=INTEGER }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.OrdSpecialListDO" resultType="java.lang.Integer">
      select count(*) from ORD_SPECIAL_LIST
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from ORD_SPECIAL_LIST
        where 
           ROW_ID = #{rowId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  ORD_SPECIAL_LIST 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="rowId">
      insert into  ORD_SPECIAL_LIST ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{specialListId,jdbcType=BIGINT}, 
        #{objType,jdbcType=VARCHAR}, 
        #{objId,jdbcType=BIGINT}, 
        #{specialType,jdbcType=VARCHAR}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{subSpecialType,jdbcType=VARCHAR}, 
        #{specialListReason,jdbcType=VARCHAR}, 
        #{createChannel,jdbcType=BIGINT}, 
        #{fromDept,jdbcType=BIGINT}, 
        #{checker,jdbcType=BIGINT}, 
        #{checkFlag,jdbcType=INTEGER}, 
        #{evaluateTime,jdbcType=TIMESTAMP}, 
        #{effDate,jdbcType=TIMESTAMP}, 
        #{expDate,jdbcType=TIMESTAMP}, 
        #{orderItemId,jdbcType=BIGINT}, 
        #{oldRowId,jdbcType=BIGINT}, 
        #{operType,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{remark,jdbcType=VARCHAR}, 
        #{verNum,jdbcType=INTEGER}
         )
  </insert>

  <insert id="insert">
      insert into  ORD_SPECIAL_LIST ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{specialListId,jdbcType=BIGINT}, 
        #{objType,jdbcType=VARCHAR}, 
        #{objId,jdbcType=BIGINT}, 
        #{specialType,jdbcType=VARCHAR}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{subSpecialType,jdbcType=VARCHAR}, 
        #{specialListReason,jdbcType=VARCHAR}, 
        #{createChannel,jdbcType=BIGINT}, 
        #{fromDept,jdbcType=BIGINT}, 
        #{checker,jdbcType=BIGINT}, 
        #{checkFlag,jdbcType=INTEGER}, 
        #{evaluateTime,jdbcType=TIMESTAMP}, 
        #{effDate,jdbcType=TIMESTAMP}, 
        #{expDate,jdbcType=TIMESTAMP}, 
        #{rowId,jdbcType=BIGINT}, 
        #{orderItemId,jdbcType=BIGINT}, 
        #{oldRowId,jdbcType=BIGINT}, 
        #{operType,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{remark,jdbcType=VARCHAR}, 
        #{verNum,jdbcType=INTEGER}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from ORD_SPECIAL_LIST  
        where
           ROW_ID = #{rowId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from ORD_SPECIAL_LIST
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  ORD_SPECIAL_LIST
    <trim prefix="set" suffixOverrides=",">
      <if test="specialListId != null">
         SPECIAL_LIST_ID = #{specialListId,jdbcType=BIGINT},
      </if>
      <if test="objType != null">
         OBJ_TYPE = #{objType,jdbcType=VARCHAR},
      </if>
      <if test="objId != null">
         OBJ_ID = #{objId,jdbcType=BIGINT},
      </if>
      <if test="specialType != null">
         SPECIAL_TYPE = #{specialType,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="subSpecialType != null">
         SUB_SPECIAL_TYPE = #{subSpecialType,jdbcType=VARCHAR},
      </if>
      <if test="specialListReason != null">
         SPECIAL_LIST_REASON = #{specialListReason,jdbcType=VARCHAR},
      </if>
      <if test="createChannel != null">
         CREATE_CHANNEL = #{createChannel,jdbcType=BIGINT},
      </if>
      <if test="fromDept != null">
         FROM_DEPT = #{fromDept,jdbcType=BIGINT},
      </if>
      <if test="checker != null">
         CHECKER = #{checker,jdbcType=BIGINT},
      </if>
      <if test="checkFlag != null">
         CHECK_FLAG = #{checkFlag,jdbcType=INTEGER},
      </if>
      <if test="evaluateTime != null">
         EVALUATE_TIME = #{evaluateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="effDate != null">
         EFF_DATE = #{effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expDate != null">
         EXP_DATE = #{expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderItemId != null">
         ORDER_ITEM_ID = #{orderItemId,jdbcType=BIGINT},
      </if>
      <if test="oldRowId != null">
         OLD_ROW_ID = #{oldRowId,jdbcType=BIGINT},
      </if>
      <if test="operType != null">
         OPER_TYPE = #{operType,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="verNum != null">
         VER_NUM = #{verNum,jdbcType=INTEGER},
      </if>
    </trim>
        where 
           ROW_ID = #{rowId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update ORD_SPECIAL_LIST
    <trim prefix="set" suffixOverrides=",">
      <if test="record.specialListId != null">
        SPECIAL_LIST_ID = #{record.specialListId,jdbcType=BIGINT},
      </if>
      <if test="record.objType != null">
        OBJ_TYPE = #{record.objType,jdbcType=VARCHAR},
      </if>
      <if test="record.objId != null">
        OBJ_ID = #{record.objId,jdbcType=BIGINT},
      </if>
      <if test="record.specialType != null">
        SPECIAL_TYPE = #{record.specialType,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.subSpecialType != null">
        SUB_SPECIAL_TYPE = #{record.subSpecialType,jdbcType=VARCHAR},
      </if>
      <if test="record.specialListReason != null">
        SPECIAL_LIST_REASON = #{record.specialListReason,jdbcType=VARCHAR},
      </if>
      <if test="record.createChannel != null">
        CREATE_CHANNEL = #{record.createChannel,jdbcType=BIGINT},
      </if>
      <if test="record.fromDept != null">
        FROM_DEPT = #{record.fromDept,jdbcType=BIGINT},
      </if>
      <if test="record.checker != null">
        CHECKER = #{record.checker,jdbcType=BIGINT},
      </if>
      <if test="record.checkFlag != null">
        CHECK_FLAG = #{record.checkFlag,jdbcType=INTEGER},
      </if>
      <if test="record.evaluateTime != null">
        EVALUATE_TIME = #{record.evaluateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.effDate != null">
        EFF_DATE = #{record.effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expDate != null">
        EXP_DATE = #{record.expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rowId != null">
        ROW_ID = #{record.rowId,jdbcType=BIGINT},
      </if>
      <if test="record.orderItemId != null">
        ORDER_ITEM_ID = #{record.orderItemId,jdbcType=BIGINT},
      </if>
      <if test="record.oldRowId != null">
        OLD_ROW_ID = #{record.oldRowId,jdbcType=BIGINT},
      </if>
      <if test="record.operType != null">
        OPER_TYPE = #{record.operType,jdbcType=VARCHAR},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.verNum != null">
        VER_NUM = #{record.verNum,jdbcType=INTEGER},
      </if>
    </trim>
    <where>
      <if test="condition.specialListId != null ">
        SPECIAL_LIST_ID = #{condition.specialListId, jdbcType=BIGINT }
      </if>
      <if test="condition.objType != null and condition.objType != ''">
        and OBJ_TYPE = #{condition.objType, jdbcType=VARCHAR }
      </if>
      <if test="condition.objId != null ">
        and OBJ_ID = #{condition.objId, jdbcType=BIGINT }
      </if>
      <if test="condition.specialType != null and condition.specialType != ''">
        and SPECIAL_TYPE = #{condition.specialType, jdbcType=VARCHAR }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.subSpecialType != null and condition.subSpecialType != ''">
        and SUB_SPECIAL_TYPE = #{condition.subSpecialType, jdbcType=VARCHAR }
      </if>
      <if test="condition.specialListReason != null and condition.specialListReason != ''">
        and SPECIAL_LIST_REASON = #{condition.specialListReason, jdbcType=VARCHAR }
      </if>
      <if test="condition.createChannel != null ">
        and CREATE_CHANNEL = #{condition.createChannel, jdbcType=BIGINT }
      </if>
      <if test="condition.fromDept != null ">
        and FROM_DEPT = #{condition.fromDept, jdbcType=BIGINT }
      </if>
      <if test="condition.checker != null ">
        and CHECKER = #{condition.checker, jdbcType=BIGINT }
      </if>
      <if test="condition.checkFlag != null ">
        and CHECK_FLAG = #{condition.checkFlag, jdbcType=INTEGER }
      </if>
      <if test="condition.evaluateTime != null ">
        and EVALUATE_TIME = #{condition.evaluateTime, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.effDate != null ">
        and EFF_DATE = #{condition.effDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.expDate != null ">
        and EXP_DATE = #{condition.expDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.rowId != null ">
        and ROW_ID = #{condition.rowId, jdbcType=BIGINT }
      </if>
      <if test="condition.orderItemId != null ">
        and ORDER_ITEM_ID = #{condition.orderItemId, jdbcType=BIGINT }
      </if>
      <if test="condition.oldRowId != null ">
        and OLD_ROW_ID = #{condition.oldRowId, jdbcType=BIGINT }
      </if>
      <if test="condition.operType != null and condition.operType != ''">
        and OPER_TYPE = #{condition.operType, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
      <if test="condition.verNum != null ">
        and VER_NUM = #{condition.verNum, jdbcType=INTEGER }
      </if>
    </where>
  </update>
</mapper>