<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.OrgBookRstrRulMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.OrgBookRstrRulDO">
    <id column="BOOK_RSTR_RUL_ID" jdbcType="BIGINT" property="bookRstrRulId"/>
    <result column="ORG_ID" jdbcType="BIGINT" property="orgId"/>
    <result column="ORG_SERV_REL_ID" jdbcType="BIGINT" property="orgServRelId"/>
    <result column="BOOK_TIME_ID" jdbcType="BIGINT" property="bookTimeId"/>
    <result column="BOOK_NUM" jdbcType="INTEGER" property="bookNum"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          BOOK_RSTR_RUL_ID, 
          ORG_ID, 
          ORG_SERV_REL_ID, 
          BOOK_TIME_ID, 
          BOOK_NUM, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          ORG_ID, 
          ORG_SERV_REL_ID, 
          BOOK_TIME_ID, 
          BOOK_NUM, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="bookRstrRulId != null ">
        BOOK_RSTR_RUL_ID = #{bookRstrRulId, jdbcType=BIGINT }
      </if>
      <if test="orgId != null ">
        and ORG_ID = #{orgId, jdbcType=BIGINT }
      </if>
      <if test="orgServRelId != null ">
        and ORG_SERV_REL_ID = #{orgServRelId, jdbcType=BIGINT }
      </if>
      <if test="bookTimeId != null ">
        and BOOK_TIME_ID = #{bookTimeId, jdbcType=BIGINT }
      </if>
      <if test="bookNum != null ">
        and BOOK_NUM = #{bookNum, jdbcType=INTEGER }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.OrgBookRstrRulDO" resultType="java.lang.Integer">
      select count(*) from ORG_BOOK_RSTR_RUL
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from ORG_BOOK_RSTR_RUL
        where 
           BOOK_RSTR_RUL_ID = #{bookRstrRulId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  ORG_BOOK_RSTR_RUL 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="bookRstrRulId">
      insert into  ORG_BOOK_RSTR_RUL ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{orgId,jdbcType=BIGINT}, 
        #{orgServRelId,jdbcType=BIGINT}, 
        #{bookTimeId,jdbcType=BIGINT}, 
        #{bookNum,jdbcType=INTEGER}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  ORG_BOOK_RSTR_RUL ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{bookRstrRulId,jdbcType=BIGINT}, 
        #{orgId,jdbcType=BIGINT}, 
        #{orgServRelId,jdbcType=BIGINT}, 
        #{bookTimeId,jdbcType=BIGINT}, 
        #{bookNum,jdbcType=INTEGER}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from ORG_BOOK_RSTR_RUL  
        where
           BOOK_RSTR_RUL_ID = #{bookRstrRulId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from ORG_BOOK_RSTR_RUL
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  ORG_BOOK_RSTR_RUL
    <trim prefix="set" suffixOverrides=",">
      <if test="orgId != null">
         ORG_ID = #{orgId,jdbcType=BIGINT},
      </if>
      <if test="orgServRelId != null">
         ORG_SERV_REL_ID = #{orgServRelId,jdbcType=BIGINT},
      </if>
      <if test="bookTimeId != null">
         BOOK_TIME_ID = #{bookTimeId,jdbcType=BIGINT},
      </if>
      <if test="bookNum != null">
         BOOK_NUM = #{bookNum,jdbcType=INTEGER},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           BOOK_RSTR_RUL_ID = #{bookRstrRulId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update ORG_BOOK_RSTR_RUL
    <trim prefix="set" suffixOverrides=",">
      <if test="record.bookRstrRulId != null">
        BOOK_RSTR_RUL_ID = #{record.bookRstrRulId,jdbcType=BIGINT},
      </if>
      <if test="record.orgId != null">
        ORG_ID = #{record.orgId,jdbcType=BIGINT},
      </if>
      <if test="record.orgServRelId != null">
        ORG_SERV_REL_ID = #{record.orgServRelId,jdbcType=BIGINT},
      </if>
      <if test="record.bookTimeId != null">
        BOOK_TIME_ID = #{record.bookTimeId,jdbcType=BIGINT},
      </if>
      <if test="record.bookNum != null">
        BOOK_NUM = #{record.bookNum,jdbcType=INTEGER},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.bookRstrRulId != null ">
        BOOK_RSTR_RUL_ID = #{condition.bookRstrRulId, jdbcType=BIGINT }
      </if>
      <if test="condition.orgId != null ">
        and ORG_ID = #{condition.orgId, jdbcType=BIGINT }
      </if>
      <if test="condition.orgServRelId != null ">
        and ORG_SERV_REL_ID = #{condition.orgServRelId, jdbcType=BIGINT }
      </if>
      <if test="condition.bookTimeId != null ">
        and BOOK_TIME_ID = #{condition.bookTimeId, jdbcType=BIGINT }
      </if>
      <if test="condition.bookNum != null ">
        and BOOK_NUM = #{condition.bookNum, jdbcType=INTEGER }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>