<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.PartyRelMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.PartyRelDO">
    <id column="PARTY_REL_ID" jdbcType="BIGINT" property="partyRelId"/>
    <result column="PARTY_A_ID" jdbcType="BIGINT" property="partyAId"/>
    <result column="PARTY_Z_ID" jdbcType="BIGINT" property="partyZId"/>
    <result column="PARTY_REL_TYPE" jdbcType="VARCHAR" property="partyRelType"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          PARTY_REL_ID, 
          PARTY_A_ID, 
          PARTY_Z_ID, 
          PARTY_REL_TYPE, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          PARTY_A_ID, 
          PARTY_Z_ID, 
          PARTY_REL_TYPE, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="partyRelId != null ">
        PARTY_REL_ID = #{partyRelId, jdbcType=BIGINT }
      </if>
      <if test="partyAId != null ">
        and PARTY_A_ID = #{partyAId, jdbcType=BIGINT }
      </if>
      <if test="partyZId != null ">
        and PARTY_Z_ID = #{partyZId, jdbcType=BIGINT }
      </if>
      <if test="partyRelType != null and partyRelType != ''">
        and PARTY_REL_TYPE = #{partyRelType, jdbcType=VARCHAR }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.PartyRelDO" resultType="java.lang.Integer">
      select count(*) from PARTY_REL
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from PARTY_REL
        where 
           PARTY_REL_ID = #{partyRelId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  PARTY_REL 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="partyRelId">
      insert into  PARTY_REL ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{partyAId,jdbcType=BIGINT}, 
        #{partyZId,jdbcType=BIGINT}, 
        #{partyRelType,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  PARTY_REL ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{partyRelId,jdbcType=BIGINT}, 
        #{partyAId,jdbcType=BIGINT}, 
        #{partyZId,jdbcType=BIGINT}, 
        #{partyRelType,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from PARTY_REL  
        where
           PARTY_REL_ID = #{partyRelId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from PARTY_REL
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  PARTY_REL
    <trim prefix="set" suffixOverrides=",">
      <if test="partyAId != null">
         PARTY_A_ID = #{partyAId,jdbcType=BIGINT},
      </if>
      <if test="partyZId != null">
         PARTY_Z_ID = #{partyZId,jdbcType=BIGINT},
      </if>
      <if test="partyRelType != null">
         PARTY_REL_TYPE = #{partyRelType,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           PARTY_REL_ID = #{partyRelId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update PARTY_REL
    <trim prefix="set" suffixOverrides=",">
      <if test="record.partyRelId != null">
        PARTY_REL_ID = #{record.partyRelId,jdbcType=BIGINT},
      </if>
      <if test="record.partyAId != null">
        PARTY_A_ID = #{record.partyAId,jdbcType=BIGINT},
      </if>
      <if test="record.partyZId != null">
        PARTY_Z_ID = #{record.partyZId,jdbcType=BIGINT},
      </if>
      <if test="record.partyRelType != null">
        PARTY_REL_TYPE = #{record.partyRelType,jdbcType=VARCHAR},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.partyRelId != null ">
        PARTY_REL_ID = #{condition.partyRelId, jdbcType=BIGINT }
      </if>
      <if test="condition.partyAId != null ">
        and PARTY_A_ID = #{condition.partyAId, jdbcType=BIGINT }
      </if>
      <if test="condition.partyZId != null ">
        and PARTY_Z_ID = #{condition.partyZId, jdbcType=BIGINT }
      </if>
      <if test="condition.partyRelType != null and condition.partyRelType != ''">
        and PARTY_REL_TYPE = #{condition.partyRelType, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>