<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.PartyCertMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.PartyCertDO">
    <id column="PARTY_CERT_ID" jdbcType="BIGINT" property="partyCertId"/>
    <result column="PARTY_ID" jdbcType="BIGINT" property="partyId"/>
    <result column="IS_REALNAME_CERT" jdbcType="VARCHAR" property="isRealnameCert"/>
    <result column="CERT_TYPE" jdbcType="VARCHAR" property="certType"/>
    <result column="CERT_ORG" jdbcType="VARCHAR" property="certOrg"/>
    <result column="CERT_ADDR" jdbcType="VARCHAR" property="certAddr"/>
    <result column="CERT_NUM" jdbcType="VARCHAR" property="certNum"/>
    <result column="CHECKER" jdbcType="BIGINT" property="checker"/>
    <result column="CHECK_TIME" jdbcType="TIMESTAMP" property="checkTime"/>
    <result column="CERT_CHECK_RESULT" jdbcType="VARCHAR" property="certCheckResult"/>
    <result column="EFF_DATE" jdbcType="TIMESTAMP" property="effDate"/>
    <result column="EXP_DATE" jdbcType="TIMESTAMP" property="expDate"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          PARTY_CERT_ID, 
          PARTY_ID, 
          IS_REALNAME_CERT, 
          CERT_TYPE, 
          CERT_ORG, 
          CERT_ADDR, 
          CERT_NUM, 
          CHECKER, 
          CHECK_TIME, 
          CERT_CHECK_RESULT, 
          EFF_DATE, 
          EXP_DATE, 
          CREATE_DATE, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          PARTY_ID, 
          IS_REALNAME_CERT, 
          CERT_TYPE, 
          CERT_ORG, 
          CERT_ADDR, 
          CERT_NUM, 
          CHECKER, 
          CHECK_TIME, 
          CERT_CHECK_RESULT, 
          EFF_DATE, 
          EXP_DATE, 
          CREATE_DATE, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="partyCertId != null ">
        PARTY_CERT_ID = #{partyCertId, jdbcType=BIGINT }
      </if>
      <if test="partyId != null ">
        and PARTY_ID = #{partyId, jdbcType=BIGINT }
      </if>
      <if test="isRealnameCert != null and isRealnameCert != ''">
        and IS_REALNAME_CERT = #{isRealnameCert, jdbcType=VARCHAR }
      </if>
      <if test="certType != null and certType != ''">
        and CERT_TYPE = #{certType, jdbcType=VARCHAR }
      </if>
      <if test="certOrg != null and certOrg != ''">
        and CERT_ORG = #{certOrg, jdbcType=VARCHAR }
      </if>
      <if test="certAddr != null and certAddr != ''">
        and CERT_ADDR = #{certAddr, jdbcType=VARCHAR }
      </if>
      <if test="certNum != null and certNum != ''">
        and CERT_NUM = #{certNum, jdbcType=VARCHAR }
      </if>
      <if test="checker != null ">
        and CHECKER = #{checker, jdbcType=BIGINT }
      </if>
      <if test="checkTime != null ">
        and CHECK_TIME = #{checkTime, jdbcType=TIMESTAMP }
      </if>
      <if test="certCheckResult != null and certCheckResult != ''">
        and CERT_CHECK_RESULT = #{certCheckResult, jdbcType=VARCHAR }
      </if>
      <if test="effDate != null ">
        and EFF_DATE = #{effDate, jdbcType=TIMESTAMP }
      </if>
      <if test="expDate != null ">
        and EXP_DATE = #{expDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.PartyCertDO" resultType="java.lang.Integer">
      select count(*) from PARTY_CERT
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from PARTY_CERT
        where 
           PARTY_CERT_ID = #{partyCertId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  PARTY_CERT 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="partyCertId">
      insert into  PARTY_CERT ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{partyId,jdbcType=BIGINT}, 
        #{isRealnameCert,jdbcType=VARCHAR}, 
        #{certType,jdbcType=VARCHAR}, 
        #{certOrg,jdbcType=VARCHAR}, 
        #{certAddr,jdbcType=VARCHAR}, 
        #{certNum,jdbcType=VARCHAR}, 
        #{checker,jdbcType=BIGINT}, 
        #{checkTime,jdbcType=TIMESTAMP}, 
        #{certCheckResult,jdbcType=VARCHAR}, 
        #{effDate,jdbcType=TIMESTAMP}, 
        #{expDate,jdbcType=TIMESTAMP}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  PARTY_CERT ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{partyCertId,jdbcType=BIGINT}, 
        #{partyId,jdbcType=BIGINT}, 
        #{isRealnameCert,jdbcType=VARCHAR}, 
        #{certType,jdbcType=VARCHAR}, 
        #{certOrg,jdbcType=VARCHAR}, 
        #{certAddr,jdbcType=VARCHAR}, 
        #{certNum,jdbcType=VARCHAR}, 
        #{checker,jdbcType=BIGINT}, 
        #{checkTime,jdbcType=TIMESTAMP}, 
        #{certCheckResult,jdbcType=VARCHAR}, 
        #{effDate,jdbcType=TIMESTAMP}, 
        #{expDate,jdbcType=TIMESTAMP}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from PARTY_CERT  
        where
           PARTY_CERT_ID = #{partyCertId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from PARTY_CERT
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  PARTY_CERT
    <trim prefix="set" suffixOverrides=",">
      <if test="partyId != null">
         PARTY_ID = #{partyId,jdbcType=BIGINT},
      </if>
      <if test="isRealnameCert != null">
         IS_REALNAME_CERT = #{isRealnameCert,jdbcType=VARCHAR},
      </if>
      <if test="certType != null">
         CERT_TYPE = #{certType,jdbcType=VARCHAR},
      </if>
      <if test="certOrg != null">
         CERT_ORG = #{certOrg,jdbcType=VARCHAR},
      </if>
      <if test="certAddr != null">
         CERT_ADDR = #{certAddr,jdbcType=VARCHAR},
      </if>
      <if test="certNum != null">
         CERT_NUM = #{certNum,jdbcType=VARCHAR},
      </if>
      <if test="checker != null">
         CHECKER = #{checker,jdbcType=BIGINT},
      </if>
      <if test="checkTime != null">
         CHECK_TIME = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="certCheckResult != null">
         CERT_CHECK_RESULT = #{certCheckResult,jdbcType=VARCHAR},
      </if>
      <if test="effDate != null">
         EFF_DATE = #{effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expDate != null">
         EXP_DATE = #{expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           PARTY_CERT_ID = #{partyCertId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update PARTY_CERT
    <trim prefix="set" suffixOverrides=",">
      <if test="record.partyCertId != null">
        PARTY_CERT_ID = #{record.partyCertId,jdbcType=BIGINT},
      </if>
      <if test="record.partyId != null">
        PARTY_ID = #{record.partyId,jdbcType=BIGINT},
      </if>
      <if test="record.isRealnameCert != null">
        IS_REALNAME_CERT = #{record.isRealnameCert,jdbcType=VARCHAR},
      </if>
      <if test="record.certType != null">
        CERT_TYPE = #{record.certType,jdbcType=VARCHAR},
      </if>
      <if test="record.certOrg != null">
        CERT_ORG = #{record.certOrg,jdbcType=VARCHAR},
      </if>
      <if test="record.certAddr != null">
        CERT_ADDR = #{record.certAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.certNum != null">
        CERT_NUM = #{record.certNum,jdbcType=VARCHAR},
      </if>
      <if test="record.checker != null">
        CHECKER = #{record.checker,jdbcType=BIGINT},
      </if>
      <if test="record.checkTime != null">
        CHECK_TIME = #{record.checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.certCheckResult != null">
        CERT_CHECK_RESULT = #{record.certCheckResult,jdbcType=VARCHAR},
      </if>
      <if test="record.effDate != null">
        EFF_DATE = #{record.effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expDate != null">
        EXP_DATE = #{record.expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.partyCertId != null ">
        PARTY_CERT_ID = #{condition.partyCertId, jdbcType=BIGINT }
      </if>
      <if test="condition.partyId != null ">
        and PARTY_ID = #{condition.partyId, jdbcType=BIGINT }
      </if>
      <if test="condition.isRealnameCert != null and condition.isRealnameCert != ''">
        and IS_REALNAME_CERT = #{condition.isRealnameCert, jdbcType=VARCHAR }
      </if>
      <if test="condition.certType != null and condition.certType != ''">
        and CERT_TYPE = #{condition.certType, jdbcType=VARCHAR }
      </if>
      <if test="condition.certOrg != null and condition.certOrg != ''">
        and CERT_ORG = #{condition.certOrg, jdbcType=VARCHAR }
      </if>
      <if test="condition.certAddr != null and condition.certAddr != ''">
        and CERT_ADDR = #{condition.certAddr, jdbcType=VARCHAR }
      </if>
      <if test="condition.certNum != null and condition.certNum != ''">
        and CERT_NUM = #{condition.certNum, jdbcType=VARCHAR }
      </if>
      <if test="condition.checker != null ">
        and CHECKER = #{condition.checker, jdbcType=BIGINT }
      </if>
      <if test="condition.checkTime != null ">
        and CHECK_TIME = #{condition.checkTime, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.certCheckResult != null and condition.certCheckResult != ''">
        and CERT_CHECK_RESULT = #{condition.certCheckResult, jdbcType=VARCHAR }
      </if>
      <if test="condition.effDate != null ">
        and EFF_DATE = #{condition.effDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.expDate != null ">
        and EXP_DATE = #{condition.expDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>