<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.PaymentMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.PaymentDO">
    <id column="PAYMENT_ID" jdbcType="BIGINT" property="paymentId"/>
    <result column="PAYMENT_METHOD" jdbcType="INTEGER" property="paymentMethod"/>
    <result column="STAFF_ID" jdbcType="BIGINT" property="staffId"/>
    <result column="ORG_ID" jdbcType="BIGINT" property="orgId"/>
    <result column="OPERATION_TYPE" jdbcType="INTEGER" property="operationType"/>
    <result column="OPERATED_PAYMENT_SERIAL_NBR" jdbcType="BIGINT" property="operatedPaymentSerialNbr"/>
    <result column="AMOUNT" jdbcType="BIGINT" property="amount"/>
    <result column="PAYMENT_DATE" jdbcType="TIMESTAMP" property="paymentDate"/>
    <result column="DEPOSIT_AMOUNT" jdbcType="BIGINT" property="depositAmount"/>
    <result column="PAYMENT_CHANNEL_ID" jdbcType="INTEGER" property="paymentChannelId"/>
    <result column="PROD_INST_ID" jdbcType="BIGINT" property="prodInstId"/>
    <result column="ACC_NUM" jdbcType="VARCHAR" property="accNum"/>
    <result column="ACCT_ID" jdbcType="BIGINT" property="acctId"/>
    <result column="BUSINESS_REC_ID" jdbcType="BIGINT" property="businessRecId"/>
    <result column="REGION_ID" jdbcType="INTEGER" property="regionId"/>
    <result column="INV_OFFER" jdbcType="INTEGER" property="invOffer"/>
    <result column="STATUS_CD" jdbcType="INTEGER" property="statusCd"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
  </resultMap>

  <sql id="CommonColumns">
          PAYMENT_ID, 
          PAYMENT_METHOD, 
          STAFF_ID, 
          ORG_ID, 
          OPERATION_TYPE, 
          OPERATED_PAYMENT_SERIAL_NBR, 
          AMOUNT, 
          PAYMENT_DATE, 
          DEPOSIT_AMOUNT, 
          PAYMENT_CHANNEL_ID, 
          PROD_INST_ID, 
          ACC_NUM, 
          ACCT_ID, 
          BUSINESS_REC_ID, 
          REGION_ID, 
          INV_OFFER, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_DATE
  </sql>

  <sql id="CommonColumnsKey">
          PAYMENT_METHOD, 
          STAFF_ID, 
          ORG_ID, 
          OPERATION_TYPE, 
          OPERATED_PAYMENT_SERIAL_NBR, 
          AMOUNT, 
          PAYMENT_DATE, 
          DEPOSIT_AMOUNT, 
          PAYMENT_CHANNEL_ID, 
          PROD_INST_ID, 
          ACC_NUM, 
          ACCT_ID, 
          BUSINESS_REC_ID, 
          REGION_ID, 
          INV_OFFER, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_DATE
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="paymentId != null ">
        PAYMENT_ID = #{paymentId, jdbcType=BIGINT }
      </if>
      <if test="paymentMethod != null ">
        and PAYMENT_METHOD = #{paymentMethod, jdbcType=INTEGER }
      </if>
      <if test="staffId != null ">
        and STAFF_ID = #{staffId, jdbcType=BIGINT }
      </if>
      <if test="orgId != null ">
        and ORG_ID = #{orgId, jdbcType=BIGINT }
      </if>
      <if test="operationType != null ">
        and OPERATION_TYPE = #{operationType, jdbcType=INTEGER }
      </if>
      <if test="operatedPaymentSerialNbr != null ">
        and OPERATED_PAYMENT_SERIAL_NBR = #{operatedPaymentSerialNbr, jdbcType=BIGINT }
      </if>
      <if test="amount != null ">
        and AMOUNT = #{amount, jdbcType=BIGINT }
      </if>
      <if test="paymentDate != null ">
        and PAYMENT_DATE = #{paymentDate, jdbcType=TIMESTAMP }
      </if>
      <if test="depositAmount != null ">
        and DEPOSIT_AMOUNT = #{depositAmount, jdbcType=BIGINT }
      </if>
      <if test="paymentChannelId != null ">
        and PAYMENT_CHANNEL_ID = #{paymentChannelId, jdbcType=INTEGER }
      </if>
      <if test="prodInstId != null ">
        and PROD_INST_ID = #{prodInstId, jdbcType=BIGINT }
      </if>
      <if test="accNum != null and accNum != ''">
        and ACC_NUM = #{accNum, jdbcType=VARCHAR }
      </if>
      <if test="acctId != null ">
        and ACCT_ID = #{acctId, jdbcType=BIGINT }
      </if>
      <if test="businessRecId != null ">
        and BUSINESS_REC_ID = #{businessRecId, jdbcType=BIGINT }
      </if>
      <if test="regionId != null ">
        and REGION_ID = #{regionId, jdbcType=INTEGER }
      </if>
      <if test="invOffer != null ">
        and INV_OFFER = #{invOffer, jdbcType=INTEGER }
      </if>
      <if test="statusCd != null ">
        and STATUS_CD = #{statusCd, jdbcType=INTEGER }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.PaymentDO" resultType="java.lang.Integer">
      select count(*) from PAYMENT
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from PAYMENT
        where 
           PAYMENT_ID = #{paymentId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  PAYMENT 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="paymentId">
      insert into  PAYMENT ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{paymentMethod,jdbcType=INTEGER}, 
        #{staffId,jdbcType=BIGINT}, 
        #{orgId,jdbcType=BIGINT}, 
        #{operationType,jdbcType=INTEGER}, 
        #{operatedPaymentSerialNbr,jdbcType=BIGINT}, 
        #{amount,jdbcType=BIGINT}, 
        #{paymentDate,jdbcType=TIMESTAMP}, 
        #{depositAmount,jdbcType=BIGINT}, 
        #{paymentChannelId,jdbcType=INTEGER}, 
        #{prodInstId,jdbcType=BIGINT}, 
        #{accNum,jdbcType=VARCHAR}, 
        #{acctId,jdbcType=BIGINT}, 
        #{businessRecId,jdbcType=BIGINT}, 
        #{regionId,jdbcType=INTEGER}, 
        #{invOffer,jdbcType=INTEGER}, 
        #{statusCd,jdbcType=INTEGER}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <insert id="insert">
      insert into  PAYMENT ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{paymentId,jdbcType=BIGINT}, 
        #{paymentMethod,jdbcType=INTEGER}, 
        #{staffId,jdbcType=BIGINT}, 
        #{orgId,jdbcType=BIGINT}, 
        #{operationType,jdbcType=INTEGER}, 
        #{operatedPaymentSerialNbr,jdbcType=BIGINT}, 
        #{amount,jdbcType=BIGINT}, 
        #{paymentDate,jdbcType=TIMESTAMP}, 
        #{depositAmount,jdbcType=BIGINT}, 
        #{paymentChannelId,jdbcType=INTEGER}, 
        #{prodInstId,jdbcType=BIGINT}, 
        #{accNum,jdbcType=VARCHAR}, 
        #{acctId,jdbcType=BIGINT}, 
        #{businessRecId,jdbcType=BIGINT}, 
        #{regionId,jdbcType=INTEGER}, 
        #{invOffer,jdbcType=INTEGER}, 
        #{statusCd,jdbcType=INTEGER}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from PAYMENT  
        where
           PAYMENT_ID = #{paymentId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from PAYMENT
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  PAYMENT
    <trim prefix="set" suffixOverrides=",">
      <if test="paymentMethod != null">
         PAYMENT_METHOD = #{paymentMethod,jdbcType=INTEGER},
      </if>
      <if test="staffId != null">
         STAFF_ID = #{staffId,jdbcType=BIGINT},
      </if>
      <if test="orgId != null">
         ORG_ID = #{orgId,jdbcType=BIGINT},
      </if>
      <if test="operationType != null">
         OPERATION_TYPE = #{operationType,jdbcType=INTEGER},
      </if>
      <if test="operatedPaymentSerialNbr != null">
         OPERATED_PAYMENT_SERIAL_NBR = #{operatedPaymentSerialNbr,jdbcType=BIGINT},
      </if>
      <if test="amount != null">
         AMOUNT = #{amount,jdbcType=BIGINT},
      </if>
      <if test="paymentDate != null">
         PAYMENT_DATE = #{paymentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="depositAmount != null">
         DEPOSIT_AMOUNT = #{depositAmount,jdbcType=BIGINT},
      </if>
      <if test="paymentChannelId != null">
         PAYMENT_CHANNEL_ID = #{paymentChannelId,jdbcType=INTEGER},
      </if>
      <if test="prodInstId != null">
         PROD_INST_ID = #{prodInstId,jdbcType=BIGINT},
      </if>
      <if test="accNum != null">
         ACC_NUM = #{accNum,jdbcType=VARCHAR},
      </if>
      <if test="acctId != null">
         ACCT_ID = #{acctId,jdbcType=BIGINT},
      </if>
      <if test="businessRecId != null">
         BUSINESS_REC_ID = #{businessRecId,jdbcType=BIGINT},
      </if>
      <if test="regionId != null">
         REGION_ID = #{regionId,jdbcType=INTEGER},
      </if>
      <if test="invOffer != null">
         INV_OFFER = #{invOffer,jdbcType=INTEGER},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=INTEGER},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
        where 
           PAYMENT_ID = #{paymentId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update PAYMENT
    <trim prefix="set" suffixOverrides=",">
      <if test="record.paymentId != null">
        PAYMENT_ID = #{record.paymentId,jdbcType=BIGINT},
      </if>
      <if test="record.paymentMethod != null">
        PAYMENT_METHOD = #{record.paymentMethod,jdbcType=INTEGER},
      </if>
      <if test="record.staffId != null">
        STAFF_ID = #{record.staffId,jdbcType=BIGINT},
      </if>
      <if test="record.orgId != null">
        ORG_ID = #{record.orgId,jdbcType=BIGINT},
      </if>
      <if test="record.operationType != null">
        OPERATION_TYPE = #{record.operationType,jdbcType=INTEGER},
      </if>
      <if test="record.operatedPaymentSerialNbr != null">
        OPERATED_PAYMENT_SERIAL_NBR = #{record.operatedPaymentSerialNbr,jdbcType=BIGINT},
      </if>
      <if test="record.amount != null">
        AMOUNT = #{record.amount,jdbcType=BIGINT},
      </if>
      <if test="record.paymentDate != null">
        PAYMENT_DATE = #{record.paymentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.depositAmount != null">
        DEPOSIT_AMOUNT = #{record.depositAmount,jdbcType=BIGINT},
      </if>
      <if test="record.paymentChannelId != null">
        PAYMENT_CHANNEL_ID = #{record.paymentChannelId,jdbcType=INTEGER},
      </if>
      <if test="record.prodInstId != null">
        PROD_INST_ID = #{record.prodInstId,jdbcType=BIGINT},
      </if>
      <if test="record.accNum != null">
        ACC_NUM = #{record.accNum,jdbcType=VARCHAR},
      </if>
      <if test="record.acctId != null">
        ACCT_ID = #{record.acctId,jdbcType=BIGINT},
      </if>
      <if test="record.businessRecId != null">
        BUSINESS_REC_ID = #{record.businessRecId,jdbcType=BIGINT},
      </if>
      <if test="record.regionId != null">
        REGION_ID = #{record.regionId,jdbcType=INTEGER},
      </if>
      <if test="record.invOffer != null">
        INV_OFFER = #{record.invOffer,jdbcType=INTEGER},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=INTEGER},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <where>
      <if test="condition.paymentId != null ">
        PAYMENT_ID = #{condition.paymentId, jdbcType=BIGINT }
      </if>
      <if test="condition.paymentMethod != null ">
        and PAYMENT_METHOD = #{condition.paymentMethod, jdbcType=INTEGER }
      </if>
      <if test="condition.staffId != null ">
        and STAFF_ID = #{condition.staffId, jdbcType=BIGINT }
      </if>
      <if test="condition.orgId != null ">
        and ORG_ID = #{condition.orgId, jdbcType=BIGINT }
      </if>
      <if test="condition.operationType != null ">
        and OPERATION_TYPE = #{condition.operationType, jdbcType=INTEGER }
      </if>
      <if test="condition.operatedPaymentSerialNbr != null ">
        and OPERATED_PAYMENT_SERIAL_NBR = #{condition.operatedPaymentSerialNbr, jdbcType=BIGINT }
      </if>
      <if test="condition.amount != null ">
        and AMOUNT = #{condition.amount, jdbcType=BIGINT }
      </if>
      <if test="condition.paymentDate != null ">
        and PAYMENT_DATE = #{condition.paymentDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.depositAmount != null ">
        and DEPOSIT_AMOUNT = #{condition.depositAmount, jdbcType=BIGINT }
      </if>
      <if test="condition.paymentChannelId != null ">
        and PAYMENT_CHANNEL_ID = #{condition.paymentChannelId, jdbcType=INTEGER }
      </if>
      <if test="condition.prodInstId != null ">
        and PROD_INST_ID = #{condition.prodInstId, jdbcType=BIGINT }
      </if>
      <if test="condition.accNum != null and condition.accNum != ''">
        and ACC_NUM = #{condition.accNum, jdbcType=VARCHAR }
      </if>
      <if test="condition.acctId != null ">
        and ACCT_ID = #{condition.acctId, jdbcType=BIGINT }
      </if>
      <if test="condition.businessRecId != null ">
        and BUSINESS_REC_ID = #{condition.businessRecId, jdbcType=BIGINT }
      </if>
      <if test="condition.regionId != null ">
        and REGION_ID = #{condition.regionId, jdbcType=INTEGER }
      </if>
      <if test="condition.invOffer != null ">
        and INV_OFFER = #{condition.invOffer, jdbcType=INTEGER }
      </if>
      <if test="condition.statusCd != null ">
        and STATUS_CD = #{condition.statusCd, jdbcType=INTEGER }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </update>
</mapper>