<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.PlcaEventTypeGroupMemberMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.PlcaEventTypeGroupMemberDO">
    <id column="EVENT_TYPE_GROUP_MEMBER_ID" jdbcType="INTEGER" property="eventTypeGroupMemberId"/>
    <result column="EVENT_TYPE_GROUP_ID" jdbcType="INTEGER" property="eventTypeGroupId"/>
    <result column="EVENT_TYPE_ID" jdbcType="INTEGER" property="eventTypeId"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
  </resultMap>

  <sql id="CommonColumns">
          EVENT_TYPE_GROUP_MEMBER_ID, 
          EVENT_TYPE_GROUP_ID, 
          EVENT_TYPE_ID, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          UPDATE_DATE, 
          STATUS_DATE
  </sql>

  <sql id="CommonColumnsKey">
          EVENT_TYPE_GROUP_ID, 
          EVENT_TYPE_ID, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          UPDATE_DATE, 
          STATUS_DATE
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="eventTypeGroupMemberId != null ">
        EVENT_TYPE_GROUP_MEMBER_ID = #{eventTypeGroupMemberId, jdbcType=INTEGER }
      </if>
      <if test="eventTypeGroupId != null ">
        and EVENT_TYPE_GROUP_ID = #{eventTypeGroupId, jdbcType=INTEGER }
      </if>
      <if test="eventTypeId != null ">
        and EVENT_TYPE_ID = #{eventTypeId, jdbcType=INTEGER }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.PlcaEventTypeGroupMemberDO" resultType="java.lang.Integer">
      select count(*) from PLCA_EVENT_TYPE_GROUP_MEMBER
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from PLCA_EVENT_TYPE_GROUP_MEMBER
        where 
           EVENT_TYPE_GROUP_MEMBER_ID = #{eventTypeGroupMemberId,jdbcType=INTEGER}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  PLCA_EVENT_TYPE_GROUP_MEMBER 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="eventTypeGroupMemberId">
      insert into  PLCA_EVENT_TYPE_GROUP_MEMBER ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{eventTypeGroupId,jdbcType=INTEGER}, 
        #{eventTypeId,jdbcType=INTEGER}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <insert id="insert">
      insert into  PLCA_EVENT_TYPE_GROUP_MEMBER ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{eventTypeGroupMemberId,jdbcType=INTEGER}, 
        #{eventTypeGroupId,jdbcType=INTEGER}, 
        #{eventTypeId,jdbcType=INTEGER}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from PLCA_EVENT_TYPE_GROUP_MEMBER  
        where
           EVENT_TYPE_GROUP_MEMBER_ID = #{eventTypeGroupMemberId,jdbcType=INTEGER}
  </delete>

  <delete id="delete">
      delete from PLCA_EVENT_TYPE_GROUP_MEMBER
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  PLCA_EVENT_TYPE_GROUP_MEMBER
    <trim prefix="set" suffixOverrides=",">
      <if test="eventTypeGroupId != null">
         EVENT_TYPE_GROUP_ID = #{eventTypeGroupId,jdbcType=INTEGER},
      </if>
      <if test="eventTypeId != null">
         EVENT_TYPE_ID = #{eventTypeId,jdbcType=INTEGER},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
        where 
           EVENT_TYPE_GROUP_MEMBER_ID = #{eventTypeGroupMemberId,jdbcType=INTEGER}
  </update>

  <update id="updateBySelective">
      update PLCA_EVENT_TYPE_GROUP_MEMBER
    <trim prefix="set" suffixOverrides=",">
      <if test="record.eventTypeGroupMemberId != null">
        EVENT_TYPE_GROUP_MEMBER_ID = #{record.eventTypeGroupMemberId,jdbcType=INTEGER},
      </if>
      <if test="record.eventTypeGroupId != null">
        EVENT_TYPE_GROUP_ID = #{record.eventTypeGroupId,jdbcType=INTEGER},
      </if>
      <if test="record.eventTypeId != null">
        EVENT_TYPE_ID = #{record.eventTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <where>
      <if test="condition.eventTypeGroupMemberId != null ">
        EVENT_TYPE_GROUP_MEMBER_ID = #{condition.eventTypeGroupMemberId, jdbcType=INTEGER }
      </if>
      <if test="condition.eventTypeGroupId != null ">
        and EVENT_TYPE_GROUP_ID = #{condition.eventTypeGroupId, jdbcType=INTEGER }
      </if>
      <if test="condition.eventTypeId != null ">
        and EVENT_TYPE_ID = #{condition.eventTypeId, jdbcType=INTEGER }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </update>
</mapper>