<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.PlcaTimePeriodDefineMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.PlcaTimePeriodDefineDO">
    <id column="TIME_PERIOD_DEFINE_ID" jdbcType="INTEGER" property="timePeriodDefineId"/>
    <result column="REF_VALUE_ID" jdbcType="INTEGER" property="refValueId"/>
    <result column="TIME_LIMIT_TYPE" jdbcType="INTEGER" property="timeLimitType"/>
    <result column="STATR_DATE" jdbcType="VARCHAR" property="statrDate"/>
    <result column="END_DATE" jdbcType="VARCHAR" property="endDate"/>
    <result column="START_TIME" jdbcType="VARCHAR" property="startTime"/>
    <result column="END_TIME" jdbcType="VARCHAR" property="endTime"/>
    <result column="TIME_LIMIT_DESC" jdbcType="VARCHAR" property="timeLimitDesc"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
  </resultMap>

  <sql id="CommonColumns">
          TIME_PERIOD_DEFINE_ID, 
          REF_VALUE_ID, 
          TIME_LIMIT_TYPE, 
          STATR_DATE, 
          END_DATE, 
          START_TIME, 
          END_TIME, 
          TIME_LIMIT_DESC, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          UPDATE_DATE, 
          STATUS_DATE
  </sql>

  <sql id="CommonColumnsKey">
          REF_VALUE_ID, 
          TIME_LIMIT_TYPE, 
          STATR_DATE, 
          END_DATE, 
          START_TIME, 
          END_TIME, 
          TIME_LIMIT_DESC, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          UPDATE_DATE, 
          STATUS_DATE
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="timePeriodDefineId != null ">
        TIME_PERIOD_DEFINE_ID = #{timePeriodDefineId, jdbcType=INTEGER }
      </if>
      <if test="refValueId != null ">
        and REF_VALUE_ID = #{refValueId, jdbcType=INTEGER }
      </if>
      <if test="timeLimitType != null ">
        and TIME_LIMIT_TYPE = #{timeLimitType, jdbcType=INTEGER }
      </if>
      <if test="statrDate != null and statrDate != ''">
        and STATR_DATE = #{statrDate, jdbcType=VARCHAR }
      </if>
      <if test="endDate != null and endDate != ''">
        and END_DATE = #{endDate, jdbcType=VARCHAR }
      </if>
      <if test="startTime != null and startTime != ''">
        and START_TIME = #{startTime, jdbcType=VARCHAR }
      </if>
      <if test="endTime != null and endTime != ''">
        and END_TIME = #{endTime, jdbcType=VARCHAR }
      </if>
      <if test="timeLimitDesc != null and timeLimitDesc != ''">
        and TIME_LIMIT_DESC = #{timeLimitDesc, jdbcType=VARCHAR }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.PlcaTimePeriodDefineDO" resultType="java.lang.Integer">
      select count(*) from PLCA_TIME_PERIOD_DEFINE
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from PLCA_TIME_PERIOD_DEFINE
        where 
           TIME_PERIOD_DEFINE_ID = #{timePeriodDefineId,jdbcType=INTEGER}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  PLCA_TIME_PERIOD_DEFINE 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="timePeriodDefineId">
      insert into  PLCA_TIME_PERIOD_DEFINE ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{refValueId,jdbcType=INTEGER}, 
        #{timeLimitType,jdbcType=INTEGER}, 
        #{statrDate,jdbcType=VARCHAR}, 
        #{endDate,jdbcType=VARCHAR}, 
        #{startTime,jdbcType=VARCHAR}, 
        #{endTime,jdbcType=VARCHAR}, 
        #{timeLimitDesc,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <insert id="insert">
      insert into  PLCA_TIME_PERIOD_DEFINE ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{timePeriodDefineId,jdbcType=INTEGER}, 
        #{refValueId,jdbcType=INTEGER}, 
        #{timeLimitType,jdbcType=INTEGER}, 
        #{statrDate,jdbcType=VARCHAR}, 
        #{endDate,jdbcType=VARCHAR}, 
        #{startTime,jdbcType=VARCHAR}, 
        #{endTime,jdbcType=VARCHAR}, 
        #{timeLimitDesc,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from PLCA_TIME_PERIOD_DEFINE  
        where
           TIME_PERIOD_DEFINE_ID = #{timePeriodDefineId,jdbcType=INTEGER}
  </delete>

  <delete id="delete">
      delete from PLCA_TIME_PERIOD_DEFINE
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  PLCA_TIME_PERIOD_DEFINE
    <trim prefix="set" suffixOverrides=",">
      <if test="refValueId != null">
         REF_VALUE_ID = #{refValueId,jdbcType=INTEGER},
      </if>
      <if test="timeLimitType != null">
         TIME_LIMIT_TYPE = #{timeLimitType,jdbcType=INTEGER},
      </if>
      <if test="statrDate != null">
         STATR_DATE = #{statrDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null">
         END_DATE = #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
         START_TIME = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
         END_TIME = #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="timeLimitDesc != null">
         TIME_LIMIT_DESC = #{timeLimitDesc,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
        where 
           TIME_PERIOD_DEFINE_ID = #{timePeriodDefineId,jdbcType=INTEGER}
  </update>

  <update id="updateBySelective">
      update PLCA_TIME_PERIOD_DEFINE
    <trim prefix="set" suffixOverrides=",">
      <if test="record.timePeriodDefineId != null">
        TIME_PERIOD_DEFINE_ID = #{record.timePeriodDefineId,jdbcType=INTEGER},
      </if>
      <if test="record.refValueId != null">
        REF_VALUE_ID = #{record.refValueId,jdbcType=INTEGER},
      </if>
      <if test="record.timeLimitType != null">
        TIME_LIMIT_TYPE = #{record.timeLimitType,jdbcType=INTEGER},
      </if>
      <if test="record.statrDate != null">
        STATR_DATE = #{record.statrDate,jdbcType=VARCHAR},
      </if>
      <if test="record.endDate != null">
        END_DATE = #{record.endDate,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null">
        START_TIME = #{record.startTime,jdbcType=VARCHAR},
      </if>
      <if test="record.endTime != null">
        END_TIME = #{record.endTime,jdbcType=VARCHAR},
      </if>
      <if test="record.timeLimitDesc != null">
        TIME_LIMIT_DESC = #{record.timeLimitDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <where>
      <if test="condition.timePeriodDefineId != null ">
        TIME_PERIOD_DEFINE_ID = #{condition.timePeriodDefineId, jdbcType=INTEGER }
      </if>
      <if test="condition.refValueId != null ">
        and REF_VALUE_ID = #{condition.refValueId, jdbcType=INTEGER }
      </if>
      <if test="condition.timeLimitType != null ">
        and TIME_LIMIT_TYPE = #{condition.timeLimitType, jdbcType=INTEGER }
      </if>
      <if test="condition.statrDate != null and condition.statrDate != ''">
        and STATR_DATE = #{condition.statrDate, jdbcType=VARCHAR }
      </if>
      <if test="condition.endDate != null and condition.endDate != ''">
        and END_DATE = #{condition.endDate, jdbcType=VARCHAR }
      </if>
      <if test="condition.startTime != null and condition.startTime != ''">
        and START_TIME = #{condition.startTime, jdbcType=VARCHAR }
      </if>
      <if test="condition.endTime != null and condition.endTime != ''">
        and END_TIME = #{condition.endTime, jdbcType=VARCHAR }
      </if>
      <if test="condition.timeLimitDesc != null and condition.timeLimitDesc != ''">
        and TIME_LIMIT_DESC = #{condition.timeLimitDesc, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </update>
</mapper>