<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.PointConditionMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.PointConditionDO">
    <id column="POINT_CONDITION_ID" jdbcType="INTEGER" property="pointConditionId"/>
    <result column="POINT_CALC_RULE_ID" jdbcType="INTEGER" property="pointCalcRuleId"/>
    <result column="POINT_CALC_FACTOR_ID" jdbcType="INTEGER" property="pointCalcFactorId"/>
    <result column="OPERATOR_ID" jdbcType="INTEGER" property="operatorId"/>
    <result column="VALUE_TYPE" jdbcType="VARCHAR" property="valueType"/>
    <result column="JUDGE_VALUE1" jdbcType="VARCHAR" property="judgeValue1"/>
    <result column="JUDGE_VALUE2" jdbcType="VARCHAR" property="judgeValue2"/>
    <result column="EFF_DATE" jdbcType="TIMESTAMP" property="effDate"/>
    <result column="EXP_DATE" jdbcType="TIMESTAMP" property="expDate"/>
    <result column="GROUP_ID" jdbcType="INTEGER" property="groupId"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
  </resultMap>

  <sql id="CommonColumns">
          POINT_CONDITION_ID, 
          POINT_CALC_RULE_ID, 
          POINT_CALC_FACTOR_ID, 
          OPERATOR_ID, 
          VALUE_TYPE, 
          JUDGE_VALUE1, 
          JUDGE_VALUE2, 
          EFF_DATE, 
          EXP_DATE, 
          GROUP_ID, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          UPDATE_DATE, 
          STATUS_CD, 
          STATUS_DATE
  </sql>

  <sql id="CommonColumnsKey">
          POINT_CALC_RULE_ID, 
          POINT_CALC_FACTOR_ID, 
          OPERATOR_ID, 
          VALUE_TYPE, 
          JUDGE_VALUE1, 
          JUDGE_VALUE2, 
          EFF_DATE, 
          EXP_DATE, 
          GROUP_ID, 
          CREATE_STAFF, 
          CREATE_DATE, 
          UPDATE_STAFF, 
          UPDATE_DATE, 
          STATUS_CD, 
          STATUS_DATE
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="pointConditionId != null ">
        POINT_CONDITION_ID = #{pointConditionId, jdbcType=INTEGER }
      </if>
      <if test="pointCalcRuleId != null ">
        and POINT_CALC_RULE_ID = #{pointCalcRuleId, jdbcType=INTEGER }
      </if>
      <if test="pointCalcFactorId != null ">
        and POINT_CALC_FACTOR_ID = #{pointCalcFactorId, jdbcType=INTEGER }
      </if>
      <if test="operatorId != null ">
        and OPERATOR_ID = #{operatorId, jdbcType=INTEGER }
      </if>
      <if test="valueType != null and valueType != ''">
        and VALUE_TYPE = #{valueType, jdbcType=VARCHAR }
      </if>
      <if test="judgeValue1 != null and judgeValue1 != ''">
        and JUDGE_VALUE1 = #{judgeValue1, jdbcType=VARCHAR }
      </if>
      <if test="judgeValue2 != null and judgeValue2 != ''">
        and JUDGE_VALUE2 = #{judgeValue2, jdbcType=VARCHAR }
      </if>
      <if test="effDate != null ">
        and EFF_DATE = #{effDate, jdbcType=TIMESTAMP }
      </if>
      <if test="expDate != null ">
        and EXP_DATE = #{expDate, jdbcType=TIMESTAMP }
      </if>
      <if test="groupId != null ">
        and GROUP_ID = #{groupId, jdbcType=INTEGER }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.PointConditionDO" resultType="java.lang.Integer">
      select count(*) from POINT_CONDITION
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from POINT_CONDITION
        where 
           POINT_CONDITION_ID = #{pointConditionId,jdbcType=INTEGER}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  POINT_CONDITION 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="pointConditionId">
      insert into  POINT_CONDITION ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{pointCalcRuleId,jdbcType=INTEGER}, 
        #{pointCalcFactorId,jdbcType=INTEGER}, 
        #{operatorId,jdbcType=INTEGER}, 
        #{valueType,jdbcType=VARCHAR}, 
        #{judgeValue1,jdbcType=VARCHAR}, 
        #{judgeValue2,jdbcType=VARCHAR}, 
        #{effDate,jdbcType=TIMESTAMP}, 
        #{expDate,jdbcType=TIMESTAMP}, 
        #{groupId,jdbcType=INTEGER}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <insert id="insert">
      insert into  POINT_CONDITION ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{pointConditionId,jdbcType=INTEGER}, 
        #{pointCalcRuleId,jdbcType=INTEGER}, 
        #{pointCalcFactorId,jdbcType=INTEGER}, 
        #{operatorId,jdbcType=INTEGER}, 
        #{valueType,jdbcType=VARCHAR}, 
        #{judgeValue1,jdbcType=VARCHAR}, 
        #{judgeValue2,jdbcType=VARCHAR}, 
        #{effDate,jdbcType=TIMESTAMP}, 
        #{expDate,jdbcType=TIMESTAMP}, 
        #{groupId,jdbcType=INTEGER}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from POINT_CONDITION  
        where
           POINT_CONDITION_ID = #{pointConditionId,jdbcType=INTEGER}
  </delete>

  <delete id="delete">
      delete from POINT_CONDITION
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  POINT_CONDITION
    <trim prefix="set" suffixOverrides=",">
      <if test="pointCalcRuleId != null">
         POINT_CALC_RULE_ID = #{pointCalcRuleId,jdbcType=INTEGER},
      </if>
      <if test="pointCalcFactorId != null">
         POINT_CALC_FACTOR_ID = #{pointCalcFactorId,jdbcType=INTEGER},
      </if>
      <if test="operatorId != null">
         OPERATOR_ID = #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="valueType != null">
         VALUE_TYPE = #{valueType,jdbcType=VARCHAR},
      </if>
      <if test="judgeValue1 != null">
         JUDGE_VALUE1 = #{judgeValue1,jdbcType=VARCHAR},
      </if>
      <if test="judgeValue2 != null">
         JUDGE_VALUE2 = #{judgeValue2,jdbcType=VARCHAR},
      </if>
      <if test="effDate != null">
         EFF_DATE = #{effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expDate != null">
         EXP_DATE = #{expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="groupId != null">
         GROUP_ID = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
        where 
           POINT_CONDITION_ID = #{pointConditionId,jdbcType=INTEGER}
  </update>

  <update id="updateBySelective">
      update POINT_CONDITION
    <trim prefix="set" suffixOverrides=",">
      <if test="record.pointConditionId != null">
        POINT_CONDITION_ID = #{record.pointConditionId,jdbcType=INTEGER},
      </if>
      <if test="record.pointCalcRuleId != null">
        POINT_CALC_RULE_ID = #{record.pointCalcRuleId,jdbcType=INTEGER},
      </if>
      <if test="record.pointCalcFactorId != null">
        POINT_CALC_FACTOR_ID = #{record.pointCalcFactorId,jdbcType=INTEGER},
      </if>
      <if test="record.operatorId != null">
        OPERATOR_ID = #{record.operatorId,jdbcType=INTEGER},
      </if>
      <if test="record.valueType != null">
        VALUE_TYPE = #{record.valueType,jdbcType=VARCHAR},
      </if>
      <if test="record.judgeValue1 != null">
        JUDGE_VALUE1 = #{record.judgeValue1,jdbcType=VARCHAR},
      </if>
      <if test="record.judgeValue2 != null">
        JUDGE_VALUE2 = #{record.judgeValue2,jdbcType=VARCHAR},
      </if>
      <if test="record.effDate != null">
        EFF_DATE = #{record.effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expDate != null">
        EXP_DATE = #{record.expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.groupId != null">
        GROUP_ID = #{record.groupId,jdbcType=INTEGER},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <where>
      <if test="condition.pointConditionId != null ">
        POINT_CONDITION_ID = #{condition.pointConditionId, jdbcType=INTEGER }
      </if>
      <if test="condition.pointCalcRuleId != null ">
        and POINT_CALC_RULE_ID = #{condition.pointCalcRuleId, jdbcType=INTEGER }
      </if>
      <if test="condition.pointCalcFactorId != null ">
        and POINT_CALC_FACTOR_ID = #{condition.pointCalcFactorId, jdbcType=INTEGER }
      </if>
      <if test="condition.operatorId != null ">
        and OPERATOR_ID = #{condition.operatorId, jdbcType=INTEGER }
      </if>
      <if test="condition.valueType != null and condition.valueType != ''">
        and VALUE_TYPE = #{condition.valueType, jdbcType=VARCHAR }
      </if>
      <if test="condition.judgeValue1 != null and condition.judgeValue1 != ''">
        and JUDGE_VALUE1 = #{condition.judgeValue1, jdbcType=VARCHAR }
      </if>
      <if test="condition.judgeValue2 != null and condition.judgeValue2 != ''">
        and JUDGE_VALUE2 = #{condition.judgeValue2, jdbcType=VARCHAR }
      </if>
      <if test="condition.effDate != null ">
        and EFF_DATE = #{condition.effDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.expDate != null ">
        and EXP_DATE = #{condition.expDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.groupId != null ">
        and GROUP_ID = #{condition.groupId, jdbcType=INTEGER }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </update>
</mapper>