<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.PointExchCondMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.PointExchCondDO">
    <id column="POINT_EXCH_COND_ID" jdbcType="INTEGER" property="pointExchCondId"/>
    <result column="EXCH_COND_NAME" jdbcType="VARCHAR" property="exchCondName"/>
    <result column="EXCH_COND_DESC" jdbcType="VARCHAR" property="exchCondDesc"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
  </resultMap>

  <sql id="CommonColumns">
          POINT_EXCH_COND_ID, 
          EXCH_COND_NAME, 
          EXCH_COND_DESC, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE
  </sql>

  <sql id="CommonColumnsKey">
          EXCH_COND_NAME, 
          EXCH_COND_DESC, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="pointExchCondId != null ">
        POINT_EXCH_COND_ID = #{pointExchCondId, jdbcType=INTEGER }
      </if>
      <if test="exchCondName != null and exchCondName != ''">
        and EXCH_COND_NAME = #{exchCondName, jdbcType=VARCHAR }
      </if>
      <if test="exchCondDesc != null and exchCondDesc != ''">
        and EXCH_COND_DESC = #{exchCondDesc, jdbcType=VARCHAR }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.PointExchCondDO" resultType="java.lang.Integer">
      select count(*) from POINT_EXCH_COND
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from POINT_EXCH_COND
        where 
           POINT_EXCH_COND_ID = #{pointExchCondId,jdbcType=INTEGER}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  POINT_EXCH_COND 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="pointExchCondId">
      insert into  POINT_EXCH_COND ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{exchCondName,jdbcType=VARCHAR}, 
        #{exchCondDesc,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <insert id="insert">
      insert into  POINT_EXCH_COND ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{pointExchCondId,jdbcType=INTEGER}, 
        #{exchCondName,jdbcType=VARCHAR}, 
        #{exchCondDesc,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from POINT_EXCH_COND  
        where
           POINT_EXCH_COND_ID = #{pointExchCondId,jdbcType=INTEGER}
  </delete>

  <delete id="delete">
      delete from POINT_EXCH_COND
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  POINT_EXCH_COND
    <trim prefix="set" suffixOverrides=",">
      <if test="exchCondName != null">
         EXCH_COND_NAME = #{exchCondName,jdbcType=VARCHAR},
      </if>
      <if test="exchCondDesc != null">
         EXCH_COND_DESC = #{exchCondDesc,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
        where 
           POINT_EXCH_COND_ID = #{pointExchCondId,jdbcType=INTEGER}
  </update>

  <update id="updateBySelective">
      update POINT_EXCH_COND
    <trim prefix="set" suffixOverrides=",">
      <if test="record.pointExchCondId != null">
        POINT_EXCH_COND_ID = #{record.pointExchCondId,jdbcType=INTEGER},
      </if>
      <if test="record.exchCondName != null">
        EXCH_COND_NAME = #{record.exchCondName,jdbcType=VARCHAR},
      </if>
      <if test="record.exchCondDesc != null">
        EXCH_COND_DESC = #{record.exchCondDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <where>
      <if test="condition.pointExchCondId != null ">
        POINT_EXCH_COND_ID = #{condition.pointExchCondId, jdbcType=INTEGER }
      </if>
      <if test="condition.exchCondName != null and condition.exchCondName != ''">
        and EXCH_COND_NAME = #{condition.exchCondName, jdbcType=VARCHAR }
      </if>
      <if test="condition.exchCondDesc != null and condition.exchCondDesc != ''">
        and EXCH_COND_DESC = #{condition.exchCondDesc, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </update>
</mapper>