<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.PolicyTypeMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.PolicyTypeDO">
    <id column="POLICY_TYPE_ID" jdbcType="INTEGER" property="policyTypeId"/>
    <result column="POLICY_TYPE_NAME" jdbcType="VARCHAR" property="policyTypeName"/>
    <result column="POLICY_TYPE_DESC" jdbcType="VARCHAR" property="policyTypeDesc"/>
    <result column="ORG_POLICY_TYPE_ID" jdbcType="INTEGER" property="orgPolicyTypeId"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
  </resultMap>

  <sql id="CommonColumns">
          POLICY_TYPE_ID, 
          POLICY_TYPE_NAME, 
          POLICY_TYPE_DESC, 
          ORG_POLICY_TYPE_ID, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          UPDATE_DATE, 
          STATUS_DATE
  </sql>

  <sql id="CommonColumnsKey">
          POLICY_TYPE_NAME, 
          POLICY_TYPE_DESC, 
          ORG_POLICY_TYPE_ID, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          UPDATE_DATE, 
          STATUS_DATE
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="policyTypeId != null ">
        POLICY_TYPE_ID = #{policyTypeId, jdbcType=INTEGER }
      </if>
      <if test="policyTypeName != null and policyTypeName != ''">
        and POLICY_TYPE_NAME = #{policyTypeName, jdbcType=VARCHAR }
      </if>
      <if test="policyTypeDesc != null and policyTypeDesc != ''">
        and POLICY_TYPE_DESC = #{policyTypeDesc, jdbcType=VARCHAR }
      </if>
      <if test="orgPolicyTypeId != null ">
        and ORG_POLICY_TYPE_ID = #{orgPolicyTypeId, jdbcType=INTEGER }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.PolicyTypeDO" resultType="java.lang.Integer">
      select count(*) from POLICY_TYPE
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from POLICY_TYPE
        where 
           POLICY_TYPE_ID = #{policyTypeId,jdbcType=INTEGER}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  POLICY_TYPE 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="policyTypeId">
      insert into  POLICY_TYPE ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{policyTypeName,jdbcType=VARCHAR}, 
        #{policyTypeDesc,jdbcType=VARCHAR}, 
        #{orgPolicyTypeId,jdbcType=INTEGER}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <insert id="insert">
      insert into  POLICY_TYPE ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{policyTypeId,jdbcType=INTEGER}, 
        #{policyTypeName,jdbcType=VARCHAR}, 
        #{policyTypeDesc,jdbcType=VARCHAR}, 
        #{orgPolicyTypeId,jdbcType=INTEGER}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from POLICY_TYPE  
        where
           POLICY_TYPE_ID = #{policyTypeId,jdbcType=INTEGER}
  </delete>

  <delete id="delete">
      delete from POLICY_TYPE
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  POLICY_TYPE
    <trim prefix="set" suffixOverrides=",">
      <if test="policyTypeName != null">
         POLICY_TYPE_NAME = #{policyTypeName,jdbcType=VARCHAR},
      </if>
      <if test="policyTypeDesc != null">
         POLICY_TYPE_DESC = #{policyTypeDesc,jdbcType=VARCHAR},
      </if>
      <if test="orgPolicyTypeId != null">
         ORG_POLICY_TYPE_ID = #{orgPolicyTypeId,jdbcType=INTEGER},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
        where 
           POLICY_TYPE_ID = #{policyTypeId,jdbcType=INTEGER}
  </update>

  <update id="updateBySelective">
      update POLICY_TYPE
    <trim prefix="set" suffixOverrides=",">
      <if test="record.policyTypeId != null">
        POLICY_TYPE_ID = #{record.policyTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.policyTypeName != null">
        POLICY_TYPE_NAME = #{record.policyTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.policyTypeDesc != null">
        POLICY_TYPE_DESC = #{record.policyTypeDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.orgPolicyTypeId != null">
        ORG_POLICY_TYPE_ID = #{record.orgPolicyTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <where>
      <if test="condition.policyTypeId != null ">
        POLICY_TYPE_ID = #{condition.policyTypeId, jdbcType=INTEGER }
      </if>
      <if test="condition.policyTypeName != null and condition.policyTypeName != ''">
        and POLICY_TYPE_NAME = #{condition.policyTypeName, jdbcType=VARCHAR }
      </if>
      <if test="condition.policyTypeDesc != null and condition.policyTypeDesc != ''">
        and POLICY_TYPE_DESC = #{condition.policyTypeDesc, jdbcType=VARCHAR }
      </if>
      <if test="condition.orgPolicyTypeId != null ">
        and ORG_POLICY_TYPE_ID = #{condition.orgPolicyTypeId, jdbcType=INTEGER }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </update>
</mapper>