<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.PricingObjectMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.PricingObjectDO">
    <id column="PRICING_OBJECT_ID" jdbcType="INTEGER" property="pricingObjectId"/>
    <result column="PRICING_OBJECT_DESC" jdbcType="VARCHAR" property="pricingObjectDesc"/>
    <result column="PRICING_OBJECT_NAME" jdbcType="VARCHAR" property="pricingObjectName"/>
    <result column="PRICING_PLAN_ID" jdbcType="INTEGER" property="pricingPlanId"/>
    <result column="OBJ_TYPE" jdbcType="VARCHAR" property="objType"/>
    <result column="OBJ_ID" jdbcType="INTEGER" property="objId"/>
    <result column="OBJECT_ROLE_ID" jdbcType="INTEGER" property="objectRoleId"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
  </resultMap>

  <sql id="CommonColumns">
          PRICING_OBJECT_ID, 
          PRICING_OBJECT_DESC, 
          PRICING_OBJECT_NAME, 
          PRICING_PLAN_ID, 
          OBJ_TYPE, 
          OBJ_ID, 
          OBJECT_ROLE_ID, 
          STATUS_CD, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          CREATE_STAFF, 
          STATUS_DATE, 
          UPDATE_DATE
  </sql>

  <sql id="CommonColumnsKey">
          PRICING_OBJECT_DESC, 
          PRICING_OBJECT_NAME, 
          PRICING_PLAN_ID, 
          OBJ_TYPE, 
          OBJ_ID, 
          OBJECT_ROLE_ID, 
          STATUS_CD, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          CREATE_STAFF, 
          STATUS_DATE, 
          UPDATE_DATE
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="pricingObjectId != null ">
        PRICING_OBJECT_ID = #{pricingObjectId, jdbcType=INTEGER }
      </if>
      <if test="pricingObjectDesc != null and pricingObjectDesc != ''">
        and PRICING_OBJECT_DESC = #{pricingObjectDesc, jdbcType=VARCHAR }
      </if>
      <if test="pricingObjectName != null and pricingObjectName != ''">
        and PRICING_OBJECT_NAME = #{pricingObjectName, jdbcType=VARCHAR }
      </if>
      <if test="pricingPlanId != null ">
        and PRICING_PLAN_ID = #{pricingPlanId, jdbcType=INTEGER }
      </if>
      <if test="objType != null and objType != ''">
        and OBJ_TYPE = #{objType, jdbcType=VARCHAR }
      </if>
      <if test="objId != null ">
        and OBJ_ID = #{objId, jdbcType=INTEGER }
      </if>
      <if test="objectRoleId != null ">
        and OBJECT_ROLE_ID = #{objectRoleId, jdbcType=INTEGER }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.PricingObjectDO" resultType="java.lang.Integer">
      select count(*) from PRICING_OBJECT
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from PRICING_OBJECT
        where 
           PRICING_OBJECT_ID = #{pricingObjectId,jdbcType=INTEGER}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  PRICING_OBJECT 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="pricingObjectId">
      insert into  PRICING_OBJECT ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{pricingObjectDesc,jdbcType=VARCHAR}, 
        #{pricingObjectName,jdbcType=VARCHAR}, 
        #{pricingPlanId,jdbcType=INTEGER}, 
        #{objType,jdbcType=VARCHAR}, 
        #{objId,jdbcType=INTEGER}, 
        #{objectRoleId,jdbcType=INTEGER}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <insert id="insert">
      insert into  PRICING_OBJECT ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{pricingObjectId,jdbcType=INTEGER}, 
        #{pricingObjectDesc,jdbcType=VARCHAR}, 
        #{pricingObjectName,jdbcType=VARCHAR}, 
        #{pricingPlanId,jdbcType=INTEGER}, 
        #{objType,jdbcType=VARCHAR}, 
        #{objId,jdbcType=INTEGER}, 
        #{objectRoleId,jdbcType=INTEGER}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from PRICING_OBJECT  
        where
           PRICING_OBJECT_ID = #{pricingObjectId,jdbcType=INTEGER}
  </delete>

  <delete id="delete">
      delete from PRICING_OBJECT
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  PRICING_OBJECT
    <trim prefix="set" suffixOverrides=",">
      <if test="pricingObjectDesc != null">
         PRICING_OBJECT_DESC = #{pricingObjectDesc,jdbcType=VARCHAR},
      </if>
      <if test="pricingObjectName != null">
         PRICING_OBJECT_NAME = #{pricingObjectName,jdbcType=VARCHAR},
      </if>
      <if test="pricingPlanId != null">
         PRICING_PLAN_ID = #{pricingPlanId,jdbcType=INTEGER},
      </if>
      <if test="objType != null">
         OBJ_TYPE = #{objType,jdbcType=VARCHAR},
      </if>
      <if test="objId != null">
         OBJ_ID = #{objId,jdbcType=INTEGER},
      </if>
      <if test="objectRoleId != null">
         OBJECT_ROLE_ID = #{objectRoleId,jdbcType=INTEGER},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
        where 
           PRICING_OBJECT_ID = #{pricingObjectId,jdbcType=INTEGER}
  </update>

  <update id="updateBySelective">
      update PRICING_OBJECT
    <trim prefix="set" suffixOverrides=",">
      <if test="record.pricingObjectId != null">
        PRICING_OBJECT_ID = #{record.pricingObjectId,jdbcType=INTEGER},
      </if>
      <if test="record.pricingObjectDesc != null">
        PRICING_OBJECT_DESC = #{record.pricingObjectDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.pricingObjectName != null">
        PRICING_OBJECT_NAME = #{record.pricingObjectName,jdbcType=VARCHAR},
      </if>
      <if test="record.pricingPlanId != null">
        PRICING_PLAN_ID = #{record.pricingPlanId,jdbcType=INTEGER},
      </if>
      <if test="record.objType != null">
        OBJ_TYPE = #{record.objType,jdbcType=VARCHAR},
      </if>
      <if test="record.objId != null">
        OBJ_ID = #{record.objId,jdbcType=INTEGER},
      </if>
      <if test="record.objectRoleId != null">
        OBJECT_ROLE_ID = #{record.objectRoleId,jdbcType=INTEGER},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <where>
      <if test="condition.pricingObjectId != null ">
        PRICING_OBJECT_ID = #{condition.pricingObjectId, jdbcType=INTEGER }
      </if>
      <if test="condition.pricingObjectDesc != null and condition.pricingObjectDesc != ''">
        and PRICING_OBJECT_DESC = #{condition.pricingObjectDesc, jdbcType=VARCHAR }
      </if>
      <if test="condition.pricingObjectName != null and condition.pricingObjectName != ''">
        and PRICING_OBJECT_NAME = #{condition.pricingObjectName, jdbcType=VARCHAR }
      </if>
      <if test="condition.pricingPlanId != null ">
        and PRICING_PLAN_ID = #{condition.pricingPlanId, jdbcType=INTEGER }
      </if>
      <if test="condition.objType != null and condition.objType != ''">
        and OBJ_TYPE = #{condition.objType, jdbcType=VARCHAR }
      </if>
      <if test="condition.objId != null ">
        and OBJ_ID = #{condition.objId, jdbcType=INTEGER }
      </if>
      <if test="condition.objectRoleId != null ">
        and OBJECT_ROLE_ID = #{condition.objectRoleId, jdbcType=INTEGER }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </update>
</mapper>