<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.PrivFuncRelMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.PrivFuncRelDO">
    <id column="PRIV_FUNC_REL_ID" jdbcType="BIGINT" property="privFuncRelId"/>
    <result column="PRIV_ID" jdbcType="BIGINT" property="privId"/>
    <result column="PRIV_REF_TYPE" jdbcType="VARCHAR" property="privRefType"/>
    <result column="PRIV_REF_ID" jdbcType="VARCHAR" property="privRefId"/>
    <result column="EFF_DATE" jdbcType="TIMESTAMP" property="effDate"/>
    <result column="EXP_DATE" jdbcType="TIMESTAMP" property="expDate"/>
    <result column="SYSTEM_INFO_ID" jdbcType="BIGINT" property="systemInfoId"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
  </resultMap>

  <sql id="CommonColumns">
          PRIV_FUNC_REL_ID, 
          PRIV_ID, 
          PRIV_REF_TYPE, 
          PRIV_REF_ID, 
          EFF_DATE, 
          EXP_DATE, 
          SYSTEM_INFO_ID, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_DATE, 
          CREATE_STAFF, 
          UPDATE_DATE, 
          UPDATE_STAFF
  </sql>

  <sql id="CommonColumnsKey">
          PRIV_ID, 
          PRIV_REF_TYPE, 
          PRIV_REF_ID, 
          EFF_DATE, 
          EXP_DATE, 
          SYSTEM_INFO_ID, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_DATE, 
          CREATE_STAFF, 
          UPDATE_DATE, 
          UPDATE_STAFF
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="privFuncRelId != null ">
        PRIV_FUNC_REL_ID = #{privFuncRelId, jdbcType=BIGINT }
      </if>
      <if test="privId != null ">
        and PRIV_ID = #{privId, jdbcType=BIGINT }
      </if>
      <if test="privRefType != null and privRefType != ''">
        and PRIV_REF_TYPE = #{privRefType, jdbcType=VARCHAR }
      </if>
      <if test="privRefId != null and privRefId != ''">
        and PRIV_REF_ID = #{privRefId, jdbcType=VARCHAR }
      </if>
      <if test="effDate != null ">
        and EFF_DATE = #{effDate, jdbcType=TIMESTAMP }
      </if>
      <if test="expDate != null ">
        and EXP_DATE = #{expDate, jdbcType=TIMESTAMP }
      </if>
      <if test="systemInfoId != null ">
        and SYSTEM_INFO_ID = #{systemInfoId, jdbcType=BIGINT }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.PrivFuncRelDO" resultType="java.lang.Integer">
      select count(*) from PRIV_FUNC_REL
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from PRIV_FUNC_REL
        where 
           PRIV_FUNC_REL_ID = #{privFuncRelId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  PRIV_FUNC_REL 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="privFuncRelId">
      insert into  PRIV_FUNC_REL ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{privId,jdbcType=BIGINT}, 
        #{privRefType,jdbcType=VARCHAR}, 
        #{privRefId,jdbcType=VARCHAR}, 
        #{effDate,jdbcType=TIMESTAMP}, 
        #{expDate,jdbcType=TIMESTAMP}, 
        #{systemInfoId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}
         )
  </insert>

  <insert id="insert">
      insert into  PRIV_FUNC_REL ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{privFuncRelId,jdbcType=BIGINT}, 
        #{privId,jdbcType=BIGINT}, 
        #{privRefType,jdbcType=VARCHAR}, 
        #{privRefId,jdbcType=VARCHAR}, 
        #{effDate,jdbcType=TIMESTAMP}, 
        #{expDate,jdbcType=TIMESTAMP}, 
        #{systemInfoId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from PRIV_FUNC_REL  
        where
           PRIV_FUNC_REL_ID = #{privFuncRelId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from PRIV_FUNC_REL
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  PRIV_FUNC_REL
    <trim prefix="set" suffixOverrides=",">
      <if test="privId != null">
         PRIV_ID = #{privId,jdbcType=BIGINT},
      </if>
      <if test="privRefType != null">
         PRIV_REF_TYPE = #{privRefType,jdbcType=VARCHAR},
      </if>
      <if test="privRefId != null">
         PRIV_REF_ID = #{privRefId,jdbcType=VARCHAR},
      </if>
      <if test="effDate != null">
         EFF_DATE = #{effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expDate != null">
         EXP_DATE = #{expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="systemInfoId != null">
         SYSTEM_INFO_ID = #{systemInfoId,jdbcType=BIGINT},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
    </trim>
        where 
           PRIV_FUNC_REL_ID = #{privFuncRelId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update PRIV_FUNC_REL
    <trim prefix="set" suffixOverrides=",">
      <if test="record.privFuncRelId != null">
        PRIV_FUNC_REL_ID = #{record.privFuncRelId,jdbcType=BIGINT},
      </if>
      <if test="record.privId != null">
        PRIV_ID = #{record.privId,jdbcType=BIGINT},
      </if>
      <if test="record.privRefType != null">
        PRIV_REF_TYPE = #{record.privRefType,jdbcType=VARCHAR},
      </if>
      <if test="record.privRefId != null">
        PRIV_REF_ID = #{record.privRefId,jdbcType=VARCHAR},
      </if>
      <if test="record.effDate != null">
        EFF_DATE = #{record.effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expDate != null">
        EXP_DATE = #{record.expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.systemInfoId != null">
        SYSTEM_INFO_ID = #{record.systemInfoId,jdbcType=BIGINT},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
    </trim>
    <where>
      <if test="condition.privFuncRelId != null ">
        PRIV_FUNC_REL_ID = #{condition.privFuncRelId, jdbcType=BIGINT }
      </if>
      <if test="condition.privId != null ">
        and PRIV_ID = #{condition.privId, jdbcType=BIGINT }
      </if>
      <if test="condition.privRefType != null and condition.privRefType != ''">
        and PRIV_REF_TYPE = #{condition.privRefType, jdbcType=VARCHAR }
      </if>
      <if test="condition.privRefId != null and condition.privRefId != ''">
        and PRIV_REF_ID = #{condition.privRefId, jdbcType=VARCHAR }
      </if>
      <if test="condition.effDate != null ">
        and EFF_DATE = #{condition.effDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.expDate != null ">
        and EXP_DATE = #{condition.expDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.systemInfoId != null ">
        and SYSTEM_INFO_ID = #{condition.systemInfoId, jdbcType=BIGINT }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
    </where>
  </update>
</mapper>