<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.ProdInstAttrMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.ProdInstAttrDO">
    <id column="PROD_INST_ATTR_ID" jdbcType="BIGINT" property="prodInstAttrId"/>
    <result column="PAR_PROD_INST_ATTR_ID" jdbcType="BIGINT" property="parProdInstAttrId"/>
    <result column="PROD_INST_ID" jdbcType="BIGINT" property="prodInstId"/>
    <result column="ATTR_ID" jdbcType="BIGINT" property="attrId"/>
    <result column="ATTR_VALUE_ID" jdbcType="BIGINT" property="attrValueId"/>
    <result column="ATTR_VALUE" jdbcType="VARCHAR" property="attrValue"/>
    <result column="BUSI_MOD_DATE" jdbcType="TIMESTAMP" property="busiModDate"/>
    <result column="EFF_DATE" jdbcType="TIMESTAMP" property="effDate"/>
    <result column="EXP_DATE" jdbcType="TIMESTAMP" property="expDate"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="LAST_ORDER_ITEM_ID" jdbcType="BIGINT" property="lastOrderItemId"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          PROD_INST_ATTR_ID, 
          PAR_PROD_INST_ATTR_ID, 
          PROD_INST_ID, 
          ATTR_ID, 
          ATTR_VALUE_ID, 
          ATTR_VALUE, 
          BUSI_MOD_DATE, 
          EFF_DATE, 
          EXP_DATE, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          LAST_ORDER_ITEM_ID, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          PAR_PROD_INST_ATTR_ID, 
          PROD_INST_ID, 
          ATTR_ID, 
          ATTR_VALUE_ID, 
          ATTR_VALUE, 
          BUSI_MOD_DATE, 
          EFF_DATE, 
          EXP_DATE, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          LAST_ORDER_ITEM_ID, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="prodInstAttrId != null ">
        PROD_INST_ATTR_ID = #{prodInstAttrId, jdbcType=BIGINT }
      </if>
      <if test="parProdInstAttrId != null ">
        and PAR_PROD_INST_ATTR_ID = #{parProdInstAttrId, jdbcType=BIGINT }
      </if>
      <if test="prodInstId != null ">
        and PROD_INST_ID = #{prodInstId, jdbcType=BIGINT }
      </if>
      <if test="attrId != null ">
        and ATTR_ID = #{attrId, jdbcType=BIGINT }
      </if>
      <if test="attrValueId != null ">
        and ATTR_VALUE_ID = #{attrValueId, jdbcType=BIGINT }
      </if>
      <if test="attrValue != null and attrValue != ''">
        and ATTR_VALUE = #{attrValue, jdbcType=VARCHAR }
      </if>
      <if test="busiModDate != null ">
        and BUSI_MOD_DATE = #{busiModDate, jdbcType=TIMESTAMP }
      </if>
      <if test="effDate != null ">
        and EFF_DATE = #{effDate, jdbcType=TIMESTAMP }
      </if>
      <if test="expDate != null ">
        and EXP_DATE = #{expDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="lastOrderItemId != null ">
        and LAST_ORDER_ITEM_ID = #{lastOrderItemId, jdbcType=BIGINT }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.ProdInstAttrDO" resultType="java.lang.Integer">
      select count(*) from PROD_INST_ATTR
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from PROD_INST_ATTR
        where 
           PROD_INST_ATTR_ID = #{prodInstAttrId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  PROD_INST_ATTR 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="prodInstAttrId">
      insert into  PROD_INST_ATTR ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{parProdInstAttrId,jdbcType=BIGINT}, 
        #{prodInstId,jdbcType=BIGINT}, 
        #{attrId,jdbcType=BIGINT}, 
        #{attrValueId,jdbcType=BIGINT}, 
        #{attrValue,jdbcType=VARCHAR}, 
        #{busiModDate,jdbcType=TIMESTAMP}, 
        #{effDate,jdbcType=TIMESTAMP}, 
        #{expDate,jdbcType=TIMESTAMP}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{lastOrderItemId,jdbcType=BIGINT}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  PROD_INST_ATTR ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{prodInstAttrId,jdbcType=BIGINT}, 
        #{parProdInstAttrId,jdbcType=BIGINT}, 
        #{prodInstId,jdbcType=BIGINT}, 
        #{attrId,jdbcType=BIGINT}, 
        #{attrValueId,jdbcType=BIGINT}, 
        #{attrValue,jdbcType=VARCHAR}, 
        #{busiModDate,jdbcType=TIMESTAMP}, 
        #{effDate,jdbcType=TIMESTAMP}, 
        #{expDate,jdbcType=TIMESTAMP}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{lastOrderItemId,jdbcType=BIGINT}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from PROD_INST_ATTR  
        where
           PROD_INST_ATTR_ID = #{prodInstAttrId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from PROD_INST_ATTR
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  PROD_INST_ATTR
    <trim prefix="set" suffixOverrides=",">
      <if test="parProdInstAttrId != null">
         PAR_PROD_INST_ATTR_ID = #{parProdInstAttrId,jdbcType=BIGINT},
      </if>
      <if test="prodInstId != null">
         PROD_INST_ID = #{prodInstId,jdbcType=BIGINT},
      </if>
      <if test="attrId != null">
         ATTR_ID = #{attrId,jdbcType=BIGINT},
      </if>
      <if test="attrValueId != null">
         ATTR_VALUE_ID = #{attrValueId,jdbcType=BIGINT},
      </if>
      <if test="attrValue != null">
         ATTR_VALUE = #{attrValue,jdbcType=VARCHAR},
      </if>
      <if test="busiModDate != null">
         BUSI_MOD_DATE = #{busiModDate,jdbcType=TIMESTAMP},
      </if>
      <if test="effDate != null">
         EFF_DATE = #{effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expDate != null">
         EXP_DATE = #{expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastOrderItemId != null">
         LAST_ORDER_ITEM_ID = #{lastOrderItemId,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           PROD_INST_ATTR_ID = #{prodInstAttrId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update PROD_INST_ATTR
    <trim prefix="set" suffixOverrides=",">
      <if test="record.prodInstAttrId != null">
        PROD_INST_ATTR_ID = #{record.prodInstAttrId,jdbcType=BIGINT},
      </if>
      <if test="record.parProdInstAttrId != null">
        PAR_PROD_INST_ATTR_ID = #{record.parProdInstAttrId,jdbcType=BIGINT},
      </if>
      <if test="record.prodInstId != null">
        PROD_INST_ID = #{record.prodInstId,jdbcType=BIGINT},
      </if>
      <if test="record.attrId != null">
        ATTR_ID = #{record.attrId,jdbcType=BIGINT},
      </if>
      <if test="record.attrValueId != null">
        ATTR_VALUE_ID = #{record.attrValueId,jdbcType=BIGINT},
      </if>
      <if test="record.attrValue != null">
        ATTR_VALUE = #{record.attrValue,jdbcType=VARCHAR},
      </if>
      <if test="record.busiModDate != null">
        BUSI_MOD_DATE = #{record.busiModDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.effDate != null">
        EFF_DATE = #{record.effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expDate != null">
        EXP_DATE = #{record.expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastOrderItemId != null">
        LAST_ORDER_ITEM_ID = #{record.lastOrderItemId,jdbcType=BIGINT},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.prodInstAttrId != null ">
        PROD_INST_ATTR_ID = #{condition.prodInstAttrId, jdbcType=BIGINT }
      </if>
      <if test="condition.parProdInstAttrId != null ">
        and PAR_PROD_INST_ATTR_ID = #{condition.parProdInstAttrId, jdbcType=BIGINT }
      </if>
      <if test="condition.prodInstId != null ">
        and PROD_INST_ID = #{condition.prodInstId, jdbcType=BIGINT }
      </if>
      <if test="condition.attrId != null ">
        and ATTR_ID = #{condition.attrId, jdbcType=BIGINT }
      </if>
      <if test="condition.attrValueId != null ">
        and ATTR_VALUE_ID = #{condition.attrValueId, jdbcType=BIGINT }
      </if>
      <if test="condition.attrValue != null and condition.attrValue != ''">
        and ATTR_VALUE = #{condition.attrValue, jdbcType=VARCHAR }
      </if>
      <if test="condition.busiModDate != null ">
        and BUSI_MOD_DATE = #{condition.busiModDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.effDate != null ">
        and EFF_DATE = #{condition.effDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.expDate != null ">
        and EXP_DATE = #{condition.expDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.lastOrderItemId != null ">
        and LAST_ORDER_ITEM_ID = #{condition.lastOrderItemId, jdbcType=BIGINT }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>