<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.ReceiptTemplateMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.ReceiptTemplateDO">
    <id column="RECEIPT_TEMPLATE_ID" jdbcType="BIGINT" property="receiptTemplateId"/>
    <result column="NAME" jdbcType="VARCHAR" property="name"/>
    <result column="CODE" jdbcType="VARCHAR" property="code"/>
    <result column="APPLY_REGION" jdbcType="INTEGER" property="applyRegion"/>
    <result column="TEMPLATE_TYPE" jdbcType="VARCHAR" property="templateType"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          RECEIPT_TEMPLATE_ID, 
          NAME, 
          CODE, 
          APPLY_REGION, 
          TEMPLATE_TYPE, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          NAME, 
          CODE, 
          APPLY_REGION, 
          TEMPLATE_TYPE, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="receiptTemplateId != null ">
        RECEIPT_TEMPLATE_ID = #{receiptTemplateId, jdbcType=BIGINT }
      </if>
      <if test="name != null and name != ''">
        and NAME = #{name, jdbcType=VARCHAR }
      </if>
      <if test="code != null and code != ''">
        and CODE = #{code, jdbcType=VARCHAR }
      </if>
      <if test="applyRegion != null ">
        and APPLY_REGION = #{applyRegion, jdbcType=INTEGER }
      </if>
      <if test="templateType != null and templateType != ''">
        and TEMPLATE_TYPE = #{templateType, jdbcType=VARCHAR }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.ReceiptTemplateDO" resultType="java.lang.Integer">
      select count(*) from RECEIPT_TEMPLATE
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from RECEIPT_TEMPLATE
        where 
           RECEIPT_TEMPLATE_ID = #{receiptTemplateId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  RECEIPT_TEMPLATE 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="receiptTemplateId">
      insert into  RECEIPT_TEMPLATE ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{name,jdbcType=VARCHAR}, 
        #{code,jdbcType=VARCHAR}, 
        #{applyRegion,jdbcType=INTEGER}, 
        #{templateType,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  RECEIPT_TEMPLATE ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{receiptTemplateId,jdbcType=BIGINT}, 
        #{name,jdbcType=VARCHAR}, 
        #{code,jdbcType=VARCHAR}, 
        #{applyRegion,jdbcType=INTEGER}, 
        #{templateType,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from RECEIPT_TEMPLATE  
        where
           RECEIPT_TEMPLATE_ID = #{receiptTemplateId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from RECEIPT_TEMPLATE
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  RECEIPT_TEMPLATE
    <trim prefix="set" suffixOverrides=",">
      <if test="name != null">
         NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
         CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="applyRegion != null">
         APPLY_REGION = #{applyRegion,jdbcType=INTEGER},
      </if>
      <if test="templateType != null">
         TEMPLATE_TYPE = #{templateType,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           RECEIPT_TEMPLATE_ID = #{receiptTemplateId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update RECEIPT_TEMPLATE
    <trim prefix="set" suffixOverrides=",">
      <if test="record.receiptTemplateId != null">
        RECEIPT_TEMPLATE_ID = #{record.receiptTemplateId,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null">
        CODE = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.applyRegion != null">
        APPLY_REGION = #{record.applyRegion,jdbcType=INTEGER},
      </if>
      <if test="record.templateType != null">
        TEMPLATE_TYPE = #{record.templateType,jdbcType=VARCHAR},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.receiptTemplateId != null ">
        RECEIPT_TEMPLATE_ID = #{condition.receiptTemplateId, jdbcType=BIGINT }
      </if>
      <if test="condition.name != null and condition.name != ''">
        and NAME = #{condition.name, jdbcType=VARCHAR }
      </if>
      <if test="condition.code != null and condition.code != ''">
        and CODE = #{condition.code, jdbcType=VARCHAR }
      </if>
      <if test="condition.applyRegion != null ">
        and APPLY_REGION = #{condition.applyRegion, jdbcType=INTEGER }
      </if>
      <if test="condition.templateType != null and condition.templateType != ''">
        and TEMPLATE_TYPE = #{condition.templateType, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>