<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.ServEvalMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.ServEvalDO">
    <id column="EVAL_ID" jdbcType="BIGINT" property="evalId"/>
    <result column="EVAL_TAR_TYPE" jdbcType="VARCHAR" property="evalTarType"/>
    <result column="EVAL_TAR_ID" jdbcType="BIGINT" property="evalTarId"/>
    <result column="EVAL_TYPE" jdbcType="VARCHAR" property="evalType"/>
    <result column="EVAL_POINT" jdbcType="VARCHAR" property="evalPoint"/>
    <result column="EVAL_DESC" jdbcType="VARCHAR" property="evalDesc"/>
    <result column="OBJ_TYPE" jdbcType="VARCHAR" property="objType"/>
    <result column="OBJ_ID" jdbcType="VARCHAR" property="objId"/>
    <result column="EVAL_CHANNEL" jdbcType="VARCHAR" property="evalChannel"/>
    <result column="EVAL_DATE" jdbcType="TIMESTAMP" property="evalDate"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          EVAL_ID, 
          EVAL_TAR_TYPE, 
          EVAL_TAR_ID, 
          EVAL_TYPE, 
          EVAL_POINT, 
          EVAL_DESC, 
          OBJ_TYPE, 
          OBJ_ID, 
          EVAL_CHANNEL, 
          EVAL_DATE, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          EVAL_TAR_TYPE, 
          EVAL_TAR_ID, 
          EVAL_TYPE, 
          EVAL_POINT, 
          EVAL_DESC, 
          OBJ_TYPE, 
          OBJ_ID, 
          EVAL_CHANNEL, 
          EVAL_DATE, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="evalId != null ">
        EVAL_ID = #{evalId, jdbcType=BIGINT }
      </if>
      <if test="evalTarType != null and evalTarType != ''">
        and EVAL_TAR_TYPE = #{evalTarType, jdbcType=VARCHAR }
      </if>
      <if test="evalTarId != null ">
        and EVAL_TAR_ID = #{evalTarId, jdbcType=BIGINT }
      </if>
      <if test="evalType != null and evalType != ''">
        and EVAL_TYPE = #{evalType, jdbcType=VARCHAR }
      </if>
      <if test="evalPoint != null and evalPoint != ''">
        and EVAL_POINT = #{evalPoint, jdbcType=VARCHAR }
      </if>
      <if test="evalDesc != null and evalDesc != ''">
        and EVAL_DESC = #{evalDesc, jdbcType=VARCHAR }
      </if>
      <if test="objType != null and objType != ''">
        and OBJ_TYPE = #{objType, jdbcType=VARCHAR }
      </if>
      <if test="objId != null and objId != ''">
        and OBJ_ID = #{objId, jdbcType=VARCHAR }
      </if>
      <if test="evalChannel != null and evalChannel != ''">
        and EVAL_CHANNEL = #{evalChannel, jdbcType=VARCHAR }
      </if>
      <if test="evalDate != null ">
        and EVAL_DATE = #{evalDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.ServEvalDO" resultType="java.lang.Integer">
      select count(*) from SERV_EVAL
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from SERV_EVAL
        where 
           EVAL_ID = #{evalId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  SERV_EVAL 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="evalId">
      insert into  SERV_EVAL ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{evalTarType,jdbcType=VARCHAR}, 
        #{evalTarId,jdbcType=BIGINT}, 
        #{evalType,jdbcType=VARCHAR}, 
        #{evalPoint,jdbcType=VARCHAR}, 
        #{evalDesc,jdbcType=VARCHAR}, 
        #{objType,jdbcType=VARCHAR}, 
        #{objId,jdbcType=VARCHAR}, 
        #{evalChannel,jdbcType=VARCHAR}, 
        #{evalDate,jdbcType=TIMESTAMP}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  SERV_EVAL ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{evalId,jdbcType=BIGINT}, 
        #{evalTarType,jdbcType=VARCHAR}, 
        #{evalTarId,jdbcType=BIGINT}, 
        #{evalType,jdbcType=VARCHAR}, 
        #{evalPoint,jdbcType=VARCHAR}, 
        #{evalDesc,jdbcType=VARCHAR}, 
        #{objType,jdbcType=VARCHAR}, 
        #{objId,jdbcType=VARCHAR}, 
        #{evalChannel,jdbcType=VARCHAR}, 
        #{evalDate,jdbcType=TIMESTAMP}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from SERV_EVAL  
        where
           EVAL_ID = #{evalId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from SERV_EVAL
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  SERV_EVAL
    <trim prefix="set" suffixOverrides=",">
      <if test="evalTarType != null">
         EVAL_TAR_TYPE = #{evalTarType,jdbcType=VARCHAR},
      </if>
      <if test="evalTarId != null">
         EVAL_TAR_ID = #{evalTarId,jdbcType=BIGINT},
      </if>
      <if test="evalType != null">
         EVAL_TYPE = #{evalType,jdbcType=VARCHAR},
      </if>
      <if test="evalPoint != null">
         EVAL_POINT = #{evalPoint,jdbcType=VARCHAR},
      </if>
      <if test="evalDesc != null">
         EVAL_DESC = #{evalDesc,jdbcType=VARCHAR},
      </if>
      <if test="objType != null">
         OBJ_TYPE = #{objType,jdbcType=VARCHAR},
      </if>
      <if test="objId != null">
         OBJ_ID = #{objId,jdbcType=VARCHAR},
      </if>
      <if test="evalChannel != null">
         EVAL_CHANNEL = #{evalChannel,jdbcType=VARCHAR},
      </if>
      <if test="evalDate != null">
         EVAL_DATE = #{evalDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           EVAL_ID = #{evalId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update SERV_EVAL
    <trim prefix="set" suffixOverrides=",">
      <if test="record.evalId != null">
        EVAL_ID = #{record.evalId,jdbcType=BIGINT},
      </if>
      <if test="record.evalTarType != null">
        EVAL_TAR_TYPE = #{record.evalTarType,jdbcType=VARCHAR},
      </if>
      <if test="record.evalTarId != null">
        EVAL_TAR_ID = #{record.evalTarId,jdbcType=BIGINT},
      </if>
      <if test="record.evalType != null">
        EVAL_TYPE = #{record.evalType,jdbcType=VARCHAR},
      </if>
      <if test="record.evalPoint != null">
        EVAL_POINT = #{record.evalPoint,jdbcType=VARCHAR},
      </if>
      <if test="record.evalDesc != null">
        EVAL_DESC = #{record.evalDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.objType != null">
        OBJ_TYPE = #{record.objType,jdbcType=VARCHAR},
      </if>
      <if test="record.objId != null">
        OBJ_ID = #{record.objId,jdbcType=VARCHAR},
      </if>
      <if test="record.evalChannel != null">
        EVAL_CHANNEL = #{record.evalChannel,jdbcType=VARCHAR},
      </if>
      <if test="record.evalDate != null">
        EVAL_DATE = #{record.evalDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.evalId != null ">
        EVAL_ID = #{condition.evalId, jdbcType=BIGINT }
      </if>
      <if test="condition.evalTarType != null and condition.evalTarType != ''">
        and EVAL_TAR_TYPE = #{condition.evalTarType, jdbcType=VARCHAR }
      </if>
      <if test="condition.evalTarId != null ">
        and EVAL_TAR_ID = #{condition.evalTarId, jdbcType=BIGINT }
      </if>
      <if test="condition.evalType != null and condition.evalType != ''">
        and EVAL_TYPE = #{condition.evalType, jdbcType=VARCHAR }
      </if>
      <if test="condition.evalPoint != null and condition.evalPoint != ''">
        and EVAL_POINT = #{condition.evalPoint, jdbcType=VARCHAR }
      </if>
      <if test="condition.evalDesc != null and condition.evalDesc != ''">
        and EVAL_DESC = #{condition.evalDesc, jdbcType=VARCHAR }
      </if>
      <if test="condition.objType != null and condition.objType != ''">
        and OBJ_TYPE = #{condition.objType, jdbcType=VARCHAR }
      </if>
      <if test="condition.objId != null and condition.objId != ''">
        and OBJ_ID = #{condition.objId, jdbcType=VARCHAR }
      </if>
      <if test="condition.evalChannel != null and condition.evalChannel != ''">
        and EVAL_CHANNEL = #{condition.evalChannel, jdbcType=VARCHAR }
      </if>
      <if test="condition.evalDate != null ">
        and EVAL_DATE = #{condition.evalDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>