<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.SettScoreDetailMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.SettScoreDetailDO">
    <id column="SETT_SCORE_DETAIL_ID" jdbcType="BIGINT" property="settScoreDetailId"/>
    <result column="SETTLE_OBJ_TYPE" jdbcType="INTEGER" property="settleObjType"/>
    <result column="SETTLE_OBJ_ID" jdbcType="BIGINT" property="settleObjId"/>
    <result column="SETT_SCORE_TYPE_ID" jdbcType="INTEGER" property="settScoreTypeId"/>
    <result column="EVENT_PRICING_STRATEGY_ID" jdbcType="INTEGER" property="eventPricingStrategyId"/>
    <result column="BILLING_CYCLE_ID" jdbcType="INTEGER" property="billingCycleId"/>
    <result column="ADJUST_FLAG" jdbcType="INTEGER" property="adjustFlag"/>
    <result column="ORG_BILLING_CYCLE_ID" jdbcType="INTEGER" property="orgBillingCycleId"/>
    <result column="SETT_SCORE_VALUE" jdbcType="BIGINT" property="settScoreValue"/>
    <result column="EFF_DATE" jdbcType="TIMESTAMP" property="effDate"/>
    <result column="EXP_DATE" jdbcType="TIMESTAMP" property="expDate"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
  </resultMap>

  <sql id="CommonColumns">
          SETT_SCORE_DETAIL_ID, 
          SETTLE_OBJ_TYPE, 
          SETTLE_OBJ_ID, 
          SETT_SCORE_TYPE_ID, 
          EVENT_PRICING_STRATEGY_ID, 
          BILLING_CYCLE_ID, 
          ADJUST_FLAG, 
          ORG_BILLING_CYCLE_ID, 
          SETT_SCORE_VALUE, 
          EFF_DATE, 
          EXP_DATE, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_DATE
  </sql>

  <sql id="CommonColumnsKey">
          SETTLE_OBJ_TYPE, 
          SETTLE_OBJ_ID, 
          SETT_SCORE_TYPE_ID, 
          EVENT_PRICING_STRATEGY_ID, 
          BILLING_CYCLE_ID, 
          ADJUST_FLAG, 
          ORG_BILLING_CYCLE_ID, 
          SETT_SCORE_VALUE, 
          EFF_DATE, 
          EXP_DATE, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_DATE
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="settScoreDetailId != null ">
        SETT_SCORE_DETAIL_ID = #{settScoreDetailId, jdbcType=BIGINT }
      </if>
      <if test="settleObjType != null ">
        and SETTLE_OBJ_TYPE = #{settleObjType, jdbcType=INTEGER }
      </if>
      <if test="settleObjId != null ">
        and SETTLE_OBJ_ID = #{settleObjId, jdbcType=BIGINT }
      </if>
      <if test="settScoreTypeId != null ">
        and SETT_SCORE_TYPE_ID = #{settScoreTypeId, jdbcType=INTEGER }
      </if>
      <if test="eventPricingStrategyId != null ">
        and EVENT_PRICING_STRATEGY_ID = #{eventPricingStrategyId, jdbcType=INTEGER }
      </if>
      <if test="billingCycleId != null ">
        and BILLING_CYCLE_ID = #{billingCycleId, jdbcType=INTEGER }
      </if>
      <if test="adjustFlag != null ">
        and ADJUST_FLAG = #{adjustFlag, jdbcType=INTEGER }
      </if>
      <if test="orgBillingCycleId != null ">
        and ORG_BILLING_CYCLE_ID = #{orgBillingCycleId, jdbcType=INTEGER }
      </if>
      <if test="settScoreValue != null ">
        and SETT_SCORE_VALUE = #{settScoreValue, jdbcType=BIGINT }
      </if>
      <if test="effDate != null ">
        and EFF_DATE = #{effDate, jdbcType=TIMESTAMP }
      </if>
      <if test="expDate != null ">
        and EXP_DATE = #{expDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.SettScoreDetailDO" resultType="java.lang.Integer">
      select count(*) from SETT_SCORE_DETAIL
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from SETT_SCORE_DETAIL
        where 
           SETT_SCORE_DETAIL_ID = #{settScoreDetailId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  SETT_SCORE_DETAIL 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="settScoreDetailId">
      insert into  SETT_SCORE_DETAIL ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{settleObjType,jdbcType=INTEGER}, 
        #{settleObjId,jdbcType=BIGINT}, 
        #{settScoreTypeId,jdbcType=INTEGER}, 
        #{eventPricingStrategyId,jdbcType=INTEGER}, 
        #{billingCycleId,jdbcType=INTEGER}, 
        #{adjustFlag,jdbcType=INTEGER}, 
        #{orgBillingCycleId,jdbcType=INTEGER}, 
        #{settScoreValue,jdbcType=BIGINT}, 
        #{effDate,jdbcType=TIMESTAMP}, 
        #{expDate,jdbcType=TIMESTAMP}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <insert id="insert">
      insert into  SETT_SCORE_DETAIL ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{settScoreDetailId,jdbcType=BIGINT}, 
        #{settleObjType,jdbcType=INTEGER}, 
        #{settleObjId,jdbcType=BIGINT}, 
        #{settScoreTypeId,jdbcType=INTEGER}, 
        #{eventPricingStrategyId,jdbcType=INTEGER}, 
        #{billingCycleId,jdbcType=INTEGER}, 
        #{adjustFlag,jdbcType=INTEGER}, 
        #{orgBillingCycleId,jdbcType=INTEGER}, 
        #{settScoreValue,jdbcType=BIGINT}, 
        #{effDate,jdbcType=TIMESTAMP}, 
        #{expDate,jdbcType=TIMESTAMP}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from SETT_SCORE_DETAIL  
        where
           SETT_SCORE_DETAIL_ID = #{settScoreDetailId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from SETT_SCORE_DETAIL
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  SETT_SCORE_DETAIL
    <trim prefix="set" suffixOverrides=",">
      <if test="settleObjType != null">
         SETTLE_OBJ_TYPE = #{settleObjType,jdbcType=INTEGER},
      </if>
      <if test="settleObjId != null">
         SETTLE_OBJ_ID = #{settleObjId,jdbcType=BIGINT},
      </if>
      <if test="settScoreTypeId != null">
         SETT_SCORE_TYPE_ID = #{settScoreTypeId,jdbcType=INTEGER},
      </if>
      <if test="eventPricingStrategyId != null">
         EVENT_PRICING_STRATEGY_ID = #{eventPricingStrategyId,jdbcType=INTEGER},
      </if>
      <if test="billingCycleId != null">
         BILLING_CYCLE_ID = #{billingCycleId,jdbcType=INTEGER},
      </if>
      <if test="adjustFlag != null">
         ADJUST_FLAG = #{adjustFlag,jdbcType=INTEGER},
      </if>
      <if test="orgBillingCycleId != null">
         ORG_BILLING_CYCLE_ID = #{orgBillingCycleId,jdbcType=INTEGER},
      </if>
      <if test="settScoreValue != null">
         SETT_SCORE_VALUE = #{settScoreValue,jdbcType=BIGINT},
      </if>
      <if test="effDate != null">
         EFF_DATE = #{effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expDate != null">
         EXP_DATE = #{expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
        where 
           SETT_SCORE_DETAIL_ID = #{settScoreDetailId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update SETT_SCORE_DETAIL
    <trim prefix="set" suffixOverrides=",">
      <if test="record.settScoreDetailId != null">
        SETT_SCORE_DETAIL_ID = #{record.settScoreDetailId,jdbcType=BIGINT},
      </if>
      <if test="record.settleObjType != null">
        SETTLE_OBJ_TYPE = #{record.settleObjType,jdbcType=INTEGER},
      </if>
      <if test="record.settleObjId != null">
        SETTLE_OBJ_ID = #{record.settleObjId,jdbcType=BIGINT},
      </if>
      <if test="record.settScoreTypeId != null">
        SETT_SCORE_TYPE_ID = #{record.settScoreTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.eventPricingStrategyId != null">
        EVENT_PRICING_STRATEGY_ID = #{record.eventPricingStrategyId,jdbcType=INTEGER},
      </if>
      <if test="record.billingCycleId != null">
        BILLING_CYCLE_ID = #{record.billingCycleId,jdbcType=INTEGER},
      </if>
      <if test="record.adjustFlag != null">
        ADJUST_FLAG = #{record.adjustFlag,jdbcType=INTEGER},
      </if>
      <if test="record.orgBillingCycleId != null">
        ORG_BILLING_CYCLE_ID = #{record.orgBillingCycleId,jdbcType=INTEGER},
      </if>
      <if test="record.settScoreValue != null">
        SETT_SCORE_VALUE = #{record.settScoreValue,jdbcType=BIGINT},
      </if>
      <if test="record.effDate != null">
        EFF_DATE = #{record.effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expDate != null">
        EXP_DATE = #{record.expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <where>
      <if test="condition.settScoreDetailId != null ">
        SETT_SCORE_DETAIL_ID = #{condition.settScoreDetailId, jdbcType=BIGINT }
      </if>
      <if test="condition.settleObjType != null ">
        and SETTLE_OBJ_TYPE = #{condition.settleObjType, jdbcType=INTEGER }
      </if>
      <if test="condition.settleObjId != null ">
        and SETTLE_OBJ_ID = #{condition.settleObjId, jdbcType=BIGINT }
      </if>
      <if test="condition.settScoreTypeId != null ">
        and SETT_SCORE_TYPE_ID = #{condition.settScoreTypeId, jdbcType=INTEGER }
      </if>
      <if test="condition.eventPricingStrategyId != null ">
        and EVENT_PRICING_STRATEGY_ID = #{condition.eventPricingStrategyId, jdbcType=INTEGER }
      </if>
      <if test="condition.billingCycleId != null ">
        and BILLING_CYCLE_ID = #{condition.billingCycleId, jdbcType=INTEGER }
      </if>
      <if test="condition.adjustFlag != null ">
        and ADJUST_FLAG = #{condition.adjustFlag, jdbcType=INTEGER }
      </if>
      <if test="condition.orgBillingCycleId != null ">
        and ORG_BILLING_CYCLE_ID = #{condition.orgBillingCycleId, jdbcType=INTEGER }
      </if>
      <if test="condition.settScoreValue != null ">
        and SETT_SCORE_VALUE = #{condition.settScoreValue, jdbcType=BIGINT }
      </if>
      <if test="condition.effDate != null ">
        and EFF_DATE = #{condition.effDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.expDate != null ">
        and EXP_DATE = #{condition.expDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </update>
</mapper>