<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.SpecialReqmtGenMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.SpecialReqmtGenDO">
    <id column="SPECIAL_REQMT_GEN_ID" jdbcType="BIGINT" property="specialReqmtGenId"/>
    <result column="SPECIAL_TYPE" jdbcType="VARCHAR" property="specialType"/>
    <result column="CONTROL_OBJ_TYPE" jdbcType="VARCHAR" property="controlObjType"/>
    <result column="CONTROL_OBJ_ID" jdbcType="BIGINT" property="controlObjId"/>
    <result column="LIMIT_TYPE" jdbcType="VARCHAR" property="limitType"/>
    <result column="CONTROL_ATTR_VALUE" jdbcType="VARCHAR" property="controlAttrValue"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          SPECIAL_REQMT_GEN_ID, 
          SPECIAL_TYPE, 
          CONTROL_OBJ_TYPE, 
          CONTROL_OBJ_ID, 
          LIMIT_TYPE, 
          CONTROL_ATTR_VALUE, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          SPECIAL_TYPE, 
          CONTROL_OBJ_TYPE, 
          CONTROL_OBJ_ID, 
          LIMIT_TYPE, 
          CONTROL_ATTR_VALUE, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="specialReqmtGenId != null ">
        SPECIAL_REQMT_GEN_ID = #{specialReqmtGenId, jdbcType=BIGINT }
      </if>
      <if test="specialType != null and specialType != ''">
        and SPECIAL_TYPE = #{specialType, jdbcType=VARCHAR }
      </if>
      <if test="controlObjType != null and controlObjType != ''">
        and CONTROL_OBJ_TYPE = #{controlObjType, jdbcType=VARCHAR }
      </if>
      <if test="controlObjId != null ">
        and CONTROL_OBJ_ID = #{controlObjId, jdbcType=BIGINT }
      </if>
      <if test="limitType != null and limitType != ''">
        and LIMIT_TYPE = #{limitType, jdbcType=VARCHAR }
      </if>
      <if test="controlAttrValue != null and controlAttrValue != ''">
        and CONTROL_ATTR_VALUE = #{controlAttrValue, jdbcType=VARCHAR }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.SpecialReqmtGenDO" resultType="java.lang.Integer">
      select count(*) from SPECIAL_REQMT_GEN
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from SPECIAL_REQMT_GEN
        where 
           SPECIAL_REQMT_GEN_ID = #{specialReqmtGenId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  SPECIAL_REQMT_GEN 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="specialReqmtGenId">
      insert into  SPECIAL_REQMT_GEN ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{specialType,jdbcType=VARCHAR}, 
        #{controlObjType,jdbcType=VARCHAR}, 
        #{controlObjId,jdbcType=BIGINT}, 
        #{limitType,jdbcType=VARCHAR}, 
        #{controlAttrValue,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  SPECIAL_REQMT_GEN ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{specialReqmtGenId,jdbcType=BIGINT}, 
        #{specialType,jdbcType=VARCHAR}, 
        #{controlObjType,jdbcType=VARCHAR}, 
        #{controlObjId,jdbcType=BIGINT}, 
        #{limitType,jdbcType=VARCHAR}, 
        #{controlAttrValue,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from SPECIAL_REQMT_GEN  
        where
           SPECIAL_REQMT_GEN_ID = #{specialReqmtGenId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from SPECIAL_REQMT_GEN
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  SPECIAL_REQMT_GEN
    <trim prefix="set" suffixOverrides=",">
      <if test="specialType != null">
         SPECIAL_TYPE = #{specialType,jdbcType=VARCHAR},
      </if>
      <if test="controlObjType != null">
         CONTROL_OBJ_TYPE = #{controlObjType,jdbcType=VARCHAR},
      </if>
      <if test="controlObjId != null">
         CONTROL_OBJ_ID = #{controlObjId,jdbcType=BIGINT},
      </if>
      <if test="limitType != null">
         LIMIT_TYPE = #{limitType,jdbcType=VARCHAR},
      </if>
      <if test="controlAttrValue != null">
         CONTROL_ATTR_VALUE = #{controlAttrValue,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           SPECIAL_REQMT_GEN_ID = #{specialReqmtGenId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update SPECIAL_REQMT_GEN
    <trim prefix="set" suffixOverrides=",">
      <if test="record.specialReqmtGenId != null">
        SPECIAL_REQMT_GEN_ID = #{record.specialReqmtGenId,jdbcType=BIGINT},
      </if>
      <if test="record.specialType != null">
        SPECIAL_TYPE = #{record.specialType,jdbcType=VARCHAR},
      </if>
      <if test="record.controlObjType != null">
        CONTROL_OBJ_TYPE = #{record.controlObjType,jdbcType=VARCHAR},
      </if>
      <if test="record.controlObjId != null">
        CONTROL_OBJ_ID = #{record.controlObjId,jdbcType=BIGINT},
      </if>
      <if test="record.limitType != null">
        LIMIT_TYPE = #{record.limitType,jdbcType=VARCHAR},
      </if>
      <if test="record.controlAttrValue != null">
        CONTROL_ATTR_VALUE = #{record.controlAttrValue,jdbcType=VARCHAR},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.specialReqmtGenId != null ">
        SPECIAL_REQMT_GEN_ID = #{condition.specialReqmtGenId, jdbcType=BIGINT }
      </if>
      <if test="condition.specialType != null and condition.specialType != ''">
        and SPECIAL_TYPE = #{condition.specialType, jdbcType=VARCHAR }
      </if>
      <if test="condition.controlObjType != null and condition.controlObjType != ''">
        and CONTROL_OBJ_TYPE = #{condition.controlObjType, jdbcType=VARCHAR }
      </if>
      <if test="condition.controlObjId != null ">
        and CONTROL_OBJ_ID = #{condition.controlObjId, jdbcType=BIGINT }
      </if>
      <if test="condition.limitType != null and condition.limitType != ''">
        and LIMIT_TYPE = #{condition.limitType, jdbcType=VARCHAR }
      </if>
      <if test="condition.controlAttrValue != null and condition.controlAttrValue != ''">
        and CONTROL_ATTR_VALUE = #{condition.controlAttrValue, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>