<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.SysDomainMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.SysDomainDO">
    <id column="DOMAIN_ID" jdbcType="BIGINT" property="domainId"/>
    <result column="PAR_DOMAIN_ID" jdbcType="BIGINT" property="parDomainId"/>
    <result column="DOMAIN_NAME" jdbcType="VARCHAR" property="domainName"/>
    <result column="DOMAIN_NBR" jdbcType="VARCHAR" property="domainNbr"/>
    <result column="DOMAIN_DESC" jdbcType="VARCHAR" property="domainDesc"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          DOMAIN_ID, 
          PAR_DOMAIN_ID, 
          DOMAIN_NAME, 
          DOMAIN_NBR, 
          DOMAIN_DESC, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          PAR_DOMAIN_ID, 
          DOMAIN_NAME, 
          DOMAIN_NBR, 
          DOMAIN_DESC, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="domainId != null ">
        DOMAIN_ID = #{domainId, jdbcType=BIGINT }
      </if>
      <if test="parDomainId != null ">
        and PAR_DOMAIN_ID = #{parDomainId, jdbcType=BIGINT }
      </if>
      <if test="domainName != null and domainName != ''">
        and DOMAIN_NAME = #{domainName, jdbcType=VARCHAR }
      </if>
      <if test="domainNbr != null and domainNbr != ''">
        and DOMAIN_NBR = #{domainNbr, jdbcType=VARCHAR }
      </if>
      <if test="domainDesc != null and domainDesc != ''">
        and DOMAIN_DESC = #{domainDesc, jdbcType=VARCHAR }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.SysDomainDO" resultType="java.lang.Integer">
      select count(*) from SYS_DOMAIN
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from SYS_DOMAIN
        where 
           DOMAIN_ID = #{domainId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  SYS_DOMAIN 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="domainId">
      insert into  SYS_DOMAIN ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{parDomainId,jdbcType=BIGINT}, 
        #{domainName,jdbcType=VARCHAR}, 
        #{domainNbr,jdbcType=VARCHAR}, 
        #{domainDesc,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  SYS_DOMAIN ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{domainId,jdbcType=BIGINT}, 
        #{parDomainId,jdbcType=BIGINT}, 
        #{domainName,jdbcType=VARCHAR}, 
        #{domainNbr,jdbcType=VARCHAR}, 
        #{domainDesc,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from SYS_DOMAIN  
        where
           DOMAIN_ID = #{domainId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from SYS_DOMAIN
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  SYS_DOMAIN
    <trim prefix="set" suffixOverrides=",">
      <if test="parDomainId != null">
         PAR_DOMAIN_ID = #{parDomainId,jdbcType=BIGINT},
      </if>
      <if test="domainName != null">
         DOMAIN_NAME = #{domainName,jdbcType=VARCHAR},
      </if>
      <if test="domainNbr != null">
         DOMAIN_NBR = #{domainNbr,jdbcType=VARCHAR},
      </if>
      <if test="domainDesc != null">
         DOMAIN_DESC = #{domainDesc,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           DOMAIN_ID = #{domainId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update SYS_DOMAIN
    <trim prefix="set" suffixOverrides=",">
      <if test="record.domainId != null">
        DOMAIN_ID = #{record.domainId,jdbcType=BIGINT},
      </if>
      <if test="record.parDomainId != null">
        PAR_DOMAIN_ID = #{record.parDomainId,jdbcType=BIGINT},
      </if>
      <if test="record.domainName != null">
        DOMAIN_NAME = #{record.domainName,jdbcType=VARCHAR},
      </if>
      <if test="record.domainNbr != null">
        DOMAIN_NBR = #{record.domainNbr,jdbcType=VARCHAR},
      </if>
      <if test="record.domainDesc != null">
        DOMAIN_DESC = #{record.domainDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.domainId != null ">
        DOMAIN_ID = #{condition.domainId, jdbcType=BIGINT }
      </if>
      <if test="condition.parDomainId != null ">
        and PAR_DOMAIN_ID = #{condition.parDomainId, jdbcType=BIGINT }
      </if>
      <if test="condition.domainName != null and condition.domainName != ''">
        and DOMAIN_NAME = #{condition.domainName, jdbcType=VARCHAR }
      </if>
      <if test="condition.domainNbr != null and condition.domainNbr != ''">
        and DOMAIN_NBR = #{condition.domainNbr, jdbcType=VARCHAR }
      </if>
      <if test="condition.domainDesc != null and condition.domainDesc != ''">
        and DOMAIN_DESC = #{condition.domainDesc, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>