<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.SystemUserAttrMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.SystemUserAttrDO">
    <id column="SYS_USER_ATTR_ID" jdbcType="BIGINT" property="sysUserAttrId"/>
    <result column="SYS_USER_ID" jdbcType="BIGINT" property="sysUserId"/>
    <result column="ATTR_ID" jdbcType="BIGINT" property="attrId"/>
    <result column="ATTR_VALUE_ID" jdbcType="BIGINT" property="attrValueId"/>
    <result column="ATTR_VALUE" jdbcType="VARCHAR" property="attrValue"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
  </resultMap>

  <sql id="CommonColumns">
          SYS_USER_ATTR_ID, 
          SYS_USER_ID, 
          ATTR_ID, 
          ATTR_VALUE_ID, 
          ATTR_VALUE, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_DATE, 
          CREATE_STAFF, 
          UPDATE_DATE, 
          UPDATE_STAFF
  </sql>

  <sql id="CommonColumnsKey">
          SYS_USER_ID, 
          ATTR_ID, 
          ATTR_VALUE_ID, 
          ATTR_VALUE, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_DATE, 
          CREATE_STAFF, 
          UPDATE_DATE, 
          UPDATE_STAFF
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="sysUserAttrId != null ">
        SYS_USER_ATTR_ID = #{sysUserAttrId, jdbcType=BIGINT }
      </if>
      <if test="sysUserId != null ">
        and SYS_USER_ID = #{sysUserId, jdbcType=BIGINT }
      </if>
      <if test="attrId != null ">
        and ATTR_ID = #{attrId, jdbcType=BIGINT }
      </if>
      <if test="attrValueId != null ">
        and ATTR_VALUE_ID = #{attrValueId, jdbcType=BIGINT }
      </if>
      <if test="attrValue != null and attrValue != ''">
        and ATTR_VALUE = #{attrValue, jdbcType=VARCHAR }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.SystemUserAttrDO" resultType="java.lang.Integer">
      select count(*) from SYSTEM_USER_ATTR
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from SYSTEM_USER_ATTR
        where 
           SYS_USER_ATTR_ID = #{sysUserAttrId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  SYSTEM_USER_ATTR 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="sysUserAttrId">
      insert into  SYSTEM_USER_ATTR ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{sysUserId,jdbcType=BIGINT}, 
        #{attrId,jdbcType=BIGINT}, 
        #{attrValueId,jdbcType=BIGINT}, 
        #{attrValue,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}
         )
  </insert>

  <insert id="insert">
      insert into  SYSTEM_USER_ATTR ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{sysUserAttrId,jdbcType=BIGINT}, 
        #{sysUserId,jdbcType=BIGINT}, 
        #{attrId,jdbcType=BIGINT}, 
        #{attrValueId,jdbcType=BIGINT}, 
        #{attrValue,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from SYSTEM_USER_ATTR  
        where
           SYS_USER_ATTR_ID = #{sysUserAttrId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from SYSTEM_USER_ATTR
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  SYSTEM_USER_ATTR
    <trim prefix="set" suffixOverrides=",">
      <if test="sysUserId != null">
         SYS_USER_ID = #{sysUserId,jdbcType=BIGINT},
      </if>
      <if test="attrId != null">
         ATTR_ID = #{attrId,jdbcType=BIGINT},
      </if>
      <if test="attrValueId != null">
         ATTR_VALUE_ID = #{attrValueId,jdbcType=BIGINT},
      </if>
      <if test="attrValue != null">
         ATTR_VALUE = #{attrValue,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
    </trim>
        where 
           SYS_USER_ATTR_ID = #{sysUserAttrId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update SYSTEM_USER_ATTR
    <trim prefix="set" suffixOverrides=",">
      <if test="record.sysUserAttrId != null">
        SYS_USER_ATTR_ID = #{record.sysUserAttrId,jdbcType=BIGINT},
      </if>
      <if test="record.sysUserId != null">
        SYS_USER_ID = #{record.sysUserId,jdbcType=BIGINT},
      </if>
      <if test="record.attrId != null">
        ATTR_ID = #{record.attrId,jdbcType=BIGINT},
      </if>
      <if test="record.attrValueId != null">
        ATTR_VALUE_ID = #{record.attrValueId,jdbcType=BIGINT},
      </if>
      <if test="record.attrValue != null">
        ATTR_VALUE = #{record.attrValue,jdbcType=VARCHAR},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
    </trim>
    <where>
      <if test="condition.sysUserAttrId != null ">
        SYS_USER_ATTR_ID = #{condition.sysUserAttrId, jdbcType=BIGINT }
      </if>
      <if test="condition.sysUserId != null ">
        and SYS_USER_ID = #{condition.sysUserId, jdbcType=BIGINT }
      </if>
      <if test="condition.attrId != null ">
        and ATTR_ID = #{condition.attrId, jdbcType=BIGINT }
      </if>
      <if test="condition.attrValueId != null ">
        and ATTR_VALUE_ID = #{condition.attrValueId, jdbcType=BIGINT }
      </if>
      <if test="condition.attrValue != null and condition.attrValue != ''">
        and ATTR_VALUE = #{condition.attrValue, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
    </where>
  </update>
</mapper>