<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.SystemPostMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.SystemPostDO">
    <id column="SYS_POST_ID" jdbcType="BIGINT" property="sysPostId"/>
    <result column="SYS_POST_CODE" jdbcType="VARCHAR" property="sysPostCode"/>
    <result column="SYS_POST_NAME" jdbcType="VARCHAR" property="sysPostName"/>
    <result column="SYS_POST_TYPE" jdbcType="VARCHAR" property="sysPostType"/>
    <result column="SYS_POST_DESC" jdbcType="VARCHAR" property="sysPostDesc"/>
    <result column="INIT_FLAG" jdbcType="INTEGER" property="initFlag"/>
    <result column="ORG_ID" jdbcType="BIGINT" property="orgId"/>
    <result column="REGION_ID" jdbcType="BIGINT" property="regionId"/>
    <result column="SYSTEM_INFO_ID" jdbcType="BIGINT" property="systemInfoId"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
  </resultMap>

  <sql id="CommonColumns">
          SYS_POST_ID, 
          SYS_POST_CODE, 
          SYS_POST_NAME, 
          SYS_POST_TYPE, 
          SYS_POST_DESC, 
          INIT_FLAG, 
          ORG_ID, 
          REGION_ID, 
          SYSTEM_INFO_ID, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_DATE, 
          CREATE_STAFF, 
          UPDATE_DATE, 
          UPDATE_STAFF
  </sql>

  <sql id="CommonColumnsKey">
          SYS_POST_CODE, 
          SYS_POST_NAME, 
          SYS_POST_TYPE, 
          SYS_POST_DESC, 
          INIT_FLAG, 
          ORG_ID, 
          REGION_ID, 
          SYSTEM_INFO_ID, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_DATE, 
          CREATE_STAFF, 
          UPDATE_DATE, 
          UPDATE_STAFF
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="sysPostId != null ">
        SYS_POST_ID = #{sysPostId, jdbcType=BIGINT }
      </if>
      <if test="sysPostCode != null and sysPostCode != ''">
        and SYS_POST_CODE = #{sysPostCode, jdbcType=VARCHAR }
      </if>
      <if test="sysPostName != null and sysPostName != ''">
        and SYS_POST_NAME = #{sysPostName, jdbcType=VARCHAR }
      </if>
      <if test="sysPostType != null and sysPostType != ''">
        and SYS_POST_TYPE = #{sysPostType, jdbcType=VARCHAR }
      </if>
      <if test="sysPostDesc != null and sysPostDesc != ''">
        and SYS_POST_DESC = #{sysPostDesc, jdbcType=VARCHAR }
      </if>
      <if test="initFlag != null ">
        and INIT_FLAG = #{initFlag, jdbcType=INTEGER }
      </if>
      <if test="orgId != null ">
        and ORG_ID = #{orgId, jdbcType=BIGINT }
      </if>
      <if test="regionId != null ">
        and REGION_ID = #{regionId, jdbcType=BIGINT }
      </if>
      <if test="systemInfoId != null ">
        and SYSTEM_INFO_ID = #{systemInfoId, jdbcType=BIGINT }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.SystemPostDO" resultType="java.lang.Integer">
      select count(*) from SYSTEM_POST
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from SYSTEM_POST
        where 
           SYS_POST_ID = #{sysPostId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  SYSTEM_POST 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="sysPostId">
      insert into  SYSTEM_POST ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{sysPostCode,jdbcType=VARCHAR}, 
        #{sysPostName,jdbcType=VARCHAR}, 
        #{sysPostType,jdbcType=VARCHAR}, 
        #{sysPostDesc,jdbcType=VARCHAR}, 
        #{initFlag,jdbcType=INTEGER}, 
        #{orgId,jdbcType=BIGINT}, 
        #{regionId,jdbcType=BIGINT}, 
        #{systemInfoId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}
         )
  </insert>

  <insert id="insert">
      insert into  SYSTEM_POST ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{sysPostId,jdbcType=BIGINT}, 
        #{sysPostCode,jdbcType=VARCHAR}, 
        #{sysPostName,jdbcType=VARCHAR}, 
        #{sysPostType,jdbcType=VARCHAR}, 
        #{sysPostDesc,jdbcType=VARCHAR}, 
        #{initFlag,jdbcType=INTEGER}, 
        #{orgId,jdbcType=BIGINT}, 
        #{regionId,jdbcType=BIGINT}, 
        #{systemInfoId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from SYSTEM_POST  
        where
           SYS_POST_ID = #{sysPostId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from SYSTEM_POST
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  SYSTEM_POST
    <trim prefix="set" suffixOverrides=",">
      <if test="sysPostCode != null">
         SYS_POST_CODE = #{sysPostCode,jdbcType=VARCHAR},
      </if>
      <if test="sysPostName != null">
         SYS_POST_NAME = #{sysPostName,jdbcType=VARCHAR},
      </if>
      <if test="sysPostType != null">
         SYS_POST_TYPE = #{sysPostType,jdbcType=VARCHAR},
      </if>
      <if test="sysPostDesc != null">
         SYS_POST_DESC = #{sysPostDesc,jdbcType=VARCHAR},
      </if>
      <if test="initFlag != null">
         INIT_FLAG = #{initFlag,jdbcType=INTEGER},
      </if>
      <if test="orgId != null">
         ORG_ID = #{orgId,jdbcType=BIGINT},
      </if>
      <if test="regionId != null">
         REGION_ID = #{regionId,jdbcType=BIGINT},
      </if>
      <if test="systemInfoId != null">
         SYSTEM_INFO_ID = #{systemInfoId,jdbcType=BIGINT},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
    </trim>
        where 
           SYS_POST_ID = #{sysPostId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update SYSTEM_POST
    <trim prefix="set" suffixOverrides=",">
      <if test="record.sysPostId != null">
        SYS_POST_ID = #{record.sysPostId,jdbcType=BIGINT},
      </if>
      <if test="record.sysPostCode != null">
        SYS_POST_CODE = #{record.sysPostCode,jdbcType=VARCHAR},
      </if>
      <if test="record.sysPostName != null">
        SYS_POST_NAME = #{record.sysPostName,jdbcType=VARCHAR},
      </if>
      <if test="record.sysPostType != null">
        SYS_POST_TYPE = #{record.sysPostType,jdbcType=VARCHAR},
      </if>
      <if test="record.sysPostDesc != null">
        SYS_POST_DESC = #{record.sysPostDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.initFlag != null">
        INIT_FLAG = #{record.initFlag,jdbcType=INTEGER},
      </if>
      <if test="record.orgId != null">
        ORG_ID = #{record.orgId,jdbcType=BIGINT},
      </if>
      <if test="record.regionId != null">
        REGION_ID = #{record.regionId,jdbcType=BIGINT},
      </if>
      <if test="record.systemInfoId != null">
        SYSTEM_INFO_ID = #{record.systemInfoId,jdbcType=BIGINT},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
    </trim>
    <where>
      <if test="condition.sysPostId != null ">
        SYS_POST_ID = #{condition.sysPostId, jdbcType=BIGINT }
      </if>
      <if test="condition.sysPostCode != null and condition.sysPostCode != ''">
        and SYS_POST_CODE = #{condition.sysPostCode, jdbcType=VARCHAR }
      </if>
      <if test="condition.sysPostName != null and condition.sysPostName != ''">
        and SYS_POST_NAME = #{condition.sysPostName, jdbcType=VARCHAR }
      </if>
      <if test="condition.sysPostType != null and condition.sysPostType != ''">
        and SYS_POST_TYPE = #{condition.sysPostType, jdbcType=VARCHAR }
      </if>
      <if test="condition.sysPostDesc != null and condition.sysPostDesc != ''">
        and SYS_POST_DESC = #{condition.sysPostDesc, jdbcType=VARCHAR }
      </if>
      <if test="condition.initFlag != null ">
        and INIT_FLAG = #{condition.initFlag, jdbcType=INTEGER }
      </if>
      <if test="condition.orgId != null ">
        and ORG_ID = #{condition.orgId, jdbcType=BIGINT }
      </if>
      <if test="condition.regionId != null ">
        and REGION_ID = #{condition.regionId, jdbcType=BIGINT }
      </if>
      <if test="condition.systemInfoId != null ">
        and SYSTEM_INFO_ID = #{condition.systemInfoId, jdbcType=BIGINT }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
    </where>
  </update>
</mapper>