<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.SysuserCollectionMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.SysuserCollectionDO">
    <id column="COLLECT_ID" jdbcType="BIGINT" property="collectId"/>
    <result column="SYS_USER_ID" jdbcType="BIGINT" property="sysUserId"/>
    <result column="COLLECT_STAFF" jdbcType="BIGINT" property="collectStaff"/>
    <result column="COLLECT_DATE" jdbcType="TIMESTAMP" property="collectDate"/>
    <result column="CONTENT_TYPE" jdbcType="VARCHAR" property="contentType"/>
    <result column="CONTENT_ID" jdbcType="BIGINT" property="contentId"/>
    <result column="COLLECT_SORT" jdbcType="INTEGER" property="collectSort"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
  </resultMap>

  <sql id="CommonColumns">
          COLLECT_ID, 
          SYS_USER_ID, 
          COLLECT_STAFF, 
          COLLECT_DATE, 
          CONTENT_TYPE, 
          CONTENT_ID, 
          COLLECT_SORT, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_DATE, 
          CREATE_STAFF, 
          UPDATE_DATE, 
          UPDATE_STAFF
  </sql>

  <sql id="CommonColumnsKey">
          SYS_USER_ID, 
          COLLECT_STAFF, 
          COLLECT_DATE, 
          CONTENT_TYPE, 
          CONTENT_ID, 
          COLLECT_SORT, 
          STATUS_CD, 
          STATUS_DATE, 
          CREATE_DATE, 
          CREATE_STAFF, 
          UPDATE_DATE, 
          UPDATE_STAFF
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="collectId != null ">
        COLLECT_ID = #{collectId, jdbcType=BIGINT }
      </if>
      <if test="sysUserId != null ">
        and SYS_USER_ID = #{sysUserId, jdbcType=BIGINT }
      </if>
      <if test="collectStaff != null ">
        and COLLECT_STAFF = #{collectStaff, jdbcType=BIGINT }
      </if>
      <if test="collectDate != null ">
        and COLLECT_DATE = #{collectDate, jdbcType=TIMESTAMP }
      </if>
      <if test="contentType != null and contentType != ''">
        and CONTENT_TYPE = #{contentType, jdbcType=VARCHAR }
      </if>
      <if test="contentId != null ">
        and CONTENT_ID = #{contentId, jdbcType=BIGINT }
      </if>
      <if test="collectSort != null ">
        and COLLECT_SORT = #{collectSort, jdbcType=INTEGER }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.SysuserCollectionDO" resultType="java.lang.Integer">
      select count(*) from SYSUSER_COLLECTION
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from SYSUSER_COLLECTION
        where 
           COLLECT_ID = #{collectId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  SYSUSER_COLLECTION 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="collectId">
      insert into  SYSUSER_COLLECTION ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{sysUserId,jdbcType=BIGINT}, 
        #{collectStaff,jdbcType=BIGINT}, 
        #{collectDate,jdbcType=TIMESTAMP}, 
        #{contentType,jdbcType=VARCHAR}, 
        #{contentId,jdbcType=BIGINT}, 
        #{collectSort,jdbcType=INTEGER}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}
         )
  </insert>

  <insert id="insert">
      insert into  SYSUSER_COLLECTION ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{collectId,jdbcType=BIGINT}, 
        #{sysUserId,jdbcType=BIGINT}, 
        #{collectStaff,jdbcType=BIGINT}, 
        #{collectDate,jdbcType=TIMESTAMP}, 
        #{contentType,jdbcType=VARCHAR}, 
        #{contentId,jdbcType=BIGINT}, 
        #{collectSort,jdbcType=INTEGER}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{updateStaff,jdbcType=BIGINT}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from SYSUSER_COLLECTION  
        where
           COLLECT_ID = #{collectId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from SYSUSER_COLLECTION
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  SYSUSER_COLLECTION
    <trim prefix="set" suffixOverrides=",">
      <if test="sysUserId != null">
         SYS_USER_ID = #{sysUserId,jdbcType=BIGINT},
      </if>
      <if test="collectStaff != null">
         COLLECT_STAFF = #{collectStaff,jdbcType=BIGINT},
      </if>
      <if test="collectDate != null">
         COLLECT_DATE = #{collectDate,jdbcType=TIMESTAMP},
      </if>
      <if test="contentType != null">
         CONTENT_TYPE = #{contentType,jdbcType=VARCHAR},
      </if>
      <if test="contentId != null">
         CONTENT_ID = #{contentId,jdbcType=BIGINT},
      </if>
      <if test="collectSort != null">
         COLLECT_SORT = #{collectSort,jdbcType=INTEGER},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
    </trim>
        where 
           COLLECT_ID = #{collectId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update SYSUSER_COLLECTION
    <trim prefix="set" suffixOverrides=",">
      <if test="record.collectId != null">
        COLLECT_ID = #{record.collectId,jdbcType=BIGINT},
      </if>
      <if test="record.sysUserId != null">
        SYS_USER_ID = #{record.sysUserId,jdbcType=BIGINT},
      </if>
      <if test="record.collectStaff != null">
        COLLECT_STAFF = #{record.collectStaff,jdbcType=BIGINT},
      </if>
      <if test="record.collectDate != null">
        COLLECT_DATE = #{record.collectDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.contentType != null">
        CONTENT_TYPE = #{record.contentType,jdbcType=VARCHAR},
      </if>
      <if test="record.contentId != null">
        CONTENT_ID = #{record.contentId,jdbcType=BIGINT},
      </if>
      <if test="record.collectSort != null">
        COLLECT_SORT = #{record.collectSort,jdbcType=INTEGER},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
    </trim>
    <where>
      <if test="condition.collectId != null ">
        COLLECT_ID = #{condition.collectId, jdbcType=BIGINT }
      </if>
      <if test="condition.sysUserId != null ">
        and SYS_USER_ID = #{condition.sysUserId, jdbcType=BIGINT }
      </if>
      <if test="condition.collectStaff != null ">
        and COLLECT_STAFF = #{condition.collectStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.collectDate != null ">
        and COLLECT_DATE = #{condition.collectDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.contentType != null and condition.contentType != ''">
        and CONTENT_TYPE = #{condition.contentType, jdbcType=VARCHAR }
      </if>
      <if test="condition.contentId != null ">
        and CONTENT_ID = #{condition.contentId, jdbcType=BIGINT }
      </if>
      <if test="condition.collectSort != null ">
        and COLLECT_SORT = #{condition.collectSort, jdbcType=INTEGER }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
    </where>
  </update>
</mapper>