<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.VaOfferProdRelMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.VaOfferProdRelDO">
    <id column="OFFER_PROD_REL_ID" jdbcType="BIGINT" property="offerProdRelId"/>
    <result column="VA_OFFER_ID" jdbcType="BIGINT" property="vaOfferId"/>
    <result column="VA_PROD_ID" jdbcType="BIGINT" property="vaProdId"/>
    <result column="DEFAULT_COUNT" jdbcType="INTEGER" property="defaultCount"/>
    <result column="RSTR_TYPE" jdbcType="VARCHAR" property="rstrType"/>
    <result column="MIN_NUM" jdbcType="INTEGER" property="minNum"/>
    <result column="MAX_NUM" jdbcType="INTEGER" property="maxNum"/>
    <result column="EFF_DATE" jdbcType="TIMESTAMP" property="effDate"/>
    <result column="EXP_DATE" jdbcType="TIMESTAMP" property="expDate"/>
    <result column="ROLE_ID" jdbcType="BIGINT" property="roleId"/>
    <result column="REGION_ID" jdbcType="BIGINT" property="regionId"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          OFFER_PROD_REL_ID, 
          VA_OFFER_ID, 
          VA_PROD_ID, 
          DEFAULT_COUNT, 
          RSTR_TYPE, 
          MIN_NUM, 
          MAX_NUM, 
          EFF_DATE, 
          EXP_DATE, 
          ROLE_ID, 
          REGION_ID, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          UPDATE_DATE, 
          STATUS_DATE, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          VA_OFFER_ID, 
          VA_PROD_ID, 
          DEFAULT_COUNT, 
          RSTR_TYPE, 
          MIN_NUM, 
          MAX_NUM, 
          EFF_DATE, 
          EXP_DATE, 
          ROLE_ID, 
          REGION_ID, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          UPDATE_DATE, 
          STATUS_DATE, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="offerProdRelId != null ">
        OFFER_PROD_REL_ID = #{offerProdRelId, jdbcType=BIGINT }
      </if>
      <if test="vaOfferId != null ">
        and VA_OFFER_ID = #{vaOfferId, jdbcType=BIGINT }
      </if>
      <if test="vaProdId != null ">
        and VA_PROD_ID = #{vaProdId, jdbcType=BIGINT }
      </if>
      <if test="defaultCount != null ">
        and DEFAULT_COUNT = #{defaultCount, jdbcType=INTEGER }
      </if>
      <if test="rstrType != null and rstrType != ''">
        and RSTR_TYPE = #{rstrType, jdbcType=VARCHAR }
      </if>
      <if test="minNum != null ">
        and MIN_NUM = #{minNum, jdbcType=INTEGER }
      </if>
      <if test="maxNum != null ">
        and MAX_NUM = #{maxNum, jdbcType=INTEGER }
      </if>
      <if test="effDate != null ">
        and EFF_DATE = #{effDate, jdbcType=TIMESTAMP }
      </if>
      <if test="expDate != null ">
        and EXP_DATE = #{expDate, jdbcType=TIMESTAMP }
      </if>
      <if test="roleId != null ">
        and ROLE_ID = #{roleId, jdbcType=BIGINT }
      </if>
      <if test="regionId != null ">
        and REGION_ID = #{regionId, jdbcType=BIGINT }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.VaOfferProdRelDO" resultType="java.lang.Integer">
      select count(*) from VA_OFFER_PROD_REL
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from VA_OFFER_PROD_REL
        where 
           OFFER_PROD_REL_ID = #{offerProdRelId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  VA_OFFER_PROD_REL 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="offerProdRelId">
      insert into  VA_OFFER_PROD_REL ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{vaOfferId,jdbcType=BIGINT}, 
        #{vaProdId,jdbcType=BIGINT}, 
        #{defaultCount,jdbcType=INTEGER}, 
        #{rstrType,jdbcType=VARCHAR}, 
        #{minNum,jdbcType=INTEGER}, 
        #{maxNum,jdbcType=INTEGER}, 
        #{effDate,jdbcType=TIMESTAMP}, 
        #{expDate,jdbcType=TIMESTAMP}, 
        #{roleId,jdbcType=BIGINT}, 
        #{regionId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  VA_OFFER_PROD_REL ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{offerProdRelId,jdbcType=BIGINT}, 
        #{vaOfferId,jdbcType=BIGINT}, 
        #{vaProdId,jdbcType=BIGINT}, 
        #{defaultCount,jdbcType=INTEGER}, 
        #{rstrType,jdbcType=VARCHAR}, 
        #{minNum,jdbcType=INTEGER}, 
        #{maxNum,jdbcType=INTEGER}, 
        #{effDate,jdbcType=TIMESTAMP}, 
        #{expDate,jdbcType=TIMESTAMP}, 
        #{roleId,jdbcType=BIGINT}, 
        #{regionId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from VA_OFFER_PROD_REL  
        where
           OFFER_PROD_REL_ID = #{offerProdRelId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from VA_OFFER_PROD_REL
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  VA_OFFER_PROD_REL
    <trim prefix="set" suffixOverrides=",">
      <if test="vaOfferId != null">
         VA_OFFER_ID = #{vaOfferId,jdbcType=BIGINT},
      </if>
      <if test="vaProdId != null">
         VA_PROD_ID = #{vaProdId,jdbcType=BIGINT},
      </if>
      <if test="defaultCount != null">
         DEFAULT_COUNT = #{defaultCount,jdbcType=INTEGER},
      </if>
      <if test="rstrType != null">
         RSTR_TYPE = #{rstrType,jdbcType=VARCHAR},
      </if>
      <if test="minNum != null">
         MIN_NUM = #{minNum,jdbcType=INTEGER},
      </if>
      <if test="maxNum != null">
         MAX_NUM = #{maxNum,jdbcType=INTEGER},
      </if>
      <if test="effDate != null">
         EFF_DATE = #{effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expDate != null">
         EXP_DATE = #{expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="roleId != null">
         ROLE_ID = #{roleId,jdbcType=BIGINT},
      </if>
      <if test="regionId != null">
         REGION_ID = #{regionId,jdbcType=BIGINT},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           OFFER_PROD_REL_ID = #{offerProdRelId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update VA_OFFER_PROD_REL
    <trim prefix="set" suffixOverrides=",">
      <if test="record.offerProdRelId != null">
        OFFER_PROD_REL_ID = #{record.offerProdRelId,jdbcType=BIGINT},
      </if>
      <if test="record.vaOfferId != null">
        VA_OFFER_ID = #{record.vaOfferId,jdbcType=BIGINT},
      </if>
      <if test="record.vaProdId != null">
        VA_PROD_ID = #{record.vaProdId,jdbcType=BIGINT},
      </if>
      <if test="record.defaultCount != null">
        DEFAULT_COUNT = #{record.defaultCount,jdbcType=INTEGER},
      </if>
      <if test="record.rstrType != null">
        RSTR_TYPE = #{record.rstrType,jdbcType=VARCHAR},
      </if>
      <if test="record.minNum != null">
        MIN_NUM = #{record.minNum,jdbcType=INTEGER},
      </if>
      <if test="record.maxNum != null">
        MAX_NUM = #{record.maxNum,jdbcType=INTEGER},
      </if>
      <if test="record.effDate != null">
        EFF_DATE = #{record.effDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expDate != null">
        EXP_DATE = #{record.expDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.roleId != null">
        ROLE_ID = #{record.roleId,jdbcType=BIGINT},
      </if>
      <if test="record.regionId != null">
        REGION_ID = #{record.regionId,jdbcType=BIGINT},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.offerProdRelId != null ">
        OFFER_PROD_REL_ID = #{condition.offerProdRelId, jdbcType=BIGINT }
      </if>
      <if test="condition.vaOfferId != null ">
        and VA_OFFER_ID = #{condition.vaOfferId, jdbcType=BIGINT }
      </if>
      <if test="condition.vaProdId != null ">
        and VA_PROD_ID = #{condition.vaProdId, jdbcType=BIGINT }
      </if>
      <if test="condition.defaultCount != null ">
        and DEFAULT_COUNT = #{condition.defaultCount, jdbcType=INTEGER }
      </if>
      <if test="condition.rstrType != null and condition.rstrType != ''">
        and RSTR_TYPE = #{condition.rstrType, jdbcType=VARCHAR }
      </if>
      <if test="condition.minNum != null ">
        and MIN_NUM = #{condition.minNum, jdbcType=INTEGER }
      </if>
      <if test="condition.maxNum != null ">
        and MAX_NUM = #{condition.maxNum, jdbcType=INTEGER }
      </if>
      <if test="condition.effDate != null ">
        and EFF_DATE = #{condition.effDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.expDate != null ">
        and EXP_DATE = #{condition.expDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.roleId != null ">
        and ROLE_ID = #{condition.roleId, jdbcType=BIGINT }
      </if>
      <if test="condition.regionId != null ">
        and REGION_ID = #{condition.regionId, jdbcType=BIGINT }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>