<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc.prod.mapper.WaitOrderMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc.prod.data.WaitOrderDO">
    <id column="WAIT_ORDER_ID" jdbcType="BIGINT" property="waitOrderId"/>
    <result column="WAIT_ORDER_NBR" jdbcType="VARCHAR" property="waitOrderNbr"/>
    <result column="ORG_ID" jdbcType="BIGINT" property="orgId"/>
    <result column="BOOK_ORDER_ID" jdbcType="BIGINT" property="bookOrderId"/>
    <result column="SERV_TYPE_ID" jdbcType="BIGINT" property="servTypeId"/>
    <result column="REGION_ID" jdbcType="BIGINT" property="regionId"/>
    <result column="LAN_ID" jdbcType="INTEGER" property="lanId"/>
    <result column="OBJ_TYPE" jdbcType="VARCHAR" property="objType"/>
    <result column="OBJ_ID" jdbcType="VARCHAR" property="objId"/>
    <result column="ORDER_DATE" jdbcType="TIMESTAMP" property="orderDate"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CALL_STAFF" jdbcType="BIGINT" property="callStaff"/>
    <result column="SEAT_ID" jdbcType="BIGINT" property="seatId"/>
    <result column="CALL_DATE" jdbcType="TIMESTAMP" property="callDate"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
  </resultMap>

  <sql id="CommonColumns">
          WAIT_ORDER_ID, 
          WAIT_ORDER_NBR, 
          ORG_ID, 
          BOOK_ORDER_ID, 
          SERV_TYPE_ID, 
          REGION_ID, 
          LAN_ID, 
          OBJ_TYPE, 
          OBJ_ID, 
          ORDER_DATE, 
          STATUS_CD, 
          CALL_STAFF, 
          SEAT_ID, 
          CALL_DATE, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="CommonColumnsKey">
          WAIT_ORDER_NBR, 
          ORG_ID, 
          BOOK_ORDER_ID, 
          SERV_TYPE_ID, 
          REGION_ID, 
          LAN_ID, 
          OBJ_TYPE, 
          OBJ_ID, 
          ORDER_DATE, 
          STATUS_CD, 
          CALL_STAFF, 
          SEAT_ID, 
          CALL_DATE, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          REMARK
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="waitOrderId != null ">
        WAIT_ORDER_ID = #{waitOrderId, jdbcType=BIGINT }
      </if>
      <if test="waitOrderNbr != null and waitOrderNbr != ''">
        and WAIT_ORDER_NBR = #{waitOrderNbr, jdbcType=VARCHAR }
      </if>
      <if test="orgId != null ">
        and ORG_ID = #{orgId, jdbcType=BIGINT }
      </if>
      <if test="bookOrderId != null ">
        and BOOK_ORDER_ID = #{bookOrderId, jdbcType=BIGINT }
      </if>
      <if test="servTypeId != null ">
        and SERV_TYPE_ID = #{servTypeId, jdbcType=BIGINT }
      </if>
      <if test="regionId != null ">
        and REGION_ID = #{regionId, jdbcType=BIGINT }
      </if>
      <if test="lanId != null ">
        and LAN_ID = #{lanId, jdbcType=INTEGER }
      </if>
      <if test="objType != null and objType != ''">
        and OBJ_TYPE = #{objType, jdbcType=VARCHAR }
      </if>
      <if test="objId != null and objId != ''">
        and OBJ_ID = #{objId, jdbcType=VARCHAR }
      </if>
      <if test="orderDate != null ">
        and ORDER_DATE = #{orderDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="callStaff != null ">
        and CALL_STAFF = #{callStaff, jdbcType=BIGINT }
      </if>
      <if test="seatId != null ">
        and SEAT_ID = #{seatId, jdbcType=BIGINT }
      </if>
      <if test="callDate != null ">
        and CALL_DATE = #{callDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="remark != null and remark != ''">
        and REMARK = #{remark, jdbcType=VARCHAR }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc.prod.data.WaitOrderDO" resultType="java.lang.Integer">
      select count(*) from WAIT_ORDER
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from WAIT_ORDER
        where 
           WAIT_ORDER_ID = #{waitOrderId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  WAIT_ORDER 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="waitOrderId">
      insert into  WAIT_ORDER ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{waitOrderNbr,jdbcType=VARCHAR}, 
        #{orgId,jdbcType=BIGINT}, 
        #{bookOrderId,jdbcType=BIGINT}, 
        #{servTypeId,jdbcType=BIGINT}, 
        #{regionId,jdbcType=BIGINT}, 
        #{lanId,jdbcType=INTEGER}, 
        #{objType,jdbcType=VARCHAR}, 
        #{objId,jdbcType=VARCHAR}, 
        #{orderDate,jdbcType=TIMESTAMP}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{callStaff,jdbcType=BIGINT}, 
        #{seatId,jdbcType=BIGINT}, 
        #{callDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <insert id="insert">
      insert into  WAIT_ORDER ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{waitOrderId,jdbcType=BIGINT}, 
        #{waitOrderNbr,jdbcType=VARCHAR}, 
        #{orgId,jdbcType=BIGINT}, 
        #{bookOrderId,jdbcType=BIGINT}, 
        #{servTypeId,jdbcType=BIGINT}, 
        #{regionId,jdbcType=BIGINT}, 
        #{lanId,jdbcType=INTEGER}, 
        #{objType,jdbcType=VARCHAR}, 
        #{objId,jdbcType=VARCHAR}, 
        #{orderDate,jdbcType=TIMESTAMP}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{callStaff,jdbcType=BIGINT}, 
        #{seatId,jdbcType=BIGINT}, 
        #{callDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{remark,jdbcType=VARCHAR}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from WAIT_ORDER  
        where
           WAIT_ORDER_ID = #{waitOrderId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from WAIT_ORDER
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  WAIT_ORDER
    <trim prefix="set" suffixOverrides=",">
      <if test="waitOrderNbr != null">
         WAIT_ORDER_NBR = #{waitOrderNbr,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
         ORG_ID = #{orgId,jdbcType=BIGINT},
      </if>
      <if test="bookOrderId != null">
         BOOK_ORDER_ID = #{bookOrderId,jdbcType=BIGINT},
      </if>
      <if test="servTypeId != null">
         SERV_TYPE_ID = #{servTypeId,jdbcType=BIGINT},
      </if>
      <if test="regionId != null">
         REGION_ID = #{regionId,jdbcType=BIGINT},
      </if>
      <if test="lanId != null">
         LAN_ID = #{lanId,jdbcType=INTEGER},
      </if>
      <if test="objType != null">
         OBJ_TYPE = #{objType,jdbcType=VARCHAR},
      </if>
      <if test="objId != null">
         OBJ_ID = #{objId,jdbcType=VARCHAR},
      </if>
      <if test="orderDate != null">
         ORDER_DATE = #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="callStaff != null">
         CALL_STAFF = #{callStaff,jdbcType=BIGINT},
      </if>
      <if test="seatId != null">
         SEAT_ID = #{seatId,jdbcType=BIGINT},
      </if>
      <if test="callDate != null">
         CALL_DATE = #{callDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
         REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
        where 
           WAIT_ORDER_ID = #{waitOrderId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update WAIT_ORDER
    <trim prefix="set" suffixOverrides=",">
      <if test="record.waitOrderId != null">
        WAIT_ORDER_ID = #{record.waitOrderId,jdbcType=BIGINT},
      </if>
      <if test="record.waitOrderNbr != null">
        WAIT_ORDER_NBR = #{record.waitOrderNbr,jdbcType=VARCHAR},
      </if>
      <if test="record.orgId != null">
        ORG_ID = #{record.orgId,jdbcType=BIGINT},
      </if>
      <if test="record.bookOrderId != null">
        BOOK_ORDER_ID = #{record.bookOrderId,jdbcType=BIGINT},
      </if>
      <if test="record.servTypeId != null">
        SERV_TYPE_ID = #{record.servTypeId,jdbcType=BIGINT},
      </if>
      <if test="record.regionId != null">
        REGION_ID = #{record.regionId,jdbcType=BIGINT},
      </if>
      <if test="record.lanId != null">
        LAN_ID = #{record.lanId,jdbcType=INTEGER},
      </if>
      <if test="record.objType != null">
        OBJ_TYPE = #{record.objType,jdbcType=VARCHAR},
      </if>
      <if test="record.objId != null">
        OBJ_ID = #{record.objId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderDate != null">
        ORDER_DATE = #{record.orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.callStaff != null">
        CALL_STAFF = #{record.callStaff,jdbcType=BIGINT},
      </if>
      <if test="record.seatId != null">
        SEAT_ID = #{record.seatId,jdbcType=BIGINT},
      </if>
      <if test="record.callDate != null">
        CALL_DATE = #{record.callDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </trim>
    <where>
      <if test="condition.waitOrderId != null ">
        WAIT_ORDER_ID = #{condition.waitOrderId, jdbcType=BIGINT }
      </if>
      <if test="condition.waitOrderNbr != null and condition.waitOrderNbr != ''">
        and WAIT_ORDER_NBR = #{condition.waitOrderNbr, jdbcType=VARCHAR }
      </if>
      <if test="condition.orgId != null ">
        and ORG_ID = #{condition.orgId, jdbcType=BIGINT }
      </if>
      <if test="condition.bookOrderId != null ">
        and BOOK_ORDER_ID = #{condition.bookOrderId, jdbcType=BIGINT }
      </if>
      <if test="condition.servTypeId != null ">
        and SERV_TYPE_ID = #{condition.servTypeId, jdbcType=BIGINT }
      </if>
      <if test="condition.regionId != null ">
        and REGION_ID = #{condition.regionId, jdbcType=BIGINT }
      </if>
      <if test="condition.lanId != null ">
        and LAN_ID = #{condition.lanId, jdbcType=INTEGER }
      </if>
      <if test="condition.objType != null and condition.objType != ''">
        and OBJ_TYPE = #{condition.objType, jdbcType=VARCHAR }
      </if>
      <if test="condition.objId != null and condition.objId != ''">
        and OBJ_ID = #{condition.objId, jdbcType=VARCHAR }
      </if>
      <if test="condition.orderDate != null ">
        and ORDER_DATE = #{condition.orderDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.callStaff != null ">
        and CALL_STAFF = #{condition.callStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.seatId != null ">
        and SEAT_ID = #{condition.seatId, jdbcType=BIGINT }
      </if>
      <if test="condition.callDate != null ">
        and CALL_DATE = #{condition.callDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.remark != null and condition.remark != ''">
        and REMARK = #{condition.remark, jdbcType=VARCHAR }
      </if>
    </where>
  </update>
</mapper>