<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc1.prod.mapper.PidRgPcrfRelMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc1.prod.data.PidRgPcrfRelDO">
    <id column="PID_RG_PCRF_REL_ID" jdbcType="INTEGER" property="pidRgPcrfRelId"/>
    <result column="PID" jdbcType="VARCHAR" property="pid"/>
    <result column="RG" jdbcType="VARCHAR" property="rg"/>
    <result column="NOTE" jdbcType="VARCHAR" property="note"/>
    <result column="PCRF_ACTION" jdbcType="VARCHAR" property="pcrfAction"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
  </resultMap>

  <sql id="CommonColumns">
          PID_RG_PCRF_REL_ID, 
          PID, 
          RG, 
          NOTE, 
          PCRF_ACTION, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE
  </sql>

  <sql id="CommonColumnsKey">
          PID, 
          RG, 
          NOTE, 
          PCRF_ACTION, 
          STATUS_CD, 
          CREATE_STAFF, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="pidRgPcrfRelId != null ">
        PID_RG_PCRF_REL_ID = #{pidRgPcrfRelId, jdbcType=INTEGER }
      </if>
      <if test="pid != null and pid != ''">
        and PID = #{pid, jdbcType=VARCHAR }
      </if>
      <if test="rg != null and rg != ''">
        and RG = #{rg, jdbcType=VARCHAR }
      </if>
      <if test="note != null and note != ''">
        and NOTE = #{note, jdbcType=VARCHAR }
      </if>
      <if test="pcrfAction != null and pcrfAction != ''">
        and PCRF_ACTION = #{pcrfAction, jdbcType=VARCHAR }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc1.prod.data.PidRgPcrfRelDO" resultType="java.lang.Integer">
      select count(*) from PID_RG_PCRF_REL
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from PID_RG_PCRF_REL
        where 
           PID_RG_PCRF_REL_ID = #{pidRgPcrfRelId,jdbcType=INTEGER}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  PID_RG_PCRF_REL 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="pidRgPcrfRelId">
      insert into  PID_RG_PCRF_REL ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{pid,jdbcType=VARCHAR}, 
        #{rg,jdbcType=VARCHAR}, 
        #{note,jdbcType=VARCHAR}, 
        #{pcrfAction,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <insert id="insert">
      insert into  PID_RG_PCRF_REL ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{pidRgPcrfRelId,jdbcType=INTEGER}, 
        #{pid,jdbcType=VARCHAR}, 
        #{rg,jdbcType=VARCHAR}, 
        #{note,jdbcType=VARCHAR}, 
        #{pcrfAction,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from PID_RG_PCRF_REL  
        where
           PID_RG_PCRF_REL_ID = #{pidRgPcrfRelId,jdbcType=INTEGER}
  </delete>

  <delete id="delete">
      delete from PID_RG_PCRF_REL
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  PID_RG_PCRF_REL
    <trim prefix="set" suffixOverrides=",">
      <if test="pid != null">
         PID = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="rg != null">
         RG = #{rg,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
         NOTE = #{note,jdbcType=VARCHAR},
      </if>
      <if test="pcrfAction != null">
         PCRF_ACTION = #{pcrfAction,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
        where 
           PID_RG_PCRF_REL_ID = #{pidRgPcrfRelId,jdbcType=INTEGER}
  </update>

  <update id="updateBySelective">
      update PID_RG_PCRF_REL
    <trim prefix="set" suffixOverrides=",">
      <if test="record.pidRgPcrfRelId != null">
        PID_RG_PCRF_REL_ID = #{record.pidRgPcrfRelId,jdbcType=INTEGER},
      </if>
      <if test="record.pid != null">
        PID = #{record.pid,jdbcType=VARCHAR},
      </if>
      <if test="record.rg != null">
        RG = #{record.rg,jdbcType=VARCHAR},
      </if>
      <if test="record.note != null">
        NOTE = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.pcrfAction != null">
        PCRF_ACTION = #{record.pcrfAction,jdbcType=VARCHAR},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <where>
      <if test="condition.pidRgPcrfRelId != null ">
        PID_RG_PCRF_REL_ID = #{condition.pidRgPcrfRelId, jdbcType=INTEGER }
      </if>
      <if test="condition.pid != null and condition.pid != ''">
        and PID = #{condition.pid, jdbcType=VARCHAR }
      </if>
      <if test="condition.rg != null and condition.rg != ''">
        and RG = #{condition.rg, jdbcType=VARCHAR }
      </if>
      <if test="condition.note != null and condition.note != ''">
        and NOTE = #{condition.note, jdbcType=VARCHAR }
      </if>
      <if test="condition.pcrfAction != null and condition.pcrfAction != ''">
        and PCRF_ACTION = #{condition.pcrfAction, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </update>
</mapper>