<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc1.prod.mapper.RuleExpressMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc1.prod.data.RuleExpressDO">
    <id column="RULE_EXPRESS_ID" jdbcType="BIGINT" property="ruleExpressId"/>
    <result column="RULE_ID" jdbcType="BIGINT" property="ruleId"/>
    <result column="EXPRESS_ID" jdbcType="BIGINT" property="expressId"/>
    <result column="ROLE_TYPE" jdbcType="VARCHAR" property="roleType"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
  </resultMap>

  <sql id="CommonColumns">
          RULE_EXPRESS_ID, 
          RULE_ID, 
          EXPRESS_ID, 
          ROLE_TYPE, 
          STATUS_CD, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          CREATE_STAFF, 
          UPDATE_STAFF
  </sql>

  <sql id="CommonColumnsKey">
          RULE_ID, 
          EXPRESS_ID, 
          ROLE_TYPE, 
          STATUS_CD, 
          CREATE_DATE, 
          STATUS_DATE, 
          UPDATE_DATE, 
          CREATE_STAFF, 
          UPDATE_STAFF
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="ruleExpressId != null ">
        RULE_EXPRESS_ID = #{ruleExpressId, jdbcType=BIGINT }
      </if>
      <if test="ruleId != null ">
        and RULE_ID = #{ruleId, jdbcType=BIGINT }
      </if>
      <if test="expressId != null ">
        and EXPRESS_ID = #{expressId, jdbcType=BIGINT }
      </if>
      <if test="roleType != null and roleType != ''">
        and ROLE_TYPE = #{roleType, jdbcType=VARCHAR }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc1.prod.data.RuleExpressDO" resultType="java.lang.Integer">
      select count(*) from RULE_EXPRESS
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from RULE_EXPRESS
        where 
           RULE_EXPRESS_ID = #{ruleExpressId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  RULE_EXPRESS 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="ruleExpressId">
      insert into  RULE_EXPRESS ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{ruleId,jdbcType=BIGINT}, 
        #{expressId,jdbcType=BIGINT}, 
        #{roleType,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}
         )
  </insert>

  <insert id="insert">
      insert into  RULE_EXPRESS ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{ruleExpressId,jdbcType=BIGINT}, 
        #{ruleId,jdbcType=BIGINT}, 
        #{expressId,jdbcType=BIGINT}, 
        #{roleType,jdbcType=VARCHAR}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{updateStaff,jdbcType=BIGINT}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from RULE_EXPRESS  
        where
           RULE_EXPRESS_ID = #{ruleExpressId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from RULE_EXPRESS
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  RULE_EXPRESS
    <trim prefix="set" suffixOverrides=",">
      <if test="ruleId != null">
         RULE_ID = #{ruleId,jdbcType=BIGINT},
      </if>
      <if test="expressId != null">
         EXPRESS_ID = #{expressId,jdbcType=BIGINT},
      </if>
      <if test="roleType != null">
         ROLE_TYPE = #{roleType,jdbcType=VARCHAR},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
    </trim>
        where 
           RULE_EXPRESS_ID = #{ruleExpressId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update RULE_EXPRESS
    <trim prefix="set" suffixOverrides=",">
      <if test="record.ruleExpressId != null">
        RULE_EXPRESS_ID = #{record.ruleExpressId,jdbcType=BIGINT},
      </if>
      <if test="record.ruleId != null">
        RULE_ID = #{record.ruleId,jdbcType=BIGINT},
      </if>
      <if test="record.expressId != null">
        EXPRESS_ID = #{record.expressId,jdbcType=BIGINT},
      </if>
      <if test="record.roleType != null">
        ROLE_TYPE = #{record.roleType,jdbcType=VARCHAR},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
    </trim>
    <where>
      <if test="condition.ruleExpressId != null ">
        RULE_EXPRESS_ID = #{condition.ruleExpressId, jdbcType=BIGINT }
      </if>
      <if test="condition.ruleId != null ">
        and RULE_ID = #{condition.ruleId, jdbcType=BIGINT }
      </if>
      <if test="condition.expressId != null ">
        and EXPRESS_ID = #{condition.expressId, jdbcType=BIGINT }
      </if>
      <if test="condition.roleType != null and condition.roleType != ''">
        and ROLE_TYPE = #{condition.roleType, jdbcType=VARCHAR }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
    </where>
  </update>
</mapper>