<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="com.neusoft.crm.cpc1.prod.mapper.TemplateParamInstMapper">

  <resultMap id="BaseResultMap" type="com.neusoft.crm.api.cpc1.prod.data.TemplateParamInstDO">
    <id column="TEMPLATE_PARAM_INST_ID" jdbcType="BIGINT" property="templateParamInstId"/>
    <result column="TARIFF_TEMPLATE_INST_ID" jdbcType="BIGINT" property="tariffTemplateInstId"/>
    <result column="TEMPLATE_PARAMETER_REL_ID" jdbcType="BIGINT" property="templateParameterRelId"/>
    <result column="MULTI_FLAG" jdbcType="VARCHAR" property="multiFlag"/>
    <result column="ATTR_FLAG" jdbcType="INTEGER" property="attrFlag"/>
    <result column="PARAM_VALUE" jdbcType="VARCHAR" property="paramValue"/>
    <result column="EXT_TEMPLATE_PARAM_INST_ID" jdbcType="BIGINT" property="extTemplateParamInstId"/>
    <result column="STATUS_CD" jdbcType="VARCHAR" property="statusCd"/>
    <result column="UPDATE_STAFF" jdbcType="BIGINT" property="updateStaff"/>
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
    <result column="CREATE_STAFF" jdbcType="BIGINT" property="createStaff"/>
    <result column="STATUS_DATE" jdbcType="TIMESTAMP" property="statusDate"/>
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
  </resultMap>

  <sql id="CommonColumns">
          TEMPLATE_PARAM_INST_ID, 
          TARIFF_TEMPLATE_INST_ID, 
          TEMPLATE_PARAMETER_REL_ID, 
          MULTI_FLAG, 
          ATTR_FLAG, 
          PARAM_VALUE, 
          EXT_TEMPLATE_PARAM_INST_ID, 
          STATUS_CD, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          CREATE_STAFF, 
          STATUS_DATE, 
          UPDATE_DATE
  </sql>

  <sql id="CommonColumnsKey">
          TARIFF_TEMPLATE_INST_ID, 
          TEMPLATE_PARAMETER_REL_ID, 
          MULTI_FLAG, 
          ATTR_FLAG, 
          PARAM_VALUE, 
          EXT_TEMPLATE_PARAM_INST_ID, 
          STATUS_CD, 
          UPDATE_STAFF, 
          CREATE_DATE, 
          CREATE_STAFF, 
          STATUS_DATE, 
          UPDATE_DATE
  </sql>

  <sql id="dynamicAndCondition">
    <where>
      <if test="templateParamInstId != null ">
        TEMPLATE_PARAM_INST_ID = #{templateParamInstId, jdbcType=BIGINT }
      </if>
      <if test="tariffTemplateInstId != null ">
        and TARIFF_TEMPLATE_INST_ID = #{tariffTemplateInstId, jdbcType=BIGINT }
      </if>
      <if test="templateParameterRelId != null ">
        and TEMPLATE_PARAMETER_REL_ID = #{templateParameterRelId, jdbcType=BIGINT }
      </if>
      <if test="multiFlag != null and multiFlag != ''">
        and MULTI_FLAG = #{multiFlag, jdbcType=VARCHAR }
      </if>
      <if test="attrFlag != null ">
        and ATTR_FLAG = #{attrFlag, jdbcType=INTEGER }
      </if>
      <if test="paramValue != null and paramValue != ''">
        and PARAM_VALUE = #{paramValue, jdbcType=VARCHAR }
      </if>
      <if test="extTemplateParamInstId != null ">
        and EXT_TEMPLATE_PARAM_INST_ID = #{extTemplateParamInstId, jdbcType=BIGINT }
      </if>
      <if test="statusCd != null and statusCd != ''">
        and STATUS_CD = #{statusCd, jdbcType=VARCHAR }
      </if>
      <if test="updateStaff != null ">
        and UPDATE_STAFF = #{updateStaff, jdbcType=BIGINT }
      </if>
      <if test="createDate != null ">
        and CREATE_DATE = #{createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="createStaff != null ">
        and CREATE_STAFF = #{createStaff, jdbcType=BIGINT }
      </if>
      <if test="statusDate != null ">
        and STATUS_DATE = #{statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="updateDate != null ">
        and UPDATE_DATE = #{updateDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </sql>

  <select id="count" parameterType="com.neusoft.crm.api.cpc1.prod.data.TemplateParamInstDO" resultType="java.lang.Integer">
      select count(*) from TEMPLATE_PARAM_INST
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </select>

  <select id="queryById" resultMap="BaseResultMap">
      select
    <include refid="CommonColumns"/>
        from TEMPLATE_PARAM_INST
        where 
           TEMPLATE_PARAM_INST_ID = #{templateParamInstId,jdbcType=BIGINT}
  </select>

  <select id="queryList" resultMap="BaseResultMap">
      select 
    <include refid="CommonColumns"/>
        from  TEMPLATE_PARAM_INST 
    <include refid="dynamicAndCondition"/>
    <choose>
      <when test="pageInfo != null and pageInfo.orderBy != null and pageInfo.orderBy != ''">
          ORDER BY ${pageInfo.orderBy} 
      </when>
    </choose>
  </select>

  <insert id="insertKey" useGeneratedKeys="true" keyProperty="templateParamInstId">
      insert into  TEMPLATE_PARAM_INST ( 
    <include refid="CommonColumnsKey"/>
       ) values ( 
        #{tariffTemplateInstId,jdbcType=BIGINT}, 
        #{templateParameterRelId,jdbcType=BIGINT}, 
        #{multiFlag,jdbcType=VARCHAR}, 
        #{attrFlag,jdbcType=INTEGER}, 
        #{paramValue,jdbcType=VARCHAR}, 
        #{extTemplateParamInstId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <insert id="insert">
      insert into  TEMPLATE_PARAM_INST ( 
    <include refid="CommonColumns"/>
       ) values ( 
        #{templateParamInstId,jdbcType=BIGINT}, 
        #{tariffTemplateInstId,jdbcType=BIGINT}, 
        #{templateParameterRelId,jdbcType=BIGINT}, 
        #{multiFlag,jdbcType=VARCHAR}, 
        #{attrFlag,jdbcType=INTEGER}, 
        #{paramValue,jdbcType=VARCHAR}, 
        #{extTemplateParamInstId,jdbcType=BIGINT}, 
        #{statusCd,jdbcType=VARCHAR}, 
        #{updateStaff,jdbcType=BIGINT}, 
        #{createDate,jdbcType=TIMESTAMP}, 
        #{createStaff,jdbcType=BIGINT}, 
        #{statusDate,jdbcType=TIMESTAMP}, 
        #{updateDate,jdbcType=TIMESTAMP}
         )
  </insert>

  <delete id="deleteById" parameterType="java.lang.Long">
      delete from TEMPLATE_PARAM_INST  
        where
           TEMPLATE_PARAM_INST_ID = #{templateParamInstId,jdbcType=BIGINT}
  </delete>

  <delete id="delete">
      delete from TEMPLATE_PARAM_INST
    <if test="_parameter != null">
      <include refid="dynamicAndCondition"/>
    </if>
  </delete>

  <update id="updateById">
      update  TEMPLATE_PARAM_INST
    <trim prefix="set" suffixOverrides=",">
      <if test="tariffTemplateInstId != null">
         TARIFF_TEMPLATE_INST_ID = #{tariffTemplateInstId,jdbcType=BIGINT},
      </if>
      <if test="templateParameterRelId != null">
         TEMPLATE_PARAMETER_REL_ID = #{templateParameterRelId,jdbcType=BIGINT},
      </if>
      <if test="multiFlag != null">
         MULTI_FLAG = #{multiFlag,jdbcType=VARCHAR},
      </if>
      <if test="attrFlag != null">
         ATTR_FLAG = #{attrFlag,jdbcType=INTEGER},
      </if>
      <if test="paramValue != null">
         PARAM_VALUE = #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="extTemplateParamInstId != null">
         EXT_TEMPLATE_PARAM_INST_ID = #{extTemplateParamInstId,jdbcType=BIGINT},
      </if>
      <if test="statusCd != null">
         STATUS_CD = #{statusCd,jdbcType=VARCHAR},
      </if>
      <if test="updateStaff != null">
         UPDATE_STAFF = #{updateStaff,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
         CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null">
         CREATE_STAFF = #{createStaff,jdbcType=BIGINT},
      </if>
      <if test="statusDate != null">
         STATUS_DATE = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
         UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
        where 
           TEMPLATE_PARAM_INST_ID = #{templateParamInstId,jdbcType=BIGINT}
  </update>

  <update id="updateBySelective">
      update TEMPLATE_PARAM_INST
    <trim prefix="set" suffixOverrides=",">
      <if test="record.templateParamInstId != null">
        TEMPLATE_PARAM_INST_ID = #{record.templateParamInstId,jdbcType=BIGINT},
      </if>
      <if test="record.tariffTemplateInstId != null">
        TARIFF_TEMPLATE_INST_ID = #{record.tariffTemplateInstId,jdbcType=BIGINT},
      </if>
      <if test="record.templateParameterRelId != null">
        TEMPLATE_PARAMETER_REL_ID = #{record.templateParameterRelId,jdbcType=BIGINT},
      </if>
      <if test="record.multiFlag != null">
        MULTI_FLAG = #{record.multiFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.attrFlag != null">
        ATTR_FLAG = #{record.attrFlag,jdbcType=INTEGER},
      </if>
      <if test="record.paramValue != null">
        PARAM_VALUE = #{record.paramValue,jdbcType=VARCHAR},
      </if>
      <if test="record.extTemplateParamInstId != null">
        EXT_TEMPLATE_PARAM_INST_ID = #{record.extTemplateParamInstId,jdbcType=BIGINT},
      </if>
      <if test="record.statusCd != null">
        STATUS_CD = #{record.statusCd,jdbcType=VARCHAR},
      </if>
      <if test="record.updateStaff != null">
        UPDATE_STAFF = #{record.updateStaff,jdbcType=BIGINT},
      </if>
      <if test="record.createDate != null">
        CREATE_DATE = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null">
        CREATE_STAFF = #{record.createStaff,jdbcType=BIGINT},
      </if>
      <if test="record.statusDate != null">
        STATUS_DATE = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        UPDATE_DATE = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <where>
      <if test="condition.templateParamInstId != null ">
        TEMPLATE_PARAM_INST_ID = #{condition.templateParamInstId, jdbcType=BIGINT }
      </if>
      <if test="condition.tariffTemplateInstId != null ">
        and TARIFF_TEMPLATE_INST_ID = #{condition.tariffTemplateInstId, jdbcType=BIGINT }
      </if>
      <if test="condition.templateParameterRelId != null ">
        and TEMPLATE_PARAMETER_REL_ID = #{condition.templateParameterRelId, jdbcType=BIGINT }
      </if>
      <if test="condition.multiFlag != null and condition.multiFlag != ''">
        and MULTI_FLAG = #{condition.multiFlag, jdbcType=VARCHAR }
      </if>
      <if test="condition.attrFlag != null ">
        and ATTR_FLAG = #{condition.attrFlag, jdbcType=INTEGER }
      </if>
      <if test="condition.paramValue != null and condition.paramValue != ''">
        and PARAM_VALUE = #{condition.paramValue, jdbcType=VARCHAR }
      </if>
      <if test="condition.extTemplateParamInstId != null ">
        and EXT_TEMPLATE_PARAM_INST_ID = #{condition.extTemplateParamInstId, jdbcType=BIGINT }
      </if>
      <if test="condition.statusCd != null and condition.statusCd != ''">
        and STATUS_CD = #{condition.statusCd, jdbcType=VARCHAR }
      </if>
      <if test="condition.updateStaff != null ">
        and UPDATE_STAFF = #{condition.updateStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.createDate != null ">
        and CREATE_DATE = #{condition.createDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.createStaff != null ">
        and CREATE_STAFF = #{condition.createStaff, jdbcType=BIGINT }
      </if>
      <if test="condition.statusDate != null ">
        and STATUS_DATE = #{condition.statusDate, jdbcType=TIMESTAMP }
      </if>
      <if test="condition.updateDate != null ">
        and UPDATE_DATE = #{condition.updateDate, jdbcType=TIMESTAMP }
      </if>
    </where>
  </update>
</mapper>